Repository googleapis/google-cloud-cpp, pull requests merged in 2018-07, with the labels that each got.

#785 Add unit test for GoogleDefaultCredentials.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/credentials_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#793 Typo fix.
  google/cloud/bigtable/client_options.h
Labels: cla: yes

#794 Use custom initializer for GoogleMock/GoogleTest.
  ci/build-windows.ps1
  cmake/IncludeGMock.cmake
  cmake/IncludeGTest.cmake
  google/cloud/BUILD
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/BUILD
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/tests/BUILD
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
  google/cloud/firestore/BUILD
  google/cloud/firestore/CMakeLists.txt
  google/cloud/firestore/field_path_test.cc
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/BUILD
  google/cloud/storage/tests/BUILD
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/testing_util/custom_google_mock_main.cc
  google/cloud/testing_util/init_google_mock.cc
  google/cloud/testing_util/init_google_mock.h
Labels: cla: yes, type: process

#784 Fix coverage for CurlRequest.
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes, storage

#795 Actually compile and run the credentials test.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#797 Workaround gcc-4.8 bug for TensorFlow.
  google/cloud/bigtable/internal/rowreaderiterator.h
Labels: bigtable, cla: yes

#800 Include google/cloud unit tests in Bazel build.
  google/cloud/BUILD
Labels: cla: yes, type: process

#799 Fix EnvironmentVariableRestore helper.
  google/cloud/storage/internal/google_application_default_credentials_file.cc
  google/cloud/storage/internal/google_application_default_credentials_file_test.cc
  google/cloud/testing_util/environment_variable_restore.cc
  google/cloud/testing_util/environment_variable_restore.h
Labels: bigtable, cla: yes, storage, type: process

#788 Implement Create and List for AppProfiles.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/app_profile_config.cc
  google/cloud/bigtable/app_profile_config.h
  google/cloud/bigtable/app_profile_config_test.cc
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_emulator.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: bigtable, cla: yes

#792 Use PollingPolicy in InstanceAdmin operations.
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
Labels: bigtable, cla: yes

#804 Describe environment variables used in the library.
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/doc/environment-variables.dox
Labels: bigtable, cla: yes

#806 Automatically reformat BUILD files.
  bazel/BUILD
  bazel/google_cloud_cpp_deps.bzl
  ci/Dockerfile.ubuntu
  ci/check-style.sh
  ci/test-install/BUILD
  cmake/CreateBazelConfig.cmake
  google/cloud/BUILD
  google/cloud/bigtable/BUILD
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/tests/BUILD
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/firestore/BUILD
  google/cloud/firestore/firestore_client.bzl
  google/cloud/firestore/firestore_client_unit_tests.bzl
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/BUILD
  google/cloud/storage/examples/BUILD
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/BUILD
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: bigtable, cla: yes, firestore, storage, type: cleanup

#805 Implement GetAppProfile() and DeleteAppProfile().
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: bigtable, cla: yes

#809 Simplify configuration of policies.
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_bulk_apply_test.cc
  google/cloud/bigtable/table_test.cc
Labels: bigtable, cla: yes

#849 Update docs links in README [skip ci]
  README.md
Labels: bigtable, cla: yes, docs

#808 Implement InstanceAdmin::UpdateAppProfile()
  google/cloud/bigtable/app_profile_config.cc
  google/cloud/bigtable/app_profile_config.h
  google/cloud/bigtable/app_profile_config_test.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_emulator.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: bigtable, cla: yes

#853 Fix ListClusters() in instance emulator.
  google/cloud/bigtable/tests/instance_admin_emulator.cc
Labels: cla: yes

#852 Fix memory corruption in instance emulator.
  google/cloud/bigtable/tests/instance_admin_emulator.cc
Labels: bigtable, cla: yes

#851 Implement wrapper for objectAccessControl.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_access_control_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#866 Simplify definition of *Request classes.
  google/cloud/storage/internal/delete_object_request.h
  google/cloud/storage/internal/get_bucket_metadata_request.h
  google/cloud/storage/internal/insert_object_media_request.h
  google/cloud/storage/internal/list_objects_request.h
  google/cloud/storage/internal/read_object_range_request.h
  google/cloud/storage/internal/request_parameters.h
Labels: cla: yes, storage

#860 Simplify changing retry / backoff policies.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#865 Simplify storage default client
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/default_client.h
  google/cloud/storage/internal/default_client_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#854 Simplify integration tests table, instance and cluster admin operations.
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: bigtable, cla: yes

#850 An example of using application profiles.
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/table.h
Labels: bigtable, cla: yes

#874 Implement missing request parameters for storage::InsertObjectMediaRequest
  google/cloud/storage/internal/insert_object_media_request.h
  google/cloud/storage/internal/insert_object_media_request_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes

#876 Undo (and prevent) reflow of copyright blocks.
  .cmake-format.py
  CMakeLists.txt
  cmake/CompileProtos.cmake
  cmake/CreateBazelConfig.cmake
  cmake/DownloadNlohmannJson.cmake
  cmake/EnableClangTidy.cmake
  cmake/EnableCoverage.cmake
  cmake/EnableCxxExceptions.cmake
  cmake/EnableSanitizers.cmake
  cmake/GoogleCloudCppCommon.cmake
  cmake/IncludeGMock.cmake
  cmake/IncludeGTest.cmake
  cmake/IncludeGrpc.cmake
  cmake/IncludeNlohmannJson.cmake
  cmake/PkgConfigHelper.cmake
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
  tests/grpc-crash/CMakeLists.txt
  tests/grpc-round-robin-freeze/CMakeLists.txt
Labels: cla: yes

#864 Refactor CurlRequest to clarify roles.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/authorized_user_credentials.h
  google/cloud/storage/internal/authorized_user_credentials_test.cc
  google/cloud/storage/internal/binary_data_as_debug_string.cc
  google/cloud/storage/internal/binary_data_as_debug_string.h
  google/cloud/storage/internal/binary_data_as_debug_string_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/curl_wrappers.h
  google/cloud/storage/internal/service_account_credentials.h
  google/cloud/storage/internal/service_account_credentials_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/testing/mock_http_request.cc
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes, storage

#867 Add ListAccessControl{Request,Response}.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/list_object_acl_request.cc
  google/cloud/storage/internal/list_object_acl_request.h
  google/cloud/storage/internal/list_object_acl_request_test.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#877 Implement ListBuckets{Request,Response}.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/list_buckets_request.cc
  google/cloud/storage/internal/list_buckets_request.h
  google/cloud/storage/internal/list_buckets_request_test.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#875 Implement Client::GetObjectMetadata.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/get_object_metadata_request.cc
  google/cloud/storage/internal/get_object_metadata_request.h
  google/cloud/storage/internal/get_object_metadata_request_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes

#872 Complete implementation of ObjectMetadata class.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/internal/common_metadata.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/list_objects_request.cc
  google/cloud/storage/internal/list_objects_request_test.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
Labels: cla: yes, storage

#880 Implement storage::Client::ListObjectAcl.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
Labels: cla: yes, storage

#885 Add object access control sample.
  google/cloud/storage/client.h
  google/cloud/storage/examples/BUILD
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#879 Initial Client::ListBuckets.
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#889 URGENT: Pin the cmake-format version.
  ci/Dockerfile.ubuntu
Labels: bigtable, cla: yes, firestore, storage, type: process

#887 Remove gRPC regression test.
  CMakeLists.txt
  tests/grpc-crash/CMakeLists.txt
  tests/grpc-crash/README.md
  tests/grpc-crash/client.cc
  tests/grpc-crash/echo.proto
  tests/grpc-crash/server.cc
  tests/grpc-round-robin-freeze/CMakeLists.txt
  tests/grpc-round-robin-freeze/README.md
  tests/grpc-round-robin-freeze/client.cc
  tests/grpc-round-robin-freeze/echo.proto
  tests/grpc-round-robin-freeze/server.cc
Labels: bigtable, cla: yes, type: cleanup

#754 Update root README
  README.md
  ci/Dockerfile.centos
  google/cloud/storage/examples/README.md
Labels: bigtable, cla: yes, storage

#886 Clean up style nits following 4613a08.
  google/cloud/storage/internal/credential_constants.h
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/service_account_credentials.h
  google/cloud/storage/internal/service_account_credentials_test.cc
  google/cloud/storage/retry_policy_test.cc
Labels: cla: yes

#893 Update installation instructions for Ubuntu 18.04
  README.md
Labels: cla: yes

#888 Fix description of GenericObjectRequest.
  google/cloud/storage/internal/generic_object_request.h
Labels: cla: yes, storage

#891 Simplify driver for storage examples.
  google/cloud/storage/examples/run_examples_utils.sh
Labels: cla: yes, storage

#890 Organize CI driver scripts.
  .appveyor.yml
  .travis.yml
  CONTRIBUTING.md
  ci/appveyor/build-windows.ps1
  ci/appveyor/install-windows.ps1
  ci/travis/Dockerfile.centos
  ci/travis/Dockerfile.fedora
  ci/travis/Dockerfile.ubuntu
  ci/travis/Dockerfile.ubuntu-trusty
  ci/travis/build-bazel.sh
  ci/travis/build-docker.sh
  ci/travis/build-linux.sh
  ci/travis/build-macosx.sh
  ci/travis/dump-logs.sh
  ci/travis/install-bazel.sh
  ci/travis/install-linux.sh
  ci/travis/install-macosx.sh
  ci/travis/upload-codecov.sh
  ci/travis/upload-docs.sh
  doc/setup-development-environment.md
Labels: cla: yes

#895 Implement Request for multiple ObjectAccessControl APIs.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#901 Fix Kokoro breakage.
  ci/kokoro/ubuntu/build.sh
Labels: cla: yes

#883 Implement new curl request wrapper for uploads.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/curl_upload_request_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#899 Refactor retry tests in google/cloud/storage.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/retry_tests.h
Labels: cla: yes

#896 Implement Client::CreateObjectAcl.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/internal/create_object_acl_request.cc
  google/cloud/storage/internal/create_object_acl_request.h
  google/cloud/storage/internal/create_object_acl_request_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#903 Fix integration test driver scripts to be usable on macOS.
  google/cloud/bigtable/ci/run_integration_tests.sh
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/storage/examples/run_examples_utils.sh
Labels: cla: yes, type: process

#902 Implement Client::DeleteObjectAcl
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#905 Fix integration tests and examples.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage, type: process

#908 Remove using-directives; prefer using-declarations
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/internal/authorized_user_credentials_test.cc
  google/cloud/storage/internal/google_application_default_credentials_file_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/internal/parse_rfc3339_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/retry_policy_test.cc
Labels: cla: yes

#907 Simplify storage::Status operator<.
  google/cloud/storage/status.h
Labels: cla: yes, storage

#906 Implement Client::GetObjectAcl.
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#917 IAM Binding wrapper
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/iam_binding.h
  google/cloud/iam_bindings.cc
  google/cloud/iam_bindings.h
  google/cloud/iam_bindings_test.cc
Labels: cla: yes

#765 Issue 615 table admin documentation
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-samples.dox
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: bigtable, cla: yes

#920 Add parsers for int32.
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
Labels: cla: yes, storage

#923 Fix the versioned namespace in the Doxygen docs.
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes, storage

#914 Improve README steps to build the system [skip ci].
  README.md
  ci/test-readme/Dockerfile.centos
  ci/test-readme/Dockerfile.debian
  ci/test-readme/Dockerfile.fedora
  ci/test-readme/Dockerfile.opensuse
  ci/test-readme/Dockerfile.ubuntu
  ci/test-readme/Dockerfile.ubuntu-trusty
  ci/test-readme/README.md
Labels: cla: yes, docs, type: process

#924 Skip curl tests for production integration tests.
  google/cloud/storage/tests/run_integration_tests_production.sh
Labels: cla: yes, storage

#916 Add (some) missing functionality in BucketMetadata.
  google/cloud/internal/optional.h
  google/cloud/internal/optional_test.cc
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/object_metadata.cc
Labels: cla: yes, storage

#933 Fix builds with Ninja.
  .cmake-format.py
  CMakeLists.txt
  cmake/CompileProtos.cmake
  cmake/ExternalProjectHelper.cmake
  cmake/IncludeGrpc.cmake
  cmake/external/c-ares.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: cla: yes, type: process

#932 Implement BucketMetadata.{owner,versioning,website}
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
Labels: cla: yes, storage

#926 Implement Client::WriteObject().
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/insert_object_media_request.cc
  google/cloud/storage/internal/insert_object_media_request.h
  google/cloud/storage/internal/insert_object_media_request_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_stream.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#928 Implement BucketMetadata::encryption.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
Labels: cla: yes, storage

#931 Implement BucketMetadata.logging
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
Labels: cla: yes, storage

#935 IAMPolicy APIs
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/metadata_update_policy.cc
  google/cloud/bigtable/metadata_update_policy.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_emulator.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: cla: yes

#930 Renamed modifiers for requests.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/delete_object_request.cc
  google/cloud/storage/internal/delete_object_request_test.cc
  google/cloud/storage/internal/generic_object_request.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/get_bucket_metadata_request.cc
  google/cloud/storage/internal/get_bucket_metadata_request.h
  google/cloud/storage/internal/get_bucket_metadata_request_test.cc
  google/cloud/storage/internal/get_object_metadata_request.cc
  google/cloud/storage/internal/get_object_metadata_request.h
  google/cloud/storage/internal/get_object_metadata_request_test.cc
  google/cloud/storage/internal/insert_object_media_request.cc
  google/cloud/storage/internal/insert_object_media_request_test.cc
  google/cloud/storage/internal/list_buckets_request.cc
  google/cloud/storage/internal/list_buckets_request.h
  google/cloud/storage/internal/list_buckets_request_test.cc
  google/cloud/storage/internal/list_object_acl_request.cc
  google/cloud/storage/internal/list_object_acl_request_test.cc
  google/cloud/storage/internal/list_objects_request.cc
  google/cloud/storage/internal/list_objects_request.h
  google/cloud/storage/internal/list_objects_request_test.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/read_object_range_request.cc
  google/cloud/storage/internal/read_object_range_request_test.cc
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#939 Complete IAM implementation.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/tests/instance_admin_emulator.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/iam_binding.h
  google/cloud/iam_bindings.cc
  google/cloud/iam_bindings.h
  google/cloud/iam_bindings_test.cc
  google/cloud/iam_policy.h
Labels: bigtable, cla: yes

#941 Fix optional fields in *AccessControl.
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/internal/access_control_common.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
Labels: cla: yes, storage

#947 URGENT: Fix windows builds
  .appveyor.yml
  ci/appveyor/install-windows.ps1
  cmake/CompileProtos.cmake
  cmake/IncludeGrpc.cmake
  google/cloud/bigtable/CMakeLists.txt
Labels: cla: yes, type: process

#925 Implement class to build patch requests.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/patch_builder_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#944 Implement the Quickstart example.
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-quickstart.dox
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_quickstart.cc
Labels: bigtable, cla: yes

#938 Implement Client::ReadObject() using streaming reads
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: cla: yes, storage

#948 Do not touch every file in ci/check-style.sh.
  ci/check-style.sh
Labels: cla: yes, type: process

#943 Issue 648 make alias consistent
  google/cloud/bigtable/benchmarks/embedded_server.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/instance_update_config_test.cc
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/internal/table_admin.cc
  google/cloud/bigtable/internal/table_admin_test.cc
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/bigtable/row_set.cc
  google/cloud/bigtable/row_set_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/table_config_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
Labels: cla: yes

#929 Refactor storage class well-know values.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/storage_class.h
  google/cloud/storage/storage_class_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#951 Fix optional fields in ObjectMetadata.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
Labels: cla: yes, storage
