Repository googleapis/google-cloud-cpp, pull requests merged in 2018-08, with the labels that each got.

#949 Implement request for PatchObjetAcl.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/well_known_headers.h
Labels: cla: yes, storage

#953 Storage class functions should be inline.
  google/cloud/storage/storage_class.h
Labels: cla: yes, storage

#950 Actually use LoggingClient.
  google/cloud/storage/client.h
  google/cloud/storage/client_test.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/retry_client.h
Labels: cla: yes, storage

#959 Propose upgrading client to Beta [skip ci].
  README.md
  google/cloud/bigtable/README.md
Labels: bigtable, cla: yes, type: process

#963 Bump version number for Bigtable [skip ci].
  google/cloud/bigtable/CMakeLists.txt
Labels: bigtable, cla: yes, type: process

#964 Update v0.2.x release notes [skip ci].
  google/cloud/bigtable/README.md
Labels: bigtable, cla: yes

#960 Fix optional fields in BucketMetadata.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
Labels: cla: yes, storage

#966 Fix the CI build to test `make install`.
  ci/test-install/CMakeLists.txt
  ci/test-install/WORKSPACE
Labels: cla: yes, type: process

#940 Use lambda for code samples.
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
Labels: cla: yes, storage

#967 Add BucketMetadata::lifecycle field.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/lifecycle_rule_test.cc
Labels: cla: yes, storage

#955 Implement Client::ListBucketAcl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#962 Refactor Bucket requests objects to one file.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/get_bucket_metadata_request.cc
  google/cloud/storage/internal/get_bucket_metadata_request.h
  google/cloud/storage/internal/get_bucket_metadata_request_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage, type: cleanup

#971 Unpin vcpkg version.
  ci/appveyor/install-windows.ps1
Labels: cla: yes, type: process

#973 Format time points as RFC-3339 strings.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/format_rfc3339.cc
  google/cloud/storage/internal/format_rfc3339.h
  google/cloud/storage/internal/format_rfc3339_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#975 Move chrono literals to google/cloud/testing_util.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/column_family_test.cc
  google/cloud/bigtable/filters_test.cc
  google/cloud/bigtable/idempotent_mutation_policy_test.cc
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/table_admin_test.cc
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/mutations_test.cc
  google/cloud/bigtable/polling_policy_test.cc
  google/cloud/bigtable/rpc_backoff_policy_test.cc
  google/cloud/bigtable/rpc_retry_policy_test.cc
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/table_apply_test.cc
  google/cloud/bigtable/table_bulk_apply_test.cc
  google/cloud/bigtable/table_check_and_mutate_row_test.cc
  google/cloud/bigtable/table_sample_row_keys_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/testing_util/chrono_literals.h
Labels: cla: yes

#969 Implement Client::PatchObjectAcl
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_access_control.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_headers.h
Labels: cla: yes, storage

#956 derive channel pool size from cpu count
  google/cloud/bigtable/client_options.cc
Labels: bigtable, cla: yes

#977 Implement Client::CreateBucketRequest.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#978 Implement Client::DeleteBucket.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#918 Issue#336 code optimization
  google/cloud/bigtable/internal/table.h
Labels: bigtable, cla: yes

#982 Put all ObjectAccessControls request in same file.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/list_object_acl_request.cc
  google/cloud/storage/internal/list_object_acl_request.h
  google/cloud/storage/internal/list_object_acl_request_test.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#983 Implement Client::CreateBucket
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#984 Implement DefaultObjectAcl support in testbench.
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#987 Integration tests for CreateBucket/DeleteBucket.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#981 Remove unused modifiers for *Request objects.
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/get_object_metadata_request.h
  google/cloud/storage/internal/insert_object_media_request.h
  google/cloud/storage/internal/list_objects_request.h
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/read_object_range_request.h
  google/cloud/storage/internal/read_object_range_request_test.cc
Labels: cla: yes, storage, type: cleanup

#979 Implement Client::GetBucketAcl.
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
Labels: cla: yes, storage

#970 Implement Client::CreateBucketAcl.
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#985 DefaultObjectAccessControls request objects.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#988 Implement Client::UpdateBucket.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#991 Use random object names in integration test.
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage, type: cleanup

#993 Refactor driver scripts for examples.
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_production.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: cla: yes, type: process

#992 Implement Client::DeleteBucketAcl.
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#995 Refactor example driver scripts.
  ci/define-example-runner.sh
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_production.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/storage/examples/run_examples_testbench.sh
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
Labels: bigtable, cla: yes, storage

#996 Complete and cleanup *AclRequest classes.
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
Labels: cla: yes, storage

#990 Implement PatchBucketRequest.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/patch_builder.h
Labels: cla: yes, storage

#980 Update to grpc-1.14.0.
  bazel/google_cloud_cpp_deps.bzl
  ci/test-install/Makefile
  ci/travis/build-docker.sh
  cmake/ExternalProjectHelper.cmake
  cmake/IncludeGrpc.cmake
  cmake/external/grpc.cmake
Labels: bigtable, cla: yes

#997 Move Object integration tests to the right file.
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: cla: yes, storage

#999 Implement Client::CreateDefaultObjectAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1000 Implement Client::UpdateBucketAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1001 Implement Client::PatchBucket.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1004 Implement Client::DeleteDefaultObjectAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1007 Implement Client::GetDefaultObjectAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1010 Upgrade to gRPC-v1.14.1.
  bazel/google_cloud_cpp_deps.bzl
  cmake/external/grpc.cmake
Labels: bigtable, cla: yes

#1008 Implement Versions parameter for ListObjects.
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/list_objects_request.h
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1015 Alphabetize well-known parameters.
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1013 Implement UpdateObjectRequest.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
Labels: cla: yes, storage

#1014 Implement Client::UpdateDefaultObjectAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1042 Run the examples for realsies.
  google/cloud/bigtable/ci/run_integration_tests.sh
Labels: bigtable, cla: yes

#1043 Split the instance admin endpoint configuration.
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: bigtable, cla: yes

#1038 Implement the QuotaUser parameter.
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1039 Implement Fields optional query parameter.
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#994 Adding basic implementation of CreateTableFromSnapshot
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
Labels: bigtable, cla: yes

#1041 Implement the ContentType optional header.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_headers.h
Labels: cla: yes, storage

#1027 Implement Client::UpdateObject().
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1031 Implement customer encryption keys
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_headers.cc
  google/cloud/storage/well_known_headers.h
  google/cloud/storage/well_known_headers_test.cc
Labels: cla: yes, storage

#1050 Initialize SSL thread callbacks when needed.
  .travis.yml
  README.md
  ci/travis/install-macosx.sh
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/storage_client_integration_tests.bzl
  google/cloud/storage/tests/thread_integration_test.cc
Labels: cla: yes, storage

#1045 Improve coverage of all examples.
  .codecov.yml
  ci/define-example-runner.sh
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin_ext.cc
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/storage/examples/run_examples_utils.sh
Labels: bigtable, cla: yes, storage

#1067 Fix component_count type.
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
Labels: cla: yes, storage

#1066 Do not use std::iterator.
  google/cloud/bigtable/internal/rowreaderiterator.h
  google/cloud/bigtable/row_reader.cc
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/list_objects_reader.h
Labels: cla: yes, storage

#1069 Improve errors if the user does not set CMAKE_FLAGS.
  CMakeLists.txt
  README.md
Labels: cla: yes, storage

#1062 Implement ObjectPatchRequest.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
Labels: cla: yes, storage
