Repository googleapis/google-cloud-cpp, pull requests merged in 2018-09, with the labels that each got.

#1074 Refactor CurlRequestBuider setup.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
Labels: cla: yes, storage

#1075 Fix constructor with AppProfile and Policies.
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: bigtable, cla: yes

#1073 Trim log file output in CI builds.
  ci/define-dump-log.sh
  ci/define-example-runner.sh
  ci/travis/dump-logs.sh
  ci/travis/upload-codecov.sh
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: bigtable, cla: yes, storage

#1077 Reuse connections in libcurl.
  ci/travis/Dockerfile.centos
  ci/travis/Dockerfile.fedora
  ci/travis/Dockerfile.ubuntu
  ci/travis/Dockerfile.ubuntu-trusty
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/internal/authorized_user_credentials.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/internal/curl_wrappers.h
  google/cloud/storage/internal/service_account_credentials.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/curl_streambuf_integration_test.cc
  google/cloud/storage/tests/curl_upload_request_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: cla: yes, storage

#1080 Implement NotificationsMetadata.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/notification_event_type.h
  google/cloud/storage/notification_metadata.cc
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/notification_metadata_test.cc
  google/cloud/storage/notification_payload_format.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes, storage

#1076 Remove /shutdown handler in testbench.
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: cla: yes, storage

#1079 implementation of snapshottable
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
  google/cloud/bigtable/tests/snapshot_integration_test.cc
Labels: cla: yes

#1068 Initial version of CompletionQueue.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/completion_queue.cc
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: bigtable, cla: yes

#1078 Cleanup CMAKE_FLAGS hack.
  .travis.yml
  CMakeLists.txt
  README.md
  ci/travis/build-macosx.sh
  cmake/external/c-ares.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: cla: yes, type: cleanup

#1071 Implement Client::GetServiceAccount().
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/service_account_requests.cc
  google/cloud/storage/internal/service_account_requests.h
  google/cloud/storage/internal/service_account_requests_test.cc
  google/cloud/storage/service_account.cc
  google/cloud/storage/service_account.h
  google/cloud/storage/service_account_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/service_account_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1072 Implement Client::PatchObject.
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1081 Upgrade to Fedora 28.
  .travis.yml
  ci/travis/Dockerfile.fedora
Labels: cla: yes, type: process

#1083 Implement Notification APIs in testbench.
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1089 Replace cc_proto_library() with cc_grpc_library().
  bazel/googleapis.BUILD
Labels: cla: yes, type: process

#1091 Simplify search path for .cc and .h files
  ci/check-style.sh
Labels: cla: yes

#1092 Update recommended Ubuntu version.
  CONTRIBUTING.md
Labels: cla: yes

#1088 Troubleshoot bug 1087
  CMakeLists.txt
  bazel/curl.BUILD
  bazel/google_cloud_cpp_deps.bzl
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/examples/BUILD
  google/cloud/examples/CMakeLists.txt
  google/cloud/examples/README.md
  google/cloud/examples/gcs2cbt.cc
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/BUILD
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
Labels: bigtable, cla: yes, storage

#1086 Implement Client::ListNotifications.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/examples/BUILD
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1093 Implement sample snippet for TableAdmin::WaitForConsistencyCheck
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/table_admin.h
Labels: cla: yes

#1094 Change comments to be descriptive.
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/client.h
  google/cloud/storage/client_options.h
  google/cloud/storage/credentials.h
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/binary_data_as_debug_string.h
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/internal/format_rfc3339.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/parse_rfc3339.h
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/raw_client_wrapper_utils.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/service_account_requests.h
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/notification_event_type.h
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/notification_payload_format.h
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_stream.h
  google/cloud/storage/service_account.h
  google/cloud/storage/status.h
  google/cloud/storage/storage_class.h
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/testing/retry_tests.h
  google/cloud/storage/tests/thread_integration_test.cc
  google/cloud/storage/version.h
  google/cloud/storage/well_known_headers.h
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1085 Implement CopyObjectRequest.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1090 Implement compose operation
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes

#1095 Simplify the Client class.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
Labels: cla: yes, storage

#1096 Implement Client::CreateNotification().
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/examples/run_examples_testbench.sh
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
Labels: cla: yes, storage

#1100 Issue#1052 Added integration test for Snapshot CRUD operations
  google/cloud/bigtable/tests/snapshot_integration_test.cc
Labels: cla: yes

#1105 Use native zlib library.
  cmake/IncludeGrpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: cla: yes, type: cleanup

#1084 Implement asynchronous RPCs in completion queue.
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/completion_queue.cc
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/testing/inprocess_data_client.cc
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: bigtable, cla: yes

#1101 Implement Client::CopyObject().
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1110 Implement request classes for {Get,Set,Test}BucketIam*.
  google/cloud/iam_bindings.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/nljson.h
Labels: cla: yes, storage

#1106 Implement Client::GetNotification().
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1114 Implement IAM functions in testbench.
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1128 Implement Client::DeleteNotification().
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1125 Cleanup well-known parameters.
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1130 Cleanup well_known_headers.h.
  google/cloud/storage/well_known_headers.h
  google/cloud/storage/well_known_headers_test.cc
Labels: cla: yes, storage

#1132 Implement a latency benchmark.
  ci/define-dump-log.sh
  ci/define-example-runner.sh
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/run_benchmarks_testbench.sh
  google/cloud/storage/benchmarks/storage_latency_analysis.R
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_latency_benchmark_go.go
  google/cloud/storage/benchmarks/storage_latency_compare.R
  google/cloud/storage/ci/run_integration_tests.sh
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1133 Make comments a real Doxygen commit.
  google/cloud/storage/bucket_metadata.h
Labels: cla: yes

#1134 Move storage::StatusTraits to storage::internal::
  google/cloud/storage/retry_policy.h
  google/cloud/storage/retry_policy_test.cc
Labels: cla: yes, storage

#1124 Implement parser for GetIamPolicy responses.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/iam_bindings.cc
  google/cloud/iam_bindings.h
  google/cloud/iam_policy.cc
  google/cloud/iam_policy.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
Labels: cla: yes, storage

#1137 Fixed upload of code coverage stats.
  ci/travis/upload-codecov.sh
Labels: cla: yes, type: process

#1131 Implement an example using CMEK.
  google/cloud/storage/examples/run_examples_testbench.sh
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1136 Implement Request and Response for RewriteObject.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: cla: yes, storage

#1113 Check callback parameters for asynchronous calls.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/bigtable/internal/table.h
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/invoke_result.h
  google/cloud/internal/invoke_result_test.cc
Labels: bigtable, cla: yes

#1142 Issue 1107 split table admin samples
  google/cloud/bigtable/doc/bigtable-samples.dox
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.h
Labels: cla: yes

#1140 Implement Client::GetBucketIamPolicy()
  google/cloud/iam_bindings.h
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/BUILD
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1147 Remove static analysis build from matrix.
  .travis.yml
Labels: cla: yes, type: process

#1146 fixed python script and used orderedDict to keep order
  google/cloud/bigtable/internal/rpc_policy_parameters.inc
  google/cloud/bigtable/tools/generate_rpc_policy_parameters.py
Labels: cla: yes

#1129 Implement examples using Bucket labels.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: cla: yes, storage

#1150 Implement Client::SetBucketIamPolicy().
  google/cloud/iam_bindings.cc
  google/cloud/iam_bindings_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1144 Support for `Objects: rewrite` in the testbench.
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1149 Reduce data copying in the write path.
  google/cloud/storage/internal/authorized_user_credentials.h
  google/cloud/storage/internal/authorized_user_credentials_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/service_account_credentials.h
  google/cloud/storage/internal/service_account_credentials_test.cc
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/curl_streambuf_integration_test.cc
  google/cloud/storage/tests/curl_upload_request_integration_test.cc
Labels: cla: yes, storage

#1157 Cleanup attribute convenience functions.
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/notification_metadata_test.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
Labels: cla: yes, storage

#1158 Cleanup some missing documentation elements.
  google/cloud/storage/client.h
  google/cloud/storage/well_known_headers.h
Labels: cla: yes, storage

#1160 General cleanup of the testbench.
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1153 Implement Client::TestBucketIamPermissions().
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: cla: yes, storage

#1151 Examples using Bucket default CMEKs.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: cla: yes, storage

#1152 Implement examples using "requester pays" billing.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: cla: yes, storage

#1154 Implement ObjectRewriter.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_rewriter.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_integration_test.cc
Labels: cla: yes, storage

#1139 Integration test for CheckConsistency
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: cla: yes

#1159 Use XML for read and write operations.
  google/cloud/storage/benchmarks/run_benchmarks_testbench.sh
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
Labels: cla: yes, storage

#1156 Improve the Doxygen landing page.
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/examples/BUILD
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_quickstart.cc
Labels: cla: yes, storage

#1143 Fixes several TODOs in Credential-related code.
  google/cloud/storage/internal/authorized_user_credentials_test.cc
  google/cloud/storage/internal/credential_constants.h
  google/cloud/storage/internal/service_account_credentials.h
  google/cloud/storage/internal/service_account_credentials_test.cc
  google/cloud/storage/tools/make_jwt_assertion_for_test_data.py
Labels: cla: yes

#1163 Build only once with Bazel.
  ci/travis/build-bazel.sh
Labels: cla: yes, type: process

#1164 Only enable std::clog once.
  google/cloud/log.cc
  google/cloud/log.h
  google/cloud/log_test.cc
Labels: api: storage, cla: yes

#1166 More speedups for Bazel build.
  ci/kokoro/ubuntu/build.sh
  ci/travis/build-bazel.sh
Labels: cla: yes, type: process

#1165 Make the install target work and test it.
  ci/test-install/BUILD
  ci/test-install/CMakeLists.txt
  ci/test-install/Makefile
  ci/test-install/bigtable_install_test.cc
  ci/test-install/storage_install_test.cc
  cmake/IncludeNlohmannJson.cmake
  google/cloud/storage/BUILD
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/config.cmake.in
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/internal/nljson.h
Labels: api: storage, cla: yes

#1162 Implement Client::RewriteObject.
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_testbench.sh
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/object_rewriter.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/testbench.py
  google/cloud/storage/well_known_parameters.h
Labels: api: storage, cla: yes

#1168 Implement more examples based on RewriteObject.
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1167 Issue#1107 TableAdmin samples splited into data_admin_snippets
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/data_admin_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable, cla: yes, kokoro:run

#1176 [Storage] Add Storage Quickstart region tag.
  google/cloud/storage/examples/storage_quickstart.cc
Labels: cla: yes

#1173 Issue#1059 adding snippets for GenerateConsistencyToken
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#1178 Fix CMake build issues
  cmake/IncludeGrpc.cmake
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes

#1184 [Storage] Add region tag around read object sample
  google/cloud/storage/examples/storage_object_samples.cc
Labels: cla: yes

#1180 Fix golang version of the latency benchmark.
  google/cloud/storage/benchmarks/storage_latency_benchmark_go.go
  google/cloud/storage/benchmarks/storage_throughput_benchmark_go.go
Labels: api: storage, cla: yes

#1171 Support setting the user-agent prefix.
  google/cloud/storage/client_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/storage_client_options_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: api: storage, cla: yes

#1174 Issue#1057 adding snippets for CreateTableFromSnapshot
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#1175 Support MD5 hashes as inputs.
  google/cloud/storage/tests/testbench.py
Labels: api: storage, cla: yes

#1186 Fix the throughput benchmarks.
  google/cloud/storage/benchmarks/storage_throughput_analysis.R
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark_go.go
Labels: api: storage, cla: yes

#1185 Move credential code to the oauth2 subtree.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/credential_constants.h
  google/cloud/storage/oauth2/credentials.cc
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/credentials_test.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_application_default_credentials_file_test.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_options_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: cla: yes
