Repository googleapis/google-cloud-cpp, pull requests merged in 2018-10, with the labels that each got.

#1097 Issue#1060 Added sample snippet for TableAdmin::CheckConsistency
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable, cla: yes

#1195 Move optional out of the internal namespace.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/internal/rowreaderiterator.h
  google/cloud/bigtable/testing/mock_read_rows_reader.h
  google/cloud/bigtable/testing/mock_sample_row_keys_reader.h
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/random_test.cc
  google/cloud/optional.h
  google/cloud/optional_test.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/patch_builder_test.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/object_metadata.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/well_known_headers.h
  google/cloud/storage/well_known_parameters.h
Labels: api: storage, cla: yes

#1196 Fix include rules for headers.
  ci/travis/build-docker.sh
  cmake/GoogleCloudCppCommon.cmake
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes, type: cleanup

#1188 benchmark takes app_profile_id as input
  ci/build-jenkins.sh
  google/cloud/bigtable/benchmarks/apply_read_latency_benchmark.cc
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/bigtable_benchmark_test.cc
  google/cloud/bigtable/benchmarks/endurance_benchmark.cc
  google/cloud/bigtable/benchmarks/scan_throughput_benchmark.cc
  google/cloud/bigtable/benchmarks/setup.cc
  google/cloud/bigtable/benchmarks/setup.h
  google/cloud/bigtable/benchmarks/setup_test.cc
  google/cloud/bigtable/ci/run_integration_tests.sh
Labels: api: bigtable, cla: yes

#1141 Implements helper classes to retry asynchronous operations
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_apply_test.cc
  google/cloud/bigtable/testing/mock_completion_queue.h
  google/cloud/bigtable/testing/mock_mutate_rows_reader.h
  google/cloud/bigtable/testing/mock_response_reader.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1207 Fix MSVC warnings.
  google/cloud/storage/well_known_headers.h
Labels: api: storage, cla: yes, type: cleanup

#1202 Remove object leak from examples.
  google/cloud/storage/examples/run_examples_utils.sh
Labels: api: storage, cla: yes, type: cleanup

#1194 Better credentials modularity
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/oauth2/anonymous_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/credential_constants.h
  google/cloud/storage/oauth2/credentials.cc
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/google_application_default_credentials_file.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_application_default_credentials_file_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_options_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1204 Fix object leak during integration test.
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1203 removed grpc::StatusCode::OK from the definition of IsTransientFailure
  google/cloud/bigtable/rpc_retry_policy.h
  google/cloud/bigtable/rpc_retry_policy_test.cc
Labels: api: bigtable, cla: yes

#1205 Move ErrorResponse to its own file.
  .gitignore
  google/cloud/storage/testbench/error_response.py
  google/cloud/storage/testbench/testbench.py
Labels: api: storage, cla: yes, type: cleanup

#1212 Improve error messages when loading credentials.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/oauth2/authorized_user_credentials.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/storage_client.bzl
Labels: api: storage, cla: yes

#1200 Implement user-provided checksums for inserts.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/hashing_options.h
  google/cloud/storage/internal/complex_option.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1215 Improve client documentation
  google/cloud/storage/client.h
Labels: api: storage, cla: yes

#1213 Better control of #includes in the main headers.
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/storage_client_integration_tests.bzl
  google/cloud/storage/tests/storage_include_test.cc
Labels: api: storage, cla: yes

#1219 Provide a function to compute MD5 hashes.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/hashing_options.h
  google/cloud/storage/hashing_options_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1220 Remove busy loop in uploads and downloads.
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/curl_upload_request.h
Labels: api: storage, cla: yes

#1170 Link Google Cloud Storage from top-level README.
  README.md
  google/cloud/storage/README.md
Labels: api: storage, cla: yes

#1227 Update landing pages to also link Storage docs.
  doc/landing/index.html
  doc/landing/version-redirect.html
Labels: cla: yes, docs

#1223 Simplify treatment of protobuf as external project.
  cmake/external/protobuf.cmake
Labels: cla: yes, type: cleanup, type: process

#1206 Improve code coverage for Bucket operations.
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/testbench/testbench_utils.py
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1209 Improve code coverage for Object operations.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes, type: cleanup

#1231 Simplified external project for grpc and c-ares.
  .cmake-format.py
  cmake/external/c-ares.cmake
  cmake/external/grpc.cmake
Labels: cla: yes, type: process

#1232 Fix CI builds.
  ci/travis/Dockerfile.ubuntu
Labels: cla: yes, type: process

#1228 Improve coverage for Bucket ACL operations.
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1229 Improve coverage for Object ACL operations.
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1245 Create examples that upload and download files.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1239 Run the gcs2cbt example in CI builds.
  ci/travis/build-docker.sh
  google/cloud/bigtable/tools/run_emulator_utils.sh
  google/cloud/ci/run_integration_tests.sh
  google/cloud/examples/run_gcs2cbt_emulator.sh
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: cla: yes, type: process

#1233 Issue 1017 poll long running operation common
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/poll_longrunning_operation.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/table_admin.cc
Labels: cla: yes

#1210 Implement noex::TableAdmin::AsyncGetTable.
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/admin_async_integration_test.cc
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
  google/cloud/bigtable/tests/run_integration_tests_production.sh
Labels: api: bigtable, cla: yes

#1247 Use Ninja as the CMake backend for faster AppVeyor builds.
  .appveyor.yml
  ci/appveyor/build-windows.ps1
Labels: cla: yes

#1222 More splitting of testbench.py
  .appveyor.yml
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/testbench/testbench_utils.py
Labels: api: storage, cla: yes, type: cleanup

#1240 Compute MD5 hashes on downloads.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/object_stream.h
  google/cloud/storage/status.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1278 Fix googletest when used as an installed package.
  ci/travis/build-docker.sh
  cmake/IncludeGMock.cmake
Labels: cla: yes, type: process

#1280 Use GTest::* targets for gtest & gmock.
  cmake/GoogleCloudCppCommon.cmake
  cmake/IncludeGMock.cmake
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
Labels: cla: yes, type: process

#1288 Fix test flakiness against production.
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: api: bigtable, cla: yes, type: process

#1287 Make call to std::abort() optional. (#327)
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/throw_delegate.cc
  google/cloud/internal/throw_delegate.h
  google/cloud/terminate_handler.cc
  google/cloud/terminate_handler.h
  google/cloud/terminate_handler_test.cc
Labels: cla: yes

#1285 Fix warnings about MT vs. MD options with MSVC.
  cmake/IncludeGrpc.cmake
Labels: cla: yes, type: process

#1283 Issue#1263 Implement noex::InstanceAdmin::GetInstance
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: cla: yes

#1281 Use a single option to control dependency sources.
  CMakeLists.txt
  ci/appveyor/build-windows.ps1
  ci/travis/build-docker.sh
  cmake/IncludeGMock.cmake
  cmake/IncludeGrpc.cmake
  doc/setup-development-environment.md
  google/cloud/bigtable/CMakeLists.txt
Labels: cla: yes, type: process

#1290 Better landing page for Bigtable Doxygen Documentation
  google/cloud/bigtable/doc/bigtable-main.dox
Labels: cla: yes

#1286 Fix function to generate message boundaries.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/generate_message_boundary.h
  google/cloud/storage/internal/generate_message_boundary_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1291 Fix doxygen comments.
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_admin.h
Labels: api: bigtable, cla: yes

#1284 Compute MD5 hash on uploads.
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/curl_streambuf_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1293 Move GcsBucket class to its own file.
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/testbench/testbench.py
Labels: api: storage, cla: yes, type: cleanup

#1296 Make dependency versions configurable.
  cmake/external/c-ares.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
Labels: cla: yes, type: cleanup

#1298 Fix size_t -> int conversion warning.
  google/cloud/storage/internal/openssl_util.h
Labels: api: storage, cla: yes

#1299 Fix potential data loss warnings.
  google/cloud/internal/backoff_policy.cc
  google/cloud/internal/backoff_policy_test.cc
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes, type: cleanup

#1301 Fix warnings about sscanf().
  google/cloud/storage/CMakeLists.txt
Labels: api: storage, cla: yes, type: cleanup

#1302 Move GcsObjectVersion class to a separate file.
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/testbench/testbench.py
Labels: api: storage, cla: yes, type: cleanup

#1199 documenting samples for ReadModifyWrite
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/table.h
Labels: api: bigtable, cla: yes

#1303 Simulate hash failures
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/testbench/testbench_utils.py
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/storage_client_integration_tests.bzl
  google/cloud/storage/well_known_headers.cc
  google/cloud/storage/well_known_headers.h
  google/cloud/storage/well_known_headers_test.cc
Labels: api: storage, cla: yes

#1304 Move GcsObject class to a separate file.
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/testbench/testbench.py
Labels: api: storage, cla: yes, type: cleanup

#1309 Implemenation of AsyncCreateTable
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/admin_async_integration_test.cc
Labels: cla: yes

#1310 Refactor target definitions to cmake/external.
  cmake/IncludeGMock.cmake
  cmake/IncludeGrpc.cmake
  cmake/external/c-ares.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
Labels: cla: yes, type: process

#1314 Refactor endian byteswap
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/internal/endian.cc
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/big_endian.h
  google/cloud/internal/big_endian_test.cc
Labels: api: storage, cla: yes

#1307 Refactor code to generate random lines.
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes, type: cleanup

#1312 Add crc32c dependency
  bazel/crc32c.BUILD
  bazel/google_cloud_cpp_deps.bzl
  ci/appveyor/build-windows.ps1
  ci/appveyor/install-windows.ps1
  ci/travis/build-docker.sh
  cmake/IncludeCrc32c.cmake
  cmake/external/crc32c.cmake
  google/cloud/storage/CMakeLists.txt
Labels: api: storage, cla: yes

#1313 Issue#1268 Implement noex::InstanceAdmin::AsyncGetCluster
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: api: bigtable, cla: yes

#1315 Implement noex::TableAdmin::AsyncModifyColumnFamilies
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/tests/admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1201 Issue#1189 : added documentation of CheckAndMutate to modify a value only if it exists
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
Labels: api: firestore, cla: yes

#1317 Implementing noex::TableAdmin::AsyncDropRowsByPrefix and noex::TableAdmin::AsyncDropAllRows
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/tests/admin_async_integration_test.cc
Labels: cla: yes

#1318 Adding Implementation for noex::InstanceAdmin::AsyncDeleteCluster
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: cla: yes

#1319 Implement wrappers for stat(2).
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/filesystem.cc
  google/cloud/internal/filesystem.h
  google/cloud/internal/filesystem_test.cc
  google/cloud/internal/throw_delegate.cc
  google/cloud/internal/throw_delegate.h
  google/cloud/internal/throw_delegate_test.cc
Labels: api: storage, cla: yes

#1321 Add async operations with streaming responses.
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: api: storage, cla: yes

#1324 Document a oneliner to only reformat changed files
  CONTRIBUTING.md
Labels: cla: yes

#1322 Generalize `AsyncRetryUnaryRpc`.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
Labels: api: bigtable, cla: yes

#1328 Better management for the cached packages.
  .appveyor.yml
  ci/appveyor/install-windows.ps1
Labels: cla: yes, type: process

#1306 Implement Client::UploadFile.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/testing_util/capture_log_lines_backend.cc
  google/cloud/testing_util/capture_log_lines_backend.h
Labels: api: storage, cla: yes

#1323 Implement crc32c on insert media
  ci/appveyor/build-windows.ps1
  ci/test-install/Makefile
  ci/travis/Dockerfile.centos
  ci/travis/Dockerfile.fedora
  ci/travis/Dockerfile.ubuntu
  ci/travis/Dockerfile.ubuntu-trusty
  google/cloud/storage/BUILD
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/config.cmake.in
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/hashing_options.h
  google/cloud/storage/hashing_options_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1320 Adding Implementation of noex::InstanceAdmin::DeleteInstance
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1329 Simplify byproduct definition.
  cmake/ExternalProjectHelper.cmake
  cmake/external/c-ares.cmake
  cmake/external/crc32c.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
Labels: cla: yes, type: process

#1230 Bazel build for opencensus bigtable integration
  bazel/google_cloud_cpp_deps.bzl
  google/cloud/bigtable/examples/opencensus/BUILD
  google/cloud/bigtable/examples/opencensus/README.md
  google/cloud/bigtable/examples/opencensus/bigtable_opencensus.cc
Labels: api: bigtable, cla: yes

#1334 Revert #1322.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
Labels: api: bigtable, cla: yes

#1335 Add support for detecting if running on GCE.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/compute_engine_util.h
  google/cloud/storage/storage_client.bzl
Labels: cla: yes

#1326 Limit ccache size
  ci/travis/build-docker.sh
Labels: cla: yes, type: process

#1330 Implement CRC32C-based HashValidator.
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_test.cc
Labels: api: storage, cla: yes

#1336 Implement BulkAsyncRetry
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_bulk_apply_test.cc
  google/cloud/bigtable/testing/inprocess_data_client.cc
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/testing/mock_response_reader.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: cla: yes

#1341 Remove Disposition and AsyncUnaryRpcResult (#1308)
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/bigtable/internal/table_async_apply_test.cc
  google/cloud/bigtable/internal/table_async_bulk_apply_test.cc
Labels: cla: yes

#1337 Implement CompositeHashValidator.
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_test.cc
Labels: api: storage, cla: yes

#1339 Implement bucket lock features in ObjectMetadata.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_test.cc
Labels: api: storage, cla: yes

#1340 Implement bucket lock features in BucketMetadata.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests_test.cc
Labels: api: storage, cla: yes

#1348 implementation of noex::TableAdmin::AsyncDeleteSnapshot
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/tests/snapshot_async_integration_test.cc
Labels: cla: yes

#1343 Adding Implementation for noex::InstanceAdmin::AsyncGetAppProfile
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: cla: yes

#1354 Separate ADC logic to differentiate env var vs gcloud well known path
  google/cloud/storage/oauth2/google_application_default_credentials_file.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_application_default_credentials_file_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
Labels: cla: yes

#1359 Specialize is_invokable for member functions.
  google/cloud/internal/invoke_result.h
  google/cloud/internal/invoke_result_test.cc
Labels: api: bigtable, cla: yes

#1344 Enable CRC32C checksums by default.
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1351 Implement the base class for the shared state.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_impl_test.cc
Labels: api: bigtable, cla: yes

#1356 Implement download to file
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1361 Define interface for storage IdempotencyPolicy.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/storage_client.bzl
Labels: api: storage, cla: yes

#1355 Adding Implementation for noex::InstanceAdmin::AsyncDeleteAppProfile
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: storage, cla: yes

#1346 Implement examples for object holds.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/testbench/gcs_object.py
Labels: api: storage, cla: yes

#1363 Automatically export version numbers to Bazel.
  cmake/CreateBazelConfig.cmake
  google/cloud/BUILD
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/BUILD
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/firestore/BUILD
  google/cloud/firestore/CMakeLists.txt
  google/cloud/firestore/firestore_client_version.bzl
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/storage/BUILD
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/storage_client_version.bzl
Labels: cla: yes, type: process

#1357 Improve credential testability and coverage.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/compute_engine_util.h
  google/cloud/storage/internal/compute_engine_util_test.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_application_default_credentials_file_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1362 Implement future+promises shared state for void.
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_impl_test.cc
Labels: api: bigtable, cla: yes

#1347 Implement examples for bucket retention policy.
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/testbench/gcs_bucket.py
Labels: api: storage, cla: yes

#1350 Abstract retry logic into AsyncRetryOp.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/bulk_mutator.h
Labels: api: bigtable, cla: yes

#1358 Record decision about optional fields as ADR.
  doc/adr/2018-10-30-storage-metadata-fields-and-optional.md
Labels: api: storage, cla: yes, type: process

#1371 Adding Implementation for noex::InstanceAdmin::AsyncCreateAppProfile
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: cla: yes
