Repository googleapis/google-cloud-cpp, pull requests merged in 2018-12, with the labels that each got.

#1565 A streambuf based on ResumableUploadSession.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/curl_resumable_streambuf.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/curl_resumable_streambuf_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage, cla: yes

#1574 Add Crypt32.lib to static builds on Windows.
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes

#1569 Update Bigtable release notes [skip ci].
  google/cloud/README.md
  google/cloud/bigtable/README.md
Labels: api: bigtable, cla: yes

#1568 Update storage release notes. [skip ci]
  google/cloud/storage/README.md
Labels: api: storage, cla: yes

#1571 Implement CurlClient function to resume uploads.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_resumable_upload_session.h
  google/cloud/storage/internal/logging_resumable_upload_session.cc
  google/cloud/storage/internal/logging_resumable_upload_session.h
  google/cloud/storage/internal/resumable_upload_session.h
  google/cloud/storage/internal/retry_resumable_upload_session.cc
  google/cloud/storage/internal/retry_resumable_upload_session.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#1577 Implement examples using non-default policies.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1567 Make ccache bigger for coverage builds.
  ci/travis/build-docker.sh
Labels: cla: yes, type: process

#1578 Fix version numbers and release dates.
  google/cloud/CMakeLists.txt
  google/cloud/README.md
  google/cloud/bigtable/README.md
  google/cloud/bigtable/config.cmake.in
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/storage/README.md
  google/cloud/storage/config.cmake.in
Labels: cla: yes, type: process

#1544 Add region tags to bigtable_hello_world
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/examples/bigtable_hello_world.cc
Labels: api: bigtable, cla: yes

#1579 Bump version numbers after creating release branch.
  ci/test-install/CMakeLists.txt
  google/cloud/CMakeLists.txt
  google/cloud/README.md
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/README.md
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/bigtable/config.cmake.in
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/README.md
  google/cloud/storage/config.cmake.in
  google/cloud/storage/storage_client_version.bzl
Labels: cla: yes, type: process

#1584 Fix definition of IsIdempotent for DeleteObject.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
Labels: api: storage, cla: yes

#1575 Implement a request to sign urls.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/internal/signed_url_requests.h
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/signed_url_options.cc
  google/cloud/storage/signed_url_options.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1566 Add option to force resumable uploads.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/upload_options.h
Labels: api: storage, cla: yes

#1585 No Generation option in ComposeObject().
  google/cloud/storage/client.h
  google/cloud/storage/internal/object_requests.h
Labels: api: storage, cla: yes

#1572 Async list instances
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/async_instance_data.h
  google/cloud/bigtable/async_instance_list_responses.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/async_list_instances.h
  google/cloud/bigtable/internal/async_list_instances_test.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1586 Improve documentation for all operations.
  google/cloud/storage/client.h
Labels: cla: yes

#1592 Use external project for CURL and dependencies.
  cmake/ExternalProjectHelper.cmake
  cmake/IncludeCurl.cmake
  cmake/external/curl.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/ssl.cmake
  cmake/external/zlib.cmake
  doc/managing-dependencies-in-cmake.md
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes, type: process

#1599 Improve documentation for credentials classes.
  google/cloud/storage/oauth2/anonymous_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: cla: yes

#1601 Restore macOS build.
  .travis.yml
  cmake/IncludeCurl.cmake
  cmake/external/curl.cmake
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_wrappers.cc
Labels: cla: yes, type: process

#1603 Fix build with Xcode 7.3.
  .travis.yml
  google/cloud/future_generic.h
  google/cloud/future_void.h
  google/cloud/internal/future_impl_test.cc
Labels: api: bigtable, cla: yes

#1597 WriteObject() uses resumable uploads if requested.
  google/cloud/storage/client.h
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/curl_resumable_streambuf.h
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage, cla: yes

#1607 Move bigtable/internal/row_key_sample.h to bigtable/row_key_sample.h
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_sample_row_keys.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/row_key_sample.h
Labels: cla: yes

#1606 Simplify CMake configuration.
  ci/kokoro/windows/build.bat
  cmake/IncludeCrc32c.cmake
  cmake/IncludeCurl.cmake
  cmake/IncludeGMock.cmake
  cmake/IncludeGrpc.cmake
Labels: cla: yes, type: cleanup

#1609 Issue 1272 async list app profiles
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/async_list_app_profiles.h
  google/cloud/bigtable/internal/async_list_app_profiles_test.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1605 URL-escape the object names.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: api: storage, cla: yes

#1611 Rename CurlStreambuf to CurlWriteStreambuf.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/tests/curl_streambuf_integration_test.cc
Labels: api: storage, cla: yes, type: cleanup

#1608 Implement query parameters for signed urls.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/internal/signed_url_requests.h
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/signed_url_options.cc
  google/cloud/storage/signed_url_options.h
  google/cloud/storage/signed_url_options_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1615 Fix typo in Auth2.0 link.
  google/cloud/storage/oauth2/authorized_user_credentials.h
Labels: api: storage, cla: yes

#1616 Make generated .bzl files pass the Skylark linter.
  cmake/CreateBazelConfig.cmake
  google/cloud/BUILD
  google/cloud/bigtable/BUILD
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/firestore/BUILD
  google/cloud/firestore/firestore_client.bzl
  google/cloud/firestore/firestore_client_unit_tests.bzl
  google/cloud/firestore/firestore_client_version.bzl
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/BUILD
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/storage_client_version.bzl
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: cla: yes, type: cleanup

#1620 Update to gRPC-1.17.0
  bazel/google_cloud_cpp_deps.bzl
  cmake/external/grpc.cmake
Labels: cla: yes, type: cleanup

#1621 Include Copyright notices in the .bzl file.
  cmake/CreateBazelConfig.cmake
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/firestore/firestore_client.bzl
  google/cloud/firestore/firestore_client_unit_tests.bzl
  google/cloud/firestore/firestore_client_version.bzl
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/storage_client_version.bzl
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: cla: yes, type: cleanup

#1622 Remove unused packages in build images.
  ci/travis/Dockerfile.centos
  ci/travis/Dockerfile.fedora
  ci/travis/Dockerfile.ubuntu
  ci/travis/Dockerfile.ubuntu-trusty
Labels: cla: yes, type: cleanup

#1613 Enable misc-* clang-tidy warnings.
  .clang-tidy
  google/cloud/bigtable/idempotent_mutation_policy.cc
  google/cloud/bigtable/rpc_backoff_policy.cc
  google/cloud/bigtable/rpc_retry_policy.cc
  google/cloud/internal/future_impl.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/empty_response.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/retry_client.cc
Labels: cla: yes, type: cleanup, type: process

#1618 Require rvalue-ref for as_proto_move().
  google/cloud/bigtable/app_profile_config.h
  google/cloud/bigtable/app_profile_config_test.cc
  google/cloud/bigtable/cluster_config.h
  google/cloud/bigtable/cluster_config_test.cc
  google/cloud/bigtable/column_family.h
  google/cloud/bigtable/filters.h
  google/cloud/bigtable/filters_test.cc
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_config.h
  google/cloud/bigtable/instance_update_config.h
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/table.cc
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_admin.cc
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/read_modify_write_rule.h
  google/cloud/bigtable/row_range.h
  google/cloud/bigtable/row_set.cc
  google/cloud/bigtable/row_set.h
  google/cloud/bigtable/table_config.cc
  google/cloud/bigtable/table_config.h
  google/cloud/bigtable/table_config_test.cc
Labels: api: bigtable, cla: yes, type: cleanup

#1625 Added the ColumnName() filter
  google/cloud/bigtable/filters.h
  google/cloud/bigtable/filters_test.cc
Labels: cla: yes

#1626 Make .clang-tidy file more readable.
  .clang-tidy
Labels: cla: yes, type: cleanup

#1627 Enable bugprone-* clang-tidy checks.
  .clang-tidy
  google/cloud/storage/internal/curl_handle_factory.cc
Labels: cla: yes, type: cleanup

#1628 In GCP_LOG() the level should be concatenated without expansion.
  google/cloud/log.h
Labels: cla: yes, type: bug

#1629 Fix comment wording for PR #1628. [skip ci]
  google/cloud/log.h
Labels: cla: yes

#1631 Fix formatting for comments.
  google/cloud/log.h
Labels: cla: yes, type: cleanup

#1614 Implement support for bucket-only policies.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/internal/ios_flags_saver.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1632 Move ClusterList from bigtable/internal to bigtable/
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/async_cluster_list_responses.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_list_clusters.h
Labels: cla: yes

#1633 Add missing compiler options.
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/examples/CMakeLists.txt
Labels: cla: yes

#1689 Remove obsolete bazel native.http_archive rule
  bazel/google_cloud_cpp_deps.bzl
  bazel/googleapis.WORKSPACE
  cmake/external/grpc.cmake
Labels: cla: yes, type: process

#1630 Factor out common credential refresh functionality
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.cc
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/storage_client.bzl
Labels: api: storage, cla: yes

#1691 Add scripts for a (future) Kokoro+macOS build.
  ci/kokoro/macos/build.sh
  ci/kokoro/macos/continuous.cfg
  ci/kokoro/macos/presubmit.cfg
  google/cloud/bigtable/examples/opencensus/BUILD
Labels: cla: yes, type: process

#1692 Allow generation of dependency graphs with CMake.
  ci/travis/build-docker.sh
  ci/travis/build-linux.sh
Labels: cla: yes

#1696 Improves Credentials-related docs.
  google/cloud/storage/client.h
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: api: storage, cla: yes

#1698 Add no exceptions policy to internal::RetryClient.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1690 Implement an exception to wrap storage::Status.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/throw_status_delegate.cc
  google/cloud/storage/internal/throw_status_delegate.h
  google/cloud/storage/internal/throw_status_delegate_test.cc
  google/cloud/storage/status.cc
  google/cloud/storage/status.h
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/testing_util/expect_exception.h
Labels: api: storage, cla: yes

#1702 Fix macOS+Bazel build on Kokoro.
  bazel/google_cloud_cpp_deps.bzl
  ci/kokoro/macos/build.sh
Labels: cla: yes, type: process

#1701 Implement StatusOr<T>.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/status_or.h
  google/cloud/storage/status_or_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1703 Always use the NoexPolicy in the noex::Client.
  google/cloud/storage/internal/noex_client.h
Labels: api: storage, cla: yes

#1704 Define well-known status codes for storage::Status.
  google/cloud/storage/status.h
Labels: api: storage, cla: yes

#1706 Implement StatusOr<void>.
  google/cloud/storage/status_or.h
  google/cloud/storage/status_or_test.cc
  google/cloud/testing_util/expect_exception.h
Labels: api: storage, cla: yes

#1707 Allow the ability to disable tests
  .travis.yml
  CMakeLists.txt
  README.md
  ci/travis/build-docker.sh
  ci/travis/build-linux.sh
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes

#1587 Implement table asyncreadrows
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/async_read_row_operation.h
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_row_reader_test.cc
  google/cloud/bigtable/testing/inprocess_data_client.cc
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/testing/mock_read_rows_reader.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: cla: yes

#1710 s/payload/response/ for HttpResponse objects in CurlClient.
  google/cloud/storage/internal/curl_client.cc
Labels: cla: yes, type: cleanup

#1711 Display the build status for Kokoro+macOS. [skip ci]
  README.md
Labels: cla: yes, type: process

#1709 Improve the onboarding instructions. [skip ci]
  CONTRIBUTING.md
Labels: cla: yes

#1717 Fix build breakage with bazel 0.21.
  ci/kokoro/macos/build.sh
Labels: cla: yes, type: process

#1712 Document new build script options [skip ci].
  CONTRIBUTING.md
Labels: cla: yes, docs

#1720 Update README.md
  google/cloud/storage/README.md
Labels: cla: yes

#1724 Instance admin async get instance
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: cla: yes

#1721 For builds with ExternalProject disable ldap in libcurl.
  cmake/external/curl.cmake
Labels: cla: yes, type: process

#1713 Prototype nothrow overloads
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/noex_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/object_rewriter.cc
Labels: api: storage, cla: yes

#1727 Upgrade JSON library to 3.4.0.
  bazel/google_cloud_cpp_deps.bzl
  cmake/DownloadNlohmannJson.cmake
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/nljson.h
  google/cloud/storage/internal/retry_resumable_upload_session.cc
Labels: cla: yes, type: process

#1723 Use StatusOr<T> to return errors.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session.h
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/logging_resumable_upload_session.cc
  google/cloud/storage/internal/logging_resumable_upload_session.h
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/raw_client_wrapper_utils.h
  google/cloud/storage/internal/resumable_upload_session.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/internal/retry_resumable_upload_session.cc
  google/cloud/storage/internal/retry_resumable_upload_session.h
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/oauth2/anonymous_credentials.cc
  google/cloud/storage/oauth2/anonymous_credentials.h
  google/cloud/storage/oauth2/anonymous_credentials_test.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/status_or.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/testing/retry_tests.h
  google/cloud/storage/tests/curl_resumable_streambuf_integration_test.cc
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#1728 Don't use hard-coded zones in examples
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: cla: yes

#1730 Remove storage::noex::Client.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/noex_client.cc
  google/cloud/storage/internal/noex_client.h
  google/cloud/storage/internal/noex_client_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes, type: cleanup

#1725 StatusOr<T> when there is no default constructor.
  google/cloud/storage/status_or.h
  google/cloud/storage/status_or_test.cc
Labels: api: storage, cla: yes

#1731 Restore support for GCC-4.8.
  CMakeLists.txt
  README.md
  ci/test-readme/Dockerfile.centos
  ci/travis/Dockerfile.centos
  ci/travis/build-linux.sh
  ci/travis/install-bazel.sh
  google/cloud/bigtable/internal/rowreaderiterator.h
  google/cloud/firestore/field_path.cc
  google/cloud/firestore/field_path.h
  google/cloud/internal/port_platform.h
  google/cloud/optional.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/status_or.h
Labels: api: storage, cla: yes, type: process

#1733 Use StatusOr to signal errors in a HTTP request.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/curl_upload_request_integration_test.cc
Labels: api: storage, cla: yes

#1737 Use non-throwing JSON parser.
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_access_control_test.cc
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/internal/access_control_common.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_access_control_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata_test.cc
Labels: api: storage, cla: yes

#1738 Use non-throwing JSON parser for Notifications.
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/internal/notification_requests.cc
  google/cloud/storage/internal/notification_requests.h
  google/cloud/storage/internal/notification_requests_test.cc
  google/cloud/storage/notification_metadata.cc
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/notification_metadata_test.cc
Labels: api: storage, cla: yes

#1743 Improve code coverage for *Acl parsers.
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/object_acl_requests_test.cc
Labels: api: storage, cla: yes

#1741 Use non-throwing JSON parser for BucketMetadata.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/lifecycle_rule_test.cc
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/object_metadata.cc
Labels: api: storage, cla: yes

#1744 Improve code coverage for CurlClient.
  google/cloud/storage/internal/curl_client_test.cc
Labels: api: storage, cla: yes

#1745 Use non-throwing JSON parser for ObjectMetadata.
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#1748 Support reading or downloading a GCS object range.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/download_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes
