Repository googleapis/google-cloud-cpp, pull requests merged in 2018-11, with the labels that each got.

#1369 Async sample row keys
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/ci/run_integration_tests.sh
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/async_sample_row_keys.cc
  google/cloud/bigtable/internal/async_sample_row_keys.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_sample_row_keys_test.cc
  google/cloud/bigtable/testing/inprocess_data_client.cc
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: cla: yes

#1367 Implement future<void> and promise<void>.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/future_fwd.h
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_impl_test.cc
  google/cloud/internal/future_void.h
  google/cloud/internal/future_void_test.cc
Labels: api: storage, cla: yes

#1373 Initial support for continuations.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_impl_test.cc
  google/cloud/internal/future_then_meta.h
Labels: api: bigtable, cla: yes

#1365 Introduce StrictIdempotencyPolicy.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1366 Implement LockBucketRetentionPolicyRequest.
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
Labels: api: storage, cla: yes

#1378 Update manual formatting instructions [skip ci].
  CONTRIBUTING.md
Labels: cla: yes

#1377 Make variable names lower_snake_case.
  google/cloud/storage/internal/compute_engine_util.cc
Labels: cla: yes

#1379 Update release notes.
  google/cloud/CMakeLists.txt
  google/cloud/README.md
  google/cloud/bigtable/README.md
  google/cloud/storage/README.md
Labels: cla: yes, type: process

#1375 Bump version numbers and update release notes.
  ci/test-install/CMakeLists.txt
  google/cloud/CMakeLists.txt
  google/cloud/README.md
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/README.md
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/README.md
  google/cloud/storage/storage_client_version.bzl
Labels: cla: yes, type: process

#1368 Capture compiler version in Bazel.
  google/cloud/BUILD
Labels: cla: yes, type: bug

#1376 Refactor common future and promise functions.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/internal/future_base.h
  google/cloud/internal/future_then_meta.h
  google/cloud/internal/future_void.h
Labels: api: bigtable, cla: yes

#1388 Make retriable operations return an AsyncOperation
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/async_sample_row_keys.h
  google/cloud/bigtable/internal/bulk_mutator.h
Labels: api: bigtable, cla: yes

#1381 Add ComputeEngineCredentials to google_credentials
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1382 Implement StrictIdempotencyPolicy for IAM ops.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
Labels: api: storage, cla: yes

#1392 New document on how to cut a release [skip ci].
  doc/cutting-a-release.md
Labels: cla: yes, type: process

#1384 Implement AsyncCheckAndMutateRow
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_check_and_mutate_row_test.cc
  google/cloud/bigtable/testing/inprocess_data_client.cc
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: cla: yes

#1394 Implement StrictIdempotencyPolicy for *ObjectRequest.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
Labels: api: storage, cla: yes

#1391 Initial implementation of future<void>::then()
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/future_then_meta.h
  google/cloud/internal/future_void.h
  google/cloud/internal/future_void_then_test.cc
Labels: api: bigtable, cla: yes

#1399 Fix typos [skip ci].
  google/cloud/internal/future_then_meta.h
  google/cloud/internal/future_void.h
Labels: api: bigtable, cla: yes, type: cleanup

#1400 Refactor testing types to library.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_testing.bzl
  google/cloud/optional_test.cc
  google/cloud/testing_util/testing_types.cc
  google/cloud/testing_util/testing_types.h
Labels: api: bigtable, cla: yes

#1401 Refactor tests for future_shared_state<void>.
  google/cloud/internal/future_impl_test.cc
Labels: api: bigtable, cla: yes

#1398 Implement and test AsyncRetryOp::Cancel
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_op_test.cc
Labels: api: bigtable, cla: yes

#1403 Implement shared state for future<T>.
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_impl_test.cc
Labels: api: bigtable, cla: yes

#1395 Implement StrictIdempotentPolicy for *Acl.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
Labels: api: storage, cla: yes

#1406 Remove future<T> cruft.
  google/cloud/internal/future_impl.h
Labels: api: bigtable, cla: yes

#1408 Implement future<T> and promise<T>.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/future_generic.h
  google/cloud/internal/future_generic_test.cc
Labels: api: bigtable, cla: yes

#1415 Add *Consistency* calls to TableAdminClient.
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
Labels: cla: yes

#1414 Move future<void>::then_impl() to a separate file.
  google/cloud/CMakeLists.txt
  google/cloud/future.h
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/internal/future_then_impl.h
  google/cloud/internal/future_void.h
  google/cloud/internal/future_void_then_test.cc
Labels: api: bigtable, cla: yes

#1416 Fix MSVC warnings.
  google/cloud/internal/future_impl.h
Labels: api: bigtable, cla: yes

#1417 Refactor is_ready() to future_base<T>.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/future_base.h
  google/cloud/internal/future_generic.h
  google/cloud/internal/future_generic_then_test.cc
  google/cloud/internal/future_void.h
Labels: api: bigtable, cla: yes

#1419 Fix a race condition in AsyncUnaryStreamRpcFunctor
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: cla: yes

#1418 Implement future<T>::then().
  google/cloud/internal/future_generic.h
  google/cloud/internal/future_generic_then_test.cc
  google/cloud/internal/future_impl.h
  google/cloud/internal/future_then_impl.h
  google/cloud/internal/future_void.h
Labels: api: bigtable, cla: yes

#1409 Finish implementation of StrictIdempotencyPolicy.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
Labels: api: storage, cla: yes

#1420 Fix races in Async{UnaryRpc,Timer}Functor.
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: cla: yes

#1423 Implement unwrapping constructor.
  google/cloud/internal/future_generic.h
  google/cloud/internal/future_generic_then_test.cc
  google/cloud/internal/future_impl_test.cc
  google/cloud/internal/future_then_impl.h
  google/cloud/internal/future_void.h
  google/cloud/internal/future_void_then_test.cc
Labels: api: bigtable, cla: yes

#1425 Split g*/c/*/storage/object_test.cc.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1428 Cleanup MSVC warnings.
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes, type: cleanup

#1427 Extend object unit tests for non-idempotent case.
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage, cla: yes

#1429 Add idempotency unit test for all resources.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_object_acl_test.cc
Labels: api: storage, cla: yes

#1434 Refactor CurlClient::InsertObjectMedia.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
Labels: api: storage, cla: yes, type: cleanup

#1432 Create scripts for Kokoro Windows build.
  ci/kokoro/windows/build-dependencies.ps1
  ci/kokoro/windows/build-project.ps1
  ci/kokoro/windows/build.bat
  ci/kokoro/windows/continuous.cfg
  ci/kokoro/windows/install-dependencies.ps1
  ci/kokoro/windows/presubmit.cfg
Labels: cla: yes, type: process

#1437 Fix a storage region tag
  google/cloud/storage/examples/storage_object_samples.cc
Labels: cla: yes

#1435 Refactor InsertObjectMedia() integration tests.
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage, cla: yes, type: cleanup

#1438 Speed up Kokoro Windows Build.
  ci/kokoro/windows/build.bat
Labels: cla: yes, type: process

#1443 Fix remaining test TODOs.
  google/cloud/internal/future_generic_then_test.cc
  google/cloud/internal/future_void_then_test.cc
Labels: api: bigtable, cla: yes

#1441 Make AsyncPollOp cancellable.
  google/cloud/bigtable/internal/async_poll_op.h
  google/cloud/bigtable/internal/async_poll_op_test.cc
Labels: api: bigtable, cla: yes

#1447 Statically check Operation's traits in AsyncPollOp
  google/cloud/bigtable/internal/async_poll_op.h
Labels: cla: yes

#1446 Implement polling AsyncCheckConsistency.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_check_consistency.h
  google/cloud/bigtable/internal/async_check_consistency_test.cc
Labels: api: bigtable, cla: yes

#1449 Disable the AppVeyor builds.
  .appveyor.yml
  README.md
  ci/appveyor/build-windows.ps1
  ci/appveyor/install-windows.ps1
  doc/cutting-a-release.md
Labels: cla: yes, type: process

#1442 Isolates credential expiration/validity logic.
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: api: storage, cla: yes

#1451 Enable Kokoro badges [skip ci].
  README.md
Labels: cla: yes, type: cleanup

#1444 Improve Async{Poll,Retry} test readbility.
  google/cloud/bigtable/internal/async_poll_op_test.cc
  google/cloud/bigtable/internal/async_retry_op_test.cc
Labels: api: bigtable, cla: yes, kokoro:run

#1453 Wrappers to capture callback results in promises.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_future_from_callback.h
  google/cloud/bigtable/internal/async_future_from_callback_test.cc
Labels: api: bigtable, cla: yes

#1448 Implement AsyncAwaitConsistency.
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/internal/async_check_consistency.h
  google/cloud/bigtable/internal/async_check_consistency_test.cc
  google/cloud/bigtable/internal/table_admin.h
Labels: api: bigtable, cla: yes

#1455 Add an integration test for AsyncAwaitConsistency.
  google/cloud/bigtable/tests/admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1445 Support WithObjectMetadata option in InsertObjectMedia.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/object_metadata.h
  google/cloud/storage/testbench/gcs_object.py
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: api: bigtable, cla: yes

#1458 Implement file_size() function.
  google/cloud/internal/filesystem.cc
  google/cloud/internal/filesystem.h
  google/cloud/internal/filesystem_test.cc
Labels: api: storage, cla: yes

#1459 Do not generate local files in tests.
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes, type: cleanup

#1456 Implement async operations that return futures.
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_async_snippets.cc
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: api: bigtable, cla: yes

#1462 Add AsyncGetOperation to admin clients.
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/testing/inprocess_admin_client.cc
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: cla: yes

#1461 Implement request types for resumable uploads.
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage, cla: yes

#1463 More updates to the release steps.
  ci/travis/upload-docs.sh
  doc/cutting-a-release.md
Labels: cla: yes, type: process

#1452 Adds retry/backoff logic for credential requests.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/oauth2/anonymous_credentials.cc
  google/cloud/storage/oauth2/anonymous_credentials.h
  google/cloud/storage/oauth2/anonymous_credentials_test.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
Labels: api: storage, cla: yes

#1465 Client option to select resumable vs. simple uploads.
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/storage_client_options_test.cc
Labels: api: storage, cla: yes

#1466 Implement AsyncPollLongrunningOp.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_longrunning_op.h
  google/cloud/bigtable/internal/async_longrunning_op_test.cc
Labels: cla: yes

#1468 Add AsyncCreateCluster to InstanceAdminClient.
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: cla: yes

#1470 AsyncLongrunninOp: use static_assert.
  google/cloud/bigtable/internal/async_longrunning_op.h
Labels: api: bigtable, cla: yes, kokoro:run

#1469 Implement AsyncRetryAndPollUnaryRpc.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_longrunning_op.h
  google/cloud/bigtable/internal/async_longrunning_op_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll.h
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll_test.cc
Labels: api: bigtable, cla: yes, kokoro:run

#1472 Implement AsyncCreateCluster.
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1478 Introduce AsyncGrpcOperation.
  google/cloud/bigtable/async_operation.h
  google/cloud/bigtable/internal/async_check_consistency.h
  google/cloud/bigtable/internal/async_poll_op.h
  google/cloud/bigtable/internal/async_poll_op_test.cc
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_op_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll.h
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: api: bigtable, cla: yes

#1479 Return AsyncOperation from all async operations.
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_admin.h
Labels: api: bigtable, cla: yes

#1473 Implement AsyncCreateInstance
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: cla: yes

#1480 Introduce CompletionQueue::RunAsync.
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/async_longrunning_op.h
  google/cloud/bigtable/internal/async_poll_op.h
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: api: bigtable, cla: yes

#1481 Add AsyncListClusters to InstanceAdminClient.
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: api: bigtable, cla: yes

#1482 Implement InstanceAdmin::AsyncUpdateAppProfile
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: cla: yes

#1492 Adding implementation of AsyncUpdateInstance
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: cla: yes

#1507 Add warnings on Async functions.
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#1509 Adding implementation of AsyncUpdateCluster
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: cla: yes

#1474 More control over random contents size.
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/testing/storage_integration_test.h
Labels: api: storage, cla: yes

#1493 Upgrade crc32c to 1.0.6
  bazel/google_cloud_cpp_deps.bzl
  ci/travis/build-docker.sh
  cmake/external/crc32c.cmake
Labels: api: storage, cla: yes

#1484 An abstraction for resumable upload sessions.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/resumable_upload_session.h
  google/cloud/storage/storage_client.bzl
Labels: api: storage, cla: yes

#1513 FindGTest does not work with debug builds.
  ci/travis/build-docker.sh
Labels: cla: yes, type: process

#1471 Improve requests for resumable uploads.
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage, cla: yes

#1511 Update to gRPC 1.16.1
  bazel/google_cloud_cpp_deps.bzl
  ci/travis/build-docker.sh
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
Labels: api: bigtable, cla: yes, type: process

#1515 Define a mock for ResumableUploadSession.
  google/cloud/storage/testing/mock_client.h
Labels: api: storage, cla: yes

#1516 Support shared_from_this() in CurlClient.
  google/cloud/storage/client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
Labels: api: storage, cla: yes

#1512 Add configuration parameters to install locks.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/curl_wrappers.h
  google/cloud/storage/internal/curl_wrappers_locking_already_present_test.cc
  google/cloud/storage/internal/curl_wrappers_locking_disabled_test.cc
  google/cloud/storage/internal/curl_wrappers_locking_enabled_test.cc
  google/cloud/storage/storage_client_options_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1514 Implement curl-based ResumableUploadSession.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session.h
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1517 Use WithObjectMetadata in CopyObject().
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1519 Use WithObjectMetadata in ComposeObject().
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1518 Use WithObjectMedata in RewriteObject.
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1530 Implement the UserIp option.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: api: storage, cla: yes

#1545 Fix merge / build problems.
  google/cloud/storage/internal/object_requests.h
Labels: api: storage, cla: yes, type: bug

#1540 Implement LoggingResumableUploadSession.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/logging_resumable_upload_session.cc
  google/cloud/storage/internal/logging_resumable_upload_session.h
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1541 Implement RetryResumableUploadSession.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/retry_resumable_upload_session.cc
  google/cloud/storage/internal/retry_resumable_upload_session.h
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1539 Introduce AsyncLoopOp.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/internal/async_loop_op.h
  google/cloud/bigtable/internal/async_op_traits.h
  google/cloud/bigtable/internal/async_poll_op.h
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_op_test.cc
  google/cloud/bigtable/internal/table_async_apply_test.cc
Labels: api: bigtable, cla: yes

#1547 Fix std::abort() call.
  google/cloud/bigtable/internal/grpc_error_delegate.cc
Labels: api: bigtable, cla: yes

#1546 Remove an empty unit test.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#1542 Implement resumable upload sessions in CurlClient.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage, cla: yes

#1548 Remove obsolete TODOs.
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
  google/cloud/internal/retry_policy_test.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/list_objects_reader.cc
Labels: cla: yes, type: cleanup

#1552 Improve code coverage in CurlClient tests.
  google/cloud/storage/internal/curl_client_test.cc
Labels: api: storage, cla: yes

#1549 Refactor WriteObject() for simple uploads.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
Labels: api: storage, cla: yes

#1561 Do not use constexpr in byte swapping functions.
  google/cloud/internal/big_endian.h
Labels: cla: yes, type: bug

#1560 Add missing header file.
  google/cloud/internal/getenv.cc
Labels: cla: yes, type: bug

#1555 Implement AsyncListClusters.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/async_list_clusters.h
  google/cloud/bigtable/internal/async_list_clusters_test.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1550 Use resumable uploads for large files.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/logging_resumable_upload_session.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1563 Fix flaky test.
  google/cloud/storage/examples/run_examples_utils.sh
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/run_integration_tests_production.sh
Labels: api: storage, cla: yes
