Repository googleapis/google-cloud-cpp, pull requests merged in 2019-05, with the labels that each got.

#2581 Implement bigtable_get_or_create_table example.
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable, cla: yes

#2585 Remove polling loops from samples with future.
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
Labels: api: bigtable, cla: yes

#2587 Implement bigtable_check_table_exists example.
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable, cla: yes

#2588 Implement bigtable_create_replicated_cluster example.
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_config.h
Labels: api: bigtable, cla: yes

#2586 Need 'ignore_warnings' to actually delete an AppProfile.
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: storage, cla: yes

#2591 Fix the admin tests and examples to run against production.
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
  google/cloud/bigtable/examples/run_admin_examples_production.sh
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_production.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/tests/admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/admin_async_integration_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
  google/cloud/bigtable/tests/run_admin_integration_tests_production.sh
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: api: bigtable, cla: yes

#2592 Support running the admin tests and examples in a nightly build.
  ci/kokoro/ubuntu/build.sh
  ci/kokoro/ubuntu/nightly.cfg
Labels: api: bigtable, cla: yes

#2593 Remove google/cloud/spanner.
  google/cloud/CMakeLists.txt
  google/cloud/spanner/BUILD
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/README.md
  google/cloud/spanner/config.cmake.in
  google/cloud/spanner/spanner_client.bzl
  google/cloud/spanner/spanner_client_unit_tests.bzl
  google/cloud/spanner/spanner_client_version.bzl
  google/cloud/spanner/spanner_tool.cc
  google/cloud/spanner/spanner_version_test.cc
  google/cloud/spanner/version.cc
  google/cloud/spanner/version.h
  google/cloud/spanner/version_info.h.in
Labels: cla: yes, type: cleanup

#2596 Update documentation for top-level classes.
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes, type: docs

#2608 Adding delete table region tag for hello world
  google/cloud/bigtable/examples/bigtable_hello_world.cc
Labels: cla: yes

#2607 Fix typo on check-abi.sh script.
  ci/check-abi.sh
Labels: cla: yes

#2606 Remove bigtable::GrpcError.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/grpc_error.cc
  google/cloud/bigtable/grpc_error.h
  google/cloud/bigtable/grpc_error_test.cc
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/grpc_error_delegate.cc
  google/cloud/bigtable/internal/grpc_error_delegate_test.cc
  google/cloud/bigtable/internal/table_admin_test.cc
  google/cloud/bigtable/mutation_batcher_test.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
Labels: api: bigtable, cla: yes

#2605 Cleanup the Doxygen documentation.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/cluster_list_responses.h
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/table_admin_async_snippets.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/filters.h
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/instance_list_responses.h
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/polling_policy.h
  google/cloud/bigtable/row_key_sample.h
  google/cloud/bigtable/rpc_retry_policy.h
  google/cloud/bigtable/version.h
  google/cloud/storage/CMakeLists.txt
Labels: api: bigtable, cla: yes, type: docs

#2612 Improve error messages in integration test.
  google/cloud/bigtable/tests/admin_integration_test.cc
Labels: api: bigtable, cla: yes

#2613 Remove namespace aliases from header files.
  google/cloud/bigtable/internal/async_list_app_profiles.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: cla: yes, type: cleanup

#2611 Implement missing example for CheckAndMutate.
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/table.h
Labels: api: bigtable, cla: yes

#2614 Fix broken links and link INSTALL.md directly.
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-quickstart.dox
  google/cloud/storage/doc/storage-main.dox
Labels: cla: yes

#2615 Create aliases for table schema view constants.
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/table_admin_async_snippets.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#2610 Use explicit return types in instance_admin_async_snippets.cc
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
Labels: cla: yes

#2616 Use explicit return types in bigtable_instance_admin_snippets.cc.
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
Labels: api: bigtable, cla: yes

#2618 Use explicit return type in data_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
Labels: api: bigtable, cla: yes

#2620 Copy permissions only when needed.
  ci/check-style.sh
Labels: cla: yes, type: cleanup

#2619 Explicit return types in data_async_snippets.cc
  google/cloud/bigtable/examples/data_async_snippets.cc
Labels: cla: yes

#2621 Use explicit return types in table_admin_async_snippets.
  google/cloud/bigtable/examples/table_admin_async_snippets.cc
Labels: api: bigtable, cla: yes

#2623 Explicit return types in quickstart and hello world.
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_world.cc
  google/cloud/bigtable/examples/bigtable_quickstart.cc
Labels: api: bigtable, cla: yes

#2622 Use explicit return types in table_admin_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable, cla: yes

#2625 Consolidate region tags to one program.
  google/cloud/bigtable/examples/bigtable_samples.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable, cla: yes

#2628 Consolidate InstanceAdmin snippets to one file.
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/bigtable_samples_instance_admin.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: api: bigtable, cla: yes

#2629 Make the instance_admin_async_snippet consistent.
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
Labels: api: bigtable, cla: yes, type: docs

#2630 Another pass fixing nits.
  google/cloud/storage/doc/storage-main.dox
Labels: cla: yes

#2631 Rename hello-world-type examples.
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/run_admin_examples_production.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: cla: yes

#2633 Simplify the bigtable_hello_*_admin examples.
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
Labels: api: bigtable, cla: yes

#2627 0.9.0 release notes [skip ci]
  google/cloud/README.md
  google/cloud/bigtable/README.md
  google/cloud/storage/README.md
Labels: cla: yes

#2636 Bump version numbers in master for next release
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/storage_client_version.bzl
Labels: cla: yes

#2637 Fix doxygen page for Hello World example.
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/examples/bigtable_hello_world.cc
Labels: cla: yes

#2642 Add missing quotes in shell snippets.
  doc/cutting-a-release.md
Labels: cla: yes

#2641 Remove noex::InstanceAdmin.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/internal/async_list_app_profiles.h
  google/cloud/bigtable/internal/async_list_app_profiles_test.cc
  google/cloud/bigtable/internal/async_list_clusters.h
  google/cloud/bigtable/internal/async_list_clusters_test.cc
  google/cloud/bigtable/internal/async_list_instances.h
  google/cloud/bigtable/internal/async_list_instances_test.cc
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/instance_admin_test.cc
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/run_admin_integration_tests_production.sh
Labels: cla: yes

#2644 Fix nits in storage-main.dox.
  google/cloud/storage/doc/storage-main.dox
Labels: cla: yes

#2645 Doxygen comments for TableView constants.
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#2638 Fix doxygen page for Hello Table Admin example.
  google/cloud/bigtable/doc/bigtable-hello-table-admin.dox
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-samples.dox
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
Labels: cla: yes

#2643 Reorganize Doxygen landing page for bigtable.
  google/cloud/bigtable/doc/bigtable-main.dox
Labels: cla: yes

#2639 Fix doxygen page for Hello Instance Admin example.
  google/cloud/bigtable/doc/bigtable-hello-instance-admin.dox
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-samples-instance-admin.dox
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
Labels: api: bigtable, cla: yes

#2648 Cleanup the advanced read/write examples.
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
Labels: api: bigtable, cla: yes

#2647 Fix nits in bigtable-quickstart.dox.
  google/cloud/bigtable/doc/bigtable-quickstart.dox
Labels: api: bigtable, cla: yes

#2646 Remove noex::TableAdmin.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/async_check_consistency_test.cc
  google/cloud/bigtable/internal/async_longrunning_op_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll_test.cc
  google/cloud/bigtable/internal/table_admin.cc
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/internal/table_admin_test.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/admin_async_integration_test.cc
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/run_admin_integration_tests_production.sh
Labels: api: bigtable, cla: yes

#2649 fix!: Return type for WaitForConsistencyCheck.
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
Labels: api: bigtable, cla: yes

#2650 fix!: Inconsistent return type in AsyncCheckAndMutateRow.
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable, cla: yes

#2652 cleanup!: Remove template parameter in SampleRows.
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_sample_row_keys_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable, cla: yes

#2632 Use correct user-agent for internal analytics.
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/metadata_update_policy.cc
  google/cloud/bigtable/metadata_update_policy.h
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/internal/build_info.cc.in
  google/cloud/internal/build_info.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/version.cc
  google/cloud/storage/version.h
Labels: :rotating_light:, cla: yes

#2565 Implement MutationBatcher without using noex::Table.
  google/cloud/bigtable/mutation_batcher.cc
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/mutation_batcher_test.cc
  google/cloud/bigtable/tests/admin_async_future_integration_test.cc
Labels: :rotating_light:, api: bigtable, cla: yes

#2666 Fix support for empty chunks in resumable upload.
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#2665 Remove noex::Table.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_longrunning_op_test.cc
  google/cloud/bigtable/internal/async_poll_op_test.cc
  google/cloud/bigtable/internal/async_read_row_operation.h
  google/cloud/bigtable/internal/async_retry_multi_page_test.cc
  google/cloud/bigtable/internal/async_retry_op_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll_test.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_sample_row_keys.cc
  google/cloud/bigtable/internal/async_sample_row_keys.h
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/table.cc
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_apply_test.cc
  google/cloud/bigtable/internal/table_async_bulk_apply_test.cc
  google/cloud/bigtable/internal/table_async_check_and_mutate_row_test.cc
  google/cloud/bigtable/internal/table_async_row_reader_test.cc
  google/cloud/bigtable/internal/table_async_sample_row_keys_test.cc
  google/cloud/bigtable/internal/table_test.cc
  google/cloud/bigtable/mutation_batcher.cc
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/testing/internal_table_test_fixture.cc
  google/cloud/bigtable/testing/internal_table_test_fixture.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/data_async_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_production.sh
Labels: api: bigtable, cla: yes

#2661 Refactor common code in storage/benchmarks.
  google/cloud/storage/benchmarks/BUILD
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/benchmark_make_random_test.cc
  google/cloud/storage/benchmarks/benchmark_parser_test.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
  google/cloud/storage/benchmarks/storage_benchmarks.bzl
  google/cloud/storage/benchmarks/storage_benchmarks_unit_tests.bzl
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
Labels: api: storage, cla: yes

#2669 Fix openSuSE build.
  INSTALL.md
  README.md
  ci/test-readme/Dockerfile.opensuse
  ci/test-readme/dockerfile2markdown.sh
Labels: cla: yes

#2670 `future<>::then()` doesn't destroy l-value refs.
  google/cloud/future_generic_then_test.cc
  google/cloud/future_void_then_test.cc
  google/cloud/internal/future_then_impl.h
Labels: cla: yes

#2668 Send larger chunks is CurlResumableStreambuf.
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/curl_resumable_streambuf_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#2672 cleanup!: Remove CompletionQueue functions using grpc::Status.
  google/cloud/bigtable/completion_queue.h
  google/cloud/bigtable/completion_queue_test.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
Labels: api: bigtable, cla: yes

#2675 Fix status of storage library in issue template.
  .github/issue_template.md
Labels: cla: yes

#2671 Refactor command-line parsing for benchmarks.
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/benchmark_parse_args_test.cc
  google/cloud/storage/benchmarks/benchmark_parser_test.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/run_benchmarks_testbench.sh
  google/cloud/storage/benchmarks/storage_benchmarks_unit_tests.bzl
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
Labels: api: storage, cla: yes

#2677 Fix documentation for GOOGLE_CLOUD_CPP_DEPENDENCY_PROVIDER.
  CMakeLists.txt
Labels: cla: yes, type: cleanup

#2678 Implement TableAdmin::AsyncWaitForConsistency.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client.bzl
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/examples/table_admin_async_snippets.cc
  google/cloud/bigtable/internal/async_check_consistency.h
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/tests/admin_async_future_integration_test.cc
Labels: cla: yes

#2680 cleanup!: Use google::cloud::future.
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
Labels: cla: yes

#2679 Remove substring after space in language_version.
  google/cloud/CMakeLists.txt
  google/cloud/bigtable/client_options.cc
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/build_info.cc.in
  google/cloud/internal/build_info_test.cc
  google/cloud/storage/internal/curl_request_builder.cc
Labels: cla: yes

#2681 cleanup: Fix install checks for storage library.
  google/cloud/storage/CMakeLists.txt
Labels: api: storage, cla: yes

#2684 cleanup: Enable unit test for WriteObject.
  google/cloud/storage/internal/curl_client_test.cc
Labels: cla: yes, type: cleanup

#2682 Enable API/ABI checks for bigtable.
  ci/check-abi.sh
  ci/test-abi/bigtable_client.expected.abi.dump.gz
Labels: cla: yes

#2686 cleanup: Refactor CreateHashValidator factory functions.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_test.cc
Labels: api: storage, cla: yes

#2687 Update to Fedora 30.
  INSTALL.md
  README.md
  ci/kokoro/docker/build.sh
  ci/test-readme/Dockerfile.fedora
  ci/test-readme/generate-install.sh
  ci/test-readme/generate-readme.sh
  ci/travis/Dockerfile.fedora
Labels: cla: yes, type: cleanup

#2692 cleanup!: DeleteAppProfile defaults to `ignore_warnings=true`.
  google/cloud/bigtable/instance_admin.h
Labels: api: bigtable, cla: yes

#2688 bug: Remove CURL* handle from multi-handle on errors.
  ci/test-abi/storage_client.expected.abi.dump.gz
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/tests/slow_reader_integration_test.cc
Labels: api: storage, cla: yes

#2690 feature: Implement option to read from an offset.
  google/cloud/storage/client.h
  google/cloud/storage/download_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes

#2691 bug: Service account credentials not refreshing properly.
  ci/test-abi/storage_client.expected.abi.dump.gz
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/openssl_util_test.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.cc
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, cla: yes

#2693 feature: Automatically restart downloads on error.
  ci/test-abi/storage_client.expected.abi.dump.gz
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_impl.cc
  google/cloud/storage/internal/hash_validator_impl.h
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/object_read_source.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_streambuf.cc
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/internal/object_streambuf_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/slow_reader_integration_test.cc
Labels: cla: yes

#2694 Fix missing include reported internally by iwyu.
  google/cloud/bigtable/instance_admin.cc
Labels: api: bigtable, cla: yes, type: cleanup

#2695 A throughput vs. CPU benchmark.
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/run_benchmarks_testbench.sh
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
Labels: cla: yes

#2696 Implement a benchmark for {Upload,Download}File().
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/run_benchmarks_testbench.sh
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
  google/cloud/storage/benchmarks/storage_file_transfer_benchmark.cc
Labels: api: storage, cla: yes

#2699 Return an enum from Table::CheckAndMutateRow.
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable, cla: yes

#2700 Document bigtable::Consistency enum and its values.
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable, cla: yes

#2698 bug: Fix build for macOS+CMake.
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
Labels: api: storage, cla: yes

#2702 chore(bigtable): Remove some "namespace noex" remnants
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/unary_client_utils.h
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_admin.cc
Labels: cla: yes

#2703 chore(storage): Remove remnant curl_streambuf.h header
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/storage_client.bzl
Labels: cla: yes

#2707 Fix TODO references.
  google/cloud/bigtable/rpc_backoff_policy.h
  google/cloud/bigtable/rpc_retry_policy.h
Labels: api: bigtable, cla: yes, type: cleanup

#2708 cleanup: Remove more async support classes.
  google/cloud/bigtable/internal/async_retry_multi_page.h
  google/cloud/bigtable/internal/async_retry_op.h
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll.h
Labels: api: bigtable, cla: yes, type: cleanup

#2716 Fixes bug caused by moving from a forward reference
  google/cloud/optional.h
  google/cloud/optional_test.cc
Labels: cla: yes

#2705 Add location_type field to BucketMetadata
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests_test.cc
Labels: cla: yes

#2718 Update INSTALL.md Bazel instructions to include strip_prefix paramete…
  INSTALL.md
Labels: cla: yes
