Repository googleapis/google-cloud-cpp, pull requests merged in 2019-01, with the labels that each got.

#1750 Non throwing object read stream
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes

#1749 Non throwing object write stream
  ci/test-install/storage_install_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/curl_resumable_streambuf.h
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/internal/object_streambuf.cc
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/curl_resumable_streambuf_integration_test.cc
  google/cloud/storage/tests/curl_streambuf_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage, cla: yes

#1756 Remove unused header file.
  google/cloud/bigtable/async_instance_data.h
Labels: api: bigtable, cla: yes

#1751 Simplify the TEST_INSTALL builds.
  .travis.yml
  ci/travis/Dockerfile.ubuntu-install
  ci/travis/build-docker.sh
  ci/travis/build-linux.sh
Labels: cla: yes, type: process

#1757 Support non-standard location for protobuf.
  google/cloud/bigtable/CMakeLists.txt
Labels: api: bigtable, cla: yes

#1760 Bump version numbers in development branch.
  ci/test-install/CMakeLists.txt
  doc/cutting-a-release.md
  google/cloud/CMakeLists.txt
  google/cloud/README.md
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/README.md
  google/cloud/bigtable/bigtable_client_version.bzl
  google/cloud/bigtable/config.cmake.in
  google/cloud/google_cloud_cpp_common_version.bzl
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/README.md
  google/cloud/storage/config.cmake.in
  google/cloud/storage/storage_client_version.bzl
Labels: cla: yes

#1716 Idempotency policies for conditional mutations.
  google/cloud/bigtable/idempotent_mutation_policy.cc
  google/cloud/bigtable/idempotent_mutation_policy.h
  google/cloud/bigtable/internal/table.cc
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/internal/table_async_check_and_mutate_row_test.cc
  google/cloud/bigtable/internal/table_test.cc
Labels: api: bigtable, cla: yes

#1765 Fix ambiguous error when compiling with libc++
  google/cloud/storage/bucket_metadata.cc
Labels: cla: yes

#1770 Fix parameter order in call to AsyncCheckAndMutateRow
  google/cloud/bigtable/internal/table_async_check_and_mutate_row_test.cc
Labels: cla: yes

#1772 Fix some targets missing dependency on common_options
  google/cloud/CMakeLists.txt
  google/cloud/firestore/CMakeLists.txt
  google/cloud/firestore/field_path.cc
Labels: cla: yes

#1767 Bigtable: Implementation of AsyncListInstances function
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
Labels: api: bigtable, cla: yes

#1776 Fixed unitialized member variable.
  google/cloud/storage/internal/object_requests_test.cc
Labels: cla: yes

#1777 Fix resource leak in test.
  google/cloud/internal/filesystem_test.cc
Labels: cla: yes

#1778 Do not ignore std::remove() return error.
  google/cloud/internal/filesystem_test.cc
Labels: cla: yes

#1780 Pass chosen compilers to external projects
  cmake/external/c-ares.cmake
  cmake/external/crc32c.cmake
  cmake/external/curl.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: cla: yes

#1783 Fixed typo: syncing [skip ci]
  CONTRIBUTING.md
Labels: cla: yes

#1779 Check pointer for nullptr before first use.
  google/cloud/bigtable/table_admin_test.cc
Labels: cla: yes

#1781 Fix unitialized member variable.
  google/cloud/storage/internal/curl_upload_request.cc
Labels: cla: yes

#1782 Initialize member variable.
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: cla: yes

#1784 Do not ignore failures in std::remove().
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes

#1785 Correctly check std::string::find result.
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes

#1786 Check the return value from mkfifo().
  google/cloud/internal/filesystem_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes

#1787 Silence Coverity Scan error.
  google/cloud/bigtable/internal/async_retry_multi_page_test.cc
Labels: cla: yes

#1774 Separate Docker build output directories.
  .travis.yml
  ci/travis/build-linux.sh
  ci/travis/linux-config.sh
Labels: cla: yes, type: process

#1775 A script to compile with Coverity Scan.
  ci/coverity-scan.sh
Labels: cla: yes, type: process

#1789 A better recommendation for a local build.
  CONTRIBUTING.md
Labels: cla: yes

#1742 implementing AsyncReadRow to read single row asynchronously
  google/cloud/bigtable/internal/async_read_row_operation.h
  google/cloud/bigtable/internal/table.h
  google/cloud/bigtable/tests/data_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1793 Automatically upload Coverity Scan results [skip ci].
  ci/coverity-scan.sh
Labels: cla: yes, type: process

#1771 Create a build with libc++ on Linux
  .travis.yml
  CMakeLists.txt
  ci/travis/Dockerfile.fedora
  ci/travis/build-docker.sh
  ci/travis/build-linux.sh
  cmake/GoogleCloudCppCommon.cmake
  cmake/external/crc32c.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
  google/cloud/bigtable/CMakeLists.txt
Labels: cla: yes, type: process

#1801 Workaround Travis CI build time problems.
  CMakeLists.txt
  ci/coverity-scan.sh
  ci/travis/build-docker.sh
  cmake/external/c-ares.cmake
  cmake/external/crc32c.cmake
  cmake/external/curl.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
  google/cloud/bigtable/CMakeLists.txt
Labels: cla: yes, type: process

#1794 Fix dead code warning in Coverity Scan.
  google/cloud/storage/internal/parse_rfc3339_test.cc
Labels: cla: yes

#1795 Removal of google::protobuf::Empty as a Response from Async APIs.
  google/cloud/bigtable/internal/async_retry_unary_rpc.h
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/internal/table_admin.h
  google/cloud/bigtable/tests/admin_async_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
  google/cloud/bigtable/tests/snapshot_async_integration_test.cc
Labels: cla: yes

#1796 Fix error handling in curl_multi_wait().
  google/cloud/storage/internal/curl_download_request.cc
Labels: api: storage, cla: yes

#1798 Tweak coverity scan fixes.
  google/cloud/internal/filesystem_test.cc
Labels: cla: yes

#1803 Initialize pointer value to something.
  google/cloud/bigtable/internal/completion_queue_impl.h
Labels: api: bigtable, cla: yes

#1804 Proposed error-reporting ADR
  doc/adr/2019-01-04-error-reporting-with-statusor.md
  doc/cpp-style-guide.md
  doc/no-exception-support.md
Labels: cla: yes

#1812 Do not fill up the log with codecov.io noise.
  ci/travis/upload-codecov.sh
Labels: cla: yes, type: process

#1792 Change *Notification() functions to return StatusOr.
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/testing/retry_tests.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1799 Implement Client::ListObjects with StatusOr
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1810 Move Status and StatusOr to google/cloud.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/throw_delegate.cc
  google/cloud/internal/throw_delegate.h
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/status.cc
  google/cloud/status.h
  google/cloud/status_or.h
  google/cloud/status_or_test.cc
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/object_streambuf.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/resumable_upload_session.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/throw_status_delegate.h
  google/cloud/storage/internal/throw_status_delegate_test.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_stream.h
  google/cloud/storage/retry_policy.h
  google/cloud/storage/service_account.h
  google/cloud/storage/status.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/canonical_errors.h
Labels: api: storage, cla: yes

#1814 Rename StatusCode enum values to kPascalCase style.
  google/cloud/status.h
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/internal/access_control_common.cc
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/notification_requests.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/list_objects_reader.cc
  google/cloud/storage/notification_metadata.cc
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/service_account.cc
Labels: api: storage, cla: yes

#1818 Use installer script for Bazel.
  ci/kokoro/macos/build.sh
Labels: cla: yes, type: process

#1820 Add functions to convert StatusCode to string.
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/status.cc
  google/cloud/status.h
  google/cloud/status_or_test.cc
  google/cloud/status_test.cc
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1815 Do not throw an exception from ~RowReader().
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable, cla: yes

#1821 Update instructions for Windows [skip ci].
  README.md
Labels: cla: yes, type: feature request

#1822 Fix warnings in Coverity Scan.
  google/cloud/bigtable/row_range.cc
Labels: api: bigtable, cla: yes

#1816 Write function to map GCS HTTP codes to StatusCode.
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response.h
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage, cla: yes

#1825 Convert RewriteObject functions to use StatusOr.
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_rewriter.h
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1817 Return StatusOr from Client::*DefaultObjectAcl().
  google/cloud/storage/client.h
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1828 Style guide updates
  doc/cpp-style-guide.md
Labels: cla: yes

#1832 Missed this change from the review.
  google/cloud/storage/object_rewriter.h
Labels: api: storage, cla: yes

#1823 Set RPATH for external projects
  ci/travis/build-docker.sh
  cmake/external/curl.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
Labels: cla: yes

#1831 Fix handling of 308 responses.
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage, cla: yes

#1826 Only use StatusCode values in Status.
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/status.h
  google/cloud/status_or.h
  google/cloud/status_or_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/internal/curl_streambuf.cc
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response_test.cc
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_resumable_upload_session.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/object_stream.cc
  google/cloud/storage/retry_policy.h
  google/cloud/storage/retry_policy_test.cc
  google/cloud/storage/testing/canonical_errors.h
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage, cla: yes

#1835 Use StatusOr in Client::*BucketAcl() functions.
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1830 Use StatusOr in Client::InsertObject.
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage, cla: yes

#1834 Use StatusOr in Client::CreateBucket.
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_quickstart.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage, cla: yes

#1837 Rename internal::Raise* to internal::Throw*
  google/cloud/bigtable/benchmarks/setup.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/internal/completion_queue_impl.cc
  google/cloud/bigtable/internal/completion_queue_impl.h
  google/cloud/bigtable/internal/endian.cc
  google/cloud/bigtable/internal/grpc_error_delegate.cc
  google/cloud/bigtable/internal/grpc_error_delegate.h
  google/cloud/bigtable/internal/grpc_error_delegate_test.cc
  google/cloud/bigtable/internal/readrowsparser_test.cc
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/testing/table_test_fixture.cc
  google/cloud/future_generic.h
  google/cloud/future_generic_then_test.cc
  google/cloud/future_void.h
  google/cloud/future_void_then_test.cc
  google/cloud/internal/backoff_policy.h
  google/cloud/internal/filesystem.cc
  google/cloud/internal/future_base.h
  google/cloud/internal/future_impl.cc
  google/cloud/internal/future_impl.h
  google/cloud/internal/throw_delegate.cc
  google/cloud/internal/throw_delegate.h
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/optional.h
  google/cloud/status_or.h
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_streambuf.h
  google/cloud/storage/internal/curl_upload_request.cc
  google/cloud/storage/internal/curl_upload_request.h
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/parse_rfc3339.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/oauth2/authorized_user_credentials.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
Labels: cla: yes

#1836 Use StatusOr in several Client::*Bucket operations.
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage, cla: yes

#1840 grammar
  README.md
Labels: cla: yes

#1802 Increase default message length limit
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable, cla: yes

#1842 Simplify Status class.
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/status.h
  google/cloud/status_or_test.cc
  google/cloud/storage/client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_resumable_streambuf.cc
  google/cloud/storage/internal/http_response_test.cc
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/retry_policy.h
  google/cloud/storage/testing/retry_tests.h
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#1841 Return StatusOr<void> from Client::DeleteObject.
  ci/test-install/storage_install_test.cc
  google/cloud/storage/benchmarks/storage_latency_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_benchmark.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/curl_resumable_streambuf_integration_test.cc
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage, cla: yes

#1845 Change StatusCode to a enum class.
  google/cloud/internal/throw_delegate_test.cc
  google/cloud/status.cc
  google/cloud/status.h
  google/cloud/storage/internal/curl_client_test.cc
Labels: api: storage, cla: yes

#1846 Change Bucket IAM functions to return StatusOr.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1850 Rename BucketOnlyPolicy to BucketPolicyOnly.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/testbench/gcs_bucket.py
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1851 Use StatusOr for more Client::*Object functions.
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1852 Use StatusOr in Client::GetServiceAccount.
  google/cloud/storage/client.h
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/tests/service_account_integration_test.cc
Labels: api: storage, cla: yes

#1855 Return StatusOr from Client::CopyObject.
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#1854 Use StatusOr for ListBuckets.
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/list_buckets_reader.cc
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1853 Use StatusOr for Client::LockBucketRetentionPolicy.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1857 Use StatusOr in Client::ComposeObject.
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/object_integration_test.cc
Labels: cla: yes

#1858 Use StatusOr in Client::CreateV2SignedUrl.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1856 Use StatusOr in Client::UploadFile.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1860 Use StatusOr in Client::DownloadFile.
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage, cla: yes

#1824 Implementation of AsyncListClusters functions
  google/cloud/bigtable/examples/instance_admin_async_snippets.cc
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/tests/instance_admin_async_future_integration_test.cc
Labels: api: bigtable, cla: yes

#1862 Refactor object integration tests to smaller files.
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_rewrite_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage, cla: yes

#1863 Add new integration tests to driver scripts.
  google/cloud/storage/tests/run_integration_tests_production.sh
  google/cloud/storage/tests/run_integration_tests_testbench.sh
Labels: api: storage, cla: yes

#1843 implementation of noex::InstanceAdmin:AsyncGetIamPolicy
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/instance_admin.cc
  google/cloud/bigtable/internal/instance_admin.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
  google/cloud/bigtable/tests/instance_admin_async_integration_test.cc
Labels: api: bigtable, cla: yes

#1864 Cleanup BucketAccessControl public interface.
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_access_control_test.cc
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
Labels: api: storage, cla: yes

#1869 Cleanup ObjectMetadata public interface.
  google/cloud/storage/client.cc
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_stream.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
Labels: api: storage, cla: yes

#1870 Cleanup NotificationMetadata public interface.
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/notification_requests.cc
  google/cloud/storage/internal/notification_requests.h
  google/cloud/storage/internal/notification_requests_test.cc
  google/cloud/storage/notification_metadata.cc
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/notification_metadata_test.cc
Labels: api: storage, cla: yes

#1871 Cleanup ObjectAccessControl public interface.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_access_control_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata_test.cc
Labels: api: storage, cla: yes

#1867 [Storage] Fix region tags
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1876 Re-added "Include Order" section to the style guide
  doc/cpp-style-guide.md
Labels: cla: yes

#1877 Cleanup BucketMetadata public interface.
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/logging_client_test.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/lifecycle_rule_test.cc
  google/cloud/storage/list_buckets_reader_test.cc
Labels: api: storage, cla: yes

#1882 Cleanup: Changes member relational operators to non-member binary operators
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/service_account.h
Labels: cla: yes

#1872 Implementation of bigtable::Table::AsyncBulkApply function
  google/cloud/bigtable/examples/BUILD
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/run_examples_emulator.sh
  google/cloud/bigtable/examples/run_examples_utils.sh
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/tests/CMakeLists.txt
  google/cloud/bigtable/tests/bigtable_client_integration_tests.bzl
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
  google/cloud/bigtable/tests/run_integration_tests_emulator.sh
Labels: api: bigtable, cla: yes, kokoro:run

#1874 Update googletest
  ci/travis/Dockerfile.ubuntu-install
  cmake/external/googletest.cmake
Labels: cla: yes

#1890 using move constructor for Row
  google/cloud/bigtable/internal/table.h
Labels: api: bigtable, cla: yes, type: cleanup

#1891 Replace GoogleCloudPlatform -> googleapis.
  .travis.yml
  CMakeLists.txt
  CONTRIBUTING.md
  README.md
  WORKSPACE
  bazel/google_cloud_cpp_deps.bzl
  ci/coverity-scan.sh
  ci/test-install/BUILD
  ci/test-install/WORKSPACE
  ci/test-readme/Dockerfile.centos
  ci/test-readme/Dockerfile.debian
  ci/test-readme/Dockerfile.fedora
  ci/test-readme/Dockerfile.opensuse
  ci/test-readme/Dockerfile.ubuntu
  ci/test-readme/Dockerfile.ubuntu-trusty
  doc/adr/2018-10-30-storage-metadata-fields-and-optional.md
  doc/adr/2019-01-04-error-reporting-with-statusor.md
  doc/cutting-a-release.md
  doc/landing/README.md
  doc/landing/index.html
  doc/landing/version-redirect.html
  google/cloud/README.md
  google/cloud/bigtable/README.md
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-quickstart.dox
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
  google/cloud/bigtable/doc/bigtable-samples-instance-admin.dox
  google/cloud/bigtable/doc/bigtable-samples.dox
  google/cloud/bigtable/internal/async_check_consistency.h
  google/cloud/bigtable/tools/convert_acceptance_tests.py
  google/cloud/firestore/README.md
  google/cloud/storage/README.md
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/internal/parse_rfc3339_test.cc
  google/cloud/storage/well_known_headers.h
Labels: cla: yes, type: cleanup

#1885 Disable `make install` for external projects.
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/storage/CMakeLists.txt
Labels: cla: yes, type: process

#1895 Fix documentation problems.
  cmake/GoogleCloudCppCommon.cmake
  google/cloud/storage/client.h
Labels: api: storage, cla: yes, type: docs

#1896 Update googletest for Bazel
  bazel/google_cloud_cpp_deps.bzl
Labels: cla: yes, kokoro:run, type: cleanup

#1897 Also publish google_cloud_cpp_common docs.
  ci/travis/upload-docs.sh
Labels: cla: yes, type: docs

#1880 Bulk mutator fixes
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/mutations.h
  google/cloud/bigtable/mutations_test.cc
Labels: api: bigtable, cla: yes

#1902 Don't throw exception inside ListBuckets()
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: cla: yes

#1892 Updated StatusOr header docs to contain more best practices
  google/cloud/status_or.h
Labels: cla: yes

#1898 Additional documentation fixes.
  google/cloud/storage/client.h
Labels: cla: yes, type: docs

#1903 Update the instructions to capture checksums. [skip ci]
  doc/cutting-a-release.md
Labels: cla: yes, type: process

#1906 Fix the Doxygen documentation.
  google/cloud/status_or.h
Labels: api: storage, cla: yes

#1907 Fix the formatting and naming in examples.
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, cla: yes

#1901 LockBucketRetentionPolicy returns a BucketMetadata.
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testbench/testbench.py
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#1899 Improve storage landing page.
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/examples/storage_quickstart.cc
Labels: cla: yes, type: docs

#1913 Treat 502s as retryable errors.
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage, cla: yes
