Repository googleapis/google-cloud-cpp, pull requests merged in 2020-11, with the labels that each got.

#5383 doc(pubsub): fix documentation nits
  ci/generate-markdown/generate-pubsub-readme.sh
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/README.md
  google/cloud/pubsub/ack_handler.h
  google/cloud/pubsub/doc/publisher-mock.dox
  google/cloud/pubsub/doc/subscriber-mock.dox
  google/cloud/pubsub/message.h
  google/cloud/pubsub/publisher.h
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/snapshot.h
  google/cloud/pubsub/subscriber.h
  google/cloud/pubsub/subscriber_connection.h
  google/cloud/pubsub/subscriber_options.h
  google/cloud/pubsub/subscription_admin_client.h
  google/cloud/pubsub/subscription_admin_connection.h
  google/cloud/pubsub/topic_admin_client.h
  google/cloud/pubsub/topic_admin_connection.h
Labels: api: pubsub, cla: yes

#5384 test(storage): add resumable and copy/compose
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/__init__.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/requirements.txt
  google/cloud/storage/emulator/rest_server.py
  google/cloud/storage/emulator/utils/acl.py
  google/cloud/storage/emulator/utils/common.py
Labels: api: storage, cla: yes

#5385 cleanup: more consistent cmake-format directives
  google/cloud/CMakeLists.txt
  google/cloud/pubsub/benchmarks/CMakeLists.txt
  google/cloud/pubsub/integration_tests/CMakeLists.txt
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/benchmarks/CMakeLists.txt
  google/cloud/spanner/integration_tests/CMakeLists.txt
  google/cloud/spanner/samples/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
Labels: cla: yes

#5386 cleanup(pubsub)!: remove AckHandler::ack_id()
  CHANGELOG.md
  ci/test-abi/pubsub_client.expected.abi.dump.gz
  google/cloud/pubsub/ack_handler.h
  google/cloud/pubsub/ack_handler_test.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: cla: yes

#5389 cleanup(pubsub)!: remove concurrency watermarks
  CHANGELOG.md
  ci/test-abi/pubsub_client.expected.abi.dump.gz
  google/cloud/pubsub/benchmarks/throughput.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscriber_options.cc
  google/cloud/pubsub/subscriber_options.h
  google/cloud/pubsub/subscriber_options_test.cc
Labels: cla: yes

#5391 feat(pubsub): split logging streaming RPCS
  google/cloud/pubsub/internal/subscriber_logging.cc
  google/cloud/pubsub/internal/subscriber_logging.h
  google/cloud/pubsub/internal/subscriber_logging_test.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection_test.cc
  google/cloud/pubsub/subscription_admin_connection.cc
Labels: cla: yes

#5393 doc: minor fixes to packaging instructions
  ci/generate-markdown/dockerfile2markdown.sh
  ci/generate-markdown/generate-packaging.sh
  doc/packaging.md
Labels: cla: yes

#5396 chore: november release notes and ABI update
  CHANGELOG.md
Labels: cla: yes

#5397 refactor(generator): service generator access refactor
  generator/internal/connection_generator.cc
  generator/internal/connection_options_generator.cc
  generator/internal/idempotency_policy_generator.cc
  generator/internal/logging_decorator_generator.cc
  generator/internal/metadata_decorator_generator.cc
  generator/internal/retry_policy_generator.cc
  generator/internal/service_code_generator.cc
  generator/internal/service_code_generator.h
  generator/internal/stub_factory_generator.cc
  generator/internal/stub_generator.cc
Labels: cla: yes

#5394 docs: document Bigtable thread safety
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_admin.h
Labels: cla: yes

#5395 test(spanner): deflake benchmark database creation
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/benchmarks/single_row_throughput_benchmark.cc
Labels: api: spanner, cla: yes

#5400 doc(release): update release instructions
  release/README.md
Labels: cla: yes

#5399 chore: bump version numbers after v1.20 release
  CMakeLists.txt
  google/cloud/bigquery/version_info.h
  google/cloud/bigtable/quickstart/WORKSPACE
  google/cloud/bigtable/version_info.h
  google/cloud/internal/version_info.h
  google/cloud/pubsub/quickstart/WORKSPACE
  google/cloud/pubsub/version_info.h
  google/cloud/spanner/quickstart/WORKSPACE
  google/cloud/spanner/version_info.h
  google/cloud/storage/quickstart/WORKSPACE
  google/cloud/storage/version_info.h
Labels: cla: yes

#5398 test(storage): use new emulator for storage integration test
  ci/kokoro/docker/Dockerfile.fedora
  ci/kokoro/docker/Dockerfile.fedora-install
  ci/kokoro/docker/Dockerfile.fedora-libcxx-msan
  ci/kokoro/docker/Dockerfile.ubuntu
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/requirements.txt
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: api: storage, cla: yes

#5402 feat(pubsub): reduce default channel count
  google/cloud/pubsub/connection_options.cc
Labels: api: pubsub, cla: yes

#5401 feat(pubsub): round robin publisher connections
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/publisher_round_robin.cc
  google/cloud/pubsub/internal/publisher_round_robin.h
  google/cloud/pubsub/internal/publisher_round_robin_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/pubsub_client.bzl
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub, cla: yes

#5407 fix(pubsub): deflake subscriber_integration_test
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub, cla: yes

#5410 test(pubsub): deflake batching by time unit test
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
Labels: api: pubsub, cla: yes

#5409 fix(pubsub): sometimes published oversized batches
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
Labels: api: pubsub, cla: yes

#5415 fix(pubsub): keep corked after ResumePublish
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
Labels: api: pubsub, cla: yes

#5422 cleanup(pubsub): simplify SubscriptionMessageSource
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue.h
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
  google/cloud/pubsub/internal/subscription_message_source.h
  google/cloud/pubsub/testing/mock_subscription_message_source.h
Labels: api: pubsub, cla: yes

#5419 feat(pubsub): more throughput benchmark options
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5420 cleanup(bigtable): Move bigtable tests to the right namespace
  google/cloud/bigtable/admin_client_test.cc
  google/cloud/bigtable/benchmarks/bigtable_benchmark_test.cc
  google/cloud/bigtable/benchmarks/embedded_server_test.cc
  google/cloud/bigtable/benchmarks/format_duration_test.cc
  google/cloud/bigtable/benchmarks/setup_test.cc
  google/cloud/bigtable/cell_test.cc
  google/cloud/bigtable/cluster_config_test.cc
  google/cloud/bigtable/column_family_test.cc
  google/cloud/bigtable/data_client_test.cc
  google/cloud/bigtable/filters_test.cc
  google/cloud/bigtable/idempotent_mutation_policy_test.cc
  google/cloud/bigtable/instance_admin_client_test.cc
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/instance_config_test.cc
  google/cloud/bigtable/instance_update_config_test.cc
  google/cloud/bigtable/internal/prefix_range_end_test.cc
  google/cloud/bigtable/internal/readrowsparser_test.cc
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/bigtable/mutations_test.cc
  google/cloud/bigtable/read_modify_write_rule_test.cc
  google/cloud/bigtable/row_range_test.cc
  google/cloud/bigtable/row_set_test.cc
  google/cloud/bigtable/row_test.cc
  google/cloud/bigtable/rpc_backoff_policy_test.cc
  google/cloud/bigtable/rpc_retry_policy_test.cc
  google/cloud/bigtable/table_admin_test.cc
  google/cloud/bigtable/table_config_test.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
Labels: api: bigtable, cla: yes

#5423 feat(pubsub): round robin subscriber channels
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/subscriber_round_robin.cc
  google/cloud/pubsub/internal/subscriber_round_robin.h
  google/cloud/pubsub/internal/subscriber_round_robin_test.cc
  google/cloud/pubsub/pubsub_client.bzl
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection.h
Labels: api: pubsub, cla: yes

#5427 doc: update README.md to comply w/ basic support requirements
  README.md
  ci/generate-markdown/generate-readme.sh
Labels: cla: yes

#5414 test(storage): add support for grpc
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: api: storage, cla: yes

#5430 Revert "test(storage): emulator supports gRPC (#5414)"
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: api: storage, cla: yes

#5406 feat: a faster CompletionQueue::RunAsync
  google/cloud/BUILD
  google/cloud/CMakeLists.txt
  google/cloud/completion_queue_benchmark.cc
  google/cloud/completion_queue_test.cc
  google/cloud/google_cloud_cpp_grpc_utils_benchmarks.bzl
  google/cloud/internal/default_completion_queue_impl.cc
  google/cloud/internal/default_completion_queue_impl.h
Labels: cla: yes

#5405 feature(generator): add client generation
  generator/CMakeLists.txt
  generator/generator_test.cc
  generator/google_cloud_cpp_generator.bzl
  generator/integration_tests/generator_integration_test.cc
  generator/integration_tests/golden/CMakeLists.txt
  generator/integration_tests/golden/database_admin_client.gcpcxx.pb.cc
  generator/integration_tests/golden/database_admin_client.gcpcxx.pb.h
  generator/integration_tests/golden/golden_client_test.cc
  generator/integration_tests/golden/google_cloud_cpp_generator_golden_files.bzl
  generator/integration_tests/golden/google_cloud_cpp_generator_golden_tests.bzl
  generator/internal/client_generator.cc
  generator/internal/client_generator.h
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
Labels: cla: yes

#5433 cleanup(doc): Make abseil packaging instructions consistent
  ci/kokoro/install/Dockerfile.centos-7
  ci/kokoro/install/Dockerfile.centos-8
  ci/kokoro/install/Dockerfile.debian-buster
  ci/kokoro/install/Dockerfile.debian-stretch
  ci/kokoro/install/Dockerfile.fedora
  ci/kokoro/install/Dockerfile.opensuse-leap
  ci/kokoro/install/Dockerfile.opensuse-tumbleweed
  ci/kokoro/install/Dockerfile.ubuntu-bionic
  ci/kokoro/install/Dockerfile.ubuntu-focal
  ci/kokoro/install/Dockerfile.ubuntu-xenial
  doc/packaging.md
Labels: cla: yes

#5435 fix: build problems with MSVC+x86
  google/cloud/completion_queue_benchmark.cc
Labels: cla: yes

#5434 ci: rename builds to gcc-10
  ci/kokoro/docker/build.sh
  ci/kokoro/docker/gcc-10-presubmit.cfg
  ci/kokoro/docker/gcc-10.cfg
Labels: cla: yes

#5436 refactor(pubsub): split BatchSink
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/batch_sink.h
  google/cloud/pubsub/internal/default_batch_sink.cc
  google/cloud/pubsub/internal/default_batch_sink.h
  google/cloud/pubsub/internal/default_batch_sink_test.cc
  google/cloud/pubsub/internal/sequential_batch_sink.cc
  google/cloud/pubsub/internal/sequential_batch_sink.h
  google/cloud/pubsub/internal/sequential_batch_sink_test.cc
  google/cloud/pubsub/pubsub_client.bzl
  google/cloud/pubsub/pubsub_client_testing.bzl
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/testing/mock_batch_sink.h
Labels: api: pubsub, cla: yes

#5437 ci: remove gcc 9 build
  ci/kokoro/docker/build.sh
  ci/kokoro/docker/gcc-9-presubmit.cfg
  ci/kokoro/docker/gcc-9.cfg
Labels: cla: yes

#5438 refactor(pubsub): use BatchSink to send batches
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/sequential_batch_sink_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/testing_util/CMakeLists.txt
  google/cloud/testing_util/async_sequencer.cc
  google/cloud/testing_util/async_sequencer.h
  google/cloud/testing_util/google_cloud_cpp_testing.bzl
Labels: api: pubsub, cla: yes

#5441 feat(pubsub): handle AsyncPull responses in batches
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
Labels: api: pubsub, cla: yes

#5442 test: deflake CompletionQueue test
  google/cloud/completion_queue_test.cc
Labels: cla: yes

#5439 feat(pubsub): show ack throughput in benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5444 doc: remove INSTALL.md references
  ci/generate-markdown/extract-install.sh
  ci/kokoro/install/Dockerfile.centos-7
  ci/kokoro/install/Dockerfile.centos-8
  ci/kokoro/install/Dockerfile.debian-buster
  ci/kokoro/install/Dockerfile.debian-stretch
  ci/kokoro/install/Dockerfile.fedora
  ci/kokoro/install/Dockerfile.opensuse-leap
  ci/kokoro/install/Dockerfile.opensuse-tumbleweed
  ci/kokoro/install/Dockerfile.ubuntu-bionic
  ci/kokoro/install/Dockerfile.ubuntu-focal
  ci/kokoro/install/Dockerfile.ubuntu-xenial
  google/cloud/spanner/benchmarks/README.md
Labels: cla: yes

#5445 test(storage): emulator supports gRPC
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/tests/test_gcs.py
  google/cloud/storage/emulator/tests/test_utils.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tools/run_testbench_utils.sh
Labels: api: storage, cla: yes

#5450 feat(pubsub): improve throughput benchmark reports
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5451 feat(pubsub): more details in throughput benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5454 feat(pubsub): improve lease management performance
  google/cloud/pubsub/internal/subscription_lease_management.h
  google/cloud/pubsub/internal/subscription_lease_management_test.cc
Labels: api: pubsub, cla: yes

#5447 feat(pubsub): pace publisher in throughtput benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5449 feat(pubsub): increase default buffer sizes
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/create_channel.cc
  google/cloud/pubsub/internal/create_channel.h
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/pubsub_client.bzl
Labels: api: pubsub, cla: yes

#5461 test: disable broken WriteResumeFinalizedUpload test
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: cla: yes

#5455 fix: build under MSVC+x86
  ci/check-style.sh
  google/cloud/BUILD
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/internal/absl_flat_hash_map_quiet.h
  google/cloud/pubsub/internal/subscription_lease_management.h
  google/cloud/pubsub/internal/subscription_message_queue.h
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
Labels: cla: yes

#5443 feat(spanner): use spanner_cmek_and_pitr_lite protos
  bazel/google_cloud_cpp_deps.bzl
  external/googleapis/CMakeLists.txt
Labels: api: spanner, cla: yes

#5452 feat(spanner): use spanner_commit_stats protos
  bazel/google_cloud_cpp_deps.bzl
  external/googleapis/CMakeLists.txt
Labels: api: spanner, cla: yes

#5463 refactor(common): move CompletionQueue mock
  google/cloud/internal/async_read_write_stream_impl_test.cc
  google/cloud/testing_util/CMakeLists.txt
  google/cloud/testing_util/google_cloud_cpp_testing_grpc.bzl
  google/cloud/testing_util/mock_completion_queue_impl.h
Labels: cla: yes

#5464 feat(pubsub): batch acks and nacks in streams
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub, cla: yes

#5457 feature(generator): generate doxygen function headers for Client
  ci/cspell.json
  generator/integration_tests/golden/database_admin_client.gcpcxx.pb.h
  generator/internal/client_generator.cc
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
Labels: cla: yes

#5465 fix(pubsub): nit in the throughput benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5466 feature(generator): parallelize code generation
  generator/generator.cc
Labels: cla: yes

#5467 cleanup(spanner): omit checksums on named-branch googleapis dep
  bazel/google_cloud_cpp_deps.bzl
  external/googleapis/CMakeLists.txt
Labels: api: spanner, cla: yes

#5458 feat(pubsub): more efficient callback dispatch
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
Labels: api: pubsub, cla: yes

#5469 feat(spanner): merge CMEK changes into preview branch
  ci/test-abi/spanner_client.expected.abi.dump.gz
  google/cloud/spanner/database_admin_client.cc
  google/cloud/spanner/database_admin_client.h
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection.h
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/pick_random_instance.cc
Labels: api: spanner, cla: yes

#5459 cleanup(storage): Factor out test constants into common location
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/constants.h
  google/cloud/storage/testing/write_base64.cc
  google/cloud/storage/testing/write_base64.h
Labels: api: storage, cla: yes

#5472 ci: only update ABI if there were changes
  ci/kokoro/docker/check-abi.sh
Labels: cla: yes

#5471 feat(spanner): Point-In-Time Recovery (lite)
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner, cla: yes

#5475 cleanup: remove obsolete TODO
  CMakeLists.txt
Labels: cla: yes

#5476 chore: tell snippet-bot to ignore ci/**
  .github/snippet-bot.yml
Labels: cla: yes

#5483 docs(storage): document how to create integration testing resources
  ci/etc/README.md
  google/cloud/storage/doc/setup-test-resources.md
Labels: api: storage, cla: yes

#5484 fix(pubsub): reduce data copying in publish
  google/cloud/pubsub/internal/batch_sink.h
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/default_batch_sink.cc
  google/cloud/pubsub/internal/default_batch_sink.h
  google/cloud/pubsub/internal/sequential_batch_sink.cc
  google/cloud/pubsub/internal/sequential_batch_sink.h
  google/cloud/pubsub/testing/mock_batch_sink.h
Labels: api: pubsub, cla: yes

#5481 chore(spanner): update pitr-lite -v- emulator issue number
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner, cla: yes

#5489 cleanup(pubsub): remove unused return value
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue.h
  google/cloud/pubsub/internal/subscription_message_source.h
  google/cloud/pubsub/testing/mock_subscription_message_source.h
Labels: api: pubsub, cla: yes

#5490 doc(styleguide): remove sections obsoleted by GSG
  doc/cpp-style-guide.md
Labels: cla: yes

#5487 test: re-enable WriteResumeFinalizedUpload test for REST API
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: cla: yes

#5480 fix(generator): correct method signature handling of pod values
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
Labels: cla: yes

#5478 fix(generator): replace hard coded class names with substitution labels
  generator/internal/client_generator.cc
  generator/internal/connection_generator.cc
Labels: cla: yes

#5494 refactor(testing_util): generalize AsyncSequencer
  google/cloud/completion_queue_test.cc
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/sequential_batch_sink_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/testing_util/CMakeLists.txt
  google/cloud/testing_util/async_sequencer.cc
  google/cloud/testing_util/async_sequencer.h
  google/cloud/testing_util/google_cloud_cpp_testing.bzl
Labels: cla: yes

#5495 feat(pubsub): minor optimization in publisher
  google/cloud/pubsub/internal/batching_publisher_connection.cc
Labels: api: pubsub, cla: yes

#5493 feature(generator): generate mock connection class
  generator/CMakeLists.txt
  generator/generator_test.cc
  generator/google_cloud_cpp_generator.bzl
  generator/integration_tests/BUILD
  generator/integration_tests/generator_integration_test.cc
  generator/integration_tests/golden/BUILD
  generator/integration_tests/golden/CMakeLists.txt
  generator/integration_tests/golden/golden_client_test.cc
  generator/integration_tests/golden/google_cloud_cpp_generator_golden_files.bzl
  generator/integration_tests/golden/mocks/mock_database_admin_connection.gcpcxx.pb.h
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
  generator/internal/mock_connection_generator.cc
  generator/internal/mock_connection_generator.h
Labels: cla: yes

#5499 feat(pubsub): separate subscribers in benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub, cla: yes

#5453 test(storage): add emulator unit tests and cleanup
  ci/kokoro/docker/Dockerfile.fedora
  ci/kokoro/docker/Dockerfile.fedora-install
  ci/kokoro/docker/Dockerfile.fedora-libcxx-msan
  ci/kokoro/docker/Dockerfile.ubuntu
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/emulator/BUILD
  google/cloud/storage/emulator/requirements.txt
  google/cloud/storage/emulator/tests/test_gcs.py
  google/cloud/storage/emulator/tests/test_utils.py
Labels: api: storage, cla: yes

#5492 feat(spanner): statistics returned for a committed transaction
  ci/test-abi/spanner_client.expected.abi.dump.gz
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/commit_options.h
  google/cloud/spanner/commit_options_test.cc
  google/cloud/spanner/commit_result.h
  google/cloud/spanner/connection.h
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/spanner_client.bzl
  google/cloud/spanner/spanner_client_unit_tests.bzl
Labels: api: spanner, cla: yes

#5500 doc(pubsub): how to run throughput benchmark
  google/cloud/pubsub/benchmarks/README.md
Labels: api: pubsub, cla: yes

#5390 doc(pubsub): declare the library GA
  CHANGELOG.md
  README.md
  ci/generate-markdown/generate-pubsub-readme.sh
  ci/generate-markdown/generate-readme.sh
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/README.md
Labels: api: pubsub, cla: yes

#5504 test: deflake completion queue test
  google/cloud/completion_queue_test.cc
Labels: cla: yes

#5508 cleanup(storage): emulator supports binary data
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#5488 ci: detect incorrectly installed files
  ci/kokoro/docker/build-in-docker-cmake.sh
Labels: cla: yes

#5510 fix(pubsub): treat some kUnavailable as success
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub, cla: yes

#5404 fix: create service account credentials from json contents
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: cla: yes

#5507 test(storage): add emulator README.md and add `rest_only` for bucket
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/emulator/README.md
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/bucket.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/tests/test_gcs.py
  google/cloud/storage/emulator/tests/test_utils.py
  google/cloud/storage/emulator/utils/common.py
Labels: api: storage, cla: yes

#5514 test(storage): test `gRPC` `GetObjectMediaNotFound` against emulator
  google/cloud/storage/tests/grpc_integration_test.cc
Labels: api: storage, cla: yes

#5516 cleanup(ci): fix nits in Dockerfiles
  ci/kokoro/docker/Dockerfile.fedora
  ci/kokoro/docker/Dockerfile.fedora-install
  ci/kokoro/docker/Dockerfile.fedora-libcxx-msan
  ci/kokoro/docker/Dockerfile.ubuntu
Labels: cla: yes

#5519 cleanup(spanner): plumb ConnectionOptions into admin connection classes
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection.h
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/instance_admin_connection.h
  google/cloud/spanner/instance_admin_connection_test.cc
Labels: api: spanner, cla: yes

#5520 test(storage): enable `TEST_F(ObjectFileIntegrationTest, UploadFileBinary)` against emulator
  google/cloud/storage/tests/object_file_integration_test.cc
Labels: api: storage, cla: yes

#5517 feat: add `GOOGLE_CLOUD_CPP_ENABLE` CMake variable
  CMakeLists.txt
Labels: cla: yes

#5526 feat: add copy, move, equality support to generator
  generator/integration_tests/golden/database_admin_client.gcpcxx.pb.h
  generator/integration_tests/golden/golden_client_test.cc
  generator/internal/client_generator.cc
Labels: cla: yes

#5524 fix(storage): use channel options for credentials
  google/cloud/storage/client_options.cc
Labels: api: storage, cla: yes

#5528 doc(storage): dependencies for the new emulator
  doc/setup-development-environment.md
Labels: api: storage, cla: yes

#5530 cleanup(storage): use google.storage.v1.internal for internal protos
  google/cloud/storage/internal/grpc_resumable_upload_session_url.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_url.proto
Labels: api: storage, cla: yes

#5527 test(storage): support csek for the new emulator
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/utils/csek.py
Labels: api: storage, cla: yes

#5532 feat: introduce a generic StreamRange<T>
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_grpc_utils.bzl
  google/cloud/google_cloud_cpp_grpc_utils_unit_tests.bzl
  google/cloud/internal/stream_range.h
  google/cloud/internal/stream_range_test.cc
Labels: cla: yes

#5534 chore: moved stream_range to common to avoid grpc dep
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/google_cloud_cpp_grpc_utils.bzl
  google/cloud/google_cloud_cpp_grpc_utils_unit_tests.bzl
Labels: cla: yes

#5535 feat: add value_type to StatusOr<T>
  google/cloud/status_or.h
  google/cloud/status_or_test.cc
Labels: cla: yes

#5533 cleanup: refactor predicate_utils_test.cc to use string literals
  generator/internal/predicate_utils_test.cc
Labels: cla: yes

#5539 refactor: StreamRange<T> c'tor is now private
  google/cloud/internal/stream_range.h
  google/cloud/internal/stream_range_test.cc
Labels: cla: yes

#5538 refactor!: PaginationRange<T> is now an alias to StreamRange<T>
  CHANGELOG.md
  generator/integration_tests/golden/database_admin_connection.gcpcxx.pb.cc
  generator/integration_tests/golden/database_admin_connection.gcpcxx.pb.h
  generator/integration_tests/golden/golden_client_test.cc
  generator/internal/connection_generator.cc
  google/cloud/internal/pagination_range.h
  google/cloud/internal/pagination_range_test.cc
  google/cloud/pubsub/subscription_admin_client_test.cc
  google/cloud/pubsub/subscription_admin_connection.cc
  google/cloud/pubsub/subscription_admin_connection.h
  google/cloud/pubsub/topic_admin_client_test.cc
  google/cloud/pubsub/topic_admin_connection.cc
  google/cloud/pubsub/topic_admin_connection.h
  google/cloud/spanner/database_admin_client_test.cc
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection.h
  google/cloud/spanner/instance_admin_client_test.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/instance_admin_connection.h
  google/cloud/spanner/testing/cleanup_stale_databases_test.cc
Labels: cla: yes

#5541 fix(pubsub): deadlock during fire & forget shutdown
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session_test.cc
Labels: api: pubsub, cla: yes

#5540 refactor: remove PaginationRange's dep on gRPC
  ci/kokoro/docker/build-in-docker-bazel.sh
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/google_cloud_cpp_grpc_utils.bzl
  google/cloud/google_cloud_cpp_grpc_utils_unit_tests.bzl
  google/cloud/internal/pagination_range.h
  google/cloud/internal/pagination_range_test.cc
Labels: cla: yes

#5546 cleanup(pubsub): simplify session timer rescheduling
  google/cloud/pubsub/internal/subscription_session.cc
Labels: api: pubsub, cla: yes

#5545 refactor!: change gcs to use common PaginationRange<T>
  CHANGELOG.md
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.h
  google/cloud/storage/internal/range_from_pagination.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/list_hmac_keys_reader.h
  google/cloud/storage/list_hmac_keys_reader_test.cc
  google/cloud/storage/list_objects_and_prefixes_reader.h
  google/cloud/storage/list_objects_and_prefixes_reader_test.cc
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/storage_client.bzl
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
Labels: cla: yes

#5547 fix(pubsub): deadlock during streaming pull shutdown
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/subscription_session_test.cc
Labels: api: pubsub, cla: yes

#5548 fix: msan builds link w/ correct libc++abi
  .bazelrc
  ci/kokoro/docker/Dockerfile.fedora-libcxx-msan
  ci/kokoro/docker/build-in-docker-bazel.sh
Labels: cla: yes

#5515 feat(bigtable): create logging layer for Cloud Bigtable
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/internal/log_wrapper.h
  google/cloud/internal/log_wrapper_test.cc
Labels: api: bigtable, cla: yes

#5551 doc: update link in comment
  google/cloud/storage/internal/curl_client.cc
Labels: cla: yes

#5552 feat(pubsub): by default Subscriber::Subscribe retries forever
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/subscriber_connection.cc
Labels: api: pubsub, cla: yes

#5555 test(storage): fix emulator `parse_multipart`
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/tests/test_utils.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/emulator/utils/error.py
Labels: api: storage, cla: yes

#5558 fix: inspect returned grpc::Status
  google/cloud/internal/log_wrapper_test.cc
Labels: cla: yes

#5561 chore(storage): prepare GCS+gRPC for google import
  google/cloud/storage/BUILD
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_object_read_source.cc
Labels: api: storage, cla: yes
