Repository googleapis/google-cloud-cpp, pull requests merged in 2021-09, with the labels that each got.

#7244 fix: release CurlRequest handles on error
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes

#7246 chore(release): update abi dumps
  ci/abi-dumps/google_cloud_cpp_bigquery.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_bigtable.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_common.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_grpc_utils.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_iam.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_pubsub.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
Labels: cla: yes

#7245 chore(release): update changelog for 2021-09 release
  CHANGELOG.md
Labels: cla: yes

#7247 chore: bump version to 1.32.0
  CMakeLists.txt
  google/cloud/bigquery/quickstart/WORKSPACE
  google/cloud/bigtable/quickstart/WORKSPACE
  google/cloud/iam/quickstart/WORKSPACE
  google/cloud/internal/version_info.h
  google/cloud/pubsub/quickstart/WORKSPACE
  google/cloud/spanner/quickstart/WORKSPACE
  google/cloud/storage/quickstart/WORKSPACE
Labels: cla: yes

#7248 chore: teach cleanup.sh to skip refactor PRs
  release/changes.sh
Labels: cla: yes

#7250 cleanup(bigtable): don't test time output, which could change
  google/cloud/bigtable/benchmarks/benchmark_options_test.cc
Labels: cla: yes, api: bigtable

#7252 doc(storage): handle kNotFound in example
  google/cloud/storage/examples/storage_object_resumable_write_samples.cc
Labels: cla: yes, api: storage

#7251 cleanup(bigtable): update quickstart to use preferred method
  google/cloud/bigtable/README.md
  google/cloud/bigtable/quickstart/quickstart.cc
Labels: cla: yes, api: bigtable

#7253 Revert "cleanup(bigtable): update quickstart to use preferred method"
  google/cloud/bigtable/README.md
  google/cloud/bigtable/quickstart/quickstart.cc
Labels: cla: yes, api: bigtable

#7254 feat(storage)!: move GCS+gRPC to v2/ protos
  .gitignore
  CHANGELOG.md
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/builds/lib/integration.sh
  external/googleapis/CMakeLists.txt
  google/cloud/storage/BUILD
  google/cloud/storage/benchmarks/BUILD
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/emulator/README.md
  google/cloud/storage/emulator/ci/run_integration_tests_bazel.sh
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/__init__.py
  google/cloud/storage/emulator/gcs/bucket.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/iam.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/gcs/project.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/requirements.txt
  google/cloud/storage/emulator/tests/test_bucket.py
  google/cloud/storage/emulator/tests/test_holder.py
  google/cloud/storage/emulator/tests/test_object.py
  google/cloud/storage/emulator/tests/test_utils.py
  google/cloud/storage/emulator/utils/__init__.py
  google/cloud/storage/emulator/utils/acl.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/emulator/utils/csek.py
  google/cloud/storage/emulator/utils/error.py
  google/cloud/storage/emulator/utils/generation.py
  google/cloud/storage/emulator/utils/handle_gzip.py
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_insert_object_media_test.cc
  google/cloud/storage/internal/grpc_client_object_request_test.cc
  google/cloud/storage/internal/grpc_client_read_object_test.cc
  google/cloud/storage/internal/grpc_client_test.cc
  google/cloud/storage/internal/grpc_object_read_source.cc
  google/cloud/storage/internal/grpc_object_read_source.h
  google/cloud/storage/internal/grpc_object_read_source_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_test.cc
  google/cloud/storage/internal/storage_auth.cc
  google/cloud/storage/internal/storage_auth.h
  google/cloud/storage/internal/storage_auth_test.cc
  google/cloud/storage/internal/storage_round_robin.cc
  google/cloud/storage/internal/storage_round_robin.h
  google/cloud/storage/internal/storage_round_robin_test.cc
  google/cloud/storage/internal/storage_stub.cc
  google/cloud/storage/internal/storage_stub.h
  google/cloud/storage/testing/mock_storage_stub.h
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tools/run_emulator_utils.sh
Labels: cla: yes, api: storage

#7255 cleanup(GCS+gRPC): rename stub functions to match protos
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_insert_object_media_test.cc
  google/cloud/storage/internal/grpc_client_read_object_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_test.cc
  google/cloud/storage/internal/storage_auth.cc
  google/cloud/storage/internal/storage_auth.h
  google/cloud/storage/internal/storage_auth_test.cc
  google/cloud/storage/internal/storage_round_robin.cc
  google/cloud/storage/internal/storage_round_robin.h
  google/cloud/storage/internal/storage_round_robin_test.cc
  google/cloud/storage/internal/storage_stub.cc
  google/cloud/storage/internal/storage_stub.h
  google/cloud/storage/testing/mock_storage_stub.h
Labels: cla: yes

#7256 cleanup(GCS+gRPC): handle errors in common parameters
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_object_request_test.cc
Labels: cla: yes

#7259 cleanup(GCS+gRPC): use a separate bug to track disabled tests
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: cla: yes

#7258 ci: deflake bazelisk installation
  ci/kokoro/windows/build-32.bat
  ci/kokoro/windows/build.bat
  ci/kokoro/windows/install-bazelisk.ps1
Labels: cla: yes

#7261 fix(storage): use CA info options in credentials
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/testing/mock_http_request.h
Labels: cla: yes, api: storage

#7264 fix(storage): use CA info options in credentials
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/testing/mock_http_request.h
Labels: cla: yes, api: storage

#7266 ci: deflake bazelisk installation
  ci/kokoro/windows/build-32.bat
  ci/kokoro/windows/build.bat
  ci/kokoro/windows/install-bazelisk.ps1
Labels: cla: yes

#7265 doc: update CHANGELOG and version numbers for v1.31.1
  CHANGELOG.md
  CMakeLists.txt
  google/cloud/internal/version_info.h
Labels: cla: yes

#7267 chore: update main changelog
  CHANGELOG.md
Labels: cla: yes

#7271 cleanup(generator): do not sort includes for golden files
  generator/integration_tests/golden/.clang-format
Labels: cla: yes

#7270 fix(pubsub): dont move PublisherOptions that we are still using
  google/cloud/pubsub/publisher_connection.cc
Labels: cla: yes, api: pubsub

#7275 chore(bigtable): update quickstart to use preferred method
  ci/etc/vcpkg-config.ps1
  ci/etc/vcpkg-config.sh
  google/cloud/bigtable/README.md
  google/cloud/bigtable/quickstart/quickstart.cc
Labels: cla: yes, api: bigtable

#7276 feat(generator): generate a SetIamPolicy() overload with an OCC loop
  generator/integration_tests/golden/golden_thing_admin_client.cc
  generator/integration_tests/golden/golden_thing_admin_client.h
  generator/integration_tests/golden/tests/golden_thing_admin_client_test.cc
  generator/internal/client_generator.cc
  generator/internal/client_generator.h
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/iam/iam_client.cc
  google/cloud/iam/iam_client.h
  google/cloud/iam/integration_tests/iam_integration_test.cc
  google/cloud/iam_updater.h
  google/cloud/spanner/iam_updater.h
Labels: cla: yes

#7281 refactor(storage): simplify internal::CurlClient
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
Labels: cla: yes, api: storage

#7285 feat(spanner): add generated admin APIs
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/builds/generate-libraries.sh
  generator/generator_config.textproto
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/admin/database_admin_client.cc
  google/cloud/spanner/admin/database_admin_client.h
  google/cloud/spanner/admin/database_admin_connection.cc
  google/cloud/spanner/admin/database_admin_connection.h
  google/cloud/spanner/admin/database_admin_connection_idempotency_policy.cc
  google/cloud/spanner/admin/database_admin_connection_idempotency_policy.h
  google/cloud/spanner/admin/database_admin_options.h
  google/cloud/spanner/admin/instance_admin_client.cc
  google/cloud/spanner/admin/instance_admin_client.h
  google/cloud/spanner/admin/instance_admin_connection.cc
  google/cloud/spanner/admin/instance_admin_connection.h
  google/cloud/spanner/admin/instance_admin_connection_idempotency_policy.cc
  google/cloud/spanner/admin/instance_admin_connection_idempotency_policy.h
  google/cloud/spanner/admin/instance_admin_options.h
  google/cloud/spanner/admin/internal/database_admin_auth_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_auth_decorator.h
  google/cloud/spanner/admin/internal/database_admin_logging_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_logging_decorator.h
  google/cloud/spanner/admin/internal/database_admin_metadata_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_metadata_decorator.h
  google/cloud/spanner/admin/internal/database_admin_option_defaults.cc
  google/cloud/spanner/admin/internal/database_admin_option_defaults.h
  google/cloud/spanner/admin/internal/database_admin_stub.cc
  google/cloud/spanner/admin/internal/database_admin_stub.h
  google/cloud/spanner/admin/internal/database_admin_stub_factory.cc
  google/cloud/spanner/admin/internal/database_admin_stub_factory.h
  google/cloud/spanner/admin/internal/instance_admin_auth_decorator.cc
  google/cloud/spanner/admin/internal/instance_admin_auth_decorator.h
  google/cloud/spanner/admin/internal/instance_admin_logging_decorator.cc
  google/cloud/spanner/admin/internal/instance_admin_logging_decorator.h
  google/cloud/spanner/admin/internal/instance_admin_metadata_decorator.cc
  google/cloud/spanner/admin/internal/instance_admin_metadata_decorator.h
  google/cloud/spanner/admin/internal/instance_admin_option_defaults.cc
  google/cloud/spanner/admin/internal/instance_admin_option_defaults.h
  google/cloud/spanner/admin/internal/instance_admin_stub.cc
  google/cloud/spanner/admin/internal/instance_admin_stub.h
  google/cloud/spanner/admin/internal/instance_admin_stub_factory.cc
  google/cloud/spanner/admin/internal/instance_admin_stub_factory.h
  google/cloud/spanner/admin/mocks/mock_database_admin_connection.h
  google/cloud/spanner/admin/mocks/mock_instance_admin_connection.h
  google/cloud/spanner/admin/retry_traits.h
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/google_cloud_cpp_spanner_mocks.bzl
Labels: cla: yes, api: spanner

#7284 test(iam): allow for possibility of kAborted from raw SetIamPolicy()
  google/cloud/iam/integration_tests/iam_integration_test.cc
Labels: cla: yes, api: iam

#7286 refactor(call_once): use function-local static instead of call_once
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_wrappers.cc
Labels: cla: yes

#7283 refactor(storage): reduce indirection on restoring uploads
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session.h
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.h
  google/cloud/storage/internal/grpc_resumable_upload_session_test.cc
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/version.h
Labels: cla: yes, api: storage

#7290 cleanup(GCS+gRPC): simplify support for resumable uploads
  google/cloud/storage/BUILD
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client_failures_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_url.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_url.h
  google/cloud/storage/internal/grpc_resumable_upload_session_url_test.cc
Labels: cla: yes

#7272 feat(GCS+gRPC): implement standard parameters
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/google_cloud_cpp_storage_grpc.bzl
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_configure_client_context.h
  google/cloud/storage/internal/grpc_configure_client_context_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/testing_util/validate_metadata.cc
  google/cloud/testing_util/validate_metadata.h
Labels: cla: yes

#7291 feat(storage): support base URLs with existing query parameters
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes, api: storage

#7292 feat(storage): use generic parameters when resuming uploads
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
Labels: cla: yes, api: storage

#7289 test(spanner): add integration tests to g/c/spanner/admin
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/admin/integration_tests/BUILD
  google/cloud/spanner/admin/integration_tests/CMakeLists.txt
  google/cloud/spanner/admin/integration_tests/README.md
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/admin/integration_tests/spanner_admin_integration_tests.bzl
Labels: cla: yes, api: spanner

#7294 cleanup(ci): share vcpkg commit hash in all builds
  ci/cloudbuild/builds/lib/vcpkg.sh
  ci/etc/repo-config.sh
  ci/etc/vcpkg-commit.txt
  ci/etc/vcpkg-config.ps1
  ci/etc/vcpkg-config.sh
  ci/kokoro/macos/build.sh
  ci/kokoro/macos/builds/cmake-vcpkg.sh
  ci/kokoro/macos/builds/quickstart-cmake.sh
  ci/kokoro/windows/build-cmake-dependencies.ps1
Labels: cla: yes

#7293 fix(generator): ignore empty endpoint-override env vars
  generator/integration_tests/golden/internal/golden_kitchen_sink_option_defaults.cc
  generator/integration_tests/golden/internal/golden_thing_admin_option_defaults.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/bigquery/internal/bigquery_read_option_defaults.cc
  google/cloud/iam/internal/iam_credentials_option_defaults.cc
  google/cloud/iam/internal/iam_option_defaults.cc
  google/cloud/logging/internal/logging_service_v2_option_defaults.cc
  google/cloud/spanner/admin/internal/database_admin_option_defaults.cc
  google/cloud/spanner/admin/internal/instance_admin_option_defaults.cc
Labels: cla: yes

#7296 ci(gcb): increase the GCB timeout
  ci/cloudbuild/cloudbuild.yaml
Labels: cla: yes

#7295 feat(storage): support timeouts for all requests
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/grpc_client_read_object_test.cc
  google/cloud/storage/options.h
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: cla: yes, api: storage

#7297 cleanup(generator): don't use defaulted options in internal APIs
  generator/integration_tests/golden/golden_kitchen_sink_connection.h
  generator/integration_tests/golden/golden_thing_admin_connection.h
  generator/integration_tests/golden/internal/golden_kitchen_sink_option_defaults.h
  generator/integration_tests/golden/internal/golden_thing_admin_option_defaults.h
  generator/internal/connection_generator.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/bigquery/bigquery_read_connection.h
  google/cloud/bigquery/internal/bigquery_read_option_defaults.h
  google/cloud/iam/iam_connection.h
  google/cloud/iam/iam_credentials_connection.h
  google/cloud/iam/internal/iam_credentials_option_defaults.h
  google/cloud/iam/internal/iam_option_defaults.h
  google/cloud/logging/internal/logging_service_v2_option_defaults.h
  google/cloud/logging/logging_service_v2_connection.h
  google/cloud/spanner/admin/database_admin_connection.h
  google/cloud/spanner/admin/instance_admin_connection.h
  google/cloud/spanner/admin/internal/database_admin_option_defaults.h
  google/cloud/spanner/admin/internal/instance_admin_option_defaults.h
Labels: cla: yes

#7299 feat(GCS+gRPC): support timeouts for all requests
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
Labels: cla: yes

#7302 test(spanner): integration tests for generated Spanner admin APIs
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
Labels: cla: yes, api: spanner

#7307 test(spanner): avoid multi-region instances in CMEK backup test
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: cla: yes, api: spanner

#7303 feat(GCS+gRPC): reduce data copying in downloads
  google/cloud/storage/internal/grpc_object_read_source.cc
  google/cloud/storage/internal/grpc_object_read_source.h
Labels: cla: yes

#7301 cleanup: upstream patches from conan recipe
  CMakeLists.txt
  external/googleapis/CMakeLists.txt
Labels: cla: yes

#7305 feat(generator): a better default polling policy for generated LROs
  generator/integration_tests/golden/internal/golden_kitchen_sink_option_defaults.cc
  generator/integration_tests/golden/internal/golden_thing_admin_option_defaults.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/bigquery/internal/bigquery_read_option_defaults.cc
  google/cloud/iam/internal/iam_credentials_option_defaults.cc
  google/cloud/iam/internal/iam_option_defaults.cc
  google/cloud/logging/internal/logging_service_v2_option_defaults.cc
  google/cloud/polling_policy.h
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/internal/database_admin_option_defaults.cc
  google/cloud/spanner/admin/internal/instance_admin_option_defaults.cc
Labels: cla: yes

#7310 cleanup(docs): initial capitalization
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/table.h
  google/cloud/connection_options.h
  google/cloud/grpc_options.h
  google/cloud/internal/async_read_write_stream_impl.h
  google/cloud/internal/retry_policy.h
  google/cloud/internal/streaming_read_rpc.h
  google/cloud/internal/streaming_write_rpc.h
  google/cloud/kms_key_name.h
  google/cloud/pubsub/publisher_options.h
  google/cloud/pubsub/schema_admin_client.h
  google/cloud/spanner/backup.h
  google/cloud/spanner/database.h
  google/cloud/spanner/instance.h
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/row.h
  google/cloud/storage/grpc_plugin.h
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/policy_document_request.h
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_write_stream.h
  google/cloud/testing_util/example_driver.h
  google/cloud/testing_util/validate_metadata.h
Labels: cla: yes

#7312 test(pubsub): deflake flow control
  google/cloud/pubsub/publisher_connection_test.cc
Labels: cla: yes, api: pubsub

#7311 doc(spanner): convert Spanner samples to use the generated admin APIs
  google/cloud/spanner/samples/samples.cc
Labels: cla: yes, api: spanner, samples

#7313 fix(pubsub): avoid deadlocks in publish flow control
  google/cloud/pubsub/internal/flow_controlled_publisher_connection.cc
  google/cloud/pubsub/internal/flow_controlled_publisher_connection_test.cc
Labels: cla: yes, api: pubsub

#7314 cleanup(spanner): remove google/cloud/spanner/testing/policies.h
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/integration_tests/backup_integration_test.cc
  google/cloud/spanner/spanner_client_testing.bzl
  google/cloud/spanner/testing/policies.h
Labels: cla: yes, api: spanner

#7315 cleanup(pubsub): rename Maximum to Max in Options
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/publisher_options.h
  google/cloud/pubsub/publisher_options_test.cc
Labels: cla: yes, api: pubsub

#7318 test(spanner): extend RestoreDatabase() polling retry time
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: cla: yes, api: spanner

#7319 feat(pubsub): introduce SubscriberOptionList
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults.h
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/subscriber_options.cc
  google/cloud/pubsub/subscriber_options.h
  google/cloud/pubsub/subscriber_options_test.cc
Labels: cla: yes, api: pubsub

#7320 test(pubsub): update pubsub options tests
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/publisher_options_test.cc
Labels: cla: yes, api: pubsub

#7321 feat(spanner): add factory functions for instance/database/backup
  ci/abi-dumps/google_cloud_cpp_common.expected.abi.dump.gz
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/kms_key_name.cc
  google/cloud/kms_key_name.h
  google/cloud/kms_key_name_test.cc
  google/cloud/project.cc
  google/cloud/project.h
  google/cloud/project_test.cc
  google/cloud/spanner/backup.cc
  google/cloud/spanner/backup.h
  google/cloud/spanner/backup_test.cc
  google/cloud/spanner/database.cc
  google/cloud/spanner/database.h
  google/cloud/spanner/database_test.cc
  google/cloud/spanner/instance.cc
  google/cloud/spanner/instance.h
  google/cloud/spanner/instance_test.cc
Labels: cla: yes, api: spanner

#7323 fix(storage): build with MSVC+x86
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/storage/version.h
Labels: cla: yes, api: storage

#7325 fix(storage): restore deprecation warnings on MSVC
  google/cloud/storage/version.h
Labels: cla: yes, api: storage

#7324 ci: minor speedup for Windows+CMake build
  ci/kokoro/windows/build-cmake-dependencies.ps1
Labels: cla: yes

#7327 cleanup(spanner): further migration to generated admin APIs
  ARCHITECTURE.md
  google/cloud/examples/grpc_credential_types.cc
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/benchmarks/single_row_throughput_benchmark.cc
  google/cloud/spanner/integration_tests/rpc_failure_threshold_integration_test.cc
  google/cloud/spanner/testing/cleanup_stale_databases.cc
  google/cloud/spanner/testing/cleanup_stale_databases.h
  google/cloud/spanner/testing/cleanup_stale_databases_test.cc
  google/cloud/spanner/testing/cleanup_stale_instances.cc
  google/cloud/spanner/testing/database_integration_test.cc
  google/cloud/spanner/testing/instance_location.cc
  google/cloud/spanner/testing/pick_instance_config.cc
  google/cloud/spanner/testing/pick_instance_config.h
  google/cloud/spanner/testing/pick_random_instance.cc
Labels: cla: yes, api: spanner

#7329 test(spanner): partition concurrent RestoreDatabase() calls by instance
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: cla: yes, api: spanner

#7331 cleanup: cosmetic cleanup
  google/cloud/grpc_options.cc
  google/cloud/grpc_options.h
Labels: cla: yes

#7328 cleanup(spanner): prefer obj.FullName() for producing resource names
  google/cloud/kms_key_name_test.cc
  google/cloud/project_test.cc
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/backup_test.cc
  google/cloud/spanner/create_instance_request_builder.h
  google/cloud/spanner/create_instance_request_builder_test.cc
  google/cloud/spanner/database_test.cc
  google/cloud/spanner/instance_test.cc
  google/cloud/spanner/internal/database_admin_metadata_test.cc
  google/cloud/spanner/internal/instance_admin_metadata_test.cc
  google/cloud/spanner/internal/metadata_spanner_stub_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/update_instance_request_builder_test.cc
Labels: cla: yes, api: spanner

#7335 feat(pubsub): add policy options; default common options
  google/cloud/internal/retry_policy.h
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults.h
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/subscriber_options.cc
Labels: cla: yes, api: pubsub

#7337 test(spanner): extend backup expiry times to be well clear of 6h min
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: cla: yes, api: spanner

#7338 feat(pubsub): configure SchemaAdminConnection with Options
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/schema_admin_connection.h
  google/cloud/pubsub/schema_admin_connection_test.cc
  google/cloud/pubsub/topic_admin_connection.cc
Labels: cla: yes, api: pubsub

#7339 feat(pubsub): configure SubscriptionAdminConnection with Options
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/schema_admin_connection_test.cc
  google/cloud/pubsub/subscription_admin_connection.cc
  google/cloud/pubsub/subscription_admin_connection.h
  google/cloud/pubsub/subscription_admin_connection_test.cc
Labels: cla: yes, api: pubsub

#7341 feat(pubsub): configure PublisherConnection with Options
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/default_batch_sink.cc
  google/cloud/pubsub/internal/default_batch_sink.h
  google/cloud/pubsub/internal/default_batch_sink_test.cc
  google/cloud/pubsub/internal/flow_controlled_publisher_connection.h
  google/cloud/pubsub/internal/flow_controlled_publisher_connection_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/pubsub/testing/test_retry_policies.h
Labels: cla: yes, api: pubsub

#7343 cleanup: fix includes
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/schema_admin_client.cc
  google/cloud/pubsub/schema_admin_client.h
  google/cloud/pubsub/schema_admin_client_test.cc
  google/cloud/pubsub/subscription_builder_test.cc
Labels: cla: yes

#7342 feat(pubsub): configure SubscriberConnection with Options
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session.h
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection.h
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: cla: yes, api: pubsub

#7349 cleanup(pubsub): switch over to new Make*Connection functions in tests, benchmarks, examples
  google/cloud/pubsub/benchmarks/endurance.cc
  google/cloud/pubsub/benchmarks/throughput.cc
  google/cloud/pubsub/integration_tests/schema_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/integration_tests/subscription_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/topic_admin_integration_test.cc
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/samples.cc
Labels: cla: yes, api: pubsub

#7350 cleanup(pubsub): remove unused code; tidy up other code; edit documentation
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/create_channel.cc
  google/cloud/pubsub/internal/create_channel.h
  google/cloud/pubsub/internal/default_retry_policies.cc
  google/cloud/pubsub/internal/default_retry_policies.h
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/emulator_overrides.cc
  google/cloud/pubsub/internal/emulator_overrides.h
  google/cloud/pubsub/internal/emulator_overrides_test.cc
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/publisher.h
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscription_admin_connection.cc
  google/cloud/pubsub/testing/test_retry_policies.cc
  google/cloud/pubsub/testing/test_retry_policies.h
  google/cloud/pubsub/topic_admin_connection.cc
Labels: cla: yes, api: pubsub

#7351 cleanup: add missing option to option list
  google/cloud/grpc_options.h
  google/cloud/grpc_options_test.cc
Labels: cla: yes

#7352 cleanup: using directives for some tests
  google/cloud/bigtable/benchmarks/benchmark_options_test.cc
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/grpc_options_test.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/tuple_utils_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/curl_handle_factory_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_url_test.cc
  google/cloud/storage/internal/hmac_key_requests_test.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/policy_document_request_test.cc
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/internal/storage_auth_test.cc
  google/cloud/storage/lifecycle_rule_test.cc
  google/cloud/storage/policy_document_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
  google/cloud/testing_util/command_line_parsing_test.cc
Labels: cla: yes

#7353 test(spanner): extend timeouts for "slow" database operations
  ci/cloudbuild/builds/integration-daily.sh
  ci/cloudbuild/cloudbuild.yaml
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: cla: yes, api: spanner

#7354 feat(common): add ability to supply a user-run CQ to gRPC options
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/async_longrunning_op_test.cc
  google/cloud/bigtable/internal/async_poll_op_test.cc
  google/cloud/bigtable/internal/async_retry_unary_rpc_and_poll_test.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/testing/table_test_fixture.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
  google/cloud/grpc_options.cc
  google/cloud/grpc_options.h
  google/cloud/grpc_options_test.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: cla: yes

#7355 cleanup(pubsub): use new `GrpcCompletionQueueOption`
  google/cloud/pubsub/publisher.h
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscriber.h
Labels: cla: yes, api: pubsub

#7358 doc: add gRPC steps to storage quickstart
  google/cloud/storage/quickstart/README.md
Labels: cla: yes

#7359 cleanup(spanner): deprecate legacy Spanner admin interfaces
  .clang-format
  CHANGELOG.md
  ci/cloudbuild/builds/publish-docs.sh
  cmake/GoogleCloudCppCommon.cmake
  generator/integration_tests/golden/tests/.clang-format
  google/cloud/spanner/database_admin_client.cc
  google/cloud/spanner/database_admin_client.h
  google/cloud/spanner/database_admin_client_test.cc
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection.h
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_client.cc
  google/cloud/spanner/instance_admin_client.h
  google/cloud/spanner/instance_admin_client_test.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/instance_admin_connection.h
  google/cloud/spanner/instance_admin_connection_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/version.h
Labels: cla: yes, api: spanner

#7361 refactor(storage): split JSON parsing and generation
  google/cloud/storage/internal/bucket_metadata_parser.cc
Labels: cla: yes, api: storage

#7362 refactor(storage): split computed bucket patch
  google/cloud/storage/internal/bucket_requests.cc
Labels: cla: yes, api: storage

#7364 fix: update Debian 11 (Bullseye) packaging instructions
  ci/cloudbuild/dockerfiles/demo-debian-bullseye.Dockerfile
  ci/generate-markdown/generate-packaging.sh
  doc/packaging.md
Labels: cla: yes

#7366 fix(storage): eliminate dangling function references
  google/cloud/storage/internal/bucket_metadata_parser.cc
Labels: cla: yes, api: storage

#7370 test(spanner): split the backup/restore test cases into two tests
  google/cloud/spanner/admin/integration_tests/CMakeLists.txt
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/spanner_admin_integration_tests.bzl
  google/cloud/spanner/integration_tests/CMakeLists.txt
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/spanner_client_integration_tests.bzl
Labels: cla: yes, api: spanner

#7371 cleanup(spanner): Fix copyright years
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
Labels: cla: yes, api: spanner

#7373 docs(bigtable): add documentation for no automatic channel refresh
  google/cloud/bigtable/options.h
Labels: cla: yes, api: bigtable

#7374 test(storage): do not use `CurlRequest` in tests
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
Labels: cla: yes, api: storage

#7376 cleanup(storage): prevent reuse of CurlRequest*
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/minimal_iam_credentials_rest.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
Labels: cla: yes, api: storage

#7378 fix: substitute build metadata (git commit) in bazel builds
  .bazelrc
  bazel/workspace_status_command.sh
  google/cloud/BUILD
  google/cloud/spanner/spanner_version_test.cc
Labels: cla: yes

#7382 test(storage): switch integration tests to httpbin.org
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes, api: storage

#7385 ci: support alternative docker networks
  ci/cloudbuild/build.sh
Labels: cla: yes
