Repository googleapis/google-cloud-cpp, pull requests merged in 2021-12, with the labels that each got.

#7675 doc: update CHANGELOG for v1.34.0 release
  CHANGELOG.md
Labels: cla: yes

#7678 chore: update versions post v1.34.0
  CMakeLists.txt
  ci/abi-dumps/google_cloud_cpp_bigquery.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_bigtable.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_common.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_grpc_utils.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_iam.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_pubsub.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
  google/cloud/internal/version_info.h
Labels: cla: yes

#7669 feat(common): add support for call-tree-specific options
  google/cloud/internal/async_connection_ready.cc
  google/cloud/internal/async_read_stream_impl.h
  google/cloud/internal/async_read_write_stream_impl.h
  google/cloud/internal/async_retry_loop_test.cc
  google/cloud/internal/async_rpc_details.h
  google/cloud/internal/default_completion_queue_impl.cc
  google/cloud/options.cc
  google/cloud/options.h
  google/cloud/options_test.cc
  google/cloud/testing_util/fake_completion_queue_impl.cc
Labels: cla: yes

#7681 cleanup: remove workaround for old protobuf+compiler
  external/googleapis/CMakeLists.txt
Labels: cla: yes

#7682 doc(common): add a note about AsyncGrpcOperation and OptionsSpan
  google/cloud/async_operation.h
Labels: cla: yes

#7684 cleanup: warn about untested compiler versions
  CMakeLists.txt
Labels: cla: yes

#7685 cleanup(bigtable): remove workaround for old protobuf versions
  google/cloud/bigtable/instance_admin.cc
Labels: cla: yes, api: bigtable

#7687 cleanup: only stop build based on our requirements
  CMakeLists.txt
Labels: cla: yes

#7683 feat(generator): add options support to generated clients
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/integration_tests/golden/golden_kitchen_sink_client.cc
  generator/integration_tests/golden/golden_kitchen_sink_client.h
  generator/integration_tests/golden/golden_thing_admin_client.cc
  generator/integration_tests/golden/golden_thing_admin_client.h
  generator/internal/client_generator.cc
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
  google/cloud/bigquery/bigquery_read_client.cc
  google/cloud/bigquery/bigquery_read_client.h
  google/cloud/iam/iam_client.cc
  google/cloud/iam/iam_client.h
  google/cloud/iam/iam_credentials_client.cc
  google/cloud/iam/iam_credentials_client.h
  google/cloud/logging/logging_service_v2_client.cc
  google/cloud/logging/logging_service_v2_client.h
  google/cloud/pubsublite/admin_client.cc
  google/cloud/pubsublite/admin_client.h
  google/cloud/secretmanager/secret_manager_client.cc
  google/cloud/secretmanager/secret_manager_client.h
  google/cloud/spanner/admin/database_admin_client.cc
  google/cloud/spanner/admin/database_admin_client.h
  google/cloud/spanner/admin/instance_admin_client.cc
  google/cloud/spanner/admin/instance_admin_client.h
  google/cloud/tasks/cloud_tasks_client.cc
  google/cloud/tasks/cloud_tasks_client.h
Labels: cla: yes

#7693 chore: bump checkers typos version so it works on mac and fix typos
  .typos.toml
  ci/cloudbuild/dockerfiles/checkers.Dockerfile
  ci/cloudbuild/notifiers/bigquery/deploy.sh
  ci/lib/io.sh
  doc/adr/2018-06-19-do-not-duplicate-server-side-validation.md
  generator/internal/codegen_utils_test.cc
  google/cloud/bigtable/async_row_reader_test.cc
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
  google/cloud/bigtable/examples/data_filter_snippets.cc
  google/cloud/bigtable/mutation_batcher_test.cc
  google/cloud/bigtable/mutations_test.cc
  google/cloud/bigtable/options.h
  google/cloud/bigtable/row_reader_test.cc
  google/cloud/internal/base64_transforms_test.cc
  google/cloud/spanner/row_test.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/examples/storage_public_object_samples.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/make_jwt_assertion_test.cc
  google/cloud/storage/internal/self_signing_service_account_credentials_test.cc
  google/cloud/storage/internal/unified_rest_credentials_test.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/storage_iam_policy_test.cc
  google/cloud/storage/testing/constants.h
  google/cloud/storage/tests/signed_url_conformance_test.cc
  google/cloud/testing_util/contains_once_test.cc
Labels: cla: yes, automerge

#7695 ci: update all library READMES with a single script
  ci/cloudbuild/builds/checkers.sh
  ci/cloudbuild/builds/lib/features.sh
  ci/generate-markdown/generate-bigquery-readme.sh
  ci/generate-markdown/generate-bigtable-readme.sh
  ci/generate-markdown/generate-iam-readme.sh
  ci/generate-markdown/generate-pubsub-readme.sh
  ci/generate-markdown/generate-spanner-readme.sh
  ci/generate-markdown/generate-storage-readme.sh
  ci/generate-markdown/update-library-readme.sh
  generator/internal/scaffold_generator.cc
  generator/internal/scaffold_generator_test.cc
  google/cloud/bigquery/README.md
  google/cloud/bigquery/quickstart/Makefile
  google/cloud/bigquery/quickstart/README.md
  google/cloud/bigtable/README.md
  google/cloud/bigtable/quickstart/Makefile
  google/cloud/bigtable/quickstart/README.md
  google/cloud/iam/README.md
  google/cloud/iam/quickstart/Makefile
  google/cloud/iam/quickstart/README.md
  google/cloud/logging/README.md
  google/cloud/logging/quickstart/Makefile
  google/cloud/logging/quickstart/README.md
  google/cloud/pubsub/README.md
  google/cloud/pubsub/benchmarks/README.md
  google/cloud/pubsub/quickstart/Makefile
  google/cloud/pubsub/quickstart/README.md
  google/cloud/pubsublite/README.md
  google/cloud/pubsublite/quickstart/Makefile
  google/cloud/pubsublite/quickstart/README.md
  google/cloud/secretmanager/README.md
  google/cloud/secretmanager/quickstart/Makefile
  google/cloud/secretmanager/quickstart/README.md
  google/cloud/spanner/README.md
  google/cloud/spanner/quickstart/Makefile
  google/cloud/spanner/quickstart/README.md
  google/cloud/storage/README.md
  google/cloud/storage/quickstart/Makefile
  google/cloud/storage/quickstart/README.md
  google/cloud/tasks/README.md
  google/cloud/tasks/quickstart/Makefile
  google/cloud/tasks/quickstart/README.md
Labels: cla: yes

#7696 fix(common): backoff policy clones initial state
  CHANGELOG.md
  google/cloud/bigtable/rpc_backoff_policy.cc
  google/cloud/bigtable/rpc_backoff_policy.h
  google/cloud/bigtable/rpc_backoff_policy_test.cc
  google/cloud/internal/backoff_policy.cc
  google/cloud/internal/backoff_policy.h
  google/cloud/internal/backoff_policy_test.cc
Labels: cla: yes

#7697 doc: prefer who vs. that for people
  README.md
  ci/generate-markdown/generate-packaging.sh
  ci/generate-markdown/generate-readme.sh
  doc/contributor/howto-guide-setup-cmake-environment.md
  doc/contributor/howto-guide-setup-development-workstation.md
  doc/contributor/working-with-bazel-and-cmake.md
  doc/packaging.md
  generator/internal/scaffold_generator.cc
Labels: cla: yes

#7699 chore: Actually disable nlohmann/json test compilation which doesn't work on mac
  ci/cloudbuild/dockerfiles/debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-centos-7.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/demo-opensuse-leap.Dockerfile
  ci/cloudbuild/dockerfiles/demo-rockylinux-8.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-bionic.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-focal.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34-cxx11.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34-cxx20.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  doc/packaging.md
Labels: automerge

#7700 feat(bigtable): generate admin APIs
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin/bigtable_instance_admin_client.cc
  google/cloud/bigtable/admin/bigtable_instance_admin_client.h
  google/cloud/bigtable/admin/bigtable_instance_admin_connection.cc
  google/cloud/bigtable/admin/bigtable_instance_admin_connection.h
  google/cloud/bigtable/admin/bigtable_instance_admin_connection_idempotency_policy.cc
  google/cloud/bigtable/admin/bigtable_instance_admin_connection_idempotency_policy.h
  google/cloud/bigtable/admin/bigtable_instance_admin_options.h
  google/cloud/bigtable/admin/bigtable_table_admin_client.cc
  google/cloud/bigtable/admin/bigtable_table_admin_client.h
  google/cloud/bigtable/admin/bigtable_table_admin_connection.cc
  google/cloud/bigtable/admin/bigtable_table_admin_connection.h
  google/cloud/bigtable/admin/bigtable_table_admin_connection_idempotency_policy.cc
  google/cloud/bigtable/admin/bigtable_table_admin_connection_idempotency_policy.h
  google/cloud/bigtable/admin/bigtable_table_admin_options.h
  google/cloud/bigtable/admin/integration_tests/BUILD
  google/cloud/bigtable/admin/integration_tests/CMakeLists.txt
  google/cloud/bigtable/admin/integration_tests/admin_backup_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/admin_iam_policy_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/bigtable_admin_integration_tests.bzl
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_auth_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_auth_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_logging_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_logging_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_metadata_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_metadata_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_option_defaults.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_option_defaults.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_retry_traits.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_stub.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_stub.h
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_stub_factory.cc
  google/cloud/bigtable/admin/internal/bigtable_instance_admin_stub_factory.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_auth_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_auth_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_logging_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_logging_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_metadata_decorator.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_metadata_decorator.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_option_defaults.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_option_defaults.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_retry_traits.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_stub.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_stub.h
  google/cloud/bigtable/admin/internal/bigtable_table_admin_stub_factory.cc
  google/cloud/bigtable/admin/internal/bigtable_table_admin_stub_factory.h
  google/cloud/bigtable/admin/mocks/mock_bigtable_instance_admin_connection.h
  google/cloud/bigtable/admin/mocks/mock_bigtable_table_admin_connection.h
  google/cloud/bigtable/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
Labels: api: bigtable

#7692 fix(pubsub): Change AsyncReadWriteStreamAuth to be usable with unique_ptr
  google/cloud/internal/async_read_write_stream_auth.h
  google/cloud/internal/async_read_write_stream_auth_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/subscriber_auth.cc
  google/cloud/pubsub/internal/subscriber_auth.h
  google/cloud/pubsub/internal/subscriber_auth_test.cc
  google/cloud/pubsub/internal/subscriber_logging.cc
  google/cloud/pubsub/internal/subscriber_logging.h
  google/cloud/pubsub/internal/subscriber_metadata.cc
  google/cloud/pubsub/internal/subscriber_metadata.h
  google/cloud/pubsub/internal/subscriber_round_robin.cc
  google/cloud/pubsub/internal/subscriber_round_robin.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/testing/mock_subscriber_stub.h
Labels: cla: yes, api: pubsub

#7702 fix(storage): more strict parsing for HttpResponse
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage

#7704 refactor(spanner): prefer AsyncRetryLoop to StartRetryAsyncUnaryRpc
  google/cloud/spanner/integration_tests/session_pool_integration_test.cc
  google/cloud/spanner/internal/logging_spanner_stub.cc
  google/cloud/spanner/internal/logging_spanner_stub.h
  google/cloud/spanner/internal/metadata_spanner_stub.cc
  google/cloud/spanner/internal/metadata_spanner_stub.h
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/internal/spanner_stub.h
  google/cloud/spanner/testing/mock_spanner_stub.h
Labels: api: spanner

#7707 fix(storage): more strict parsing for HttpResponse
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage

#7706 feat(spanner): spanner::Client construction from Options
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_options.cc
  google/cloud/spanner/client_options.h
  google/cloud/spanner/client_options_test.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/options.h
  google/cloud/spanner/query_options.cc
  google/cloud/spanner/query_options.h
  google/cloud/spanner/query_options_test.cc
Labels: api: spanner

#7694 feat(storage): capture metadata info in downloads
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/grpc_object_read_source.cc
  google/cloud/storage/internal/object_read_source.h
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/tests/object_read_headers_integration_test.cc
Labels: cla: yes, api: storage

#7714 feat(spanner): add per-operation options to Commit() and Rollback()
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/commit_options.cc
  google/cloud/spanner/commit_options.h
  google/cloud/spanner/commit_options_test.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/options.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#7723 cleanup(storage): remove old workaround for HMAC keys
  google/cloud/storage/tests/service_account_integration_test.cc
Labels: api: storage

#7725 test(bigtable): ignore warning when deleting app profile
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_emulator.cc
Labels: api: bigtable

#7728 ore(spanner): rename spanner optimizer options
  google/cloud/spanner/client_options.cc
  google/cloud/spanner/client_options_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/query_options.cc
  google/cloud/spanner/query_options_test.cc
Labels: api: spanner

#7729 cleanup(bigtable): prefer generated instance admin API
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/doc/bigtable-samples-grpc-credentials.dox
  google/cloud/bigtable/examples/bigtable_examples_common.cc
  google/cloud/bigtable/examples/bigtable_examples_common.h
  google/cloud/bigtable/examples/bigtable_examples_common_test.cc
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/testing/cleanup_stale_resources.cc
  google/cloud/bigtable/testing/cleanup_stale_resources.h
  google/cloud/bigtable/testing/cleanup_stale_resources_test.cc
Labels: api: bigtable

#7730 cleanup(storage): remove pre-GA workarounds for PAP
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
Labels: api: storage

#7731 cleanup(bigtable): fix cleanup of stale instances
  google/cloud/bigtable/testing/cleanup_stale_resources.cc
  google/cloud/bigtable/testing/cleanup_stale_resources_test.cc
Labels: api: bigtable

#7733 refactor(bigtable): prefer generated Table Admin
  google/cloud/bigtable/admin/integration_tests/admin_backup_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/admin_iam_policy_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/embedded_server_test.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_benchmark.cc
  google/cloud/bigtable/doc/bigtable-hello-instance-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-table-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/examples/README.md
  google/cloud/bigtable/examples/bigtable_examples_common.cc
  google/cloud/bigtable/examples/bigtable_examples_common.h
  google/cloud/bigtable/examples/bigtable_examples_common_test.cc
  google/cloud/bigtable/examples/bigtable_grpc_credentials.cc
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_world.cc
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/bigtable_table_admin_backup_snippets.cc
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/data_filter_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/read_snippets.cc
  google/cloud/bigtable/examples/table_admin_iam_policy_snippets.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/testing/cleanup_stale_resources.cc
  google/cloud/bigtable/testing/cleanup_stale_resources.h
  google/cloud/bigtable/testing/cleanup_stale_resources_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/admin_backup_integration_test.cc
  google/cloud/bigtable/tests/admin_iam_policy_integration_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
Labels: api: bigtable

#7734 cleanup(bigtable): move mocks into their own library
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/bigtable/BUILD.bazel
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable_mocks.bzl
Labels: api: bigtable

#7746 fix(spanner): switch order of ListBackupOperations() filter conjuncts
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#7758 test(bigtable): run a few more tests against emulator
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
Labels: api: bigtable

#7761 feat(storage): enable c-ares for libcurl under Bazel
  bazel/curl.BUILD
Labels: api: storage

#7671 feat(pubsublite): stream factories for PSL bidi streams
  google/cloud/bigtable/testing/table_test_fixture.cc
  google/cloud/bigtable/testing/table_test_fixture.h
  google/cloud/completion_queue.h
  google/cloud/internal/async_read_write_stream_impl.h
  google/cloud/pubsublite/BUILD.bazel
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/google_cloud_cpp_pubsublite_mocks.bzl
  google/cloud/pubsublite/internal/stream_factory.h
  google/cloud/pubsublite/internal/stream_factory_test.cc
Labels: cla: yes, api: pubsublite

#7770 cleanup(pubsublite): fix clang-tidy errors
  google/cloud/pubsublite/internal/stream_factory.h
Labels: api: pubsublite

#7787 cleanup(pubsublite): use bzl config files
  google/cloud/pubsublite/BUILD.bazel
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/google_cloud_cpp_pubsublite_mocks.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
Labels: api: pubsublite
