Repository googleapis/google-cloud-cpp, pull requests merged in 2021-07, with the labels that each got.

#6908 fix(storage): allow overwrites in parallel uploads
  google/cloud/storage/client.h
  google/cloud/storage/tests/object_parallel_upload_integration_test.cc
Labels: api: storage, cla: yes

#6911 chore: update googleapis version
  bazel/google_cloud_cpp_deps.bzl
  external/googleapis/CMakeLists.txt
  google/cloud/bigquery/bigquery_read_client.h
  google/cloud/iam/iam_client.h
  google/cloud/iam/iam_credentials_client.h
  google/cloud/logging/logging_service_v2_client.h
Labels: cla: yes

#6912 chore: update release notes for v1.29.0 release
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_bigtable.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_common.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_grpc_utils.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_pubsub.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
Labels: cla: yes

#6918 fix(iam): SetIamPolicy sample from attempting concurrent changes
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam, cla: yes, samples

#6917 chore: update version numbers post v1.29.x release
  CHANGELOG.md
  CMakeLists.txt
  google/cloud/bigquery/quickstart/WORKSPACE
  google/cloud/bigtable/quickstart/WORKSPACE
  google/cloud/iam/quickstart/WORKSPACE
  google/cloud/internal/version_info.h
  google/cloud/pubsub/quickstart/WORKSPACE
  google/cloud/spanner/quickstart/WORKSPACE
  google/cloud/storage/quickstart/WORKSPACE
  google/cloud/storage/quickstart/grpc/WORKSPACE
Labels: cla: yes

#6914 test(storage): public access prevention in prod
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage, cla: yes

#6913 cleanup(storage): simplify integration test cleanup
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/alternative_endpoint_integration_test.cc
  google/cloud/storage/tests/auto_finalize_integration_test.cc
  google/cloud/storage/tests/create_client_integration_test.cc
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/tests/error_injection_integration_test.cc
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_compose_many_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_insert_preconditions_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_serially_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_simultaneously_integration_test.cc
  google/cloud/storage/tests/object_read_headers_integration_test.cc
  google/cloud/storage/tests/object_read_preconditions_integration_test.cc
  google/cloud/storage/tests/object_read_range_integration_test.cc
  google/cloud/storage/tests/object_resumable_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_rewrite_integration_test.cc
  google/cloud/storage/tests/object_write_preconditions_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
  google/cloud/storage/tests/slow_reader_chunk_integration_test.cc
  google/cloud/storage/tests/slow_reader_stream_integration_test.cc
  google/cloud/storage/tests/small_reads_integration_test.cc
  google/cloud/storage/tests/tracing_integration_test.cc
  google/cloud/storage/tests/unified_credentials_integration_test.cc
Labels: api: storage, cla: yes

#6920 doc: update release/README.md
  release/README.md
Labels: cla: yes

#6921 cleanup(bigtable)!: remove async functions that take `CompletionQueue` as a param
  CHANGELOG.md
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/version.h
Labels: cla: yes

#6922 refactor(bigtable): refactor impls of (mainly async) `Table` functions
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable, cla: yes

#6923 fix(storage): pre-conditions are too restrictive
  google/cloud/storage/client.h
  google/cloud/storage/object_test.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/parallel_uploads_test.cc
Labels: api: storage, cla: yes

#6924 refactor(storage): benchmark command-line parsing
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/create_dataset_options.cc
  google/cloud/storage/benchmarks/throughput_options.cc
Labels: api: storage, cla: yes

#6925 test(storage): emulator supports the benchmarks too
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
Labels: api: storage, cla: yes

#6926 fix: GrpcNumChannels option can be zero
  google/cloud/spanner/client.cc
  google/cloud/storage/internal/grpc_client.cc
Labels: cla: yes

#6927 feat(storage): benchmark aggregate download banwidth
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_throughput_options_test.cc
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
  google/cloud/storage/benchmarks/storage_benchmarks.bzl
  google/cloud/storage/benchmarks/storage_benchmarks_unit_tests.bzl
Labels: api: storage, cla: yes

#6931 cleanup(storage): remove unused benchmark
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/storage_benchmark_programs.bzl
  google/cloud/storage/benchmarks/storage_shard_throughput_benchmark.cc
Labels: api: storage, cla: yes

#6937 fix(storage): use StatusOr<T> for metadata parsing
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/common_metadata_parser.h
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/internal/object_access_control_parser.cc
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/internal/object_requests.cc
Labels: api: storage, cla: yes

#6939 fix(storage): parsing timestamps should return status
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/common_metadata_parser.h
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/internal/object_metadata_parser.cc
Labels: api: storage, cla: yes

#6932 test: simplify helpers to track usage
  google/cloud/pubsub/benchmarks/throughput.cc
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/testing_util/timer.cc
  google/cloud/testing_util/timer.h
Labels: cla: yes

#6940 cleanup(storage): remove unused internal type
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage, cla: yes

#6938 cleanup(storage): simplify one of the integration tests
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage, cla: yes

#6936 test(storage): better logging on emulator startup
  google/cloud/storage/tools/run_emulator_utils.sh
Labels: api: storage, cla: yes

#6942 refactor(storage): prefer ParseTimestampField
  google/cloud/storage/internal/hmac_key_metadata_parser.cc
Labels: api: storage, cla: yes

#6943 fix(common): ParseRfc3339 returns StatusOr<>
  google/cloud/internal/format_time_point_test.cc
  google/cloud/internal/parse_rfc3339.cc
  google/cloud/internal/parse_rfc3339.h
  google/cloud/internal/parse_rfc3339_test.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/internal/minimal_iam_credentials_rest.cc
  google/cloud/storage/internal/policy_document_request_test.cc
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/policy_document_test.cc
  google/cloud/storage/testing/remove_stale_buckets_test.cc
Labels: cla: yes

#6944 cleanup(storage): CurlHandle::SetOption assertions
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_test.cc
  google/cloud/storage/internal/curl_request.cc
Labels: cla: yes

#6945 test(bigtable): increase ClientOptions test coverage
  google/cloud/bigtable/client_options_test.cc
Labels: api: bigtable, cla: yes

#6941 feat(storage): CPU usage in throughput benchmark
  google/cloud/pubsub/benchmarks/throughput.cc
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/testing_util/timer.cc
  google/cloud/testing_util/timer.h
Labels: api: storage, cla: yes

#6951 test(GCS+gRPC): verify small uploads are optimized
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_insert_object_media_test.cc
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
  google/cloud/storage/testing/mock_storage_stub.h
Labels: cla: yes

#6950 test(spanner): verify that NUMERIC can be used as a table key
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner, cla: yes

#6953 feat(storage): more accurate aggregate bandwidth results
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
Labels: api: storage, cla: yes

#6954 refactor(spanner): move Base64 codecs to common
  google/cloud/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.bzl
  google/cloud/google_cloud_cpp_common_unit_tests.bzl
  google/cloud/internal/base64_transforms.cc
  google/cloud/internal/base64_transforms.h
  google/cloud/internal/base64_transforms_test.cc
  google/cloud/spanner/bytes.cc
  google/cloud/spanner/bytes.h
  google/cloud/spanner/bytes_test.cc
Labels: api: spanner, cla: yes

#6958 test(spanner): use text protos to test admin-connection APIs
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_connection_test.cc
Labels: api: spanner, cla: yes

#6956 feat(storage): use Base64 transforms
  google/cloud/internal/base64_transforms.cc
  google/cloud/internal/base64_transforms.h
  google/cloud/storage/internal/openssl_util.cc
Labels: api: storage, cla: yes

#6959 cleanup(GCS+gRPC): compute MD5 hashes directly
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_test.cc
  google/cloud/storage/internal/grpc_object_read_source_test.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/openssl_util_test.cc
Labels: cla: yes

#6960 cleanup(GCS+gRPC): reduce noise from unit test
  google/cloud/storage/internal/grpc_object_read_source_test.cc
Labels: cla: yes

#6957 doc(iam): add samples for mocks and StatusOr usage
  google/cloud/iam/samples/BUILD
  google/cloud/iam/samples/CMakeLists.txt
  google/cloud/iam/samples/iam_client_mock_samples.bzl
  google/cloud/iam/samples/iam_samples.cc
  google/cloud/iam/samples/mock_iam.cc
  google/cloud/iam/samples/mock_iam_credentials.cc
Labels: api: iam, cla: yes, samples

#6963 fix(GCS+gRPC): no hashes in Object resource
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client_object_request_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
Labels: cla: yes

#6962 feat(common): add option to set background thread pool size
  generator/integration_tests/golden/golden_kitchen_sink_connection.cc
  generator/integration_tests/golden/golden_thing_admin_connection.cc
  generator/integration_tests/golden/internal/golden_kitchen_sink_option_defaults.cc
  generator/integration_tests/golden/internal/golden_thing_admin_option_defaults.cc
  generator/internal/connection_generator.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/bigquery/bigquery_read_connection.cc
  google/cloud/bigquery/internal/bigquery_read_option_defaults.cc
  google/cloud/grpc_options.cc
  google/cloud/grpc_options.h
  google/cloud/grpc_options_test.cc
  google/cloud/iam/iam_connection.cc
  google/cloud/iam/iam_credentials_connection.cc
  google/cloud/iam/internal/iam_credentials_option_defaults.cc
  google/cloud/iam/internal/iam_option_defaults.cc
  google/cloud/logging/internal/logging_service_v2_option_defaults.cc
  google/cloud/logging/logging_service_v2_connection.cc
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
  google/cloud/storage/internal/grpc_client.cc
Labels: cla: yes

#6964 doc(iam): add doxygen landing pages
  google/cloud/iam/CMakeLists.txt
  google/cloud/iam/doc/iam-credentials-mock.dox
  google/cloud/iam/doc/iam-main.dox
  google/cloud/iam/doc/iam-mock.dox
Labels: api: iam, cla: yes

#6961 cleanup(storage): error handling in base64 decoding
  google/cloud/storage/client.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_test.cc
  google/cloud/storage/internal/grpc_object_read_source_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session_url.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/openssl_util_test.cc
  google/cloud/storage/internal/self_signing_service_account_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/testing/write_base64.cc
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/signed_url_conformance_test.cc
  google/cloud/storage/well_known_headers.cc
Labels: api: storage, cla: yes

#6949 feat(bigtable): start converting bigtable to use `g::c::Options`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults.h
  google/cloud/bigtable/internal/logging_admin_client.h
  google/cloud/bigtable/internal/logging_data_client.h
  google/cloud/bigtable/internal/logging_instance_admin_client.h
  google/cloud/bigtable/options.h
  google/cloud/bigtable/testing/inprocess_admin_client.h
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_admin_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/testing/mock_instance_admin_client.h
Labels: api: bigtable, cla: yes

#6968 cleanup(generator): remove defaulting of unused option
  generator/integration_tests/golden/internal/golden_kitchen_sink_option_defaults.cc
  generator/integration_tests/golden/internal/golden_thing_admin_option_defaults.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/bigquery/internal/bigquery_read_option_defaults.cc
  google/cloud/iam/internal/iam_credentials_option_defaults.cc
  google/cloud/iam/internal/iam_option_defaults.cc
  google/cloud/logging/internal/logging_service_v2_option_defaults.cc
Labels: cla: yes

#6967 feat(GCS+gRPC): checksums on ObjectInsert
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_insert_object_media_test.cc
  google/cloud/storage/internal/grpc_client_object_request_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
Labels: cla: yes

#6969 cleanup(docs): clean up some doxygen stuff
  ci/generate-markdown/generate-pubsub-readme.sh
  cmake/GoogleCloudCppCommon.cmake
  google/cloud/grpc_options.h
  google/cloud/pubsub/README.md
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/options.h
  google/cloud/spanner/session_pool_options.h
  google/cloud/storage/options.h
Labels: cla: yes

#6974 cleanup: delete extra line
  google/cloud/testing_util/command_line_parsing.cc
Labels: cla: yes

#6973 refactor(spanner): constrain number of channels when we default options
  google/cloud/spanner/client.cc
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/session_pool.cc
Labels: api: spanner, cla: yes

#6972 ci: use vcpkg for macOS build
  ci/kokoro/macos/builds/cmake-vcpkg.sh
  ci/kokoro/macos/cmake-vcpkg-presubmit.cfg
  ci/kokoro/macos/cmake-vcpkg.cfg
Labels: cla: yes

#6971 ci: gcc-3.8 and gcc-5.4 do not need super builds
  ci/cloudbuild/builds/clang-38.sh
  ci/cloudbuild/builds/gcc-54.sh
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes

#6975 ci: update macOS builds to use vcpkg
  README.md
  ci/generate-markdown/generate-readme.sh
  ci/kokoro/macos/builds/cmake-super.sh
  ci/kokoro/macos/cmake-super-presubmit.cfg
  ci/kokoro/macos/cmake-super.cfg
Labels: cla: yes

#6977 cleanup: remove super/ directory and builds
  CHANGELOG.md
  README.md
  ci/cloudbuild/builds/cmake-super.sh
  ci/cloudbuild/triggers/cmake-super-ci.yaml
  ci/cloudbuild/triggers/cmake-super-pr.yaml
  ci/generate-markdown/generate-readme.sh
  doc/contributor/howto-guide-setup-development-workstation.md
  google/cloud/spanner/benchmarks/README.md
  google/cloud/storage/benchmarks/README.md
  super/CMakeLists.txt
  super/ExternalProjectHelper.cmake
  super/external/abseil-patch.cmake
  super/external/abseil.cmake
  super/external/benchmark.cmake
  super/external/c-ares.cmake
  super/external/crc32c.cmake
  super/external/curl.cmake
  super/external/googletest.cmake
  super/external/grpc.cmake
  super/external/nlohmann_json.cmake
  super/external/protobuf.cmake
  super/external/re2.cmake
  super/external/ssl.cmake
  super/external/zlib.cmake
Labels: cla: yes

#6978 doc(bigquery): add doxygen landing pages
  google/cloud/bigquery/doc/bigquery-main.dox
  google/cloud/bigquery/doc/bigquery-read-mock.dox
Labels: api: bigquery, cla: yes

#6981 chore: update google-cloud-sdk
  ci/cloudbuild/build.sh
  ci/install-cloud-sdk.sh
Labels: cla: yes

#6948 doc: add iam and bigquery to published documentation
  ci/cloudbuild/builds/publish-docs.sh
  google/cloud/bigquery/doc/bigquery-main.dox
  google/cloud/iam/doc/iam-main.dox
Labels: cla: yes

#6980 cleanup(storage): split object stream files
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/hash_mismatch_error.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/internal/object_read_streambuf_test.cc
  google/cloud/storage/internal/object_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_stream.h
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/object_write_stream.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
Labels: api: storage, cla: yes

#6983 cleanup(storage): simplify ObjectReadStreambuf
  google/cloud/storage/examples/storage_client_mock_samples.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/tests/small_reads_integration_test.cc
Labels: api: storage, cla: yes

#6985 cleanup(storage): prepare for import into google
  google/cloud/storage/internal/object_write_streambuf.cc
Labels: api: storage, cla: yes

#6986 fix(storage): build with MSVC+x86
  google/cloud/storage/internal/object_read_streambuf.cc
Labels: api: storage, cla: yes

#6988 cleanup(bigtable): unmodify the obsolete constructor
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options.h
Labels: api: bigtable, cla: yes

#6987 cleanup: make user agent prefixes conform
  google/cloud/bigtable/client_options.cc
  google/cloud/internal/user_agent_prefix.cc
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/connection_options.cc
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/user_agent_prefix.cc
  google/cloud/pubsub/internal/user_agent_prefix.h
  google/cloud/pubsub/internal/user_agent_prefix_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/spanner/connection_options.cc
  google/cloud/spanner/internal/defaults.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/internal/curl_request_builder.cc
Labels: cla: yes

#6989 fix(storage): build with MSVC+x86, take 2
  google/cloud/storage/tests/small_reads_integration_test.cc
Labels: api: storage, cla: yes

#6991 feat(GCS+gRPC): option to configure plugin
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_throughput_options_test.cc
  google/cloud/storage/grpc_plugin.h
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_test.cc
Labels: cla: yes

#6990 cleanup(storage): move operators for object streams
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/object_write_stream.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/object_read_stream_integration_test.cc
  google/cloud/storage/tests/object_write_stream_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage, cla: yes

#6992 cleanup(bigtable): prefer `ClientOptions` constructor that uses `Options`
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/embedded_server_test.cc
  google/cloud/bigtable/examples/bigtable_grpc_credentials.cc
Labels: api: bigtable, cla: yes

#6993 cleanup(storage): prevent use-after-move
  google/cloud/storage/internal/object_write_streambuf.cc
Labels: api: storage, cla: yes

#6994 feat(storage): capture peer addres for REST
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
Labels: api: storage, cla: yes

#6997 ci: add DISTRO to bash prompt in build.sh --docker
  ci/cloudbuild/build.sh
Labels: cla: yes

#6999 doc: update Windows development instructions
  doc/contributor/howto-guide-setup-development-workstation.md
Labels: cla: yes

#6998 ci: create build for Clang-6.0
  ci/cloudbuild/builds/clang-60.sh
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/triggers/clang-60-ci.yaml
  ci/cloudbuild/triggers/clang-60-pr.yaml
Labels: cla: yes

#7004 cleanup: prepare for import into Google
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/object_write_stream.cc
Labels: cla: yes

#6995 cleanup: remove non-trivially destructible static variables
  google/cloud/bigtable/benchmarks/random_mutation.cc
  google/cloud/bigtable/benchmarks/setup.cc
  google/cloud/bigtable/client_options.cc
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/generate_message_boundary_test.cc
  google/cloud/storage/oauth2/google_application_default_credentials_file.cc
  google/cloud/storage/well_known_parameters.cc
  google/cloud/version.cc
Labels: cla: yes

#7003 ci: change to docker "bridge" network driver
  ci/cloudbuild/build.sh
Labels: cla: yes

#7001 ci: remove Clang-3.8 support
  CHANGELOG.md
  CMakeLists.txt
  README.md
  ci/cloudbuild/builds/clang-38.sh
  ci/cloudbuild/triggers/clang-38-ci.yaml
  ci/cloudbuild/triggers/clang-38-pr.yaml
  ci/generate-markdown/generate-bigtable-readme.sh
  ci/generate-markdown/generate-iam-readme.sh
  ci/generate-markdown/generate-pubsub-readme.sh
  ci/generate-markdown/generate-readme.sh
  ci/generate-markdown/generate-spanner-readme.sh
  ci/generate-markdown/generate-storage-readme.sh
  google/cloud/README.md
  google/cloud/bigtable/README.md
  google/cloud/iam/README.md
  google/cloud/internal/port_platform.h
  google/cloud/internal/type_list_test.cc
  google/cloud/log.cc
  google/cloud/pubsub/README.md
  google/cloud/spanner/README.md
  google/cloud/spanner/bytes_test.cc
  google/cloud/storage/README.md
  google/cloud/storage/parallel_upload.h
Labels: cla: yes

#6996 refactor(storage): split hash functions vs. validation
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/client.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/internal/hash_function.cc
  google/cloud/storage/internal/hash_function.h
  google/cloud/storage/internal/hash_function_impl.cc
  google/cloud/storage/internal/hash_function_impl.h
  google/cloud/storage/internal/hash_function_impl_test.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator.h
  google/cloud/storage/internal/hash_validator_impl.cc
  google/cloud/storage/internal/hash_validator_impl.h
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/hash_values.cc
  google/cloud/storage/internal/hash_values.h
  google/cloud/storage/internal/hash_values_test.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
Labels: api: storage, cla: yes

#7002 test: avoid using old emulator logs in startup
  google/cloud/pubsub/ci/lib/pubsub_emulator.sh
  google/cloud/spanner/ci/lib/spanner_emulator.sh
  google/cloud/storage/tools/run_emulator_utils.sh
Labels: cla: yes

#7008 test(pubsub): deflake flow control test
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub, cla: yes

#7010 docs(iam): update all pubsub -> iam
  google/cloud/iam/quickstart/Makefile
  google/cloud/iam/quickstart/README.md
  google/cloud/iam/quickstart/WORKSPACE
Labels: api: iam, cla: yes

#7011 cleanup: make sure everything has the correct library name
  google/cloud/bigquery/quickstart/Makefile
  google/cloud/iam/quickstart/CMakeLists.txt
  google/cloud/iam/quickstart/Makefile
  google/cloud/pubsub/quickstart/CMakeLists.txt
  google/cloud/pubsub/quickstart/Makefile
  google/cloud/spanner/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/quickstart/Makefile
  google/cloud/storage/quickstart/grpc/Makefile
Labels: cla: yes

#7012 chore: update googleapis version
  bazel/google_cloud_cpp_deps.bzl
  external/googleapis/CMakeLists.txt
  google/cloud/bigquery/bigquery_read_client.h
  google/cloud/iam/iam_client.h
  google/cloud/iam/iam_credentials_client.h
  google/cloud/logging/logging_service_v2_client.h
Labels: cla: yes

#7013 cleanup: prepare for import into google
  google/cloud/storage/internal/hash_function.cc
Labels: cla: yes

#7017 test(storage): deflake "plenty clients" tests
  google/cloud/storage/tests/object_plenty_clients_serially_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_simultaneously_integration_test.cc
Labels: api: storage, cla: yes

#7018 cleanup(GCS+gRPC): remove RPCs unavailable in v2/
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client_failures_test.cc
  google/cloud/storage/internal/storage_auth.cc
  google/cloud/storage/internal/storage_auth.h
  google/cloud/storage/internal/storage_auth_test.cc
  google/cloud/storage/internal/storage_round_robin.cc
  google/cloud/storage/internal/storage_round_robin.h
  google/cloud/storage/internal/storage_round_robin_test.cc
  google/cloud/storage/internal/storage_stub.cc
  google/cloud/storage/internal/storage_stub.h
  google/cloud/storage/testing/mock_storage_stub.h
  google/cloud/storage/tests/grpc_integration_test.cc
Labels: cla: yes

#7015 feat(storage): add storage v2 protos
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/builds/lib/integration.sh
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  ci/etc/oldest-deps/vcpkg.json
  ci/generate-markdown/generate-packaging.sh
  doc/packaging.md
  external/googleapis/CMakeLists.txt
Labels: api: storage, cla: yes

#7020 test(storage): split unit tests for emulator
  google/cloud/storage/emulator/BUILD
  google/cloud/storage/emulator/ci/run_integration_tests_bazel.sh
  google/cloud/storage/emulator/tests/test_bucket.py
  google/cloud/storage/emulator/tests/test_gcs.py
  google/cloud/storage/emulator/tests/test_holder.py
  google/cloud/storage/emulator/tests/test_object.py
Labels: api: storage, cla: yes

#7019 test(generator): make failures more readable
  generator/integration_tests/generator_integration_test.cc
Labels: cla: yes

#7026 ci: add --docker-clean flag to build.sh
  ci/cloudbuild/build.sh
Labels: cla: yes

#7025 fix(storage): use hash values in InsertObject()
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/tests/test_holder.py
  google/cloud/storage/emulator/utils/common.py
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
Labels: api: storage, cla: yes

#7028 feat(bigtable): cap outstanding mutation number for mutation batcher
  google/cloud/bigtable/mutation_batcher.cc
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/mutation_batcher_test.cc
Labels: api: bigtable, cla: yes

#7033 doc(storage): fix hashing options documentation
  google/cloud/storage/hashing_options.h
Labels: api: storage, cla: yes

#7022 doc(iam): add IAM credentials samples
  google/cloud/iam/samples/CMakeLists.txt
  google/cloud/iam/samples/iam_client_samples.bzl
  google/cloud/iam/samples/iam_credentials_samples.cc
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam, cla: yes, samples

#7034 cleanup(storage): use Disable{MD5*,Crc32c*} consistently
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/hash_function.cc
  google/cloud/storage/internal/hash_validator.cc
Labels: api: storage, cla: yes

#7031 feat(GCS+gRPC): upload checksums with last chunk
  google/cloud/storage/client.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session.h
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.h
  google/cloud/storage/internal/grpc_resumable_upload_session_test.cc
  google/cloud/storage/internal/hash_function.cc
  google/cloud/storage/internal/hash_function_impl_test.cc
  google/cloud/storage/internal/logging_resumable_upload_session.cc
  google/cloud/storage/internal/logging_resumable_upload_session.h
  google/cloud/storage/internal/logging_resumable_upload_session_test.cc
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/resumable_upload_session.h
  google/cloud/storage/internal/retry_resumable_upload_session.cc
  google/cloud/storage/internal/retry_resumable_upload_session.h
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/curl_resumable_upload_session_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
Labels: cla: yes

#7032 test(storage): test all resource fields in emulator
  google/cloud/storage/emulator/gcs/bucket.py
  google/cloud/storage/emulator/gcs/holder.py
  google/cloud/storage/emulator/gcs/object.py
  google/cloud/storage/emulator/tests/test_bucket.py
  google/cloud/storage/emulator/tests/test_holder.py
  google/cloud/storage/emulator/tests/test_object.py
  google/cloud/storage/emulator/utils/common.py
Labels: api: storage, cla: yes

#7035 doc(iam): correct region tag underscores
  google/cloud/iam/samples/iam_credentials_samples.cc
Labels: api: iam, cla: yes

#7036 cleanup(bigtable): strictly enforce bigtable limits in mutation batcher
  google/cloud/bigtable/mutation_batcher.cc
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/mutation_batcher_test.cc
Labels: api: bigtable, cla: yes

#7037 cleanup(storage): use shell to drive emulator tests
  google/cloud/storage/emulator/BUILD
  google/cloud/storage/emulator/ci/run_integration_tests_bazel.sh
Labels: api: storage, cla: yes

#7038 cleanup(GCS+gRPC): remove unused functions
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/grpc_client_bucket_metadata_test.cc
  google/cloud/storage/internal/grpc_client_bucket_request_test.cc
  google/cloud/storage/internal/grpc_client_object_request_test.cc
  google/cloud/storage/internal/grpc_client_test.cc
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
Labels: cla: yes

#7042 doc(storage): warn customers about changes for mocks
  CHANGELOG.md
  google/cloud/storage/doc/storage-mocking.dox
Labels: api: storage, cla: yes

#7045 fix(storage): avoid crashes after move
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/object_write_stream.cc
Labels: api: storage, cla: yes

#7046 chore(storage): commit generated proto files
  ci/cloudbuild/builds/checkers.sh
  google/cloud/storage/emulator/README.md
  google/cloud/storage/emulator/google/iam/v1/iam_policy_pb2.py
  google/cloud/storage/emulator/google/iam/v1/iam_policy_pb2_grpc.py
  google/cloud/storage/emulator/google/iam/v1/options_pb2.py
  google/cloud/storage/emulator/google/iam/v1/options_pb2_grpc.py
  google/cloud/storage/emulator/google/iam/v1/policy_pb2.py
  google/cloud/storage/emulator/google/iam/v1/policy_pb2_grpc.py
  google/cloud/storage/emulator/google/storage/v2/storage_pb2.py
  google/cloud/storage/emulator/google/storage/v2/storage_pb2_grpc.py
Labels: api: storage, cla: yes

#7049 chore(deps): revert updates to gRPC 1.39.0
  bazel/google_cloud_cpp_deps.bzl
  ci/cloudbuild/dockerfiles/demo-centos-7.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/demo-opensuse-leap.Dockerfile
  ci/cloudbuild/dockerfiles/demo-rockylinux-8.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-bionic.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-focal.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-xenial.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  doc/packaging.md
Labels: cla: yes

#7047 testing(spanner): avoid multi-region instances during CMEK testing
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, cla: yes

#7050 testing(spanner): remove the restriction on low-cost-instance location
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, cla: yes

#7048 cleanup(storage): remove unused code in emulator
  google/cloud/storage/emulator/database.py
  google/cloud/storage/emulator/emulator.py
  google/cloud/storage/emulator/gcs/bucket.py
  google/cloud/storage/emulator/grpc_server.py
  google/cloud/storage/emulator/tests/test_bucket.py
Labels: api: storage, cla: yes

#7056 feat(storage): aggregate throughput benchmark redesign
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_throughput_options_test.cc
Labels: api: storage, cla: yes

#7057 doc: fix cmake instructions in top-level README
  README.md
  ci/generate-markdown/generate-readme.sh
Labels: cla: yes

#7060 ci: parallelize docker RUN builds whenver possible
  ci/cloudbuild/dockerfiles/demo-centos-7.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/demo-opensuse-leap.Dockerfile
  ci/cloudbuild/dockerfiles/demo-rockylinux-8.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-bionic.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-focal.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-xenial.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  doc/packaging.md
Labels: cla: yes

#7061 ci: avoid fedora's `pkgconf` which is slow
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  doc/packaging.md
Labels: cla: yes

#7063 test(storage): make ScheduleForDelete() thread-safe
  google/cloud/storage/testing/storage_integration_test.h
Labels: api: storage, cla: yes

#7065 cleanup(storage): simplify CurlDownloadRequest
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
Labels: api: storage, cla: yes

#7058 feat(common): make GCP_LOG(FATAL) terminate execution
  generator/generator_test.cc
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
  generator/internal/predicate_utils.cc
  generator/internal/predicate_utils_test.cc
  generator/internal/service_code_generator_test.cc
  google/cloud/log.h
  google/cloud/log_test.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle_test.cc
Labels: cla: yes

#7066 cleanup(storage): correct return value for WriteCallback
  google/cloud/storage/internal/curl_download_request.cc
Labels: api: storage, cla: yes

#7062 Revert "chore(deps): revert updates to gRPC 1.39.0 (#7049)"
  bazel/google_cloud_cpp_deps.bzl
  ci/cloudbuild/dockerfiles/demo-centos-7.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/demo-opensuse-leap.Dockerfile
  ci/cloudbuild/dockerfiles/demo-rockylinux-8.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-bionic.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-focal.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-xenial.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  doc/packaging.md
Labels: cla: yes

#7064 fix(storage): cleanup interrupted downloads
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
Labels: api: storage, cla: yes

#7067 cleanup: fix usage string
  google/cloud/testing_util/command_line_parsing.cc
Labels: cla: yes

#7071 chore(release): change release.sh to use `gh` instead of `hub`
  release/README.md
  release/release.sh
Labels: cla: yes

#7073 cleanup(storage): simplify CurlDownloadRequest shutdown
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
Labels: api: storage, cla: yes

#7075 cleanup: use a blank comment line between shebang and copyright
  ci/etc/integration-tests-config.sh
  ci/etc/quickstart-config.sh
  ci/etc/repo-config.sh
  ci/kokoro/lib/cache.sh
  ci/kokoro/lib/gcloud.sh
  ci/kokoro/macos/builds/bazel.sh
  ci/kokoro/macos/builds/cmake-vcpkg.sh
  ci/kokoro/macos/builds/quickstart-bazel.sh
  ci/kokoro/macos/builds/quickstart-cmake.sh
  ci/kokoro/macos/download-cache.sh
  ci/kokoro/macos/upload-cache.sh
  ci/kokoro/windows/build-bazel-dependencies.ps1
  ci/kokoro/windows/build-bazel.ps1
  ci/kokoro/windows/build-cmake-dependencies.ps1
  ci/kokoro/windows/build-cmake.ps1
  ci/kokoro/windows/build-quickstart-bazel.ps1
  ci/kokoro/windows/build-quickstart-cmake.ps1
  ci/kokoro/windows/build.ps1
  ci/lib/init.sh
  ci/lib/io.sh
  ci/lib/module
  google/cloud/bigtable/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/bigtable/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/bigtable/tools/run_emulator_utils.sh
  google/cloud/pubsub/ci/lib/pubsub_emulator.sh
  google/cloud/pubsub/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/pubsub/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/spanner/benchmarks/single_row_throughput_plots.py
  google/cloud/spanner/ci/lib/spanner_emulator.sh
  google/cloud/spanner/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/spanner/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/benchmarks/storage_parallel_uploads_plots.py
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_plots.py
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/ci/run_integration_tests_emulator_cmake.sh
  google/cloud/storage/emulator/ci/run_integration_tests_bazel.sh
  google/cloud/storage/emulator/tests/test_bucket.py
  google/cloud/storage/emulator/tests/test_holder.py
  google/cloud/storage/emulator/tests/test_object.py
  google/cloud/storage/emulator/tests/test_utils.py
  google/cloud/storage/tools/make_jwt_assertion_for_test_data.py
Labels: cla: yes

#7076 fix(dep): fetch protobuf tarball from the 'protocolbuffers' org
  bazel/google_cloud_cpp_deps.bzl
  ci/cloudbuild/dockerfiles/demo-centos-7.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-buster.Dockerfile
  ci/cloudbuild/dockerfiles/demo-debian-stretch.Dockerfile
  ci/cloudbuild/dockerfiles/demo-fedora.Dockerfile
  ci/cloudbuild/dockerfiles/demo-opensuse-leap.Dockerfile
  ci/cloudbuild/dockerfiles/demo-rockylinux-8.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-bionic.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-focal.Dockerfile
  ci/cloudbuild/dockerfiles/demo-ubuntu-xenial.Dockerfile
  ci/cloudbuild/dockerfiles/fedora-34.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-bionic-install.Dockerfile
  ci/cloudbuild/dockerfiles/ubuntu-xenial.Dockerfile
  doc/packaging.md
Labels: cla: yes

#7074 fix(common): quash "control reaches end of non-void function" error
  generator/internal/descriptor_utils.cc
Labels: cla: yes

#7069 doc(iam): promote library from preview to GA
  BUILD
  README.md
  ci/generate-markdown/generate-readme.sh
  ci/verify_current_targets/BUILD
  ci/verify_current_targets/CMakeLists.txt
  google/cloud/examples/BUILD
  google/cloud/examples/CMakeLists.txt
  google/cloud/iam/CMakeLists.txt
  google/cloud/iam/doc/iam-main.dox
  google/cloud/iam/integration_tests/BUILD
  google/cloud/iam/integration_tests/CMakeLists.txt
  google/cloud/iam/samples/BUILD
  google/cloud/iam/samples/CMakeLists.txt
Labels: api: iam, cla: yes

#7077 feat(storage): support setting HTTP version
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/curl_wrappers.h
  google/cloud/storage/internal/curl_wrappers_test.cc
  google/cloud/storage/options.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: api: storage, cla: yes

#7082 cleanup(storage): simplify CurlDownloadRequest creation
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
Labels: api: storage, cla: yes

#7085 feat(storage): release download handles sooner
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
Labels: api: storage, cla: yes

#7083 doc(iam): polish GA release
  .bazelignore
  BUILD
  CHANGELOG.md
  ci/etc/quickstart-config.sh
  google/cloud/bigquery/CMakeLists.txt
Labels: api: iam, cla: yes

#7088 feat(storage): discard handles after an error
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
Labels: api: storage, cla: yes

#7087 feat(common): always clog GCP_LOG(FATAL) messages
  generator/internal/predicate_utils_test.cc
  google/cloud/internal/log_impl.cc
  google/cloud/internal/log_impl.h
  google/cloud/internal/log_impl_test.cc
  google/cloud/log.cc
  google/cloud/log.h
  google/cloud/log_test.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/storage/internal/curl_handle_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: cla: yes

#7089 cleanup(storage): add a missing include
  google/cloud/storage/internal/curl_request_builder.cc
Labels: api: storage, cla: yes

#7090 feat(storage): control data hotness in benchmark
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_throughput_options_test.cc
Labels: api: storage, cla: yes

#7070 feat(bigtable): add benchmark to measure MutationBatcher throughput
  google/cloud/bigtable/benchmarks/BUILD
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/benchmarks/bigtable_benchmark_common.bzl
  google/cloud/bigtable/benchmarks/bigtable_benchmark_programs.bzl
  google/cloud/bigtable/benchmarks/bigtable_benchmarks_unit_tests.bzl
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_benchmark.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_options.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_options.h
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_options_test.cc
Labels: api: bigtable, cla: yes

#7092 chore(generator): enable clang-tidy for integration tests
  generator/integration_tests/CMakeLists.txt
  generator/integration_tests/golden/tests/golden_kitchen_sink_client_test.cc
  generator/integration_tests/golden/tests/golden_kitchen_sink_connection_test.cc
  generator/integration_tests/golden/tests/golden_kitchen_sink_logging_decorator_test.cc
  generator/integration_tests/golden/tests/golden_kitchen_sink_stub_test.cc
  generator/integration_tests/golden/tests/golden_thing_admin_stub_test.cc
Labels: cla: yes

#7091 feat(storage): more tuning parameters for benchmark
  google/cloud/storage/benchmarks/aggregate_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_throughput_options_test.cc
Labels: api: storage, cla: yes

#7093 testing(common): two small ScopedLog::Backend::Process() optimizations
  google/cloud/testing_util/scoped_log.cc
Labels: cla: yes

#7094 testing(bigtable): correct test source-file name
  google/cloud/bigtable/benchmarks/CMakeLists.txt
Labels: api: bigtable, cla: yes
