Repository googleapis/google-cloud-cpp, pull requests merged in 2022-10, with the labels that each got.

#9968 test(storage): verify error info is parsed correctly
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/error_parsing_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#9970 refactor(storage): use retry loop helpers
  google/cloud/storage/internal/retry_client.cc
Labels: api: storage

#9974 test(storage): check for useful `ErrorInfo`
  google/cloud/storage/tests/error_parsing_integration_test.cc
Labels: api: storage

#9977 refactor(bigtable): further reduce cognitive complexity
  google/cloud/bigtable/internal/defaults.cc
Labels: api: bigtable

#9978 feat(bigtable): support `GOOGLE_CLOUD_ENABLE_DIRECT_PATH`
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#9991 fix(pubsub): faster shutdowns for `Publisher`
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
Labels: api: pubsub

#9996 fix(pubsub): race condition capturing batching timer
  google/cloud/pubsub/internal/batching_publisher_connection.cc
Labels: api: pubsub

#9997 feat(storage): faster `InsertObject()` uploads
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/generate_message_boundary.cc
  google/cloud/storage/internal/generate_message_boundary_benchmark.cc
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#9999 refactor(storage): split `bucket_metadata.h`
  google/cloud/storage/bucket_billing.h
  google/cloud/storage/bucket_cors_entry.cc
  google/cloud/storage/bucket_cors_entry.h
  google/cloud/storage/bucket_custom_placement_config.cc
  google/cloud/storage/bucket_custom_placement_config.h
  google/cloud/storage/bucket_encryption.h
  google/cloud/storage/bucket_iam_configuration.cc
  google/cloud/storage/bucket_iam_configuration.h
  google/cloud/storage/bucket_lifecycle.h
  google/cloud/storage/bucket_logging.cc
  google/cloud/storage/bucket_logging.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_retention_policy.cc
  google/cloud/storage/bucket_retention_policy.h
  google/cloud/storage/bucket_rpo.h
  google/cloud/storage/bucket_versioning.h
  google/cloud/storage/bucket_website.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
Labels: api: storage

#10003 feat(storage): support `Autoclass` feature
  google/cloud/storage/bucket_autoclass.cc
  google/cloud/storage/bucket_autoclass.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_bucket_autoclass_samples.cc
  google/cloud/storage/examples/storage_examples.bzl
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser.h
  google/cloud/storage/internal/grpc_bucket_metadata_parser_test.cc
  google/cloud/storage/internal/grpc_bucket_request_parser.cc
  google/cloud/storage/internal/grpc_bucket_request_parser_test.cc
  google/cloud/testing_util/example_driver.cc
Labels: api: storage

#10005 test(storage): minor coverage improvements
  google/cloud/storage/bucket_cors_entry_test.cc
  google/cloud/storage/bucket_iam_configuration_test.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#10010 test(storage): improve decompression testing
  ci/data/fox.txt.gz
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
Labels: api: storage

#10014 test(storage): use `::testing::TempDir()` for test files
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_file_multi_threaded_test.cc
Labels: api: storage

#10019 test(storage): make one test more hermetic
  google/cloud/storage/tests/create_client_integration_test.cc
Labels: api: storage

#10027 cleanup(container): optimization nit in quickstart
  google/cloud/container/README.md
  google/cloud/container/quickstart/quickstart.cc
Labels: api: container

#10020 test(spanner): only use alpha-numerics in random name suffixes
  google/cloud/spanner/testing/random_backup_name.cc
  google/cloud/spanner/testing/random_database_name.cc
  google/cloud/spanner/testing/random_instance_name.cc
Labels: api: spanner

#10029 cleanup(spanner): fix future clang-tidy warnings
  google/cloud/spanner/numeric.cc
Labels: api: spanner

#10034 feat(bigquery): add migration service
  ci/etc/expected_install_directories
  external/googleapis/protodeps/bigquery.deps
  external/googleapis/protolists/bigquery.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/internal/migration_auth_decorator.cc
  google/cloud/bigquery/internal/migration_auth_decorator.h
  google/cloud/bigquery/internal/migration_connection_impl.cc
  google/cloud/bigquery/internal/migration_connection_impl.h
  google/cloud/bigquery/internal/migration_logging_decorator.cc
  google/cloud/bigquery/internal/migration_logging_decorator.h
  google/cloud/bigquery/internal/migration_metadata_decorator.cc
  google/cloud/bigquery/internal/migration_metadata_decorator.h
  google/cloud/bigquery/internal/migration_option_defaults.cc
  google/cloud/bigquery/internal/migration_option_defaults.h
  google/cloud/bigquery/internal/migration_retry_traits.h
  google/cloud/bigquery/internal/migration_stub.cc
  google/cloud/bigquery/internal/migration_stub.h
  google/cloud/bigquery/internal/migration_stub_factory.cc
  google/cloud/bigquery/internal/migration_stub_factory.h
  google/cloud/bigquery/migration_client.cc
  google/cloud/bigquery/migration_client.h
  google/cloud/bigquery/migration_connection.cc
  google/cloud/bigquery/migration_connection.h
  google/cloud/bigquery/migration_connection_idempotency_policy.cc
  google/cloud/bigquery/migration_connection_idempotency_policy.h
  google/cloud/bigquery/migration_options.h
  google/cloud/bigquery/mocks/mock_migration_connection.h
Labels: api: bigquery

#10032 fix(pubsub): limit `ModifyAckDeadlineRequest` size
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#10035 feat(datastream): generate library
  BUILD.bazel
  CHANGELOG.md
  README.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/datastream.deps
  external/googleapis/protolists/datastream.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/datastream/BUILD.bazel
  google/cloud/datastream/CMakeLists.txt
  google/cloud/datastream/README.md
  google/cloud/datastream/config.cmake.in
  google/cloud/datastream/datastream_client.cc
  google/cloud/datastream/datastream_client.h
  google/cloud/datastream/datastream_connection.cc
  google/cloud/datastream/datastream_connection.h
  google/cloud/datastream/datastream_connection_idempotency_policy.cc
  google/cloud/datastream/datastream_connection_idempotency_policy.h
  google/cloud/datastream/datastream_options.h
  google/cloud/datastream/doc/main.dox
  google/cloud/datastream/internal/datastream_auth_decorator.cc
  google/cloud/datastream/internal/datastream_auth_decorator.h
  google/cloud/datastream/internal/datastream_connection_impl.cc
  google/cloud/datastream/internal/datastream_connection_impl.h
  google/cloud/datastream/internal/datastream_logging_decorator.cc
  google/cloud/datastream/internal/datastream_logging_decorator.h
  google/cloud/datastream/internal/datastream_metadata_decorator.cc
  google/cloud/datastream/internal/datastream_metadata_decorator.h
  google/cloud/datastream/internal/datastream_option_defaults.cc
  google/cloud/datastream/internal/datastream_option_defaults.h
  google/cloud/datastream/internal/datastream_retry_traits.h
  google/cloud/datastream/internal/datastream_stub.cc
  google/cloud/datastream/internal/datastream_stub.h
  google/cloud/datastream/internal/datastream_stub_factory.cc
  google/cloud/datastream/internal/datastream_stub_factory.h
  google/cloud/datastream/mocks/mock_datastream_connection.h
  google/cloud/datastream/quickstart/.bazelrc
  google/cloud/datastream/quickstart/BUILD.bazel
  google/cloud/datastream/quickstart/CMakeLists.txt
  google/cloud/datastream/quickstart/Makefile
  google/cloud/datastream/quickstart/README.md
  google/cloud/datastream/quickstart/WORKSPACE.bazel
  google/cloud/datastream/quickstart/quickstart.cc
Labels: api: datastream

#10033 test(spanner): refrain from creating an instance using the custom config
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
Labels: api: spanner

#10044 feat(batch): the Cloud Batch service is now GA
  BUILD.bazel
  CHANGELOG.md
  README.md
  google/cloud/batch/CMakeLists.txt
  google/cloud/batch/README.md
  google/cloud/batch/config.cmake.in
  google/cloud/batch/doc/main.dox
  google/cloud/batch/quickstart/CMakeLists.txt
Labels: api: batch

#10036 feat(deploy): generate library
  BUILD.bazel
  CHANGELOG.md
  README.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/deploy.deps
  external/googleapis/protolists/deploy.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/deploy/BUILD.bazel
  google/cloud/deploy/CMakeLists.txt
  google/cloud/deploy/README.md
  google/cloud/deploy/cloud_deploy_client.cc
  google/cloud/deploy/cloud_deploy_client.h
  google/cloud/deploy/cloud_deploy_connection.cc
  google/cloud/deploy/cloud_deploy_connection.h
  google/cloud/deploy/cloud_deploy_connection_idempotency_policy.cc
  google/cloud/deploy/cloud_deploy_connection_idempotency_policy.h
  google/cloud/deploy/cloud_deploy_options.h
  google/cloud/deploy/config.cmake.in
  google/cloud/deploy/doc/main.dox
  google/cloud/deploy/internal/cloud_deploy_auth_decorator.cc
  google/cloud/deploy/internal/cloud_deploy_auth_decorator.h
  google/cloud/deploy/internal/cloud_deploy_connection_impl.cc
  google/cloud/deploy/internal/cloud_deploy_connection_impl.h
  google/cloud/deploy/internal/cloud_deploy_logging_decorator.cc
  google/cloud/deploy/internal/cloud_deploy_logging_decorator.h
  google/cloud/deploy/internal/cloud_deploy_metadata_decorator.cc
  google/cloud/deploy/internal/cloud_deploy_metadata_decorator.h
  google/cloud/deploy/internal/cloud_deploy_option_defaults.cc
  google/cloud/deploy/internal/cloud_deploy_option_defaults.h
  google/cloud/deploy/internal/cloud_deploy_retry_traits.h
  google/cloud/deploy/internal/cloud_deploy_stub.cc
  google/cloud/deploy/internal/cloud_deploy_stub.h
  google/cloud/deploy/internal/cloud_deploy_stub_factory.cc
  google/cloud/deploy/internal/cloud_deploy_stub_factory.h
  google/cloud/deploy/mocks/mock_cloud_deploy_connection.h
  google/cloud/deploy/quickstart/.bazelrc
  google/cloud/deploy/quickstart/BUILD.bazel
  google/cloud/deploy/quickstart/CMakeLists.txt
  google/cloud/deploy/quickstart/Makefile
  google/cloud/deploy/quickstart/README.md
  google/cloud/deploy/quickstart/WORKSPACE.bazel
  google/cloud/deploy/quickstart/quickstart.cc
Labels: api: clouddeploy

#10043 feat(pubsub): implement per-call options for `Subscriber`
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/mocks/mock_subscriber_connection.h
  google/cloud/pubsub/subscriber.cc
  google/cloud/pubsub/subscriber.h
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection.h
  google/cloud/pubsub/subscriber_connection_test.cc
  google/cloud/pubsub/subscriber_test.cc
Labels: api: pubsub

#10050 refactor(pubsub): consolidate construction of `*Stub`
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/publisher_stub_factory.h
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/topic_admin_connection.cc
Labels: api: pubsub

#10047 impl(pubsub): add `Publish()` to stub and decorators
  google/cloud/pubsub/internal/publisher_auth.cc
  google/cloud/pubsub/internal/publisher_auth.h
  google/cloud/pubsub/internal/publisher_auth_test.cc
  google/cloud/pubsub/internal/publisher_logging.cc
  google/cloud/pubsub/internal/publisher_logging.h
  google/cloud/pubsub/internal/publisher_logging_test.cc
  google/cloud/pubsub/internal/publisher_metadata.cc
  google/cloud/pubsub/internal/publisher_metadata.h
  google/cloud/pubsub/internal/publisher_metadata_test.cc
  google/cloud/pubsub/internal/publisher_round_robin.cc
  google/cloud/pubsub/internal/publisher_round_robin.h
  google/cloud/pubsub/internal/publisher_round_robin_test.cc
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/testing/mock_publisher_stub.h
Labels: api: pubsub

#10052 impl(pubsub): implement `BlockingPublisherConnection`
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/blocking_publisher_connection.cc
  google/cloud/pubsub/blocking_publisher_connection.h
  google/cloud/pubsub/blocking_publisher_connection_test.cc
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/integration_tests/CMakeLists.txt
  google/cloud/pubsub/integration_tests/blocking_publisher_integration_test.cc
  google/cloud/pubsub/integration_tests/pubsub_client_integration_tests.bzl
  google/cloud/pubsub/internal/blocking_publisher_connection_impl.cc
  google/cloud/pubsub/internal/blocking_publisher_connection_impl.h
  google/cloud/pubsub/publisher.h
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#10056 cleanup(batch): the Cloud Batch service is now GA
  google/cloud/batch/quickstart/BUILD.bazel
Labels: api: batch

#10061 refactor(pubsub): move `Default*Stub` to headers
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
Labels: api: pubsub

#10063 refactor(pubsub): move stub factories to separate files
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/publisher_stub_factory.h
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/internal/schema_stub_factory.cc
  google/cloud/pubsub/internal/schema_stub_factory.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/internal/subscriber_stub_factory.cc
  google/cloud/pubsub/internal/subscriber_stub_factory.h
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscription_admin_connection.cc
Labels: api: pubsub

#10064 refactor(pubsub): rename `SchemaStub`
  google/cloud/pubsub/internal/schema_auth_decorator.cc
  google/cloud/pubsub/internal/schema_auth_decorator.h
  google/cloud/pubsub/internal/schema_auth_test.cc
  google/cloud/pubsub/internal/schema_logging_decorator.cc
  google/cloud/pubsub/internal/schema_logging_decorator.h
  google/cloud/pubsub/internal/schema_logging_test.cc
  google/cloud/pubsub/internal/schema_metadata_decorator.cc
  google/cloud/pubsub/internal/schema_metadata_decorator.h
  google/cloud/pubsub/internal/schema_metadata_test.cc
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/internal/schema_stub_factory.cc
  google/cloud/pubsub/internal/schema_stub_factory.h
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/schema_admin_connection.h
  google/cloud/pubsub/schema_admin_connection_test.cc
  google/cloud/pubsub/testing/mock_schema_stub.h
Labels: api: pubsub

#10066 refactor(pubsub): reorder `*Stub` functions
  google/cloud/pubsub/internal/publisher_auth_decorator.cc
  google/cloud/pubsub/internal/publisher_auth_decorator.h
  google/cloud/pubsub/internal/publisher_logging_decorator.cc
  google/cloud/pubsub/internal/publisher_logging_decorator.h
  google/cloud/pubsub/internal/publisher_metadata_decorator.cc
  google/cloud/pubsub/internal/publisher_metadata_decorator.h
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/subscriber_auth_decorator.cc
  google/cloud/pubsub/internal/subscriber_auth_decorator.h
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
  google/cloud/pubsub/internal/subscriber_metadata_decorator.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
Labels: api: pubsub

#10068 ci(batch): temporarily suppress building the batch quickstart on Windows
  ci/kokoro/windows/builds/quickstart-bazel.ps1
Labels: api: batch

#10069 refactor(pubsub): fully qualify `LogWrapper()` calls
  google/cloud/pubsub/internal/publisher_logging_decorator.cc
  google/cloud/pubsub/internal/schema_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
Labels: api: pubsub

#10070 cleanup(pubsub): match generated function parameters names
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
Labels: api: pubsub

#10071 cleanup(pubsub): remove ad-hoc wrapper for streaming RPC
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
Labels: api: pubsub

#10072 cleanup(pubsub): signature for bidir streaming RPC
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/subscriber_auth_decorator.cc
  google/cloud/pubsub/internal/subscriber_auth_decorator.h
  google/cloud/pubsub/internal/subscriber_auth_test.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
  google/cloud/pubsub/internal/subscriber_logging_test.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.h
  google/cloud/pubsub/internal/subscriber_metadata_test.cc
  google/cloud/pubsub/internal/subscriber_round_robin.cc
  google/cloud/pubsub/internal/subscriber_round_robin.h
  google/cloud/pubsub/internal/subscriber_round_robin_test.cc
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/subscriber_connection_test.cc
  google/cloud/pubsub/testing/fake_streaming_pull.cc
  google/cloud/pubsub/testing/fake_streaming_pull.h
  google/cloud/pubsub/testing/mock_subscriber_stub.h
Labels: api: pubsub

#10073 cleanup(pubsub): logging decorator constructors
  google/cloud/pubsub/internal/publisher_logging_decorator.cc
  google/cloud/pubsub/internal/publisher_logging_decorator.h
  google/cloud/pubsub/internal/publisher_logging_test.cc
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/schema_logging_decorator.cc
  google/cloud/pubsub/internal/schema_logging_decorator.h
  google/cloud/pubsub/internal/schema_logging_test.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
  google/cloud/pubsub/internal/subscriber_logging_test.cc
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscription_admin_connection.cc
Labels: api: pubsub

#10075 cleanup(pubsub): use generator for `*Stub`
  .codecov.yml
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  generator/generator_config.textproto
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/blocking_publisher_connection_test.cc
  google/cloud/pubsub/internal/default_batch_sink_test.cc
  google/cloud/pubsub/internal/publisher_auth_decorator.cc
  google/cloud/pubsub/internal/publisher_auth_decorator.h
  google/cloud/pubsub/internal/publisher_auth_test.cc
  google/cloud/pubsub/internal/publisher_logging_decorator.cc
  google/cloud/pubsub/internal/publisher_logging_decorator.h
  google/cloud/pubsub/internal/publisher_logging_test.cc
  google/cloud/pubsub/internal/publisher_metadata_decorator.cc
  google/cloud/pubsub/internal/publisher_metadata_decorator.h
  google/cloud/pubsub/internal/publisher_metadata_test.cc
  google/cloud/pubsub/internal/publisher_stub.cc
  google/cloud/pubsub/internal/publisher_stub.h
  google/cloud/pubsub/internal/schema_auth_decorator.cc
  google/cloud/pubsub/internal/schema_auth_decorator.h
  google/cloud/pubsub/internal/schema_auth_test.cc
  google/cloud/pubsub/internal/schema_logging_decorator.cc
  google/cloud/pubsub/internal/schema_logging_decorator.h
  google/cloud/pubsub/internal/schema_logging_test.cc
  google/cloud/pubsub/internal/schema_metadata_decorator.cc
  google/cloud/pubsub/internal/schema_metadata_decorator.h
  google/cloud/pubsub/internal/schema_metadata_test.cc
  google/cloud/pubsub/internal/schema_stub.cc
  google/cloud/pubsub/internal/schema_stub.h
  google/cloud/pubsub/internal/subscriber_auth_decorator.cc
  google/cloud/pubsub/internal/subscriber_auth_decorator.h
  google/cloud/pubsub/internal/subscriber_auth_test.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
  google/cloud/pubsub/internal/subscriber_logging_test.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.h
  google/cloud/pubsub/internal/subscriber_metadata_test.cc
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/schema_admin_connection_test.cc
  google/cloud/pubsub/subscriber_connection_test.cc
  google/cloud/pubsub/subscription_admin_connection_test.cc
  google/cloud/pubsub/topic_admin_connection_test.cc
Labels: api: pubsub

#10087 cleanup(bigtable): simplify with lambda
  google/cloud/bigtable/mutation_batcher.cc
Labels: api: bigtable

#10089 cleanup(pubsub): generate round-robin decorator
  .codecov.yml
  generator/generator_config.textproto
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/publisher_round_robin_decorator.cc
  google/cloud/pubsub/internal/publisher_round_robin_decorator.h
  google/cloud/pubsub/internal/publisher_round_robin_test.cc
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/subscriber_round_robin_decorator.cc
  google/cloud/pubsub/internal/subscriber_round_robin_decorator.h
  google/cloud/pubsub/internal/subscriber_round_robin_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/subscriber_connection.cc
Labels: api: pubsub

#10090 cleanup(bigtable): use `DataConnection` for mocking
  google/cloud/bigtable/mutation_batcher_test.cc
Labels: api: bigtable

#10092 impl(pubsub): generate code for `Pull()` RPC
  generator/generator_config.textproto
  google/cloud/pubsub/internal/subscriber_auth_decorator.cc
  google/cloud/pubsub/internal/subscriber_auth_decorator.h
  google/cloud/pubsub/internal/subscriber_logging_decorator.cc
  google/cloud/pubsub/internal/subscriber_logging_decorator.h
  google/cloud/pubsub/internal/subscriber_metadata_decorator.cc
  google/cloud/pubsub/internal/subscriber_metadata_decorator.h
  google/cloud/pubsub/internal/subscriber_round_robin_decorator.cc
  google/cloud/pubsub/internal/subscriber_round_robin_decorator.h
  google/cloud/pubsub/internal/subscriber_stub.cc
  google/cloud/pubsub/internal/subscriber_stub.h
  google/cloud/pubsub/testing/mock_subscriber_stub.h
Labels: api: pubsub

#10091 chore(iam): add retry to flaky integration test
  google/cloud/iam/integration_tests/iam_integration_test.cc
Labels: api: iam

#10098 feat(spanner): support for the PG.JSONB data type
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/json.h
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#10099 test(spanner): loosen message expectation on column not found
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#10102 feat(spanner): add support for RowStream::RowsModified()
  google/cloud/spanner/results.cc
  google/cloud/spanner/results.h
  google/cloud/spanner/results_test.cc
Labels: api: spanner

#10103 cleanup(bigtable): use generator for round robin stub
  .codecov.yml
  generator/generator_config.textproto
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/bigtable_round_robin_decorator.cc
  google/cloud/bigtable/internal/bigtable_round_robin_decorator.h
  google/cloud/bigtable/internal/bigtable_round_robin_test.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
Labels: api: bigtable

#10105 cleanup(spanner): make SQL formatting more consistent
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#10107 doc(storage): common initialization examples
  google/cloud/storage/doc/storage-main.dox
Labels: api: storage

#10008 feat(pubsub): install pubsub_mocks pkg
  ci/cloudbuild/builds/cmake-install.sh
  ci/verify_current_targets/CMakeLists.txt
  cmake/AddPkgConfig.cmake
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/mocks-config.cmake.in
Labels: api: pubsub

#10116 refactor(iam): normalize Doxygen landing page
  google/cloud/iam/doc/main.dox
Labels: api: iam

#10117 ci: skip sample directories without a CMake file
  CMakeLists.txt
Labels: samples

#10135 impl(pubsub): use the pubsub::PubsubMessageDataType type alias
  google/cloud/pubsub/samples/mock_subscriber.cc
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#10136 doc(pubsub): samples for endpoint and auth
  google/cloud/pubsub/doc/pubsub-main.dox
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/client_samples.cc
  google/cloud/pubsub/samples/pubsub_client_integration_samples.bzl
Labels: api: pubsub, samples

#10147 test(storage): reduce runtime of ThreadIntegrationTest.Unshared
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage

#10149 doc(bigtable): add `*Client` samples
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_examples.bzl
  google/cloud/bigtable/examples/client_samples.cc
Labels: api: bigtable, samples
