Repository googleapis/google-cloud-cpp, pull requests merged in 2022-09, with the labels that each got.

#9761 cleanup(storage): make logs more readable
  google/cloud/internal/binary_data_as_debug_string.cc
  google/cloud/internal/binary_data_as_debug_string.h
  google/cloud/internal/binary_data_as_debug_string_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/binary_data_as_debug_string.cc
  google/cloud/storage/internal/binary_data_as_debug_string.h
  google/cloud/storage/internal/binary_data_as_debug_string_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9764 cleanup(storage): deflake integration test
  google/cloud/storage/tests/object_file_multi_threaded_test.cc
Labels: api: storage

#9759 cleanup(storage): remove some uses of `CurlClient`
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#9767 test(spanner): remove unneeded check
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
Labels: api: spanner

#9768 fix(storage): no workaround needed with libc++ and MSVC
  google/cloud/storage/internal/policy_document_request.cc
Labels: api: storage

#9769 test(spanner): create a PostgreSQL version of DatabaseIntegrationTest
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.h
Labels: api: spanner

#9797 refactor(storage): examples bucket prefix defined in a function
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_examples_common.cc
  google/cloud/storage/examples/storage_examples_common.h
  google/cloud/storage/examples/storage_examples_common_test.cc
Labels: api: storage

#9808 test(storage): fix handling of optional ranges
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9813 feat(storage): release `*StallMinimumThroughputOption`
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options_test.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options_test.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options_test.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/options.h
Labels: api: storage

#9821 test(storage): deflake very rare errors
  google/cloud/storage/testing/random_names.cc
Labels: api: storage

#9784 feat(networkconnectivity): generate library
  BUILD.bazel
  CHANGELOG.md
  README.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/networkconnectivity.deps
  external/googleapis/protolists/networkconnectivity.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/networkconnectivity/BUILD.bazel
  google/cloud/networkconnectivity/CMakeLists.txt
  google/cloud/networkconnectivity/README.md
  google/cloud/networkconnectivity/config.cmake.in
  google/cloud/networkconnectivity/doc/main.dox
  google/cloud/networkconnectivity/hub_client.cc
  google/cloud/networkconnectivity/hub_client.h
  google/cloud/networkconnectivity/hub_connection.cc
  google/cloud/networkconnectivity/hub_connection.h
  google/cloud/networkconnectivity/hub_connection_idempotency_policy.cc
  google/cloud/networkconnectivity/hub_connection_idempotency_policy.h
  google/cloud/networkconnectivity/hub_options.h
  google/cloud/networkconnectivity/internal/hub_auth_decorator.cc
  google/cloud/networkconnectivity/internal/hub_auth_decorator.h
  google/cloud/networkconnectivity/internal/hub_connection_impl.cc
  google/cloud/networkconnectivity/internal/hub_connection_impl.h
  google/cloud/networkconnectivity/internal/hub_logging_decorator.cc
  google/cloud/networkconnectivity/internal/hub_logging_decorator.h
  google/cloud/networkconnectivity/internal/hub_metadata_decorator.cc
  google/cloud/networkconnectivity/internal/hub_metadata_decorator.h
  google/cloud/networkconnectivity/internal/hub_option_defaults.cc
  google/cloud/networkconnectivity/internal/hub_option_defaults.h
  google/cloud/networkconnectivity/internal/hub_retry_traits.h
  google/cloud/networkconnectivity/internal/hub_stub.cc
  google/cloud/networkconnectivity/internal/hub_stub.h
  google/cloud/networkconnectivity/internal/hub_stub_factory.cc
  google/cloud/networkconnectivity/internal/hub_stub_factory.h
  google/cloud/networkconnectivity/mocks/mock_hub_connection.h
  google/cloud/networkconnectivity/quickstart/.bazelrc
  google/cloud/networkconnectivity/quickstart/BUILD.bazel
  google/cloud/networkconnectivity/quickstart/CMakeLists.txt
  google/cloud/networkconnectivity/quickstart/Makefile
  google/cloud/networkconnectivity/quickstart/README.md
  google/cloud/networkconnectivity/quickstart/WORKSPACE.bazel
  google/cloud/networkconnectivity/quickstart/quickstart.cc
Labels: api: networkconnectivity

#9855 fix(storage): error message for resumable uploads
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#9872 feat(spanner): add support for CMMR phase 2
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/cleanup_stale_instances.cc
  google/cloud/spanner/testing/cleanup_stale_instances.h
  google/cloud/spanner/testing/pick_instance_config.cc
  google/cloud/spanner/testing/pick_instance_config.h
  google/cloud/spanner/testing/random_instance_name.cc
  google/cloud/spanner/testing/random_instance_name.h
Labels: api: spanner

#9875 test(spanner): remove "too many stale" checks
  google/cloud/spanner/testing/cleanup_stale_instances.cc
Labels: api: spanner

#9885 impl(storage): static_assert to check Options for ParallelUploadFile
  google/cloud/internal/type_list.h
  google/cloud/storage/parallel_upload.h
Labels: api: storage

#9886 feat(storage): easier mocks with `BucketMetadata`
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser.cc
Labels: api: storage

#9892 cleanup(spanner): throw full Status values
  google/cloud/spanner/README.md
  google/cloud/spanner/quickstart/quickstart.cc
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#9893 fix(storage): decay type before testing supported-options membership
  google/cloud/storage/parallel_upload.h
Labels: api: storage

#9899 feat(storage): easier mocks with `ObjectMetadata`
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/common_metadata_parser.h
  google/cloud/storage/internal/grpc_object_metadata_parser.cc
  google/cloud/storage/internal/grpc_owner_parser.h
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/internal/object_access_control_parser.cc
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/owner.h
Labels: api: storage

#9906 refactor(storage): move `ProjectTeam` to a public header
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/project_team.h
Labels: api: storage

#9910 feat(storage): easier mocks for `*AccessControl`
  google/cloud/storage/bucket_access_control.cc
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/access_control_common_parser.h
  google/cloud/storage/internal/access_control_common_parser_test.cc
  google/cloud/storage/internal/access_control_common_test.cc
  google/cloud/storage/internal/bucket_access_control_parser.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/grpc_bucket_access_control_parser.cc
  google/cloud/storage/internal/grpc_object_access_control_parser.cc
  google/cloud/storage/internal/object_access_control_parser.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/object_access_control.cc
  google/cloud/storage/object_access_control.h
  google/cloud/storage/project_team.h
Labels: api: storage

#9918 test(storage): reduce runtime of ThreadIntegrationTest.Unshared
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage

#9933 test(spanner): remove DataTypeIntegrationTest.JsonMaxNesting
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#9932 cleanup(storage): minimize friends for `*PatchBuilder`
  google/cloud/storage/bucket_access_control.h
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/grpc_bucket_access_control_parser.cc
  google/cloud/storage/internal/grpc_bucket_request_parser.cc
  google/cloud/storage/internal/grpc_object_access_control_parser.cc
  google/cloud/storage/internal/grpc_object_request_parser.cc
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/patch_builder_details.cc
  google/cloud/storage/internal/patch_builder_details.h
  google/cloud/storage/object_access_control.h
  google/cloud/storage/object_metadata.h
Labels: api: storage

#9939 test(spanner): additional test for IsSessionNotFound
  google/cloud/spanner/internal/status_utils_test.cc
Labels: api: spanner

#9945 cleanup(storage): easier mocking for `ServiceAccount`
  google/cloud/storage/internal/grpc_service_account_parser.cc
  google/cloud/storage/internal/service_account_parser.cc
  google/cloud/storage/service_account.h
Labels: api: storage

#9946 cleanup(storage): remove unneeded `friend`
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/lifecycle_rule.h
Labels: api: storage

#9949 feat(storage): easier mocks for `HmacKeyMetadata`
  google/cloud/storage/hmac_key_metadata.h
  google/cloud/storage/internal/grpc_hmac_key_metadata_parser.cc
  google/cloud/storage/internal/hmac_key_metadata_parser.cc
Labels: api: storage

#9954 fix(spanner): remove session from pool upon "not found" refresh failure
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/session_pool_test.cc
Labels: api: spanner
