Repository googleapis/google-cloud-cpp, pull requests merged in 2022-11, with the labels that each got.

#10156 cleanup: eliminate ODR violations in samples
  google/cloud/bigquery/samples/BUILD.bazel
  google/cloud/bigquery/samples/CMakeLists.txt
  google/cloud/bigtable/examples/BUILD.bazel
  google/cloud/iam/samples/BUILD.bazel
  google/cloud/iam/samples/CMakeLists.txt
  google/cloud/pubsub/samples/BUILD.bazel
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/spanner/samples/BUILD.bazel
  google/cloud/spanner/samples/CMakeLists.txt
  google/cloud/storage/examples/BUILD.bazel
Labels: samples

#10163 test(spanner): relax environment requirement under emulator
  google/cloud/spanner/samples/client_samples.cc
Labels: api: spanner

#10179 cleanup(bigtable): use implicit default ctor
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable

#10184 doc: better guidance for authentication samples
  google/cloud/pubsub/doc/pubsub-main.dox
  google/cloud/storage/doc/storage-main.dox
Labels: samples

#10186 impl(pubsub): an `AckHandler` for blocking pull
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/pull_ack_handler.cc
  google/cloud/pubsub/internal/pull_ack_handler.h
  google/cloud/pubsub/internal/pull_ack_handler_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#10200 doc(storage): create page for configuration options
  google/cloud/storage/doc/storage-options.dox
  google/cloud/storage/options.h
Labels: api: storage

#10197 doc(bigtable): create page for configuration options
  google/cloud/bigtable/doc/bigtable-options.dox
  google/cloud/bigtable/options.h
Labels: api: bigtable

#10198 doc(pubsub): create page for configuration options
  google/cloud/pubsub/doc/pubsub-options.dox
  google/cloud/pubsub/options.h
Labels: api: pubsub

#10194 feat(logging): generate `AsyncWriteLogEntries()`
  generator/generator_config.textproto
  google/cloud/logging/internal/logging_service_v2_auth_decorator.cc
  google/cloud/logging/internal/logging_service_v2_auth_decorator.h
  google/cloud/logging/internal/logging_service_v2_connection_impl.cc
  google/cloud/logging/internal/logging_service_v2_connection_impl.h
  google/cloud/logging/internal/logging_service_v2_logging_decorator.cc
  google/cloud/logging/internal/logging_service_v2_logging_decorator.h
  google/cloud/logging/internal/logging_service_v2_metadata_decorator.cc
  google/cloud/logging/internal/logging_service_v2_metadata_decorator.h
  google/cloud/logging/internal/logging_service_v2_stub.cc
  google/cloud/logging/internal/logging_service_v2_stub.h
  google/cloud/logging/logging_service_v2_client.cc
  google/cloud/logging/logging_service_v2_client.h
  google/cloud/logging/logging_service_v2_connection.cc
  google/cloud/logging/logging_service_v2_connection.h
  google/cloud/logging/mocks/mock_logging_service_v2_connection.h
Labels: api: logging

#10218 cleanup(iam): remove redundant integration tests
  google/cloud/iam/CMakeLists.txt
  google/cloud/iam/integration_tests/BUILD.bazel
  google/cloud/iam/integration_tests/CMakeLists.txt
  google/cloud/iam/integration_tests/iam_client_integration_tests.bzl
  google/cloud/iam/integration_tests/iam_credentials_integration_test.cc
  google/cloud/iam/integration_tests/iam_integration_test.cc
Labels: api: iam

#10222 fix(pubsublite): wait for reads during PartitionPublisher shutdown
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher.h
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#10233 feat(spanner): tests and samples for DML RETURNING
  google/cloud/spanner/client.h
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#10242 ci: inject nested samples, endpoints
  ci/generate-markdown/update-library-landing-dox.sh
Labels: samples

#10247 samples(spanner): build admin samples with cmake
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/admin/samples/CMakeLists.txt
Labels: api: spanner, samples

#10246 samples(bigtable): build admin samples with cmake
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin/samples/CMakeLists.txt
Labels: api: bigtable, samples

#10228 feat(speech): generate speech v2
  ci/etc/expected_install_directories
  cmake/GoogleCloudCppCommon.cmake
  external/googleapis/protolists/speech.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/speech/BUILD.bazel
  google/cloud/speech/CMakeLists.txt
  google/cloud/speech/doc/main.dox
  google/cloud/speech/samples/BUILD.bazel
  google/cloud/speech/samples/CMakeLists.txt
  google/cloud/speech/v2/internal/speech_auth_decorator.cc
  google/cloud/speech/v2/internal/speech_auth_decorator.h
  google/cloud/speech/v2/internal/speech_connection_impl.cc
  google/cloud/speech/v2/internal/speech_connection_impl.h
  google/cloud/speech/v2/internal/speech_logging_decorator.cc
  google/cloud/speech/v2/internal/speech_logging_decorator.h
  google/cloud/speech/v2/internal/speech_metadata_decorator.cc
  google/cloud/speech/v2/internal/speech_metadata_decorator.h
  google/cloud/speech/v2/internal/speech_option_defaults.cc
  google/cloud/speech/v2/internal/speech_option_defaults.h
  google/cloud/speech/v2/internal/speech_retry_traits.h
  google/cloud/speech/v2/internal/speech_stub.cc
  google/cloud/speech/v2/internal/speech_stub.h
  google/cloud/speech/v2/internal/speech_stub_factory.cc
  google/cloud/speech/v2/internal/speech_stub_factory.h
  google/cloud/speech/v2/mocks/mock_speech_connection.h
  google/cloud/speech/v2/samples/speech_client_samples.cc
  google/cloud/speech/v2/speech_client.cc
  google/cloud/speech/v2/speech_client.h
  google/cloud/speech/v2/speech_connection.cc
  google/cloud/speech/v2/speech_connection.h
  google/cloud/speech/v2/speech_connection_idempotency_policy.cc
  google/cloud/speech/v2/speech_connection_idempotency_policy.h
  google/cloud/speech/v2/speech_options.h
  google/cloud/speech/v2/streaming.cc
Labels: api: speech

#10257 cleanup(batch): remove suppression of quickstart on Windows
  ci/kokoro/windows/builds/quickstart-bazel.ps1
  ci/kokoro/windows/builds/quickstart-cmake.ps1
Labels: api: batch

#10266 fix(spanner): tweak the tag name of a FGAC sample
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#10276 cleanup(pubsublite): internal typo
  google/cloud/pubsublite/internal/futures.h
Labels: api: pubsublite

#10278 feat(vmwareengine): generate library
  BUILD.bazel
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_vmwareengine.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/vmwareengine.deps
  external/googleapis/protolists/vmwareengine.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/vmwareengine/BUILD.bazel
  google/cloud/vmwareengine/CMakeLists.txt
  google/cloud/vmwareengine/README.md
  google/cloud/vmwareengine/config.cmake.in
  google/cloud/vmwareengine/doc/main.dox
  google/cloud/vmwareengine/doc/options.dox
  google/cloud/vmwareengine/quickstart/.bazelrc
  google/cloud/vmwareengine/quickstart/BUILD.bazel
  google/cloud/vmwareengine/quickstart/CMakeLists.txt
  google/cloud/vmwareengine/quickstart/Makefile
  google/cloud/vmwareengine/quickstart/README.md
  google/cloud/vmwareengine/quickstart/WORKSPACE.bazel
  google/cloud/vmwareengine/quickstart/quickstart.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_auth_decorator.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_auth_decorator.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_connection_impl.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_connection_impl.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_logging_decorator.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_logging_decorator.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_metadata_decorator.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_metadata_decorator.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_option_defaults.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_option_defaults.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_retry_traits.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_stub.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_stub.h
  google/cloud/vmwareengine/v1/internal/vmware_engine_stub_factory.cc
  google/cloud/vmwareengine/v1/internal/vmware_engine_stub_factory.h
  google/cloud/vmwareengine/v1/mocks/mock_vmware_engine_connection.h
  google/cloud/vmwareengine/v1/samples/vmware_engine_client_samples.cc
  google/cloud/vmwareengine/v1/vmware_engine_client.cc
  google/cloud/vmwareengine/v1/vmware_engine_client.h
  google/cloud/vmwareengine/v1/vmware_engine_connection.cc
  google/cloud/vmwareengine/v1/vmware_engine_connection.h
  google/cloud/vmwareengine/v1/vmware_engine_connection_idempotency_policy.cc
  google/cloud/vmwareengine/v1/vmware_engine_connection_idempotency_policy.h
  google/cloud/vmwareengine/v1/vmware_engine_options.h
Labels: api: vmwareengine

#10284 doc(spanner): deprecate old MakeConnection() overloads
  google/cloud/spanner/client.h
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
  google/cloud/spanner/internal/metadata_spanner_stub_test.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/spanner_stub.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#10282 cleanup: doxygen is recursive in libraries (again)
  cmake/GoogleCloudCppCommon.cmake
Labels: type: docs

#10291 refactor(pubsub): move `SubscriberConnectionImpl` to header
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.h
  google/cloud/pubsub/internal/subscriber_connection_impl_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#10290 refactor(pubsub): move `AckHandlerWrapper` to header
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/ack_handler_wrapper.cc
  google/cloud/pubsub/internal/ack_handler_wrapper.h
  google/cloud/pubsub/internal/ack_handler_wrapper_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#10288 refactor(pubsub): split blocking pull implementation
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/pull_ack_handler.cc
  google/cloud/pubsub/internal/pull_ack_handler.h
  google/cloud/pubsub/internal/pull_ack_handler_test.cc
  google/cloud/pubsub/internal/pull_lease_manager.cc
  google/cloud/pubsub/internal/pull_lease_manager.h
  google/cloud/pubsub/internal/pull_lease_manager_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#10298 impl(pubsub): use `ExactlyOnce` policies in `PullAckHandler`
  google/cloud/pubsub/internal/pull_ack_handler.cc
  google/cloud/pubsub/internal/pull_ack_handler.h
  google/cloud/pubsub/internal/pull_ack_handler_test.cc
Labels: api: pubsub

#10299 refactor(pubsub): rename `pubsub_internal::PullAckHandler`
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/pull_ack_handler_impl.cc
  google/cloud/pubsub/internal/pull_ack_handler_impl.h
  google/cloud/pubsub/internal/pull_ack_handler_impl_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#10301 impl(pubsub): add `pubsub::PullAckHandler`
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/google_cloud_cpp_pubsub_mocks.bzl
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.h
  google/cloud/pubsub/internal/default_pull_ack_handler_test.cc
  google/cloud/pubsub/mocks/mock_pull_ack_handler.h
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/pull_ack_handler.cc
  google/cloud/pubsub/pull_ack_handler.h
  google/cloud/pubsub/pull_ack_handler_test.cc
Labels: api: pubsub

#10315 impl(pubsub): add `SubscriberConnectionImpl::Pull()`
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.h
  google/cloud/pubsub/internal/subscriber_connection_impl_test.cc
Labels: api: pubsub

#10317 feat(pubsub): blocking pulls
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.h
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/pull_response.h
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscriber.cc
  google/cloud/pubsub/subscriber.h
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection.h
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#10327 feat(pubsub): add option to override subscription
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.h
  google/cloud/pubsub/internal/subscriber_connection_impl_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session.h
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscription.cc
  google/cloud/pubsub/subscription.h
Labels: api: pubsub
