Repository googleapis/google-cloud-cpp, pull requests merged in 2022-03, with the labels that each got.

#8472 feat(bigquerystorage): generate library
  CHANGELOG.md
  generator/generator_config.textproto
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/bigquery_write_client.cc
  google/cloud/bigquery/bigquery_write_client.h
  google/cloud/bigquery/bigquery_write_connection.cc
  google/cloud/bigquery/bigquery_write_connection.h
  google/cloud/bigquery/bigquery_write_connection_idempotency_policy.cc
  google/cloud/bigquery/bigquery_write_connection_idempotency_policy.h
  google/cloud/bigquery/bigquery_write_options.h
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/bigquery_write_auth_decorator.cc
  google/cloud/bigquery/internal/bigquery_write_auth_decorator.h
  google/cloud/bigquery/internal/bigquery_write_connection_impl.cc
  google/cloud/bigquery/internal/bigquery_write_connection_impl.h
  google/cloud/bigquery/internal/bigquery_write_logging_decorator.cc
  google/cloud/bigquery/internal/bigquery_write_logging_decorator.h
  google/cloud/bigquery/internal/bigquery_write_metadata_decorator.cc
  google/cloud/bigquery/internal/bigquery_write_metadata_decorator.h
  google/cloud/bigquery/internal/bigquery_write_option_defaults.cc
  google/cloud/bigquery/internal/bigquery_write_option_defaults.h
  google/cloud/bigquery/internal/bigquery_write_retry_traits.h
  google/cloud/bigquery/internal/bigquery_write_stub.cc
  google/cloud/bigquery/internal/bigquery_write_stub.h
  google/cloud/bigquery/internal/bigquery_write_stub_factory.cc
  google/cloud/bigquery/internal/bigquery_write_stub_factory.h
  google/cloud/bigquery/internal/streaming.cc
  google/cloud/bigquery/mocks/mock_bigquery_write_connection.h
Labels: api: bigquerystorage

#8492 fix(container): missing CMake dependency
  google/cloud/container/CMakeLists.txt
Labels: api: container

#8498 fix(pubsublite): Cancel in Shutdown
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc_test.cc
Labels: api: pubsublite

#8505 cleanup(pubsublite): add RAII async root wrapper
  google/cloud/pubsublite/internal/futures.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
Labels: api: pubsublite

#8506 cleanup(pubsublite): remove param from Write
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc_test.cc
Labels: api: pubsublite

#8512 test(storage): correct download size in benchmark
  google/cloud/storage/benchmarks/throughput_experiment.cc
Labels: api: storage

#8513 test(storage): simplify benchmark output
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#8514 test(storage): command-line options for benchmark endpoints
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#8515 fix(spanner): capture the ReadRequest by value in the reader factory
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
Labels: api: spanner

#8518 cleanup(storage): no public constructor for RetryClient
  google/cloud/storage/client.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
Labels: api: storage

#8520 test(storage): stream benchmark results
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
Labels: api: storage

#8504 clean(pubsublite): add base interfaces and promise wrapper
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/service.h
Labels: api: pubsublite

#8521 fix(spanner): correct handling of PartialResultSet.resume_token
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/logging_result_set_reader.cc
  google/cloud/spanner/internal/logging_result_set_reader.h
  google/cloud/spanner/internal/logging_result_set_reader_test.cc
  google/cloud/spanner/internal/partial_result_set_reader.h
  google/cloud/spanner/internal/partial_result_set_resume.cc
  google/cloud/spanner/internal/partial_result_set_resume.h
  google/cloud/spanner/internal/partial_result_set_resume_test.cc
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/testing/mock_partial_result_set_reader.h
Labels: api: spanner

#8526 impl(spanner): add a TODO concerning the resume_token protocol
  google/cloud/spanner/internal/partial_result_set_source.cc
Labels: api: spanner

#8530 feat(kms): support the EKM service
  CHANGELOG.md
  generator/generator_config.textproto
  google/cloud/kms/doc/main.dox
  google/cloud/kms/ekm_client.cc
  google/cloud/kms/ekm_client.h
  google/cloud/kms/ekm_connection.cc
  google/cloud/kms/ekm_connection.h
  google/cloud/kms/ekm_connection_idempotency_policy.cc
  google/cloud/kms/ekm_connection_idempotency_policy.h
  google/cloud/kms/ekm_options.h
  google/cloud/kms/internal/ekm_auth_decorator.cc
  google/cloud/kms/internal/ekm_auth_decorator.h
  google/cloud/kms/internal/ekm_connection_impl.cc
  google/cloud/kms/internal/ekm_connection_impl.h
  google/cloud/kms/internal/ekm_logging_decorator.cc
  google/cloud/kms/internal/ekm_logging_decorator.h
  google/cloud/kms/internal/ekm_metadata_decorator.cc
  google/cloud/kms/internal/ekm_metadata_decorator.h
  google/cloud/kms/internal/ekm_option_defaults.cc
  google/cloud/kms/internal/ekm_option_defaults.h
  google/cloud/kms/internal/ekm_retry_traits.h
  google/cloud/kms/internal/ekm_stub.cc
  google/cloud/kms/internal/ekm_stub.h
  google/cloud/kms/internal/ekm_stub_factory.cc
  google/cloud/kms/internal/ekm_stub_factory.h
  google/cloud/kms/mocks/mock_ekm_connection.h
Labels: api: cloudkms

#8534 test(bigtable): add missing dep
  google/cloud/bigtable/CMakeLists.txt
Labels: api: bigtable

#8535 test(storage): add google_cloud_cpp_testing dep
  google/cloud/storage/CMakeLists.txt
Labels: api: storage

#8529 feat(pubsublite): service composite implementation
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc_test.cc
  google/cloud/pubsublite/internal/service.h
  google/cloud/pubsublite/internal/service_composite.h
  google/cloud/pubsublite/internal/service_composite_test.cc
  google/cloud/pubsublite/pubsublite_testing.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/testing/mock_service.h
Labels: api: pubsublite

#8547 test(spanner): restrict generated database/backup names for compat
  google/cloud/spanner/testing/random_backup_name.cc
  google/cloud/spanner/testing/random_database_name.cc
Labels: api: spanner

#8531 feat(pubsublite): single partition publisher boilerplate and `Start`/`Shutdown` implementation
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/alarm_registry.h
  google/cloud/pubsublite/internal/batching_options.h
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher.h
  google/cloud/pubsublite/internal/partition_publisher_test.cc
  google/cloud/pubsublite/internal/publisher.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/pubsublite_testing.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/testing/mock_alarm_registry.h
  google/cloud/pubsublite/testing/mock_resumable_async_reader_writer_stream.h
Labels: api: pubsublite

#8557 cleanup(pubsublite): regenerate .bzl file
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
Labels: api: pubsublite

#8562 fix(storage): return an error on short writes
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf_test.cc
Labels: api: storage

#8565 test(storage): control gRPC channel count in benchmark
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#8574 feat(spanner): integration tests and sample for CopyBackup()
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#8578 cleanup!: change bazel visibility to private for {tests,quickstarts,examples,samples,benchmarks}
  google/cloud/bigquery/integration_tests/BUILD.bazel
  google/cloud/bigquery/quickstart/BUILD.bazel
  google/cloud/bigquery/samples/BUILD.bazel
  google/cloud/bigtable/admin/integration_tests/BUILD.bazel
  google/cloud/bigtable/benchmarks/BUILD.bazel
  google/cloud/bigtable/examples/BUILD.bazel
  google/cloud/bigtable/quickstart/BUILD.bazel
  google/cloud/bigtable/tests/BUILD.bazel
  google/cloud/examples/BUILD.bazel
  google/cloud/iam/quickstart/BUILD.bazel
  google/cloud/iam/samples/BUILD.bazel
  google/cloud/logging/integration_tests/BUILD.bazel
  google/cloud/pubsub/benchmarks/BUILD.bazel
  google/cloud/pubsub/integration_tests/BUILD.bazel
  google/cloud/pubsub/quickstart/BUILD.bazel
  google/cloud/pubsub/samples/BUILD.bazel
  google/cloud/spanner/admin/integration_tests/BUILD.bazel
  google/cloud/spanner/benchmarks/BUILD.bazel
  google/cloud/spanner/integration_tests/BUILD.bazel
  google/cloud/spanner/samples/BUILD.bazel
  google/cloud/storage/benchmarks/BUILD.bazel
  google/cloud/storage/examples/BUILD.bazel
  google/cloud/storage/quickstart/BUILD.bazel
  google/cloud/storage/tests/BUILD.bazel
Labels: samples

#8587 cleanup(storage): remove unnecessary test fixture
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
Labels: api: storage

#8589 feat(spanner): integration tests for Database.database_dialect
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#8478 feat(pubsublite): partition publisher implementation
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#8602 cleanup(spanner): tweak spanner convenience namespace aliases
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/database_admin_client.cc
  google/cloud/spanner/database_admin_client_test.cc
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_client_test.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/instance_admin_connection_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/database_admin_logging.cc
  google/cloud/spanner/internal/database_admin_logging_test.cc
  google/cloud/spanner/internal/database_admin_metadata.cc
  google/cloud/spanner/internal/database_admin_metadata_test.cc
  google/cloud/spanner/internal/database_admin_stub.cc
  google/cloud/spanner/internal/instance_admin_logging.cc
  google/cloud/spanner/internal/instance_admin_logging_test.cc
  google/cloud/spanner/internal/instance_admin_metadata.cc
  google/cloud/spanner/internal/instance_admin_metadata_test.cc
  google/cloud/spanner/internal/instance_admin_stub.cc
  google/cloud/spanner/internal/logging_result_set_reader_test.cc
  google/cloud/spanner/internal/logging_spanner_stub.cc
  google/cloud/spanner/internal/logging_spanner_stub_test.cc
  google/cloud/spanner/internal/metadata_spanner_stub.cc
  google/cloud/spanner/internal/metadata_spanner_stub_test.cc
  google/cloud/spanner/internal/partial_result_set_resume_test.cc
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/mutations_test.cc
  google/cloud/spanner/results_test.cc
  google/cloud/spanner/testing/cleanup_stale_databases_test.cc
Labels: api: spanner

#8603 cleanup(spanner): tweak spanner convenience namespace aliases
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/database_admin_client.cc
  google/cloud/spanner/database_admin_client_test.cc
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_client_test.cc
  google/cloud/spanner/instance_admin_connection.cc
  google/cloud/spanner/instance_admin_connection_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/database_admin_logging.cc
  google/cloud/spanner/internal/database_admin_logging_test.cc
  google/cloud/spanner/internal/database_admin_metadata.cc
  google/cloud/spanner/internal/database_admin_metadata_test.cc
  google/cloud/spanner/internal/database_admin_stub.cc
  google/cloud/spanner/internal/instance_admin_logging.cc
  google/cloud/spanner/internal/instance_admin_logging_test.cc
  google/cloud/spanner/internal/instance_admin_metadata.cc
  google/cloud/spanner/internal/instance_admin_metadata_test.cc
  google/cloud/spanner/internal/instance_admin_stub.cc
  google/cloud/spanner/internal/logging_result_set_reader_test.cc
  google/cloud/spanner/internal/logging_spanner_stub.cc
  google/cloud/spanner/internal/logging_spanner_stub_test.cc
  google/cloud/spanner/internal/metadata_spanner_stub.cc
  google/cloud/spanner/internal/metadata_spanner_stub_test.cc
  google/cloud/spanner/internal/partial_result_set_resume_test.cc
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/mutations_test.cc
  google/cloud/spanner/results_test.cc
  google/cloud/spanner/testing/cleanup_stale_databases_test.cc
Labels: api: spanner

#8604 ci(spanner): eliminate some run-on crashes after expectation failures
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: api: spanner

#8553 feat(pubsublite): default routing policy
  .typos.toml
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/default_routing_policy.cc
  google/cloud/pubsublite/internal/default_routing_policy.h
  google/cloud/pubsublite/internal/default_routing_policy_test.cc
  google/cloud/pubsublite/internal/routing_policy.h
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
Labels: api: pubsublite

#8575 feat(pubsublite): alarm registry implementation
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/alarm_registry.h
  google/cloud/pubsublite/internal/alarm_registry_impl.cc
  google/cloud/pubsublite/internal/alarm_registry_impl.h
  google/cloud/pubsublite/internal/alarm_registry_impl_test.cc
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
Labels: api: pubsublite

#8615 test(spanner): change CopyBackup() sample tag
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#8617 feat(spanner): add initial PostgreSQL samples
  google/cloud/spanner/samples/CMakeLists.txt
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/spanner_client_integration_samples.bzl
Labels: api: spanner, samples

#8624 test(storage): fix client-per-thread implementation
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_experiment.h
Labels: api: storage

#8591 feat(pubsublite): implementation of user-facing and helper PSL types
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/cloud_region.cc
  google/cloud/pubsublite/internal/cloud_region.h
  google/cloud/pubsublite/internal/cloud_zone.cc
  google/cloud/pubsublite/internal/cloud_zone.h
  google/cloud/pubsublite/internal/location.cc
  google/cloud/pubsublite/internal/location.h
  google/cloud/pubsublite/internal/location_test.cc
  google/cloud/pubsublite/message_metadata.cc
  google/cloud/pubsublite/message_metadata.h
  google/cloud/pubsublite/message_metadata_test.cc
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/topic.h
  google/cloud/pubsublite/topic_test.cc
Labels: api: pubsublite
