Repository googleapis/google-cloud-cpp, pull requests merged in 2022-07, with the labels that each got.

#9403 feat(bigtable): modern `Table` constructor
  google/cloud/bigtable/options.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/table_sample_rows_integration_test.cc
Labels: api: bigtable

#9404 doc(pubsub): improve documentation for `*AckHandler`
  google/cloud/pubsub/ack_handler.h
  google/cloud/pubsub/internal/exactly_once_ack_handler.h
Labels: api: pubsub

#9396 impl(pubsub): exactly-once delivery retries lease extensions
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9409 cleanup(bigtable): prefer DataConnection API in benchmarks, tests
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/benchmarks/apply_read_latency_benchmark.cc
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/benchmark.h
  google/cloud/bigtable/benchmarks/embedded_server_test.cc
  google/cloud/bigtable/benchmarks/endurance_benchmark.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_benchmark.cc
  google/cloud/bigtable/benchmarks/read_sync_vs_async_benchmark.cc
  google/cloud/bigtable/benchmarks/scan_throughput_benchmark.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
Labels: api: bigtable

#9407 cleanup(pubsub): use fully-qualified google::protobuf types
  google/cloud/pubsub/snapshot_builder.h
  google/cloud/pubsub/subscription_builder.h
  google/cloud/pubsub/topic_builder.h
Labels: api: pubsub

#9400 test(storage): more tweaks to ranged reads
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
Labels: api: storage

#9415 doc(bigtable): how to mock the Data API
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-mocking.dox
  google/cloud/bigtable/examples/CMakeLists.txt
  google/cloud/bigtable/examples/bigtable_examples_unit_tests.bzl
  google/cloud/bigtable/examples/howto_mock_data_api.cc
  google/cloud/bigtable/mocks/mock_data_connection.h
Labels: api: bigtable

#9414 feat(bigtable): dynamic routing of Data API requests
  google/cloud/bigtable/internal/legacy_row_reader_test.cc
  google/cloud/bigtable/metadata_update_policy.cc
  google/cloud/bigtable/metadata_update_policy.h
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable

#9413 impl(pubsub): use `ExactlyOnceAckHandler`
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session.h
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/subscriber_connection.cc
Labels: api: pubsub

#9420 cleanup(storage): reduce maximum function cognitive complexity
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/lifecycle_rule.cc
Labels: api: storage

#9429 cleanup(storage): fix `clang-tidy` build
  google/cloud/storage/internal/lifecycle_rule_parser.cc
Labels: api: storage

#9427 test(spanner): populate Instance create_time and update_time fields
  google/cloud/spanner/instance_admin_connection_test.cc
Labels: api: spanner

#9432 cleanup(storage): more cognitive complexity reduction
  google/cloud/storage/internal/grpc_bucket_request_parser.cc
  google/cloud/storage/internal/grpc_client.cc
Labels: api: storage

#9433 cleanup(storage): final cognitive complexity reduction
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
Labels: api: storage

#9435 cleanup(storage): enforce cognitive complexity limits
  .clang-tidy
  google/cloud/storage/.clang-tidy
Labels: api: storage

#9438 feat(pubsub): add new option for exactly-once delivery
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/options.h
Labels: api: pubsub

#9445 cleanup(pubsub): enable clang-tidy's cognitive complexity
  google/cloud/pubsub/.clang-tidy
  google/cloud/pubsub/benchmarks/endurance.cc
Labels: api: pubsub

#9444 refactor(storage): use `rest_internal` for low-level wrappers
  google/cloud/BUILD.bazel
  google/cloud/google_cloud_cpp_rest_internal.cmake
  google/cloud/google_cloud_cpp_rest_internal_unit_tests.bzl
  google/cloud/internal/curl_wrappers_disable_sigpipe_handler_test.cc
  google/cloud/internal/curl_wrappers_enable_sigpipe_handler_test.cc
  google/cloud/internal/curl_wrappers_locking_already_present_test.cc
  google/cloud/internal/curl_wrappers_locking_disabled_test.cc
  google/cloud/internal/curl_wrappers_locking_enabled_test.cc
  google/cloud/storage/BUILD.bazel
  google/cloud/storage/client.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/curl_wrappers.h
  google/cloud/storage/internal/curl_wrappers_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9451 test(storage): options for pre-prod testing
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9450 test(storage): benchmark needs to flush output on errors
  google/cloud/internal/log_impl.cc
Labels: api: storage

#9456 refactor(storage): use `rest_internal::*HandleFactory`
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_handle_factory.h
  google/cloud/storage/internal/curl_handle_factory_test.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/minimal_iam_credentials_rest.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: api: storage

#9461 doc(bigtable): fix uses of `ListInstances` in docs
  google/cloud/bigtable/doc/bigtable-samples-grpc-credentials.dox
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
Labels: api: bigtable

#9474 feat(batch): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/batch.deps
  external/googleapis/protolists/batch.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/batch/BUILD.bazel
  google/cloud/batch/CMakeLists.txt
  google/cloud/batch/README.md
  google/cloud/batch/batch_client.cc
  google/cloud/batch/batch_client.h
  google/cloud/batch/batch_connection.cc
  google/cloud/batch/batch_connection.h
  google/cloud/batch/batch_connection_idempotency_policy.cc
  google/cloud/batch/batch_connection_idempotency_policy.h
  google/cloud/batch/batch_options.h
  google/cloud/batch/config.cmake.in
  google/cloud/batch/doc/main.dox
  google/cloud/batch/internal/batch_auth_decorator.cc
  google/cloud/batch/internal/batch_auth_decorator.h
  google/cloud/batch/internal/batch_connection_impl.cc
  google/cloud/batch/internal/batch_connection_impl.h
  google/cloud/batch/internal/batch_logging_decorator.cc
  google/cloud/batch/internal/batch_logging_decorator.h
  google/cloud/batch/internal/batch_metadata_decorator.cc
  google/cloud/batch/internal/batch_metadata_decorator.h
  google/cloud/batch/internal/batch_option_defaults.cc
  google/cloud/batch/internal/batch_option_defaults.h
  google/cloud/batch/internal/batch_retry_traits.h
  google/cloud/batch/internal/batch_stub.cc
  google/cloud/batch/internal/batch_stub.h
  google/cloud/batch/internal/batch_stub_factory.cc
  google/cloud/batch/internal/batch_stub_factory.h
  google/cloud/batch/mocks/mock_batch_connection.h
  google/cloud/batch/quickstart/.bazelrc
  google/cloud/batch/quickstart/BUILD.bazel
  google/cloud/batch/quickstart/CMakeLists.txt
  google/cloud/batch/quickstart/Makefile
  google/cloud/batch/quickstart/README.md
  google/cloud/batch/quickstart/WORKSPACE.bazel
  google/cloud/batch/quickstart/quickstart.cc
Labels: api: batch

#9479 test(spanner): extend abandoned-database retention period to 7 days
  google/cloud/spanner/testing/cleanup_stale_databases.cc
  google/cloud/spanner/testing/cleanup_stale_databases.h
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#9481 feat(storage): support Bucket custom placement config
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser.h
  google/cloud/storage/internal/grpc_bucket_metadata_parser_test.cc
Labels: api: storage

#9483 test(spanner): additional logging on UpdateDatabaseDdl() failures
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/spanner_client_testing.bzl
  google/cloud/spanner/testing/debug_log.cc
  google/cloud/spanner/testing/debug_log.h
Labels: api: spanner

#9484 impl(storage): helper class to generate invocation ids
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/invocation_id_generator.cc
  google/cloud/storage/internal/invocation_id_generator.h
  google/cloud/storage/internal/invocation_id_generator_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9500 doc(pubsub): create BigQuery subscription sample
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub, samples

#9509 fix(storage): no char for `std::uniform_int_distribution`
  google/cloud/storage/internal/invocation_id_generator.cc
Labels: api: storage

#9513 cleanup(bigtable): use `DataConnection` in quickstart
  google/cloud/bigtable/README.md
  google/cloud/bigtable/quickstart/quickstart.cc
Labels: api: bigtable

#9520 doc(storage): add table of contents to landing page
  google/cloud/storage/doc/storage-main.dox
Labels: api: storage

#9523 fix(pubsub): missing subscription name in lease extensions
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9527 fix(storage): remove UB in `MakePooledRestClient()`
  google/cloud/internal/curl_rest_client.cc
Labels: api: storage

#9533 fix(pubsub): missing subscription name in lease extensions (#9523)
  CHANGELOG.md
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9539 fix(storage): remove UB in `MakePooledRestClient()` (#9527)
  google/cloud/internal/curl_rest_client.cc
Labels: api: storage

#9545 test(spanner): MakeConnection() test will require a service
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#9546 feat(spanner): default SessionPoolMinSessionsOption to a non-zero value
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/session_pool_options_test.cc
Labels: api: spanner

#9548 test(spanner): use Options in the retry/backoff-policy sample
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#9549 test(spanner): RestoreDatabase() now sets database_dialect
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
Labels: api: spanner

#9552 doc(debugger): announce deprecation
  CHANGELOG.md
  google/cloud/debugger/README.md
Labels: api: clouddebugger

#9562 feat(pubsub): install CMake configs for mock library
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/pubsub/BUILD.bazel
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub_mocks.bzl
Labels: api: pubsub

#9568 fix(bigtable): the mocks library is no longer header-only
  google/cloud/bigtable/CMakeLists.txt
Labels: api: bigtable

#9570 test(storage): control gRPC background thread count
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9579 test(storage): use shorter random object names
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
Labels: api: storage

#9580 feat(storage): add debugging headers to `ObjectWriteStream`
  google/cloud/storage/examples/storage_client_mock_samples.cc
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_object_request_parser.cc
  google/cloud/storage/internal/grpc_object_request_parser.h
  google/cloud/storage/internal/grpc_object_request_parser_test.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/object_write_stream.cc
Labels: api: storage

#9583 doc(bigtable): document connection pooling model
  google/cloud/bigtable/data_connection.h
Labels: api: bigtable

#9588 impl(spanner): only apply default options in one place
  google/cloud/spanner/client.h
  google/cloud/spanner/internal/connection_impl.cc
Labels: api: spanner

#9589 test(storage): add options to select upload function
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9592 test(storage): cleanup benchmark output
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#9594 cleanup(storage): fix windows release build
  google/cloud/storage/benchmarks/throughput_experiment.cc
Labels: api: storage

#9593 feat(storage): experimental options to tune stall timeouts
  google/cloud/internal/curl_impl.cc
  google/cloud/internal/curl_impl.h
  google/cloud/internal/rest_options.h
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/options.h
Labels: api: storage

#9596 cleanup(storage): correctly declare `GroupOptions()` overloads
  google/cloud/storage/internal/group_options.h
  google/cloud/storage/internal/group_options_test.cc
Labels: api: storage

#9597 test(storage): benchmark option to disable retry loop
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9598 test(storage): benchmark options to tune stall timeouts
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage
