Repository googleapis/google-cloud-cpp, pull requests merged in 2022-01, with the labels that each got.

#7768 feat(bigtable): add wait for consistency helper method
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/wait_for_consistency.cc
  google/cloud/bigtable/internal/wait_for_consistency.h
  google/cloud/bigtable/internal/wait_for_consistency_test.cc
Labels: api: bigtable

#7817 feat(assuredworkloads): generate library
  .bazelignore
  .codecov.yml
  BUILD
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/assuredworkloads.deps
  external/googleapis/protolists/assuredworkloads.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/assuredworkloads/BUILD.bazel
  google/cloud/assuredworkloads/CMakeLists.txt
  google/cloud/assuredworkloads/README.md
  google/cloud/assuredworkloads/assured_workloads_client.cc
  google/cloud/assuredworkloads/assured_workloads_client.h
  google/cloud/assuredworkloads/assured_workloads_connection.cc
  google/cloud/assuredworkloads/assured_workloads_connection.h
  google/cloud/assuredworkloads/assured_workloads_connection_idempotency_policy.cc
  google/cloud/assuredworkloads/assured_workloads_connection_idempotency_policy.h
  google/cloud/assuredworkloads/assured_workloads_options.h
  google/cloud/assuredworkloads/config.cmake.in
  google/cloud/assuredworkloads/config.pc.in
  google/cloud/assuredworkloads/doc/main.dox
  google/cloud/assuredworkloads/google_cloud_cpp_assuredworkloads.bzl
  google/cloud/assuredworkloads/google_cloud_cpp_assuredworkloads_mocks.bzl
  google/cloud/assuredworkloads/internal/assured_workloads_auth_decorator.cc
  google/cloud/assuredworkloads/internal/assured_workloads_auth_decorator.h
  google/cloud/assuredworkloads/internal/assured_workloads_logging_decorator.cc
  google/cloud/assuredworkloads/internal/assured_workloads_logging_decorator.h
  google/cloud/assuredworkloads/internal/assured_workloads_metadata_decorator.cc
  google/cloud/assuredworkloads/internal/assured_workloads_metadata_decorator.h
  google/cloud/assuredworkloads/internal/assured_workloads_option_defaults.cc
  google/cloud/assuredworkloads/internal/assured_workloads_option_defaults.h
  google/cloud/assuredworkloads/internal/assured_workloads_retry_traits.h
  google/cloud/assuredworkloads/internal/assured_workloads_stub.cc
  google/cloud/assuredworkloads/internal/assured_workloads_stub.h
  google/cloud/assuredworkloads/internal/assured_workloads_stub_factory.cc
  google/cloud/assuredworkloads/internal/assured_workloads_stub_factory.h
  google/cloud/assuredworkloads/mocks/mock_assured_workloads_connection.h
  google/cloud/assuredworkloads/quickstart/BUILD.bazel
  google/cloud/assuredworkloads/quickstart/CMakeLists.txt
  google/cloud/assuredworkloads/quickstart/Makefile
  google/cloud/assuredworkloads/quickstart/README.md
  google/cloud/assuredworkloads/quickstart/WORKSPACE.bazel
  google/cloud/assuredworkloads/quickstart/quickstart.cc
Labels: api: assuredworkloads

#7812 feat(scheduler): generate scheduler library
  .bazelignore
  .codecov.yml
  BUILD
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/scheduler.deps
  external/googleapis/protolists/scheduler.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/scheduler/BUILD.bazel
  google/cloud/scheduler/CMakeLists.txt
  google/cloud/scheduler/README.md
  google/cloud/scheduler/cloud_scheduler_client.cc
  google/cloud/scheduler/cloud_scheduler_client.h
  google/cloud/scheduler/cloud_scheduler_connection.cc
  google/cloud/scheduler/cloud_scheduler_connection.h
  google/cloud/scheduler/cloud_scheduler_connection_idempotency_policy.cc
  google/cloud/scheduler/cloud_scheduler_connection_idempotency_policy.h
  google/cloud/scheduler/cloud_scheduler_options.h
  google/cloud/scheduler/config.cmake.in
  google/cloud/scheduler/config.pc.in
  google/cloud/scheduler/doc/main.dox
  google/cloud/scheduler/google_cloud_cpp_scheduler.bzl
  google/cloud/scheduler/google_cloud_cpp_scheduler_mocks.bzl
  google/cloud/scheduler/internal/cloud_scheduler_auth_decorator.cc
  google/cloud/scheduler/internal/cloud_scheduler_auth_decorator.h
  google/cloud/scheduler/internal/cloud_scheduler_logging_decorator.cc
  google/cloud/scheduler/internal/cloud_scheduler_logging_decorator.h
  google/cloud/scheduler/internal/cloud_scheduler_metadata_decorator.cc
  google/cloud/scheduler/internal/cloud_scheduler_metadata_decorator.h
  google/cloud/scheduler/internal/cloud_scheduler_option_defaults.cc
  google/cloud/scheduler/internal/cloud_scheduler_option_defaults.h
  google/cloud/scheduler/internal/cloud_scheduler_retry_traits.h
  google/cloud/scheduler/internal/cloud_scheduler_stub.cc
  google/cloud/scheduler/internal/cloud_scheduler_stub.h
  google/cloud/scheduler/internal/cloud_scheduler_stub_factory.cc
  google/cloud/scheduler/internal/cloud_scheduler_stub_factory.h
  google/cloud/scheduler/mocks/mock_cloud_scheduler_connection.h
  google/cloud/scheduler/quickstart/BUILD.bazel
  google/cloud/scheduler/quickstart/CMakeLists.txt
  google/cloud/scheduler/quickstart/Makefile
  google/cloud/scheduler/quickstart/README.md
  google/cloud/scheduler/quickstart/WORKSPACE.bazel
  google/cloud/scheduler/quickstart/quickstart.cc
Labels: api: cloudscheduler

#7815 feat(kms): generate KMS library
  .bazelignore
  .codecov.yml
  BUILD
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/kms.deps
  external/googleapis/protolists/kms.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/kms/BUILD.bazel
  google/cloud/kms/CMakeLists.txt
  google/cloud/kms/README.md
  google/cloud/kms/config.cmake.in
  google/cloud/kms/config.pc.in
  google/cloud/kms/doc/main.dox
  google/cloud/kms/google_cloud_cpp_kms.bzl
  google/cloud/kms/google_cloud_cpp_kms_mocks.bzl
  google/cloud/kms/internal/key_management_auth_decorator.cc
  google/cloud/kms/internal/key_management_auth_decorator.h
  google/cloud/kms/internal/key_management_logging_decorator.cc
  google/cloud/kms/internal/key_management_logging_decorator.h
  google/cloud/kms/internal/key_management_metadata_decorator.cc
  google/cloud/kms/internal/key_management_metadata_decorator.h
  google/cloud/kms/internal/key_management_option_defaults.cc
  google/cloud/kms/internal/key_management_option_defaults.h
  google/cloud/kms/internal/key_management_retry_traits.h
  google/cloud/kms/internal/key_management_stub.cc
  google/cloud/kms/internal/key_management_stub.h
  google/cloud/kms/internal/key_management_stub_factory.cc
  google/cloud/kms/internal/key_management_stub_factory.h
  google/cloud/kms/key_management_client.cc
  google/cloud/kms/key_management_client.h
  google/cloud/kms/key_management_connection.cc
  google/cloud/kms/key_management_connection.h
  google/cloud/kms/key_management_connection_idempotency_policy.cc
  google/cloud/kms/key_management_connection_idempotency_policy.h
  google/cloud/kms/key_management_options.h
  google/cloud/kms/mocks/mock_key_management_connection.h
  google/cloud/kms/quickstart/BUILD.bazel
  google/cloud/kms/quickstart/CMakeLists.txt
  google/cloud/kms/quickstart/Makefile
  google/cloud/kms/quickstart/README.md
  google/cloud/kms/quickstart/WORKSPACE.bazel
  google/cloud/kms/quickstart/quickstart.cc
Labels: api: cloudkms

#7822 feat(websecurityscanner): generate library
  .bazelignore
  .codecov.yml
  BUILD
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/websecurityscanner.deps
  external/googleapis/protolists/websecurityscanner.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/websecurityscanner/BUILD.bazel
  google/cloud/websecurityscanner/CMakeLists.txt
  google/cloud/websecurityscanner/README.md
  google/cloud/websecurityscanner/config.cmake.in
  google/cloud/websecurityscanner/config.pc.in
  google/cloud/websecurityscanner/doc/main.dox
  google/cloud/websecurityscanner/google_cloud_cpp_websecurityscanner.bzl
  google/cloud/websecurityscanner/google_cloud_cpp_websecurityscanner_mocks.bzl
  google/cloud/websecurityscanner/internal/web_security_scanner_auth_decorator.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_auth_decorator.h
  google/cloud/websecurityscanner/internal/web_security_scanner_logging_decorator.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_logging_decorator.h
  google/cloud/websecurityscanner/internal/web_security_scanner_metadata_decorator.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_metadata_decorator.h
  google/cloud/websecurityscanner/internal/web_security_scanner_option_defaults.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_option_defaults.h
  google/cloud/websecurityscanner/internal/web_security_scanner_retry_traits.h
  google/cloud/websecurityscanner/internal/web_security_scanner_stub.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_stub.h
  google/cloud/websecurityscanner/internal/web_security_scanner_stub_factory.cc
  google/cloud/websecurityscanner/internal/web_security_scanner_stub_factory.h
  google/cloud/websecurityscanner/mocks/mock_web_security_scanner_connection.h
  google/cloud/websecurityscanner/quickstart/BUILD.bazel
  google/cloud/websecurityscanner/quickstart/CMakeLists.txt
  google/cloud/websecurityscanner/quickstart/Makefile
  google/cloud/websecurityscanner/quickstart/README.md
  google/cloud/websecurityscanner/quickstart/WORKSPACE.bazel
  google/cloud/websecurityscanner/quickstart/quickstart.cc
  google/cloud/websecurityscanner/web_security_scanner_client.cc
  google/cloud/websecurityscanner/web_security_scanner_client.h
  google/cloud/websecurityscanner/web_security_scanner_connection.cc
  google/cloud/websecurityscanner/web_security_scanner_connection.h
  google/cloud/websecurityscanner/web_security_scanner_connection_idempotency_policy.cc
  google/cloud/websecurityscanner/web_security_scanner_connection_idempotency_policy.h
  google/cloud/websecurityscanner/web_security_scanner_options.h
Labels: api: websecurityscanner

#7824 feat(spanner): support unified credentials
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/client.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/session_pool_integration_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/spanner_auth.cc
  google/cloud/spanner/internal/spanner_auth.h
  google/cloud/spanner/internal/spanner_auth_test.cc
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/internal/spanner_stub.h
  google/cloud/spanner/internal/spanner_stub_test.cc
  google/cloud/spanner/spanner_client_unit_tests.bzl
Labels: api: spanner

#7827 feat(accessapproval): generate library
  .bazelignore
  .codecov.yml
  .typos.toml
  BUILD
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/accessapproval.deps
  external/googleapis/protolists/accessapproval.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/accessapproval/BUILD.bazel
  google/cloud/accessapproval/CMakeLists.txt
  google/cloud/accessapproval/README.md
  google/cloud/accessapproval/access_approval_client.cc
  google/cloud/accessapproval/access_approval_client.h
  google/cloud/accessapproval/access_approval_connection.cc
  google/cloud/accessapproval/access_approval_connection.h
  google/cloud/accessapproval/access_approval_connection_idempotency_policy.cc
  google/cloud/accessapproval/access_approval_connection_idempotency_policy.h
  google/cloud/accessapproval/access_approval_options.h
  google/cloud/accessapproval/config.cmake.in
  google/cloud/accessapproval/config.pc.in
  google/cloud/accessapproval/doc/main.dox
  google/cloud/accessapproval/google_cloud_cpp_accessapproval.bzl
  google/cloud/accessapproval/google_cloud_cpp_accessapproval_mocks.bzl
  google/cloud/accessapproval/internal/access_approval_auth_decorator.cc
  google/cloud/accessapproval/internal/access_approval_auth_decorator.h
  google/cloud/accessapproval/internal/access_approval_logging_decorator.cc
  google/cloud/accessapproval/internal/access_approval_logging_decorator.h
  google/cloud/accessapproval/internal/access_approval_metadata_decorator.cc
  google/cloud/accessapproval/internal/access_approval_metadata_decorator.h
  google/cloud/accessapproval/internal/access_approval_option_defaults.cc
  google/cloud/accessapproval/internal/access_approval_option_defaults.h
  google/cloud/accessapproval/internal/access_approval_retry_traits.h
  google/cloud/accessapproval/internal/access_approval_stub.cc
  google/cloud/accessapproval/internal/access_approval_stub.h
  google/cloud/accessapproval/internal/access_approval_stub_factory.cc
  google/cloud/accessapproval/internal/access_approval_stub_factory.h
  google/cloud/accessapproval/mocks/mock_access_approval_connection.h
  google/cloud/accessapproval/quickstart/BUILD.bazel
  google/cloud/accessapproval/quickstart/CMakeLists.txt
  google/cloud/accessapproval/quickstart/Makefile
  google/cloud/accessapproval/quickstart/README.md
  google/cloud/accessapproval/quickstart/WORKSPACE.bazel
  google/cloud/accessapproval/quickstart/quickstart.cc
Labels: api: accessapproval

#7848 feat(webrisk): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/webrisk.deps
  external/googleapis/protolists/webrisk.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/webrisk/BUILD.bazel
  google/cloud/webrisk/CMakeLists.txt
  google/cloud/webrisk/README.md
  google/cloud/webrisk/config.cmake.in
  google/cloud/webrisk/config.pc.in
  google/cloud/webrisk/doc/main.dox
  google/cloud/webrisk/google_cloud_cpp_webrisk.bzl
  google/cloud/webrisk/google_cloud_cpp_webrisk_mocks.bzl
  google/cloud/webrisk/internal/web_risk_auth_decorator.cc
  google/cloud/webrisk/internal/web_risk_auth_decorator.h
  google/cloud/webrisk/internal/web_risk_logging_decorator.cc
  google/cloud/webrisk/internal/web_risk_logging_decorator.h
  google/cloud/webrisk/internal/web_risk_metadata_decorator.cc
  google/cloud/webrisk/internal/web_risk_metadata_decorator.h
  google/cloud/webrisk/internal/web_risk_option_defaults.cc
  google/cloud/webrisk/internal/web_risk_option_defaults.h
  google/cloud/webrisk/internal/web_risk_retry_traits.h
  google/cloud/webrisk/internal/web_risk_stub.cc
  google/cloud/webrisk/internal/web_risk_stub.h
  google/cloud/webrisk/internal/web_risk_stub_factory.cc
  google/cloud/webrisk/internal/web_risk_stub_factory.h
  google/cloud/webrisk/mocks/mock_web_risk_connection.h
  google/cloud/webrisk/quickstart/BUILD.bazel
  google/cloud/webrisk/quickstart/CMakeLists.txt
  google/cloud/webrisk/quickstart/Makefile
  google/cloud/webrisk/quickstart/README.md
  google/cloud/webrisk/quickstart/WORKSPACE.bazel
  google/cloud/webrisk/quickstart/quickstart.cc
  google/cloud/webrisk/web_risk_client.cc
  google/cloud/webrisk/web_risk_client.h
  google/cloud/webrisk/web_risk_connection.cc
  google/cloud/webrisk/web_risk_connection.h
  google/cloud/webrisk/web_risk_connection_idempotency_policy.cc
  google/cloud/webrisk/web_risk_connection_idempotency_policy.h
  google/cloud/webrisk/web_risk_options.h
Labels: api: webrisk

#7854 fix(bigtable): polling policy clones initial state
  google/cloud/bigtable/polling_policy.h
  google/cloud/bigtable/polling_policy_test.cc
Labels: api: bigtable

#7856 feat(accesscontextmanager): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/accesscontextmanager.deps
  external/googleapis/protolists/accesscontextmanager.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/accesscontextmanager/BUILD.bazel
  google/cloud/accesscontextmanager/CMakeLists.txt
  google/cloud/accesscontextmanager/README.md
  google/cloud/accesscontextmanager/access_context_manager_client.cc
  google/cloud/accesscontextmanager/access_context_manager_client.h
  google/cloud/accesscontextmanager/access_context_manager_connection.cc
  google/cloud/accesscontextmanager/access_context_manager_connection.h
  google/cloud/accesscontextmanager/access_context_manager_connection_idempotency_policy.cc
  google/cloud/accesscontextmanager/access_context_manager_connection_idempotency_policy.h
  google/cloud/accesscontextmanager/access_context_manager_options.h
  google/cloud/accesscontextmanager/config.cmake.in
  google/cloud/accesscontextmanager/config.pc.in
  google/cloud/accesscontextmanager/doc/main.dox
  google/cloud/accesscontextmanager/internal/access_context_manager_auth_decorator.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_auth_decorator.h
  google/cloud/accesscontextmanager/internal/access_context_manager_logging_decorator.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_logging_decorator.h
  google/cloud/accesscontextmanager/internal/access_context_manager_metadata_decorator.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_metadata_decorator.h
  google/cloud/accesscontextmanager/internal/access_context_manager_option_defaults.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_option_defaults.h
  google/cloud/accesscontextmanager/internal/access_context_manager_retry_traits.h
  google/cloud/accesscontextmanager/internal/access_context_manager_stub.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_stub.h
  google/cloud/accesscontextmanager/internal/access_context_manager_stub_factory.cc
  google/cloud/accesscontextmanager/internal/access_context_manager_stub_factory.h
  google/cloud/accesscontextmanager/mocks/mock_access_context_manager_connection.h
  google/cloud/accesscontextmanager/quickstart/BUILD.bazel
  google/cloud/accesscontextmanager/quickstart/CMakeLists.txt
  google/cloud/accesscontextmanager/quickstart/Makefile
  google/cloud/accesscontextmanager/quickstart/README.md
  google/cloud/accesscontextmanager/quickstart/WORKSPACE.bazel
  google/cloud/accesscontextmanager/quickstart/quickstart.cc
Labels: api: accesscontextmanager

#7857 cleanup(storage): simplify one of the unit tests
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
Labels: api: storage

#7861 feat(vpcaccess): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/vpcaccess.deps
  external/googleapis/protolists/vpcaccess.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/vpcaccess/BUILD.bazel
  google/cloud/vpcaccess/CMakeLists.txt
  google/cloud/vpcaccess/README.md
  google/cloud/vpcaccess/config.cmake.in
  google/cloud/vpcaccess/config.pc.in
  google/cloud/vpcaccess/doc/main.dox
  google/cloud/vpcaccess/internal/vpc_access_auth_decorator.cc
  google/cloud/vpcaccess/internal/vpc_access_auth_decorator.h
  google/cloud/vpcaccess/internal/vpc_access_logging_decorator.cc
  google/cloud/vpcaccess/internal/vpc_access_logging_decorator.h
  google/cloud/vpcaccess/internal/vpc_access_metadata_decorator.cc
  google/cloud/vpcaccess/internal/vpc_access_metadata_decorator.h
  google/cloud/vpcaccess/internal/vpc_access_option_defaults.cc
  google/cloud/vpcaccess/internal/vpc_access_option_defaults.h
  google/cloud/vpcaccess/internal/vpc_access_retry_traits.h
  google/cloud/vpcaccess/internal/vpc_access_stub.cc
  google/cloud/vpcaccess/internal/vpc_access_stub.h
  google/cloud/vpcaccess/internal/vpc_access_stub_factory.cc
  google/cloud/vpcaccess/internal/vpc_access_stub_factory.h
  google/cloud/vpcaccess/mocks/mock_vpc_access_connection.h
  google/cloud/vpcaccess/quickstart/BUILD.bazel
  google/cloud/vpcaccess/quickstart/CMakeLists.txt
  google/cloud/vpcaccess/quickstart/Makefile
  google/cloud/vpcaccess/quickstart/README.md
  google/cloud/vpcaccess/quickstart/WORKSPACE.bazel
  google/cloud/vpcaccess/quickstart/quickstart.cc
  google/cloud/vpcaccess/vpc_access_client.cc
  google/cloud/vpcaccess/vpc_access_client.h
  google/cloud/vpcaccess/vpc_access_connection.cc
  google/cloud/vpcaccess/vpc_access_connection.h
  google/cloud/vpcaccess/vpc_access_connection_idempotency_policy.cc
  google/cloud/vpcaccess/vpc_access_connection_idempotency_policy.h
  google/cloud/vpcaccess/vpc_access_options.h
Labels: api: vpcaccess

#7867 sample(storage): update sample region tags for turbo replication
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: api: storage, samples

#7849 impl(bigtable): convert to common policies
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/polling_policy.cc
  google/cloud/bigtable/polling_policy.h
  google/cloud/bigtable/polling_policy_test.cc
  google/cloud/bigtable/rpc_backoff_policy.cc
  google/cloud/bigtable/rpc_backoff_policy.h
  google/cloud/bigtable/rpc_backoff_policy_test.cc
  google/cloud/bigtable/rpc_retry_policy.cc
  google/cloud/bigtable/rpc_retry_policy.h
  google/cloud/bigtable/rpc_retry_policy_test.cc
Labels: api: bigtable

#7882 test(storage): simplify ObjectWriteStreambuf unit test
  google/cloud/storage/internal/object_write_streambuf_test.cc
Labels: api: storage

#7881 cleanup(storage): improve debugging information
  google/cloud/storage/internal/retry_resumable_upload_session.cc
Labels: api: storage

#7872 feat(apigateway): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/apigateway.deps
  external/googleapis/protolists/apigateway.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/apigateway/BUILD.bazel
  google/cloud/apigateway/CMakeLists.txt
  google/cloud/apigateway/README.md
  google/cloud/apigateway/api_gateway_client.cc
  google/cloud/apigateway/api_gateway_client.h
  google/cloud/apigateway/api_gateway_connection.cc
  google/cloud/apigateway/api_gateway_connection.h
  google/cloud/apigateway/api_gateway_connection_idempotency_policy.cc
  google/cloud/apigateway/api_gateway_connection_idempotency_policy.h
  google/cloud/apigateway/api_gateway_options.h
  google/cloud/apigateway/config.cmake.in
  google/cloud/apigateway/config.pc.in
  google/cloud/apigateway/doc/main.dox
  google/cloud/apigateway/internal/api_gateway_auth_decorator.cc
  google/cloud/apigateway/internal/api_gateway_auth_decorator.h
  google/cloud/apigateway/internal/api_gateway_logging_decorator.cc
  google/cloud/apigateway/internal/api_gateway_logging_decorator.h
  google/cloud/apigateway/internal/api_gateway_metadata_decorator.cc
  google/cloud/apigateway/internal/api_gateway_metadata_decorator.h
  google/cloud/apigateway/internal/api_gateway_option_defaults.cc
  google/cloud/apigateway/internal/api_gateway_option_defaults.h
  google/cloud/apigateway/internal/api_gateway_retry_traits.h
  google/cloud/apigateway/internal/api_gateway_stub.cc
  google/cloud/apigateway/internal/api_gateway_stub.h
  google/cloud/apigateway/internal/api_gateway_stub_factory.cc
  google/cloud/apigateway/internal/api_gateway_stub_factory.h
  google/cloud/apigateway/mocks/mock_api_gateway_connection.h
  google/cloud/apigateway/quickstart/BUILD.bazel
  google/cloud/apigateway/quickstart/CMakeLists.txt
  google/cloud/apigateway/quickstart/Makefile
  google/cloud/apigateway/quickstart/README.md
  google/cloud/apigateway/quickstart/WORKSPACE.bazel
  google/cloud/apigateway/quickstart/quickstart.cc
Labels: api: apigateway

#7915 feat(eventarc): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/eventarc.deps
  external/googleapis/protolists/eventarc.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/eventarc/BUILD.bazel
  google/cloud/eventarc/CMakeLists.txt
  google/cloud/eventarc/README.md
  google/cloud/eventarc/config.cmake.in
  google/cloud/eventarc/config.pc.in
  google/cloud/eventarc/doc/main.dox
  google/cloud/eventarc/eventarc_client.cc
  google/cloud/eventarc/eventarc_client.h
  google/cloud/eventarc/eventarc_connection.cc
  google/cloud/eventarc/eventarc_connection.h
  google/cloud/eventarc/eventarc_connection_idempotency_policy.cc
  google/cloud/eventarc/eventarc_connection_idempotency_policy.h
  google/cloud/eventarc/eventarc_options.h
  google/cloud/eventarc/internal/eventarc_auth_decorator.cc
  google/cloud/eventarc/internal/eventarc_auth_decorator.h
  google/cloud/eventarc/internal/eventarc_logging_decorator.cc
  google/cloud/eventarc/internal/eventarc_logging_decorator.h
  google/cloud/eventarc/internal/eventarc_metadata_decorator.cc
  google/cloud/eventarc/internal/eventarc_metadata_decorator.h
  google/cloud/eventarc/internal/eventarc_option_defaults.cc
  google/cloud/eventarc/internal/eventarc_option_defaults.h
  google/cloud/eventarc/internal/eventarc_retry_traits.h
  google/cloud/eventarc/internal/eventarc_stub.cc
  google/cloud/eventarc/internal/eventarc_stub.h
  google/cloud/eventarc/internal/eventarc_stub_factory.cc
  google/cloud/eventarc/internal/eventarc_stub_factory.h
  google/cloud/eventarc/mocks/mock_eventarc_connection.h
  google/cloud/eventarc/quickstart/BUILD.bazel
  google/cloud/eventarc/quickstart/CMakeLists.txt
  google/cloud/eventarc/quickstart/Makefile
  google/cloud/eventarc/quickstart/README.md
  google/cloud/eventarc/quickstart/WORKSPACE.bazel
  google/cloud/eventarc/quickstart/quickstart.cc
Labels: api: eventarc

#7920 feat(ids): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/ids.deps
  external/googleapis/protolists/ids.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/ids/BUILD.bazel
  google/cloud/ids/CMakeLists.txt
  google/cloud/ids/README.md
  google/cloud/ids/config.cmake.in
  google/cloud/ids/config.pc.in
  google/cloud/ids/doc/main.dox
  google/cloud/ids/ids_client.cc
  google/cloud/ids/ids_client.h
  google/cloud/ids/ids_connection.cc
  google/cloud/ids/ids_connection.h
  google/cloud/ids/ids_connection_idempotency_policy.cc
  google/cloud/ids/ids_connection_idempotency_policy.h
  google/cloud/ids/ids_options.h
  google/cloud/ids/internal/ids_auth_decorator.cc
  google/cloud/ids/internal/ids_auth_decorator.h
  google/cloud/ids/internal/ids_logging_decorator.cc
  google/cloud/ids/internal/ids_logging_decorator.h
  google/cloud/ids/internal/ids_metadata_decorator.cc
  google/cloud/ids/internal/ids_metadata_decorator.h
  google/cloud/ids/internal/ids_option_defaults.cc
  google/cloud/ids/internal/ids_option_defaults.h
  google/cloud/ids/internal/ids_retry_traits.h
  google/cloud/ids/internal/ids_stub.cc
  google/cloud/ids/internal/ids_stub.h
  google/cloud/ids/internal/ids_stub_factory.cc
  google/cloud/ids/internal/ids_stub_factory.h
  google/cloud/ids/mocks/mock_ids_connection.h
  google/cloud/ids/quickstart/BUILD.bazel
  google/cloud/ids/quickstart/CMakeLists.txt
  google/cloud/ids/quickstart/Makefile
  google/cloud/ids/quickstart/README.md
  google/cloud/ids/quickstart/WORKSPACE.bazel
  google/cloud/ids/quickstart/quickstart.cc
Labels: api: ids

#7927 feat(iot): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/iot.deps
  external/googleapis/protolists/iot.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/iot/BUILD.bazel
  google/cloud/iot/CMakeLists.txt
  google/cloud/iot/README.md
  google/cloud/iot/config.cmake.in
  google/cloud/iot/config.pc.in
  google/cloud/iot/device_manager_client.cc
  google/cloud/iot/device_manager_client.h
  google/cloud/iot/device_manager_connection.cc
  google/cloud/iot/device_manager_connection.h
  google/cloud/iot/device_manager_connection_idempotency_policy.cc
  google/cloud/iot/device_manager_connection_idempotency_policy.h
  google/cloud/iot/device_manager_options.h
  google/cloud/iot/doc/main.dox
  google/cloud/iot/internal/device_manager_auth_decorator.cc
  google/cloud/iot/internal/device_manager_auth_decorator.h
  google/cloud/iot/internal/device_manager_logging_decorator.cc
  google/cloud/iot/internal/device_manager_logging_decorator.h
  google/cloud/iot/internal/device_manager_metadata_decorator.cc
  google/cloud/iot/internal/device_manager_metadata_decorator.h
  google/cloud/iot/internal/device_manager_option_defaults.cc
  google/cloud/iot/internal/device_manager_option_defaults.h
  google/cloud/iot/internal/device_manager_retry_traits.h
  google/cloud/iot/internal/device_manager_stub.cc
  google/cloud/iot/internal/device_manager_stub.h
  google/cloud/iot/internal/device_manager_stub_factory.cc
  google/cloud/iot/internal/device_manager_stub_factory.h
  google/cloud/iot/mocks/mock_device_manager_connection.h
  google/cloud/iot/quickstart/BUILD.bazel
  google/cloud/iot/quickstart/CMakeLists.txt
  google/cloud/iot/quickstart/Makefile
  google/cloud/iot/quickstart/README.md
  google/cloud/iot/quickstart/WORKSPACE.bazel
  google/cloud/iot/quickstart/quickstart.cc
Labels: api: cloudiot

#7934 feat(eventarc): add Publisher service
  generator/generator_config.textproto
  google/cloud/eventarc/BUILD.bazel
  google/cloud/eventarc/internal/publisher_auth_decorator.cc
  google/cloud/eventarc/internal/publisher_auth_decorator.h
  google/cloud/eventarc/internal/publisher_logging_decorator.cc
  google/cloud/eventarc/internal/publisher_logging_decorator.h
  google/cloud/eventarc/internal/publisher_metadata_decorator.cc
  google/cloud/eventarc/internal/publisher_metadata_decorator.h
  google/cloud/eventarc/internal/publisher_option_defaults.cc
  google/cloud/eventarc/internal/publisher_option_defaults.h
  google/cloud/eventarc/internal/publisher_retry_traits.h
  google/cloud/eventarc/internal/publisher_stub.cc
  google/cloud/eventarc/internal/publisher_stub.h
  google/cloud/eventarc/internal/publisher_stub_factory.cc
  google/cloud/eventarc/internal/publisher_stub_factory.h
  google/cloud/eventarc/mocks/mock_publisher_connection.h
  google/cloud/eventarc/publisher_client.cc
  google/cloud/eventarc/publisher_client.h
  google/cloud/eventarc/publisher_connection.cc
  google/cloud/eventarc/publisher_connection.h
  google/cloud/eventarc/publisher_connection_idempotency_policy.cc
  google/cloud/eventarc/publisher_connection_idempotency_policy.h
  google/cloud/eventarc/publisher_options.h
Labels: api: eventarc

#7911 feat(recommender): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/recommender.deps
  external/googleapis/protolists/recommender.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/recommender/BUILD.bazel
  google/cloud/recommender/CMakeLists.txt
  google/cloud/recommender/README.md
  google/cloud/recommender/config.cmake.in
  google/cloud/recommender/config.pc.in
  google/cloud/recommender/doc/main.dox
  google/cloud/recommender/internal/recommender_auth_decorator.cc
  google/cloud/recommender/internal/recommender_auth_decorator.h
  google/cloud/recommender/internal/recommender_logging_decorator.cc
  google/cloud/recommender/internal/recommender_logging_decorator.h
  google/cloud/recommender/internal/recommender_metadata_decorator.cc
  google/cloud/recommender/internal/recommender_metadata_decorator.h
  google/cloud/recommender/internal/recommender_option_defaults.cc
  google/cloud/recommender/internal/recommender_option_defaults.h
  google/cloud/recommender/internal/recommender_retry_traits.h
  google/cloud/recommender/internal/recommender_stub.cc
  google/cloud/recommender/internal/recommender_stub.h
  google/cloud/recommender/internal/recommender_stub_factory.cc
  google/cloud/recommender/internal/recommender_stub_factory.h
  google/cloud/recommender/mocks/mock_recommender_connection.h
  google/cloud/recommender/quickstart/BUILD.bazel
  google/cloud/recommender/quickstart/CMakeLists.txt
  google/cloud/recommender/quickstart/Makefile
  google/cloud/recommender/quickstart/README.md
  google/cloud/recommender/quickstart/WORKSPACE.bazel
  google/cloud/recommender/quickstart/quickstart.cc
  google/cloud/recommender/recommender_client.cc
  google/cloud/recommender/recommender_client.h
  google/cloud/recommender/recommender_connection.cc
  google/cloud/recommender/recommender_connection.h
  google/cloud/recommender/recommender_connection_idempotency_policy.cc
  google/cloud/recommender/recommender_connection_idempotency_policy.h
  google/cloud/recommender/recommender_options.h
Labels: api: recommender

#7946 feat(shell): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/shell.deps
  external/googleapis/protolists/shell.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/shell/BUILD.bazel
  google/cloud/shell/CMakeLists.txt
  google/cloud/shell/README.md
  google/cloud/shell/cloud_shell_client.cc
  google/cloud/shell/cloud_shell_client.h
  google/cloud/shell/cloud_shell_connection.cc
  google/cloud/shell/cloud_shell_connection.h
  google/cloud/shell/cloud_shell_connection_idempotency_policy.cc
  google/cloud/shell/cloud_shell_connection_idempotency_policy.h
  google/cloud/shell/cloud_shell_options.h
  google/cloud/shell/config.cmake.in
  google/cloud/shell/config.pc.in
  google/cloud/shell/doc/main.dox
  google/cloud/shell/internal/cloud_shell_auth_decorator.cc
  google/cloud/shell/internal/cloud_shell_auth_decorator.h
  google/cloud/shell/internal/cloud_shell_logging_decorator.cc
  google/cloud/shell/internal/cloud_shell_logging_decorator.h
  google/cloud/shell/internal/cloud_shell_metadata_decorator.cc
  google/cloud/shell/internal/cloud_shell_metadata_decorator.h
  google/cloud/shell/internal/cloud_shell_option_defaults.cc
  google/cloud/shell/internal/cloud_shell_option_defaults.h
  google/cloud/shell/internal/cloud_shell_retry_traits.h
  google/cloud/shell/internal/cloud_shell_stub.cc
  google/cloud/shell/internal/cloud_shell_stub.h
  google/cloud/shell/internal/cloud_shell_stub_factory.cc
  google/cloud/shell/internal/cloud_shell_stub_factory.h
  google/cloud/shell/mocks/mock_cloud_shell_connection.h
  google/cloud/shell/quickstart/BUILD.bazel
  google/cloud/shell/quickstart/CMakeLists.txt
  google/cloud/shell/quickstart/Makefile
  google/cloud/shell/quickstart/README.md
  google/cloud/shell/quickstart/WORKSPACE.bazel
  google/cloud/shell/quickstart/quickstart.cc
Labels: api: cloudshell

#7949 feat(oslogin): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/oslogin.deps
  external/googleapis/protolists/oslogin.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/oslogin/BUILD.bazel
  google/cloud/oslogin/CMakeLists.txt
  google/cloud/oslogin/README.md
  google/cloud/oslogin/config.cmake.in
  google/cloud/oslogin/config.pc.in
  google/cloud/oslogin/doc/main.dox
  google/cloud/oslogin/internal/os_login_auth_decorator.cc
  google/cloud/oslogin/internal/os_login_auth_decorator.h
  google/cloud/oslogin/internal/os_login_logging_decorator.cc
  google/cloud/oslogin/internal/os_login_logging_decorator.h
  google/cloud/oslogin/internal/os_login_metadata_decorator.cc
  google/cloud/oslogin/internal/os_login_metadata_decorator.h
  google/cloud/oslogin/internal/os_login_option_defaults.cc
  google/cloud/oslogin/internal/os_login_option_defaults.h
  google/cloud/oslogin/internal/os_login_retry_traits.h
  google/cloud/oslogin/internal/os_login_stub.cc
  google/cloud/oslogin/internal/os_login_stub.h
  google/cloud/oslogin/internal/os_login_stub_factory.cc
  google/cloud/oslogin/internal/os_login_stub_factory.h
  google/cloud/oslogin/mocks/mock_os_login_connection.h
  google/cloud/oslogin/os_login_client.cc
  google/cloud/oslogin/os_login_client.h
  google/cloud/oslogin/os_login_connection.cc
  google/cloud/oslogin/os_login_connection.h
  google/cloud/oslogin/os_login_connection_idempotency_policy.cc
  google/cloud/oslogin/os_login_connection_idempotency_policy.h
  google/cloud/oslogin/os_login_options.h
  google/cloud/oslogin/quickstart/BUILD.bazel
  google/cloud/oslogin/quickstart/CMakeLists.txt
  google/cloud/oslogin/quickstart/Makefile
  google/cloud/oslogin/quickstart/README.md
  google/cloud/oslogin/quickstart/WORKSPACE.bazel
  google/cloud/oslogin/quickstart/quickstart.cc
Labels: api: oslogin

#7938 feat(resourcemanager): add orgpolicy service
  ci/etc/expected_install_directories
  external/googleapis/protolists/resourcemanager.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/resourcemanager/BUILD.bazel
  google/cloud/resourcemanager/CMakeLists.txt
  google/cloud/resourcemanager/README.md
  google/cloud/resourcemanager/doc/main.dox
  google/cloud/resourcemanager/internal/org_policy_auth_decorator.cc
  google/cloud/resourcemanager/internal/org_policy_auth_decorator.h
  google/cloud/resourcemanager/internal/org_policy_logging_decorator.cc
  google/cloud/resourcemanager/internal/org_policy_logging_decorator.h
  google/cloud/resourcemanager/internal/org_policy_metadata_decorator.cc
  google/cloud/resourcemanager/internal/org_policy_metadata_decorator.h
  google/cloud/resourcemanager/internal/org_policy_option_defaults.cc
  google/cloud/resourcemanager/internal/org_policy_option_defaults.h
  google/cloud/resourcemanager/internal/org_policy_retry_traits.h
  google/cloud/resourcemanager/internal/org_policy_stub.cc
  google/cloud/resourcemanager/internal/org_policy_stub.h
  google/cloud/resourcemanager/internal/org_policy_stub_factory.cc
  google/cloud/resourcemanager/internal/org_policy_stub_factory.h
  google/cloud/resourcemanager/mocks/mock_org_policy_connection.h
  google/cloud/resourcemanager/org_policy_client.cc
  google/cloud/resourcemanager/org_policy_client.h
  google/cloud/resourcemanager/org_policy_connection.cc
  google/cloud/resourcemanager/org_policy_connection.h
  google/cloud/resourcemanager/org_policy_connection_idempotency_policy.cc
  google/cloud/resourcemanager/org_policy_connection_idempotency_policy.h
  google/cloud/resourcemanager/org_policy_options.h
Labels: api: cloudresourcemanager

#7960 feat(videointelligence): generate library
  .bazelignore
  .codecov.yml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/videointelligence.deps
  external/googleapis/protolists/videointelligence.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/videointelligence/BUILD.bazel
  google/cloud/videointelligence/CMakeLists.txt
  google/cloud/videointelligence/README.md
  google/cloud/videointelligence/config.cmake.in
  google/cloud/videointelligence/config.pc.in
  google/cloud/videointelligence/doc/main.dox
  google/cloud/videointelligence/internal/video_intelligence_auth_decorator.cc
  google/cloud/videointelligence/internal/video_intelligence_auth_decorator.h
  google/cloud/videointelligence/internal/video_intelligence_logging_decorator.cc
  google/cloud/videointelligence/internal/video_intelligence_logging_decorator.h
  google/cloud/videointelligence/internal/video_intelligence_metadata_decorator.cc
  google/cloud/videointelligence/internal/video_intelligence_metadata_decorator.h
  google/cloud/videointelligence/internal/video_intelligence_option_defaults.cc
  google/cloud/videointelligence/internal/video_intelligence_option_defaults.h
  google/cloud/videointelligence/internal/video_intelligence_retry_traits.h
  google/cloud/videointelligence/internal/video_intelligence_stub.cc
  google/cloud/videointelligence/internal/video_intelligence_stub.h
  google/cloud/videointelligence/internal/video_intelligence_stub_factory.cc
  google/cloud/videointelligence/internal/video_intelligence_stub_factory.h
  google/cloud/videointelligence/mocks/mock_video_intelligence_connection.h
  google/cloud/videointelligence/quickstart/BUILD.bazel
  google/cloud/videointelligence/quickstart/CMakeLists.txt
  google/cloud/videointelligence/quickstart/Makefile
  google/cloud/videointelligence/quickstart/README.md
  google/cloud/videointelligence/quickstart/WORKSPACE.bazel
  google/cloud/videointelligence/quickstart/quickstart.cc
  google/cloud/videointelligence/video_intelligence_client.cc
  google/cloud/videointelligence/video_intelligence_client.h
  google/cloud/videointelligence/video_intelligence_connection.cc
  google/cloud/videointelligence/video_intelligence_connection.h
  google/cloud/videointelligence/video_intelligence_connection_idempotency_policy.cc
  google/cloud/videointelligence/video_intelligence_connection_idempotency_policy.h
  google/cloud/videointelligence/video_intelligence_options.h
Labels: api: videointelligence

#7966 feat(pubsublite): add TopicStats service
  generator/generator_config.textproto
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/google_cloud_cpp_pubsublite_mocks.bzl
  google/cloud/pubsublite/internal/topic_stats_auth_decorator.cc
  google/cloud/pubsublite/internal/topic_stats_auth_decorator.h
  google/cloud/pubsublite/internal/topic_stats_logging_decorator.cc
  google/cloud/pubsublite/internal/topic_stats_logging_decorator.h
  google/cloud/pubsublite/internal/topic_stats_metadata_decorator.cc
  google/cloud/pubsublite/internal/topic_stats_metadata_decorator.h
  google/cloud/pubsublite/internal/topic_stats_option_defaults.cc
  google/cloud/pubsublite/internal/topic_stats_option_defaults.h
  google/cloud/pubsublite/internal/topic_stats_retry_traits.h
  google/cloud/pubsublite/internal/topic_stats_stub.cc
  google/cloud/pubsublite/internal/topic_stats_stub.h
  google/cloud/pubsublite/internal/topic_stats_stub_factory.cc
  google/cloud/pubsublite/internal/topic_stats_stub_factory.h
  google/cloud/pubsublite/mocks/mock_topic_stats_connection.h
  google/cloud/pubsublite/topic_stats_client.cc
  google/cloud/pubsublite/topic_stats_client.h
  google/cloud/pubsublite/topic_stats_connection.cc
  google/cloud/pubsublite/topic_stats_connection.h
  google/cloud/pubsublite/topic_stats_connection_idempotency_policy.cc
  google/cloud/pubsublite/topic_stats_connection_idempotency_policy.h
  google/cloud/pubsublite/topic_stats_options.h
Labels: api: pubsublite

#7968 impl(bigtable): convert set of policies into options
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/convert_policies.cc
  google/cloud/bigtable/internal/convert_policies.h
  google/cloud/bigtable/internal/convert_policies_test.cc
Labels: api: bigtable

#7974 feat(pubsublite): add Stub classes for data path
  generator/generator_config.textproto
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/cursor_auth_decorator.cc
  google/cloud/pubsublite/internal/cursor_auth_decorator.h
  google/cloud/pubsublite/internal/cursor_logging_decorator.cc
  google/cloud/pubsublite/internal/cursor_logging_decorator.h
  google/cloud/pubsublite/internal/cursor_metadata_decorator.cc
  google/cloud/pubsublite/internal/cursor_metadata_decorator.h
  google/cloud/pubsublite/internal/cursor_stub.cc
  google/cloud/pubsublite/internal/cursor_stub.h
  google/cloud/pubsublite/internal/cursor_stub_factory.cc
  google/cloud/pubsublite/internal/cursor_stub_factory.h
  google/cloud/pubsublite/internal/partition_assignment_auth_decorator.cc
  google/cloud/pubsublite/internal/partition_assignment_auth_decorator.h
  google/cloud/pubsublite/internal/partition_assignment_logging_decorator.cc
  google/cloud/pubsublite/internal/partition_assignment_logging_decorator.h
  google/cloud/pubsublite/internal/partition_assignment_metadata_decorator.cc
  google/cloud/pubsublite/internal/partition_assignment_metadata_decorator.h
  google/cloud/pubsublite/internal/partition_assignment_stub.cc
  google/cloud/pubsublite/internal/partition_assignment_stub.h
  google/cloud/pubsublite/internal/partition_assignment_stub_factory.cc
  google/cloud/pubsublite/internal/partition_assignment_stub_factory.h
  google/cloud/pubsublite/internal/publisher_auth_decorator.cc
  google/cloud/pubsublite/internal/publisher_auth_decorator.h
  google/cloud/pubsublite/internal/publisher_logging_decorator.cc
  google/cloud/pubsublite/internal/publisher_logging_decorator.h
  google/cloud/pubsublite/internal/publisher_metadata_decorator.cc
  google/cloud/pubsublite/internal/publisher_metadata_decorator.h
  google/cloud/pubsublite/internal/publisher_stub.cc
  google/cloud/pubsublite/internal/publisher_stub.h
  google/cloud/pubsublite/internal/publisher_stub_factory.cc
  google/cloud/pubsublite/internal/publisher_stub_factory.h
  google/cloud/pubsublite/internal/subscriber_auth_decorator.cc
  google/cloud/pubsublite/internal/subscriber_auth_decorator.h
  google/cloud/pubsublite/internal/subscriber_logging_decorator.cc
  google/cloud/pubsublite/internal/subscriber_logging_decorator.h
  google/cloud/pubsublite/internal/subscriber_metadata_decorator.cc
  google/cloud/pubsublite/internal/subscriber_metadata_decorator.h
  google/cloud/pubsublite/internal/subscriber_stub.cc
  google/cloud/pubsublite/internal/subscriber_stub.h
  google/cloud/pubsublite/internal/subscriber_stub_factory.cc
  google/cloud/pubsublite/internal/subscriber_stub_factory.h
Labels: api: pubsublite

#7998 cleanup(notebooks): avoid generating stub twice
  generator/generator_config.textproto
Labels: api: notebooks

#8000 feat(translate): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/translate.deps
  external/googleapis/protolists/translate.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/translate/BUILD.bazel
  google/cloud/translate/CMakeLists.txt
  google/cloud/translate/README.md
  google/cloud/translate/config.cmake.in
  google/cloud/translate/config.pc.in
  google/cloud/translate/doc/main.dox
  google/cloud/translate/internal/translation_auth_decorator.cc
  google/cloud/translate/internal/translation_auth_decorator.h
  google/cloud/translate/internal/translation_logging_decorator.cc
  google/cloud/translate/internal/translation_logging_decorator.h
  google/cloud/translate/internal/translation_metadata_decorator.cc
  google/cloud/translate/internal/translation_metadata_decorator.h
  google/cloud/translate/internal/translation_option_defaults.cc
  google/cloud/translate/internal/translation_option_defaults.h
  google/cloud/translate/internal/translation_retry_traits.h
  google/cloud/translate/internal/translation_stub.cc
  google/cloud/translate/internal/translation_stub.h
  google/cloud/translate/internal/translation_stub_factory.cc
  google/cloud/translate/internal/translation_stub_factory.h
  google/cloud/translate/mocks/mock_translation_connection.h
  google/cloud/translate/quickstart/BUILD.bazel
  google/cloud/translate/quickstart/CMakeLists.txt
  google/cloud/translate/quickstart/Makefile
  google/cloud/translate/quickstart/README.md
  google/cloud/translate/quickstart/WORKSPACE.bazel
  google/cloud/translate/quickstart/quickstart.cc
  google/cloud/translate/translation_client.cc
  google/cloud/translate/translation_client.h
  google/cloud/translate/translation_connection.cc
  google/cloud/translate/translation_connection.h
  google/cloud/translate/translation_connection_idempotency_policy.cc
  google/cloud/translate/translation_connection_idempotency_policy.h
  google/cloud/translate/translation_options.h
Labels: api: translate

#8011 feat(policytroubleshooter): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/policytroubleshooter.deps
  external/googleapis/protolists/policytroubleshooter.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/policytroubleshooter/BUILD.bazel
  google/cloud/policytroubleshooter/CMakeLists.txt
  google/cloud/policytroubleshooter/README.md
  google/cloud/policytroubleshooter/config.cmake.in
  google/cloud/policytroubleshooter/config.pc.in
  google/cloud/policytroubleshooter/doc/main.dox
  google/cloud/policytroubleshooter/iam_checker_client.cc
  google/cloud/policytroubleshooter/iam_checker_client.h
  google/cloud/policytroubleshooter/iam_checker_connection.cc
  google/cloud/policytroubleshooter/iam_checker_connection.h
  google/cloud/policytroubleshooter/iam_checker_connection_idempotency_policy.cc
  google/cloud/policytroubleshooter/iam_checker_connection_idempotency_policy.h
  google/cloud/policytroubleshooter/iam_checker_options.h
  google/cloud/policytroubleshooter/internal/iam_checker_auth_decorator.cc
  google/cloud/policytroubleshooter/internal/iam_checker_auth_decorator.h
  google/cloud/policytroubleshooter/internal/iam_checker_logging_decorator.cc
  google/cloud/policytroubleshooter/internal/iam_checker_logging_decorator.h
  google/cloud/policytroubleshooter/internal/iam_checker_metadata_decorator.cc
  google/cloud/policytroubleshooter/internal/iam_checker_metadata_decorator.h
  google/cloud/policytroubleshooter/internal/iam_checker_option_defaults.cc
  google/cloud/policytroubleshooter/internal/iam_checker_option_defaults.h
  google/cloud/policytroubleshooter/internal/iam_checker_retry_traits.h
  google/cloud/policytroubleshooter/internal/iam_checker_stub.cc
  google/cloud/policytroubleshooter/internal/iam_checker_stub.h
  google/cloud/policytroubleshooter/internal/iam_checker_stub_factory.cc
  google/cloud/policytroubleshooter/internal/iam_checker_stub_factory.h
  google/cloud/policytroubleshooter/mocks/mock_iam_checker_connection.h
  google/cloud/policytroubleshooter/quickstart/BUILD.bazel
  google/cloud/policytroubleshooter/quickstart/CMakeLists.txt
  google/cloud/policytroubleshooter/quickstart/Makefile
  google/cloud/policytroubleshooter/quickstart/README.md
  google/cloud/policytroubleshooter/quickstart/WORKSPACE.bazel
  google/cloud/policytroubleshooter/quickstart/quickstart.cc
Labels: api: policytroubleshooter

#8016 feat(tpu): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/tpu.deps
  external/googleapis/protolists/tpu.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/tpu/BUILD.bazel
  google/cloud/tpu/CMakeLists.txt
  google/cloud/tpu/README.md
  google/cloud/tpu/config.cmake.in
  google/cloud/tpu/config.pc.in
  google/cloud/tpu/doc/main.dox
  google/cloud/tpu/internal/tpu_auth_decorator.cc
  google/cloud/tpu/internal/tpu_auth_decorator.h
  google/cloud/tpu/internal/tpu_logging_decorator.cc
  google/cloud/tpu/internal/tpu_logging_decorator.h
  google/cloud/tpu/internal/tpu_metadata_decorator.cc
  google/cloud/tpu/internal/tpu_metadata_decorator.h
  google/cloud/tpu/internal/tpu_option_defaults.cc
  google/cloud/tpu/internal/tpu_option_defaults.h
  google/cloud/tpu/internal/tpu_retry_traits.h
  google/cloud/tpu/internal/tpu_stub.cc
  google/cloud/tpu/internal/tpu_stub.h
  google/cloud/tpu/internal/tpu_stub_factory.cc
  google/cloud/tpu/internal/tpu_stub_factory.h
  google/cloud/tpu/mocks/mock_tpu_connection.h
  google/cloud/tpu/quickstart/BUILD.bazel
  google/cloud/tpu/quickstart/CMakeLists.txt
  google/cloud/tpu/quickstart/Makefile
  google/cloud/tpu/quickstart/README.md
  google/cloud/tpu/quickstart/WORKSPACE.bazel
  google/cloud/tpu/quickstart/quickstart.cc
  google/cloud/tpu/tpu_client.cc
  google/cloud/tpu/tpu_client.h
  google/cloud/tpu/tpu_connection.cc
  google/cloud/tpu/tpu_connection.h
  google/cloud/tpu/tpu_connection_idempotency_policy.cc
  google/cloud/tpu/tpu_connection_idempotency_policy.h
  google/cloud/tpu/tpu_options.h
Labels: api: tpu

#8012 feat(gkehub): generate library
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/gkehub.deps
  external/googleapis/protolists/gkehub.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/gkehub/BUILD.bazel
  google/cloud/gkehub/CMakeLists.txt
  google/cloud/gkehub/README.md
  google/cloud/gkehub/config.cmake.in
  google/cloud/gkehub/config.pc.in
  google/cloud/gkehub/doc/main.dox
  google/cloud/gkehub/gke_hub_client.cc
  google/cloud/gkehub/gke_hub_client.h
  google/cloud/gkehub/gke_hub_connection.cc
  google/cloud/gkehub/gke_hub_connection.h
  google/cloud/gkehub/gke_hub_connection_idempotency_policy.cc
  google/cloud/gkehub/gke_hub_connection_idempotency_policy.h
  google/cloud/gkehub/gke_hub_options.h
  google/cloud/gkehub/internal/gke_hub_auth_decorator.cc
  google/cloud/gkehub/internal/gke_hub_auth_decorator.h
  google/cloud/gkehub/internal/gke_hub_logging_decorator.cc
  google/cloud/gkehub/internal/gke_hub_logging_decorator.h
  google/cloud/gkehub/internal/gke_hub_metadata_decorator.cc
  google/cloud/gkehub/internal/gke_hub_metadata_decorator.h
  google/cloud/gkehub/internal/gke_hub_option_defaults.cc
  google/cloud/gkehub/internal/gke_hub_option_defaults.h
  google/cloud/gkehub/internal/gke_hub_retry_traits.h
  google/cloud/gkehub/internal/gke_hub_stub.cc
  google/cloud/gkehub/internal/gke_hub_stub.h
  google/cloud/gkehub/internal/gke_hub_stub_factory.cc
  google/cloud/gkehub/internal/gke_hub_stub_factory.h
  google/cloud/gkehub/mocks/mock_gke_hub_connection.h
  google/cloud/gkehub/quickstart/BUILD.bazel
  google/cloud/gkehub/quickstart/CMakeLists.txt
  google/cloud/gkehub/quickstart/Makefile
  google/cloud/gkehub/quickstart/README.md
  google/cloud/gkehub/quickstart/WORKSPACE.bazel
  google/cloud/gkehub/quickstart/quickstart.cc
Labels: api: gkehub

#8018 feat(texttospeech): generate library
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  generator/generator_config.textproto
  google/cloud/texttospeech/BUILD.bazel
  google/cloud/texttospeech/CMakeLists.txt
  google/cloud/texttospeech/README.md
  google/cloud/texttospeech/config.cmake.in
  google/cloud/texttospeech/config.pc.in
  google/cloud/texttospeech/doc/main.dox
  google/cloud/texttospeech/internal/text_to_speech_auth_decorator.cc
  google/cloud/texttospeech/internal/text_to_speech_auth_decorator.h
  google/cloud/texttospeech/internal/text_to_speech_logging_decorator.cc
  google/cloud/texttospeech/internal/text_to_speech_logging_decorator.h
  google/cloud/texttospeech/internal/text_to_speech_metadata_decorator.cc
  google/cloud/texttospeech/internal/text_to_speech_metadata_decorator.h
  google/cloud/texttospeech/internal/text_to_speech_option_defaults.cc
  google/cloud/texttospeech/internal/text_to_speech_option_defaults.h
  google/cloud/texttospeech/internal/text_to_speech_retry_traits.h
  google/cloud/texttospeech/internal/text_to_speech_stub.cc
  google/cloud/texttospeech/internal/text_to_speech_stub.h
  google/cloud/texttospeech/internal/text_to_speech_stub_factory.cc
  google/cloud/texttospeech/internal/text_to_speech_stub_factory.h
  google/cloud/texttospeech/mocks/mock_text_to_speech_connection.h
  google/cloud/texttospeech/quickstart/BUILD.bazel
  google/cloud/texttospeech/quickstart/CMakeLists.txt
  google/cloud/texttospeech/quickstart/Makefile
  google/cloud/texttospeech/quickstart/README.md
  google/cloud/texttospeech/quickstart/WORKSPACE.bazel
  google/cloud/texttospeech/quickstart/quickstart.cc
  google/cloud/texttospeech/text_to_speech_client.cc
  google/cloud/texttospeech/text_to_speech_client.h
  google/cloud/texttospeech/text_to_speech_connection.cc
  google/cloud/texttospeech/text_to_speech_connection.h
  google/cloud/texttospeech/text_to_speech_connection_idempotency_policy.cc
  google/cloud/texttospeech/text_to_speech_connection_idempotency_policy.h
  google/cloud/texttospeech/text_to_speech_options.h
Labels: api: texttospeech

#8019 feat(cloudbuild): generate library google/cloud/cloudbuild
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/cloudbuild.deps
  external/googleapis/protolists/cloudbuild.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/cloudbuild/BUILD.bazel
  google/cloud/cloudbuild/CMakeLists.txt
  google/cloud/cloudbuild/README.md
  google/cloud/cloudbuild/cloud_build_client.cc
  google/cloud/cloudbuild/cloud_build_client.h
  google/cloud/cloudbuild/cloud_build_connection.cc
  google/cloud/cloudbuild/cloud_build_connection.h
  google/cloud/cloudbuild/cloud_build_connection_idempotency_policy.cc
  google/cloud/cloudbuild/cloud_build_connection_idempotency_policy.h
  google/cloud/cloudbuild/cloud_build_options.h
  google/cloud/cloudbuild/config.cmake.in
  google/cloud/cloudbuild/config.pc.in
  google/cloud/cloudbuild/doc/main.dox
  google/cloud/cloudbuild/internal/cloud_build_auth_decorator.cc
  google/cloud/cloudbuild/internal/cloud_build_auth_decorator.h
  google/cloud/cloudbuild/internal/cloud_build_logging_decorator.cc
  google/cloud/cloudbuild/internal/cloud_build_logging_decorator.h
  google/cloud/cloudbuild/internal/cloud_build_metadata_decorator.cc
  google/cloud/cloudbuild/internal/cloud_build_metadata_decorator.h
  google/cloud/cloudbuild/internal/cloud_build_option_defaults.cc
  google/cloud/cloudbuild/internal/cloud_build_option_defaults.h
  google/cloud/cloudbuild/internal/cloud_build_retry_traits.h
  google/cloud/cloudbuild/internal/cloud_build_stub.cc
  google/cloud/cloudbuild/internal/cloud_build_stub.h
  google/cloud/cloudbuild/internal/cloud_build_stub_factory.cc
  google/cloud/cloudbuild/internal/cloud_build_stub_factory.h
  google/cloud/cloudbuild/mocks/mock_cloud_build_connection.h
  google/cloud/cloudbuild/quickstart/BUILD.bazel
  google/cloud/cloudbuild/quickstart/CMakeLists.txt
  google/cloud/cloudbuild/quickstart/Makefile
  google/cloud/cloudbuild/quickstart/README.md
  google/cloud/cloudbuild/quickstart/WORKSPACE.bazel
  google/cloud/cloudbuild/quickstart/quickstart.cc
Labels: api: cloudbuild

#8032 feat(dlp): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/dlp.deps
  external/googleapis/protolists/dlp.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/dlp/BUILD.bazel
  google/cloud/dlp/CMakeLists.txt
  google/cloud/dlp/README.md
  google/cloud/dlp/config.cmake.in
  google/cloud/dlp/config.pc.in
  google/cloud/dlp/dlp_client.cc
  google/cloud/dlp/dlp_client.h
  google/cloud/dlp/dlp_connection.cc
  google/cloud/dlp/dlp_connection.h
  google/cloud/dlp/dlp_connection_idempotency_policy.cc
  google/cloud/dlp/dlp_connection_idempotency_policy.h
  google/cloud/dlp/dlp_options.h
  google/cloud/dlp/doc/main.dox
  google/cloud/dlp/internal/dlp_auth_decorator.cc
  google/cloud/dlp/internal/dlp_auth_decorator.h
  google/cloud/dlp/internal/dlp_logging_decorator.cc
  google/cloud/dlp/internal/dlp_logging_decorator.h
  google/cloud/dlp/internal/dlp_metadata_decorator.cc
  google/cloud/dlp/internal/dlp_metadata_decorator.h
  google/cloud/dlp/internal/dlp_option_defaults.cc
  google/cloud/dlp/internal/dlp_option_defaults.h
  google/cloud/dlp/internal/dlp_retry_traits.h
  google/cloud/dlp/internal/dlp_stub.cc
  google/cloud/dlp/internal/dlp_stub.h
  google/cloud/dlp/internal/dlp_stub_factory.cc
  google/cloud/dlp/internal/dlp_stub_factory.h
  google/cloud/dlp/mocks/mock_dlp_connection.h
  google/cloud/dlp/quickstart/BUILD.bazel
  google/cloud/dlp/quickstart/CMakeLists.txt
  google/cloud/dlp/quickstart/Makefile
  google/cloud/dlp/quickstart/README.md
  google/cloud/dlp/quickstart/WORKSPACE.bazel
  google/cloud/dlp/quickstart/quickstart.cc
Labels: api: dlp

#8033 fix(storage): improve JSON validation
  google/cloud/internal/rest_response.cc
  google/cloud/internal/rest_response_test.cc
  google/cloud/storage/oauth2/authorized_user_credentials.cc
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials.cc
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/storage_iam_policy_test.cc
Labels: api: storage

#8040 feat(serviceusage): generate library
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/serviceusage.deps
  external/googleapis/protolists/serviceusage.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/serviceusage/BUILD.bazel
  google/cloud/serviceusage/CMakeLists.txt
  google/cloud/serviceusage/README.md
  google/cloud/serviceusage/config.cmake.in
  google/cloud/serviceusage/config.pc.in
  google/cloud/serviceusage/doc/main.dox
  google/cloud/serviceusage/internal/service_usage_auth_decorator.cc
  google/cloud/serviceusage/internal/service_usage_auth_decorator.h
  google/cloud/serviceusage/internal/service_usage_logging_decorator.cc
  google/cloud/serviceusage/internal/service_usage_logging_decorator.h
  google/cloud/serviceusage/internal/service_usage_metadata_decorator.cc
  google/cloud/serviceusage/internal/service_usage_metadata_decorator.h
  google/cloud/serviceusage/internal/service_usage_option_defaults.cc
  google/cloud/serviceusage/internal/service_usage_option_defaults.h
  google/cloud/serviceusage/internal/service_usage_retry_traits.h
  google/cloud/serviceusage/internal/service_usage_stub.cc
  google/cloud/serviceusage/internal/service_usage_stub.h
  google/cloud/serviceusage/internal/service_usage_stub_factory.cc
  google/cloud/serviceusage/internal/service_usage_stub_factory.h
  google/cloud/serviceusage/mocks/mock_service_usage_connection.h
  google/cloud/serviceusage/quickstart/BUILD.bazel
  google/cloud/serviceusage/quickstart/CMakeLists.txt
  google/cloud/serviceusage/quickstart/Makefile
  google/cloud/serviceusage/quickstart/README.md
  google/cloud/serviceusage/quickstart/WORKSPACE.bazel
  google/cloud/serviceusage/quickstart/quickstart.cc
  google/cloud/serviceusage/service_usage_client.cc
  google/cloud/serviceusage/service_usage_client.h
  google/cloud/serviceusage/service_usage_connection.cc
  google/cloud/serviceusage/service_usage_connection.h
  google/cloud/serviceusage/service_usage_connection_idempotency_policy.cc
  google/cloud/serviceusage/service_usage_connection_idempotency_policy.h
  google/cloud/serviceusage/service_usage_options.h
Labels: api: serviceusage

#8038 refactor(bigtable): consolidate mock policies
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/async_row_sampler_test.cc
  google/cloud/bigtable/internal/convert_policies_test.cc
  google/cloud/bigtable/row_reader_test.cc
  google/cloud/bigtable/testing/mock_backoff_policy.h
  google/cloud/bigtable/testing/mock_policies.h
Labels: api: bigtable

#8047 feat(networkmanagement): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/networkmanagement.deps
  external/googleapis/protolists/networkmanagement.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/networkmanagement/BUILD.bazel
  google/cloud/networkmanagement/CMakeLists.txt
  google/cloud/networkmanagement/README.md
  google/cloud/networkmanagement/config.cmake.in
  google/cloud/networkmanagement/config.pc.in
  google/cloud/networkmanagement/doc/main.dox
  google/cloud/networkmanagement/internal/reachability_auth_decorator.cc
  google/cloud/networkmanagement/internal/reachability_auth_decorator.h
  google/cloud/networkmanagement/internal/reachability_logging_decorator.cc
  google/cloud/networkmanagement/internal/reachability_logging_decorator.h
  google/cloud/networkmanagement/internal/reachability_metadata_decorator.cc
  google/cloud/networkmanagement/internal/reachability_metadata_decorator.h
  google/cloud/networkmanagement/internal/reachability_option_defaults.cc
  google/cloud/networkmanagement/internal/reachability_option_defaults.h
  google/cloud/networkmanagement/internal/reachability_retry_traits.h
  google/cloud/networkmanagement/internal/reachability_stub.cc
  google/cloud/networkmanagement/internal/reachability_stub.h
  google/cloud/networkmanagement/internal/reachability_stub_factory.cc
  google/cloud/networkmanagement/internal/reachability_stub_factory.h
  google/cloud/networkmanagement/mocks/mock_reachability_connection.h
  google/cloud/networkmanagement/quickstart/BUILD.bazel
  google/cloud/networkmanagement/quickstart/CMakeLists.txt
  google/cloud/networkmanagement/quickstart/Makefile
  google/cloud/networkmanagement/quickstart/README.md
  google/cloud/networkmanagement/quickstart/WORKSPACE.bazel
  google/cloud/networkmanagement/quickstart/quickstart.cc
  google/cloud/networkmanagement/reachability_client.cc
  google/cloud/networkmanagement/reachability_client.h
  google/cloud/networkmanagement/reachability_connection.cc
  google/cloud/networkmanagement/reachability_connection.h
  google/cloud/networkmanagement/reachability_connection_idempotency_policy.cc
  google/cloud/networkmanagement/reachability_connection_idempotency_policy.h
  google/cloud/networkmanagement/reachability_options.h
Labels: api: networkmanagement

#8051 cleanup(bigtable): store project id in InstanceAdmin
  google/cloud/bigtable/instance_admin.h
Labels: api: bigtable

#8060 ci(storage): ignore coverage for generated code
  .codecov.yml
Labels: api: storage

#8057 test(bigtable): split instance admin test in two
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin_new_test.cc
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#8058 test(spanner): use MakeInsecureCredentials() in UnifiedCredentials test
  google/cloud/pubsub/integration_tests/schema_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/integration_tests/subscription_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/topic_admin_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#8062 test(bigtable): relax logging tests
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/tests/admin_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: api: bigtable

#8064 fix(spanner): apply policy options in (generated) client ctor
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#8069 refactor(bigtable): use `EndpointOption`
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults.h
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#8071 test(storage): fix unsigned vs. signed warnings
  google/cloud/storage/internal/resumable_upload_session_test.cc
Labels: api: storage

#8072 test(spanner): speed up test with emulator
  google/cloud/spanner/integration_tests/rpc_failure_threshold_integration_test.cc
Labels: api: spanner

#8061 impl(bigtable): implement connection mechanism in legacy InstanceAdmin
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_client.cc
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/instance_admin_new_test.cc
Labels: api: bigtable

#8075 fix(pubsublite): Restructure stream_factory.h to use generated stubs
  google/cloud/pubsublite/internal/stream_factory.h
  google/cloud/pubsublite/internal/stream_factory_test.cc
Labels: api: pubsublite

#8079 cleanup(bigtable): rename test
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/table_admin_legacy_test.cc
Labels: api: bigtable

#8080 cleanup(bigtable): rename other test
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/instance_admin_legacy_test.cc
  google/cloud/bigtable/instance_admin_new_test.cc
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#8085 refactor(bigtable): store project id in TableAdmin
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8086 impl(bigtable): convert policies to options in InstanceAdmin
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#8098 feat(servicemanagement): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/servicemanagement.deps
  external/googleapis/protolists/servicemanagement.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/servicemanagement/BUILD.bazel
  google/cloud/servicemanagement/CMakeLists.txt
  google/cloud/servicemanagement/README.md
  google/cloud/servicemanagement/config.cmake.in
  google/cloud/servicemanagement/config.pc.in
  google/cloud/servicemanagement/doc/main.dox
  google/cloud/servicemanagement/internal/service_manager_auth_decorator.cc
  google/cloud/servicemanagement/internal/service_manager_auth_decorator.h
  google/cloud/servicemanagement/internal/service_manager_connection_impl.cc
  google/cloud/servicemanagement/internal/service_manager_connection_impl.h
  google/cloud/servicemanagement/internal/service_manager_logging_decorator.cc
  google/cloud/servicemanagement/internal/service_manager_logging_decorator.h
  google/cloud/servicemanagement/internal/service_manager_metadata_decorator.cc
  google/cloud/servicemanagement/internal/service_manager_metadata_decorator.h
  google/cloud/servicemanagement/internal/service_manager_option_defaults.cc
  google/cloud/servicemanagement/internal/service_manager_option_defaults.h
  google/cloud/servicemanagement/internal/service_manager_retry_traits.h
  google/cloud/servicemanagement/internal/service_manager_stub.cc
  google/cloud/servicemanagement/internal/service_manager_stub.h
  google/cloud/servicemanagement/internal/service_manager_stub_factory.cc
  google/cloud/servicemanagement/internal/service_manager_stub_factory.h
  google/cloud/servicemanagement/mocks/mock_service_manager_connection.h
  google/cloud/servicemanagement/quickstart/BUILD.bazel
  google/cloud/servicemanagement/quickstart/CMakeLists.txt
  google/cloud/servicemanagement/quickstart/Makefile
  google/cloud/servicemanagement/quickstart/README.md
  google/cloud/servicemanagement/quickstart/WORKSPACE.bazel
  google/cloud/servicemanagement/quickstart/quickstart.cc
  google/cloud/servicemanagement/service_manager_client.cc
  google/cloud/servicemanagement/service_manager_client.h
  google/cloud/servicemanagement/service_manager_connection.cc
  google/cloud/servicemanagement/service_manager_connection.h
  google/cloud/servicemanagement/service_manager_connection_idempotency_policy.cc
  google/cloud/servicemanagement/service_manager_connection_idempotency_policy.h
  google/cloud/servicemanagement/service_manager_options.h
Labels: api: servicemanagement

#8096 feat(storage): per-upload buffer size configuration
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/upload_options.h
Labels: api: storage

#8113 cleanup(storage): remove unused includes in test
  google/cloud/storage/tests/create_client_integration_test.cc
Labels: api: storage

#8090 feat(spanner): merge connection options into client options
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/connection.h
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/mocks/mock_spanner_connection.h
Labels: api: spanner

#8116 feat(channel): generate library
  .typos.toml
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/channel.deps
  external/googleapis/protolists/channel.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/channel/BUILD.bazel
  google/cloud/channel/CMakeLists.txt
  google/cloud/channel/README.md
  google/cloud/channel/cloud_channel_client.cc
  google/cloud/channel/cloud_channel_client.h
  google/cloud/channel/cloud_channel_connection.cc
  google/cloud/channel/cloud_channel_connection.h
  google/cloud/channel/cloud_channel_connection_idempotency_policy.cc
  google/cloud/channel/cloud_channel_connection_idempotency_policy.h
  google/cloud/channel/cloud_channel_options.h
  google/cloud/channel/config.cmake.in
  google/cloud/channel/config.pc.in
  google/cloud/channel/doc/main.dox
  google/cloud/channel/internal/cloud_channel_auth_decorator.cc
  google/cloud/channel/internal/cloud_channel_auth_decorator.h
  google/cloud/channel/internal/cloud_channel_connection_impl.cc
  google/cloud/channel/internal/cloud_channel_connection_impl.h
  google/cloud/channel/internal/cloud_channel_logging_decorator.cc
  google/cloud/channel/internal/cloud_channel_logging_decorator.h
  google/cloud/channel/internal/cloud_channel_metadata_decorator.cc
  google/cloud/channel/internal/cloud_channel_metadata_decorator.h
  google/cloud/channel/internal/cloud_channel_option_defaults.cc
  google/cloud/channel/internal/cloud_channel_option_defaults.h
  google/cloud/channel/internal/cloud_channel_retry_traits.h
  google/cloud/channel/internal/cloud_channel_stub.cc
  google/cloud/channel/internal/cloud_channel_stub.h
  google/cloud/channel/internal/cloud_channel_stub_factory.cc
  google/cloud/channel/internal/cloud_channel_stub_factory.h
  google/cloud/channel/mocks/mock_cloud_channel_connection.h
  google/cloud/channel/quickstart/BUILD.bazel
  google/cloud/channel/quickstart/CMakeLists.txt
  google/cloud/channel/quickstart/Makefile
  google/cloud/channel/quickstart/README.md
  google/cloud/channel/quickstart/WORKSPACE.bazel
  google/cloud/channel/quickstart/quickstart.cc
Labels: api: cloudchannel

#8122 impl(storage): make patch objects accessible
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/patch_builder.cc
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/patch_builder_details.h
  google/cloud/storage/internal/patch_builder_test.cc
  google/cloud/storage/object_metadata.h
Labels: api: storage

#8137 fix(storage): add missing options for PatchObject()
  google/cloud/storage/client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
Labels: api: storage

#8138 feat(securitycenter): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/securitycenter.deps
  external/googleapis/protolists/securitycenter.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/securitycenter/BUILD.bazel
  google/cloud/securitycenter/CMakeLists.txt
  google/cloud/securitycenter/README.md
  google/cloud/securitycenter/config.cmake.in
  google/cloud/securitycenter/config.pc.in
  google/cloud/securitycenter/doc/main.dox
  google/cloud/securitycenter/internal/security_center_auth_decorator.cc
  google/cloud/securitycenter/internal/security_center_auth_decorator.h
  google/cloud/securitycenter/internal/security_center_connection_impl.cc
  google/cloud/securitycenter/internal/security_center_connection_impl.h
  google/cloud/securitycenter/internal/security_center_logging_decorator.cc
  google/cloud/securitycenter/internal/security_center_logging_decorator.h
  google/cloud/securitycenter/internal/security_center_metadata_decorator.cc
  google/cloud/securitycenter/internal/security_center_metadata_decorator.h
  google/cloud/securitycenter/internal/security_center_option_defaults.cc
  google/cloud/securitycenter/internal/security_center_option_defaults.h
  google/cloud/securitycenter/internal/security_center_retry_traits.h
  google/cloud/securitycenter/internal/security_center_stub.cc
  google/cloud/securitycenter/internal/security_center_stub.h
  google/cloud/securitycenter/internal/security_center_stub_factory.cc
  google/cloud/securitycenter/internal/security_center_stub_factory.h
  google/cloud/securitycenter/mocks/mock_security_center_connection.h
  google/cloud/securitycenter/quickstart/BUILD.bazel
  google/cloud/securitycenter/quickstart/CMakeLists.txt
  google/cloud/securitycenter/quickstart/Makefile
  google/cloud/securitycenter/quickstart/README.md
  google/cloud/securitycenter/quickstart/WORKSPACE.bazel
  google/cloud/securitycenter/quickstart/quickstart.cc
  google/cloud/securitycenter/security_center_client.cc
  google/cloud/securitycenter/security_center_client.h
  google/cloud/securitycenter/security_center_connection.cc
  google/cloud/securitycenter/security_center_connection.h
  google/cloud/securitycenter/security_center_connection_idempotency_policy.cc
  google/cloud/securitycenter/security_center_connection_idempotency_policy.h
  google/cloud/securitycenter/security_center_options.h
Labels: api: securitycenter

#8149 feat(functions): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/functions.deps
  external/googleapis/protolists/functions.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/functions/BUILD.bazel
  google/cloud/functions/CMakeLists.txt
  google/cloud/functions/README.md
  google/cloud/functions/cloud_functions_client.cc
  google/cloud/functions/cloud_functions_client.h
  google/cloud/functions/cloud_functions_connection.cc
  google/cloud/functions/cloud_functions_connection.h
  google/cloud/functions/cloud_functions_connection_idempotency_policy.cc
  google/cloud/functions/cloud_functions_connection_idempotency_policy.h
  google/cloud/functions/cloud_functions_options.h
  google/cloud/functions/config.cmake.in
  google/cloud/functions/config.pc.in
  google/cloud/functions/doc/main.dox
  google/cloud/functions/internal/cloud_functions_auth_decorator.cc
  google/cloud/functions/internal/cloud_functions_auth_decorator.h
  google/cloud/functions/internal/cloud_functions_connection_impl.cc
  google/cloud/functions/internal/cloud_functions_connection_impl.h
  google/cloud/functions/internal/cloud_functions_logging_decorator.cc
  google/cloud/functions/internal/cloud_functions_logging_decorator.h
  google/cloud/functions/internal/cloud_functions_metadata_decorator.cc
  google/cloud/functions/internal/cloud_functions_metadata_decorator.h
  google/cloud/functions/internal/cloud_functions_option_defaults.cc
  google/cloud/functions/internal/cloud_functions_option_defaults.h
  google/cloud/functions/internal/cloud_functions_retry_traits.h
  google/cloud/functions/internal/cloud_functions_stub.cc
  google/cloud/functions/internal/cloud_functions_stub.h
  google/cloud/functions/internal/cloud_functions_stub_factory.cc
  google/cloud/functions/internal/cloud_functions_stub_factory.h
  google/cloud/functions/mocks/mock_cloud_functions_connection.h
  google/cloud/functions/quickstart/BUILD.bazel
  google/cloud/functions/quickstart/CMakeLists.txt
  google/cloud/functions/quickstart/Makefile
  google/cloud/functions/quickstart/README.md
  google/cloud/functions/quickstart/WORKSPACE.bazel
  google/cloud/functions/quickstart/quickstart.cc
Labels: api: cloudfunctions

#8144 feat(asset): generate library
  BUILD.bazel
  CMakeLists.txt
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/CMakeLists.txt
  external/googleapis/protodeps/asset.deps
  external/googleapis/protolists/asset.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/asset/BUILD.bazel
  google/cloud/asset/CMakeLists.txt
  google/cloud/asset/README.md
  google/cloud/asset/asset_client.cc
  google/cloud/asset/asset_client.h
  google/cloud/asset/asset_connection.cc
  google/cloud/asset/asset_connection.h
  google/cloud/asset/asset_connection_idempotency_policy.cc
  google/cloud/asset/asset_connection_idempotency_policy.h
  google/cloud/asset/asset_options.h
  google/cloud/asset/config.cmake.in
  google/cloud/asset/config.pc.in
  google/cloud/asset/doc/main.dox
  google/cloud/asset/internal/asset_auth_decorator.cc
  google/cloud/asset/internal/asset_auth_decorator.h
  google/cloud/asset/internal/asset_connection_impl.cc
  google/cloud/asset/internal/asset_connection_impl.h
  google/cloud/asset/internal/asset_logging_decorator.cc
  google/cloud/asset/internal/asset_logging_decorator.h
  google/cloud/asset/internal/asset_metadata_decorator.cc
  google/cloud/asset/internal/asset_metadata_decorator.h
  google/cloud/asset/internal/asset_option_defaults.cc
  google/cloud/asset/internal/asset_option_defaults.h
  google/cloud/asset/internal/asset_retry_traits.h
  google/cloud/asset/internal/asset_stub.cc
  google/cloud/asset/internal/asset_stub.h
  google/cloud/asset/internal/asset_stub_factory.cc
  google/cloud/asset/internal/asset_stub_factory.h
  google/cloud/asset/mocks/mock_asset_connection.h
  google/cloud/asset/quickstart/BUILD.bazel
  google/cloud/asset/quickstart/CMakeLists.txt
  google/cloud/asset/quickstart/Makefile
  google/cloud/asset/quickstart/README.md
  google/cloud/asset/quickstart/WORKSPACE.bazel
  google/cloud/asset/quickstart/quickstart.cc
Labels: api: cloudasset

#8153 feat(memcache): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/memcache.deps
  external/googleapis/protolists/memcache.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/memcache/BUILD.bazel
  google/cloud/memcache/CMakeLists.txt
  google/cloud/memcache/README.md
  google/cloud/memcache/cloud_memcache_client.cc
  google/cloud/memcache/cloud_memcache_client.h
  google/cloud/memcache/cloud_memcache_connection.cc
  google/cloud/memcache/cloud_memcache_connection.h
  google/cloud/memcache/cloud_memcache_connection_idempotency_policy.cc
  google/cloud/memcache/cloud_memcache_connection_idempotency_policy.h
  google/cloud/memcache/cloud_memcache_options.h
  google/cloud/memcache/config.cmake.in
  google/cloud/memcache/config.pc.in
  google/cloud/memcache/doc/main.dox
  google/cloud/memcache/internal/cloud_memcache_auth_decorator.cc
  google/cloud/memcache/internal/cloud_memcache_auth_decorator.h
  google/cloud/memcache/internal/cloud_memcache_connection_impl.cc
  google/cloud/memcache/internal/cloud_memcache_connection_impl.h
  google/cloud/memcache/internal/cloud_memcache_logging_decorator.cc
  google/cloud/memcache/internal/cloud_memcache_logging_decorator.h
  google/cloud/memcache/internal/cloud_memcache_metadata_decorator.cc
  google/cloud/memcache/internal/cloud_memcache_metadata_decorator.h
  google/cloud/memcache/internal/cloud_memcache_option_defaults.cc
  google/cloud/memcache/internal/cloud_memcache_option_defaults.h
  google/cloud/memcache/internal/cloud_memcache_retry_traits.h
  google/cloud/memcache/internal/cloud_memcache_stub.cc
  google/cloud/memcache/internal/cloud_memcache_stub.h
  google/cloud/memcache/internal/cloud_memcache_stub_factory.cc
  google/cloud/memcache/internal/cloud_memcache_stub_factory.h
  google/cloud/memcache/mocks/mock_cloud_memcache_connection.h
  google/cloud/memcache/quickstart/BUILD.bazel
  google/cloud/memcache/quickstart/CMakeLists.txt
  google/cloud/memcache/quickstart/Makefile
  google/cloud/memcache/quickstart/README.md
  google/cloud/memcache/quickstart/WORKSPACE.bazel
  google/cloud/memcache/quickstart/quickstart.cc
Labels: api: memcache

#8155 feat(redis): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/redis.deps
  external/googleapis/protolists/redis.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/redis/BUILD.bazel
  google/cloud/redis/CMakeLists.txt
  google/cloud/redis/README.md
  google/cloud/redis/cloud_redis_client.cc
  google/cloud/redis/cloud_redis_client.h
  google/cloud/redis/cloud_redis_connection.cc
  google/cloud/redis/cloud_redis_connection.h
  google/cloud/redis/cloud_redis_connection_idempotency_policy.cc
  google/cloud/redis/cloud_redis_connection_idempotency_policy.h
  google/cloud/redis/cloud_redis_options.h
  google/cloud/redis/config.cmake.in
  google/cloud/redis/config.pc.in
  google/cloud/redis/doc/main.dox
  google/cloud/redis/internal/cloud_redis_auth_decorator.cc
  google/cloud/redis/internal/cloud_redis_auth_decorator.h
  google/cloud/redis/internal/cloud_redis_connection_impl.cc
  google/cloud/redis/internal/cloud_redis_connection_impl.h
  google/cloud/redis/internal/cloud_redis_logging_decorator.cc
  google/cloud/redis/internal/cloud_redis_logging_decorator.h
  google/cloud/redis/internal/cloud_redis_metadata_decorator.cc
  google/cloud/redis/internal/cloud_redis_metadata_decorator.h
  google/cloud/redis/internal/cloud_redis_option_defaults.cc
  google/cloud/redis/internal/cloud_redis_option_defaults.h
  google/cloud/redis/internal/cloud_redis_retry_traits.h
  google/cloud/redis/internal/cloud_redis_stub.cc
  google/cloud/redis/internal/cloud_redis_stub.h
  google/cloud/redis/internal/cloud_redis_stub_factory.cc
  google/cloud/redis/internal/cloud_redis_stub_factory.h
  google/cloud/redis/mocks/mock_cloud_redis_connection.h
  google/cloud/redis/quickstart/BUILD.bazel
  google/cloud/redis/quickstart/CMakeLists.txt
  google/cloud/redis/quickstart/Makefile
  google/cloud/redis/quickstart/README.md
  google/cloud/redis/quickstart/WORKSPACE.bazel
  google/cloud/redis/quickstart/quickstart.cc
Labels: api: redis

#8166 impl(spanner): follow the Options rules of thumb by merging defaults
  google/cloud/spanner/client.h
  google/cloud/spanner/internal/connection_impl.cc
Labels: api: spanner

#8167 feat(trace): generate library
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/CMakeLists.txt
  external/googleapis/protodeps/trace.deps
  external/googleapis/protolists/trace.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/trace/BUILD.bazel
  google/cloud/trace/CMakeLists.txt
  google/cloud/trace/README.md
  google/cloud/trace/config.cmake.in
  google/cloud/trace/config.pc.in
  google/cloud/trace/doc/main.dox
  google/cloud/trace/internal/trace_auth_decorator.cc
  google/cloud/trace/internal/trace_auth_decorator.h
  google/cloud/trace/internal/trace_connection_impl.cc
  google/cloud/trace/internal/trace_connection_impl.h
  google/cloud/trace/internal/trace_logging_decorator.cc
  google/cloud/trace/internal/trace_logging_decorator.h
  google/cloud/trace/internal/trace_metadata_decorator.cc
  google/cloud/trace/internal/trace_metadata_decorator.h
  google/cloud/trace/internal/trace_option_defaults.cc
  google/cloud/trace/internal/trace_option_defaults.h
  google/cloud/trace/internal/trace_retry_traits.h
  google/cloud/trace/internal/trace_stub.cc
  google/cloud/trace/internal/trace_stub.h
  google/cloud/trace/internal/trace_stub_factory.cc
  google/cloud/trace/internal/trace_stub_factory.h
  google/cloud/trace/mocks/mock_trace_connection.h
  google/cloud/trace/quickstart/BUILD.bazel
  google/cloud/trace/quickstart/CMakeLists.txt
  google/cloud/trace/quickstart/Makefile
  google/cloud/trace/quickstart/README.md
  google/cloud/trace/quickstart/WORKSPACE.bazel
  google/cloud/trace/quickstart/quickstart.cc
  google/cloud/trace/trace_client.cc
  google/cloud/trace/trace_client.h
  google/cloud/trace/trace_connection.cc
  google/cloud/trace/trace_connection.h
  google/cloud/trace/trace_connection_idempotency_policy.cc
  google/cloud/trace/trace_connection_idempotency_policy.h
  google/cloud/trace/trace_options.h
Labels: api: cloudtrace

#8169 fix(texttospeech): remove duplicate protos
  google/cloud/texttospeech/CMakeLists.txt
Labels: api: texttospeech

#8171 fix(storage): missing option for CopyObject()
  google/cloud/storage/client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage

#8188 fix(storage): missing kms key option in CopyObject()
  google/cloud/storage/client.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage

#8109 feat(container): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/container.deps
  external/googleapis/protolists/container.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/container/BUILD.bazel
  google/cloud/container/CMakeLists.txt
  google/cloud/container/README.md
  google/cloud/container/cluster_manager_client.cc
  google/cloud/container/cluster_manager_client.h
  google/cloud/container/cluster_manager_connection.cc
  google/cloud/container/cluster_manager_connection.h
  google/cloud/container/cluster_manager_connection_idempotency_policy.cc
  google/cloud/container/cluster_manager_connection_idempotency_policy.h
  google/cloud/container/cluster_manager_options.h
  google/cloud/container/config.cmake.in
  google/cloud/container/config.pc.in
  google/cloud/container/doc/main.dox
  google/cloud/container/internal/cluster_manager_auth_decorator.cc
  google/cloud/container/internal/cluster_manager_auth_decorator.h
  google/cloud/container/internal/cluster_manager_connection_impl.cc
  google/cloud/container/internal/cluster_manager_connection_impl.h
  google/cloud/container/internal/cluster_manager_logging_decorator.cc
  google/cloud/container/internal/cluster_manager_logging_decorator.h
  google/cloud/container/internal/cluster_manager_metadata_decorator.cc
  google/cloud/container/internal/cluster_manager_metadata_decorator.h
  google/cloud/container/internal/cluster_manager_option_defaults.cc
  google/cloud/container/internal/cluster_manager_option_defaults.h
  google/cloud/container/internal/cluster_manager_retry_traits.h
  google/cloud/container/internal/cluster_manager_stub.cc
  google/cloud/container/internal/cluster_manager_stub.h
  google/cloud/container/internal/cluster_manager_stub_factory.cc
  google/cloud/container/internal/cluster_manager_stub_factory.h
  google/cloud/container/mocks/mock_cluster_manager_connection.h
  google/cloud/container/quickstart/BUILD.bazel
  google/cloud/container/quickstart/CMakeLists.txt
  google/cloud/container/quickstart/Makefile
  google/cloud/container/quickstart/README.md
  google/cloud/container/quickstart/WORKSPACE.bazel
  google/cloud/container/quickstart/quickstart.cc
Labels: api: container

#8193 fix(storage): missing options in UpdateObject()
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage

#8172 feat(bigtable): cheap Table creation with different resource name
  google/cloud/bigtable/metadata_update_policy_test.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable
