Repository googleapis/google-cloud-cpp, pull requests merged in 2022-05, with the labels that each got.

#8836 impl(bigtable): mocks for streaming read rpcs
  google/cloud/bigtable/testing/mock_bigtable_stub.h
Labels: api: bigtable

#8837 cleanup(bigtable): move refresh into `bigtable_internal`
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/connection_refresh_state.cc
  google/cloud/bigtable/internal/connection_refresh_state.h
  google/cloud/bigtable/internal/connection_refresh_state_test.cc
Labels: api: bigtable

#8834 feat(storage): new option to disable decompressive transcoding
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
  google/cloud/storage/well_known_headers.h
Labels: api: storage

#8838 imp(bigtable): add round-robin stub to stub factory
  generator/generator_config.textproto
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.h
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
  google/cloud/storage/internal/storage_stub_factory.cc
Labels: api: bigtable

#8840 refactor(bigtable): channel refresh
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/connection_refresh_state.cc
  google/cloud/bigtable/internal/connection_refresh_state.h
  google/cloud/bigtable/internal/connection_refresh_state_test.cc
Labels: api: bigtable

#8846 test(storage): relax integration test checks
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: api: storage

#8841 impl(bigtable): add channel refresh container/decorator
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/bigtable_channel_refresh.cc
  google/cloud/bigtable/internal/bigtable_channel_refresh.h
  google/cloud/bigtable/internal/bigtable_channel_refresh_test.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
Labels: api: bigtable

#8857 refactor(storage): add builder to add request options to RestRequest
  google/cloud/storage/BUILD.bazel
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/rest_request_builder.cc
  google/cloud/storage/internal/rest_request_builder.h
  google/cloud/storage/internal/rest_request_builder_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#8861 test(storage): correct testing for `HttpVersion` option
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
Labels: api: storage

#8862 impl(bigtable): add connection skeleton
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/data_connection.cc
  google/cloud/bigtable/internal/data_connection.h
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#8856 feat(spanner): add support for spanner::PgNumeric
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  google/cloud/spanner/numeric.cc
  google/cloud/spanner/numeric.h
  google/cloud/spanner/numeric_test.cc
Labels: api: spanner

#8865 fix(storage): set CURLOPT_BUFFERSIZE once per handle
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle_factory.cc
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_wrappers.cc
  google/cloud/storage/internal/curl_wrappers.h
Labels: api: storage

#8867 impl(bigtable): add data options
  google/cloud/bigtable/internal/data_connection.cc
  google/cloud/bigtable/internal/data_connection.h
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
  google/cloud/bigtable/options.h
Labels: api: bigtable

#8871 fix(storage): use Status for `CurlHandle::SetOption()`
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/curl_handle.cc
  google/cloud/storage/internal/curl_handle.h
  google/cloud/storage/internal/curl_handle_test.cc
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
Labels: api: storage

#8874 test(storage): improve integration tests for `ReadRange()`
  google/cloud/storage/tests/object_read_range_integration_test.cc
Labels: api: storage

#8864 refactor(storage): ListBuckets to use RestClient
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#8877 test(storage): compile with MSVC+x86
  google/cloud/storage/tests/object_read_range_integration_test.cc
Labels: api: storage

#8872 feat(spanner): spanner::Value support for spanner::PgNumeric
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#8870 doc(bigtable): deprecate AsyncRowReader
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/async_row_reader.h
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable

#8884 cleanup(bigtable): preserve policy defaults
  google/cloud/bigtable/internal/defaults.cc
Labels: api: bigtable

#8881 test(spanner): additional tests for spanner::PgNumeric
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/mutations_test.cc
Labels: api: spanner

#8889 cleanup(bigtable): remove unused files
  google/cloud/bigtable/internal/async_longrunning_op.h
  google/cloud/bigtable/internal/async_poll_op.h
Labels: api: bigtable

#8888 test(storage): start migration to `x-retry-test-id`
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage

#8891 doc(spanner): add a comment about building a "NaN" PgNumeric
  google/cloud/spanner/numeric.h
Labels: api: spanner

#8887 doc(bigtable): deprecate RowReader public ctors
  CHANGELOG.md
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/row_reader_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/version.h
Labels: api: bigtable

#8895 cleanup(storage): remove some testbench workarounds
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
Labels: api: storage

#8894 fix(storage): resume "gunzipped" downloads
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source.h
  google/cloud/storage/internal/retry_object_read_source_test.cc
Labels: api: storage

#8896 fix(storage): handle full but not finalized uploads
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#8903 cleanup(spanner): stop using `ConnectionOptions`
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/benchmarks/single_row_throughput_benchmark.cc
  google/cloud/spanner/connection_options_test.cc
  google/cloud/spanner/integration_tests/rpc_failure_threshold_integration_test.cc
Labels: api: spanner

#8904 test(storage): "gunzipped" downloads integration
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
Labels: api: storage

#8905 cleanup(spanner): remove unused test function
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
Labels: api: spanner

#8901 cleanup(pubsub): simplify CMake file for samples
  google/cloud/pubsub/samples/CMakeLists.txt
Labels: api: pubsub, samples

#8910 refactor(pubsub): move helper functions to examples library
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#8900 doc(pubsub): deprecate functions consuming `ConnectionOptions`
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/schema_admin_connection.h
  google/cloud/pubsub/subscriber_connection.h
  google/cloud/pubsub/subscription_admin_connection.h
  google/cloud/pubsub/topic_admin_connection.h
Labels: api: pubsub

#8916 doc(pubsub): deprecate `SubscriberOptions`
  google/cloud/pubsub/subscriber_options.h
  google/cloud/pubsub/subscriber_options_test.cc
Labels: api: pubsub

#8914 doc(bigtable): compiler warnings for ClientOptions
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/admin_client_test.cc
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/instance_admin_client.h
  google/cloud/bigtable/instance_admin_client_test.cc
Labels: api: bigtable

#8915 feat(iam): add `IAMPolicy` service
  CHANGELOG.md
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  external/googleapis/CMakeLists.txt
  external/googleapis/protodeps/iam_policy.deps
  external/googleapis/protolists/iam_policy.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/iam/BUILD.bazel
  google/cloud/iam/CMakeLists.txt
  google/cloud/iam/doc/iam-main.dox
  google/cloud/iam/google_cloud_cpp_iam.bzl
  google/cloud/iam/google_cloud_cpp_iam_mocks.bzl
  google/cloud/iam/iam_policy_client.cc
  google/cloud/iam/iam_policy_client.h
  google/cloud/iam/iam_policy_connection.cc
  google/cloud/iam/iam_policy_connection.h
  google/cloud/iam/iam_policy_connection_idempotency_policy.cc
  google/cloud/iam/iam_policy_connection_idempotency_policy.h
  google/cloud/iam/iam_policy_options.h
  google/cloud/iam/internal/iam_policy_auth_decorator.cc
  google/cloud/iam/internal/iam_policy_auth_decorator.h
  google/cloud/iam/internal/iam_policy_connection_impl.cc
  google/cloud/iam/internal/iam_policy_connection_impl.h
  google/cloud/iam/internal/iam_policy_logging_decorator.cc
  google/cloud/iam/internal/iam_policy_logging_decorator.h
  google/cloud/iam/internal/iam_policy_metadata_decorator.cc
  google/cloud/iam/internal/iam_policy_metadata_decorator.h
  google/cloud/iam/internal/iam_policy_option_defaults.cc
  google/cloud/iam/internal/iam_policy_option_defaults.h
  google/cloud/iam/internal/iam_policy_retry_traits.h
  google/cloud/iam/internal/iam_policy_stub.cc
  google/cloud/iam/internal/iam_policy_stub.h
  google/cloud/iam/internal/iam_policy_stub_factory.cc
  google/cloud/iam/internal/iam_policy_stub_factory.h
  google/cloud/iam/mocks/mock_iam_policy_connection.h
Labels: api: iam

#8918 cleanup(pubsub): fix some nits
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#8917 doc(pubsub): implement IAM examples
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/options.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/options_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/samples/BUILD.bazel
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/iam_samples.cc
  google/cloud/pubsub/samples/pubsub_client_integration_samples.bzl
Labels: api: pubsub

#8925 cleanup(storage): remove unused types
  google/cloud/storage/internal/curl_client.h
Labels: api: storage

#8927 refactor(storage): refactor bucket methods to use rest library
  google/cloud/internal/curl_rest_client.cc
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#8928 fix(storage): all `HmacKey` requests accept `UserProject`
  google/cloud/storage/client.h
  google/cloud/storage/internal/hmac_key_requests.h
Labels: api: storage

#8933 refactor(spanner): use struct for transaction callback parameters
  google/cloud/spanner/client.cc
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/transaction_impl.h
  google/cloud/spanner/internal/transaction_impl_test.cc
  google/cloud/spanner/testing/matchers.h
  google/cloud/spanner/transaction_test.cc
Labels: api: spanner

#8936 cleanup(pubsub): revert breaking change for `SubscriberOptions`
  google/cloud/pubsub/subscriber_options.cc
  google/cloud/pubsub/subscriber_options.h
Labels: api: pubsub

#8944 chore(pubsublite): coverage ignores generated code
  .codecov.yml
Labels: api: pubsublite

#8948 refactor(bigtable): use variant<status, T> not StatusOr<optional<T>>
  google/cloud/bigtable/internal/legacy_row_reader_impl.cc
  google/cloud/bigtable/internal/legacy_row_reader_impl.h
  google/cloud/bigtable/internal/row_reader_impl.h
  google/cloud/bigtable/internal/rowreaderiterator.cc
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable

#8953 cleanup(spanner): the spanner emulator now supports NUMERIC
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#8954 refactor(bigtable): RowReader uses StreamRange
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/legacy_row_reader_impl.cc
  google/cloud/bigtable/internal/legacy_row_reader_impl.h
  google/cloud/bigtable/internal/rowreaderiterator.cc
  google/cloud/bigtable/internal/rowreaderiterator.h
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader.h
Labels: api: bigtable

#8958 feat(bigtable): default construct a RowReader
  google/cloud/bigtable/internal/row_reader_impl.h
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable

#8959 cleanup(storage): stop trying to uninstall Werkzeug
  ci/cloudbuild/builds/lib/integration.sh
Labels: api: storage

#8964 impl(bigtable): generate async streaming read rpcs in stubs
  generator/generator_config.textproto
  google/cloud/bigtable/internal/bigtable_auth_decorator.cc
  google/cloud/bigtable/internal/bigtable_auth_decorator.h
  google/cloud/bigtable/internal/bigtable_channel_refresh.cc
  google/cloud/bigtable/internal/bigtable_channel_refresh.h
  google/cloud/bigtable/internal/bigtable_logging_decorator.cc
  google/cloud/bigtable/internal/bigtable_logging_decorator.h
  google/cloud/bigtable/internal/bigtable_metadata_decorator.cc
  google/cloud/bigtable/internal/bigtable_metadata_decorator.h
  google/cloud/bigtable/internal/bigtable_round_robin.cc
  google/cloud/bigtable/internal/bigtable_round_robin.h
  google/cloud/bigtable/internal/bigtable_round_robin_test.cc
  google/cloud/bigtable/internal/bigtable_stub.cc
  google/cloud/bigtable/internal/bigtable_stub.h
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
  google/cloud/bigtable/testing/mock_bigtable_stub.h
Labels: api: bigtable

#8968 fix(storage): avoid crashes when parsing `ErrorInfo`
  google/cloud/storage/internal/http_response.cc
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage

#8970 test(storage): more test cases for `ErrorInfo` parser
  google/cloud/storage/internal/http_response_test.cc
Labels: api: storage

#8969 cleanup(bigtable): better example code for GC rules
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_benchmark.cc
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_world.cc
  google/cloud/bigtable/examples/bigtable_table_admin_backup_snippets.cc
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/data_filter_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/read_snippets.cc
  google/cloud/bigtable/examples/table_admin_iam_policy_snippets.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable

#8967 refactor(bigtable): move some definitions around
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/data_connection.h
  google/cloud/bigtable/mutation_branch.h
  google/cloud/bigtable/options.h
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/table.h
Labels: api: bigtable

#8983 feat(monitoring): generate async version of `CreateTimeSeries()`
  generator/generator_config.textproto
  google/cloud/monitoring/internal/metric_auth_decorator.cc
  google/cloud/monitoring/internal/metric_auth_decorator.h
  google/cloud/monitoring/internal/metric_connection_impl.cc
  google/cloud/monitoring/internal/metric_connection_impl.h
  google/cloud/monitoring/internal/metric_logging_decorator.cc
  google/cloud/monitoring/internal/metric_logging_decorator.h
  google/cloud/monitoring/internal/metric_metadata_decorator.cc
  google/cloud/monitoring/internal/metric_metadata_decorator.h
  google/cloud/monitoring/internal/metric_stub.cc
  google/cloud/monitoring/internal/metric_stub.h
  google/cloud/monitoring/metric_client.cc
  google/cloud/monitoring/metric_client.h
  google/cloud/monitoring/metric_connection.cc
  google/cloud/monitoring/metric_connection.h
  google/cloud/monitoring/mocks/mock_metric_connection.h
Labels: api: monitoring

#8976 refactor(spanner): use common RST_STREAM status helper
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/retry_policy.h
  google/cloud/spanner/retry_policy_test.cc
Labels: api: spanner

#8991 feat(baremetalsolution): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/baremetalsolution.deps
  external/googleapis/protolists/baremetalsolution.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/baremetalsolution/BUILD.bazel
  google/cloud/baremetalsolution/CMakeLists.txt
  google/cloud/baremetalsolution/README.md
  google/cloud/baremetalsolution/bare_metal_solution_client.cc
  google/cloud/baremetalsolution/bare_metal_solution_client.h
  google/cloud/baremetalsolution/bare_metal_solution_connection.cc
  google/cloud/baremetalsolution/bare_metal_solution_connection.h
  google/cloud/baremetalsolution/bare_metal_solution_connection_idempotency_policy.cc
  google/cloud/baremetalsolution/bare_metal_solution_connection_idempotency_policy.h
  google/cloud/baremetalsolution/bare_metal_solution_options.h
  google/cloud/baremetalsolution/config.cmake.in
  google/cloud/baremetalsolution/config.pc.in
  google/cloud/baremetalsolution/doc/main.dox
  google/cloud/baremetalsolution/internal/bare_metal_solution_auth_decorator.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_auth_decorator.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_connection_impl.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_connection_impl.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_logging_decorator.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_logging_decorator.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_metadata_decorator.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_metadata_decorator.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_option_defaults.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_option_defaults.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_retry_traits.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_stub.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_stub.h
  google/cloud/baremetalsolution/internal/bare_metal_solution_stub_factory.cc
  google/cloud/baremetalsolution/internal/bare_metal_solution_stub_factory.h
  google/cloud/baremetalsolution/mocks/mock_bare_metal_solution_connection.h
  google/cloud/baremetalsolution/quickstart/.bazelrc
  google/cloud/baremetalsolution/quickstart/BUILD.bazel
  google/cloud/baremetalsolution/quickstart/CMakeLists.txt
  google/cloud/baremetalsolution/quickstart/Makefile
  google/cloud/baremetalsolution/quickstart/README.md
  google/cloud/baremetalsolution/quickstart/WORKSPACE.bazel
  google/cloud/baremetalsolution/quickstart/quickstart.cc
Labels: api: baremetalsolution

#9028 feat(storage): helper functions for new lifecycle action
  google/cloud/storage/examples/storage_lifecycle_management_samples.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule.h
Labels: api: storage

#9029 test(spanner): remove database_dialect workaround for CreateDatabase
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
Labels: api: spanner

#9030 feat(storage): implement suffix and prefix OLM rules
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/bucket_metadata_parser.h
  google/cloud/storage/internal/grpc_bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_bucket_metadata_parser_test.cc
  google/cloud/storage/internal/grpc_bucket_request_parser_test.cc
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule.h
  google/cloud/storage/lifecycle_rule_test.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage

#9031 cleanup(storage): deflake bucket IAM integration test
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage

#9033 impl(bigtable): add unimplemented Connection API
  google/cloud/bigtable/internal/data_connection.cc
  google/cloud/bigtable/internal/data_connection.h
Labels: api: bigtable

#9034 doc(pubsub): fix typos Pub/Sub vs. Pubsub
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/ci/lib/pubsub_emulator.sh
  google/cloud/pubsub/message.h
  google/cloud/pubsub/mocks/mock_ack_handler.h
  google/cloud/pubsub/quickstart/Makefile
  google/cloud/pubsub/version.h
Labels: api: pubsub

#9035 impl(bigtable): add mock data connection
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable_mocks.bzl
  google/cloud/bigtable/mocks/mock_data_connection.h
Labels: api: bigtable

#9044 test(spanner): check EndpointOption setting in a compatible environment
  google/cloud/spanner/client_test.cc
Labels: api: spanner

#9041 chore(storage): add more userIp tests
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: api: storage

#9053 impl(bigtable): RowReader forwards CurrentOptions
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable

#9059 impl(bigtable): add Table ctor that accepts a DataConnection
  google/cloud/bigtable/mocks/mock_data_connection.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9061 test(bigtable): factor out legacy row reader test
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/legacy_row_reader.cc
  google/cloud/bigtable/internal/legacy_row_reader.h
  google/cloud/bigtable/internal/legacy_row_reader_test.cc
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader_test.cc
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#9070 impl(bigtable): implement DataConnection::Apply()
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/testing/mock_policies.h
Labels: api: bigtable

#9074 impl(bigtable): add RowReader that uses BigtableStub
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#9075 test(spanner): limit special instance-config filtering to prod
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#9080 test(spanner): expose spanner::MakeTestRow() as spanner_mocks::MakeRow()
  google/cloud/spanner/BUILD.bazel
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/google_cloud_cpp_spanner_mocks.bzl
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/mocks/row.h
  google/cloud/spanner/results_test.cc
  google/cloud/spanner/row_benchmark.cc
  google/cloud/spanner/row_test.cc
  google/cloud/spanner/samples/mock_execute_query.cc
Labels: api: spanner

#9082 feat(bigtable): configure `*Client`s with `EndpointOption`
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/embedded_server_test.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
  google/cloud/bigtable/options.h
Labels: api: bigtable

#9087 test(spanner): start deprecation period for spanner::MakeTestRow()
  CHANGELOG.md
  google/cloud/spanner/mocks/row.h
  google/cloud/spanner/row.h
  google/cloud/spanner/version.h
Labels: api: spanner

#9091 fix(bigtable): remove unnecessary sleeps from BulkApply
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_bulk_apply_test.cc
Labels: api: bigtable

#9109 test(storage): support transfer timeouts in benchmark
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9108 fix(documentai): make quickstart functional
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/documentai/CMakeLists.txt
  google/cloud/documentai/README.md
  google/cloud/documentai/quickstart/README.md
  google/cloud/documentai/quickstart/quickstart.cc
  google/cloud/documentai/quickstart/resources/invoice.pdf
Labels: api: documentai

#9110 test(bigtable): exercise DataConnection in integration tests
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#9115 impl(storage): add `AsyncDeleteObject()` to stubs
  generator/generator_config.textproto
  google/cloud/storage/internal/storage_auth_decorator.cc
  google/cloud/storage/internal/storage_auth_decorator.h
  google/cloud/storage/internal/storage_logging_decorator.cc
  google/cloud/storage/internal/storage_logging_decorator.h
  google/cloud/storage/internal/storage_metadata_decorator.cc
  google/cloud/storage/internal/storage_metadata_decorator.h
  google/cloud/storage/internal/storage_round_robin.cc
  google/cloud/storage/internal/storage_round_robin.h
  google/cloud/storage/internal/storage_round_robin_test.cc
  google/cloud/storage/internal/storage_stub.cc
  google/cloud/storage/internal/storage_stub.h
  google/cloud/storage/testing/mock_storage_stub.h
Labels: api: storage
