Repository googleapis/google-cloud-cpp, pull requests merged in 2022-02, with the labels that each got.

#8194 feat(bigtable): cheap Admin creation with different resource names
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8199 fix(assuredworkloads): disable on Windows
  google/cloud/assuredworkloads/BUILD.bazel
  google/cloud/assuredworkloads/CMakeLists.txt
Labels: api: assuredworkloads

#8204 docs(iam): added comments on private_key_data
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam, samples

#8210 feat(managedidentities): generate library
  .typos.toml
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/managedidentities.deps
  external/googleapis/protolists/managedidentities.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/managedidentities/BUILD.bazel
  google/cloud/managedidentities/CMakeLists.txt
  google/cloud/managedidentities/README.md
  google/cloud/managedidentities/config.cmake.in
  google/cloud/managedidentities/config.pc.in
  google/cloud/managedidentities/doc/main.dox
  google/cloud/managedidentities/internal/managed_identities_auth_decorator.cc
  google/cloud/managedidentities/internal/managed_identities_auth_decorator.h
  google/cloud/managedidentities/internal/managed_identities_connection_impl.cc
  google/cloud/managedidentities/internal/managed_identities_connection_impl.h
  google/cloud/managedidentities/internal/managed_identities_logging_decorator.cc
  google/cloud/managedidentities/internal/managed_identities_logging_decorator.h
  google/cloud/managedidentities/internal/managed_identities_metadata_decorator.cc
  google/cloud/managedidentities/internal/managed_identities_metadata_decorator.h
  google/cloud/managedidentities/internal/managed_identities_option_defaults.cc
  google/cloud/managedidentities/internal/managed_identities_option_defaults.h
  google/cloud/managedidentities/internal/managed_identities_retry_traits.h
  google/cloud/managedidentities/internal/managed_identities_stub.cc
  google/cloud/managedidentities/internal/managed_identities_stub.h
  google/cloud/managedidentities/internal/managed_identities_stub_factory.cc
  google/cloud/managedidentities/internal/managed_identities_stub_factory.h
  google/cloud/managedidentities/managed_identities_client.cc
  google/cloud/managedidentities/managed_identities_client.h
  google/cloud/managedidentities/managed_identities_connection.cc
  google/cloud/managedidentities/managed_identities_connection.h
  google/cloud/managedidentities/managed_identities_connection_idempotency_policy.cc
  google/cloud/managedidentities/managed_identities_connection_idempotency_policy.h
  google/cloud/managedidentities/managed_identities_options.h
  google/cloud/managedidentities/mocks/mock_managed_identities_connection.h
  google/cloud/managedidentities/quickstart/BUILD.bazel
  google/cloud/managedidentities/quickstart/CMakeLists.txt
  google/cloud/managedidentities/quickstart/Makefile
  google/cloud/managedidentities/quickstart/README.md
  google/cloud/managedidentities/quickstart/WORKSPACE.bazel
  google/cloud/managedidentities/quickstart/quickstart.cc
Labels: api: managedidentities

#8227 feat(language): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/language.deps
  external/googleapis/protolists/language.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/language/BUILD.bazel
  google/cloud/language/CMakeLists.txt
  google/cloud/language/README.md
  google/cloud/language/config.cmake.in
  google/cloud/language/config.pc.in
  google/cloud/language/doc/main.dox
  google/cloud/language/internal/language_auth_decorator.cc
  google/cloud/language/internal/language_auth_decorator.h
  google/cloud/language/internal/language_connection_impl.cc
  google/cloud/language/internal/language_connection_impl.h
  google/cloud/language/internal/language_logging_decorator.cc
  google/cloud/language/internal/language_logging_decorator.h
  google/cloud/language/internal/language_metadata_decorator.cc
  google/cloud/language/internal/language_metadata_decorator.h
  google/cloud/language/internal/language_option_defaults.cc
  google/cloud/language/internal/language_option_defaults.h
  google/cloud/language/internal/language_retry_traits.h
  google/cloud/language/internal/language_stub.cc
  google/cloud/language/internal/language_stub.h
  google/cloud/language/internal/language_stub_factory.cc
  google/cloud/language/internal/language_stub_factory.h
  google/cloud/language/language_client.cc
  google/cloud/language/language_client.h
  google/cloud/language/language_connection.cc
  google/cloud/language/language_connection.h
  google/cloud/language/language_connection_idempotency_policy.cc
  google/cloud/language/language_connection_idempotency_policy.h
  google/cloud/language/language_options.h
  google/cloud/language/mocks/mock_language_connection.h
  google/cloud/language/quickstart/BUILD.bazel
  google/cloud/language/quickstart/CMakeLists.txt
  google/cloud/language/quickstart/Makefile
  google/cloud/language/quickstart/README.md
  google/cloud/language/quickstart/WORKSPACE.bazel
  google/cloud/language/quickstart/quickstart.cc
Labels: api: language

#8237 cleanup(spanner): make the spanner::Connection interface non-pure
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/connection.cc
  google/cloud/spanner/connection.h
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
Labels: api: spanner

#8235 feat(contactcenterinsights): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/contactcenterinsights.deps
  external/googleapis/protolists/contactcenterinsights.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/contactcenterinsights/BUILD.bazel
  google/cloud/contactcenterinsights/CMakeLists.txt
  google/cloud/contactcenterinsights/README.md
  google/cloud/contactcenterinsights/config.cmake.in
  google/cloud/contactcenterinsights/config.pc.in
  google/cloud/contactcenterinsights/contact_center_insights_client.cc
  google/cloud/contactcenterinsights/contact_center_insights_client.h
  google/cloud/contactcenterinsights/contact_center_insights_connection.cc
  google/cloud/contactcenterinsights/contact_center_insights_connection.h
  google/cloud/contactcenterinsights/contact_center_insights_connection_idempotency_policy.cc
  google/cloud/contactcenterinsights/contact_center_insights_connection_idempotency_policy.h
  google/cloud/contactcenterinsights/contact_center_insights_options.h
  google/cloud/contactcenterinsights/doc/main.dox
  google/cloud/contactcenterinsights/internal/contact_center_insights_auth_decorator.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_auth_decorator.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_connection_impl.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_connection_impl.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_logging_decorator.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_logging_decorator.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_metadata_decorator.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_metadata_decorator.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_option_defaults.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_option_defaults.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_retry_traits.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_stub.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_stub.h
  google/cloud/contactcenterinsights/internal/contact_center_insights_stub_factory.cc
  google/cloud/contactcenterinsights/internal/contact_center_insights_stub_factory.h
  google/cloud/contactcenterinsights/mocks/mock_contact_center_insights_connection.h
  google/cloud/contactcenterinsights/quickstart/BUILD.bazel
  google/cloud/contactcenterinsights/quickstart/CMakeLists.txt
  google/cloud/contactcenterinsights/quickstart/Makefile
  google/cloud/contactcenterinsights/quickstart/README.md
  google/cloud/contactcenterinsights/quickstart/WORKSPACE.bazel
  google/cloud/contactcenterinsights/quickstart/quickstart.cc
Labels: api: contactcenterinsights

#8258 fix(pubsublite): correct quickstart and enable in CI
  ci/cloudbuild/builds/lib/integration.sh
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  ci/kokoro/windows/build-bazel.ps1
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/README.md
  google/cloud/pubsublite/endpoint.cc
  google/cloud/pubsublite/endpoint.h
  google/cloud/pubsublite/endpoint_test.cc
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/quickstart/quickstart.cc
Labels: api: pubsublite

#8260 fix(cloudbuild): quickstart works and tested by CI
  google/cloud/cloudbuild/CMakeLists.txt
  google/cloud/cloudbuild/README.md
  google/cloud/cloudbuild/quickstart/quickstart.cc
Labels: api: cloudbuild

#8251 feat(resourcesettings): generate library
  BUILD.bazel
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/resourcesettings.deps
  external/googleapis/protolists/resourcesettings.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/resourcesettings/BUILD.bazel
  google/cloud/resourcesettings/CMakeLists.txt
  google/cloud/resourcesettings/README.md
  google/cloud/resourcesettings/config.cmake.in
  google/cloud/resourcesettings/config.pc.in
  google/cloud/resourcesettings/doc/main.dox
  google/cloud/resourcesettings/internal/resource_settings_auth_decorator.cc
  google/cloud/resourcesettings/internal/resource_settings_auth_decorator.h
  google/cloud/resourcesettings/internal/resource_settings_connection_impl.cc
  google/cloud/resourcesettings/internal/resource_settings_connection_impl.h
  google/cloud/resourcesettings/internal/resource_settings_logging_decorator.cc
  google/cloud/resourcesettings/internal/resource_settings_logging_decorator.h
  google/cloud/resourcesettings/internal/resource_settings_metadata_decorator.cc
  google/cloud/resourcesettings/internal/resource_settings_metadata_decorator.h
  google/cloud/resourcesettings/internal/resource_settings_option_defaults.cc
  google/cloud/resourcesettings/internal/resource_settings_option_defaults.h
  google/cloud/resourcesettings/internal/resource_settings_retry_traits.h
  google/cloud/resourcesettings/internal/resource_settings_stub.cc
  google/cloud/resourcesettings/internal/resource_settings_stub.h
  google/cloud/resourcesettings/internal/resource_settings_stub_factory.cc
  google/cloud/resourcesettings/internal/resource_settings_stub_factory.h
  google/cloud/resourcesettings/mocks/mock_resource_settings_connection.h
  google/cloud/resourcesettings/quickstart/BUILD.bazel
  google/cloud/resourcesettings/quickstart/CMakeLists.txt
  google/cloud/resourcesettings/quickstart/Makefile
  google/cloud/resourcesettings/quickstart/README.md
  google/cloud/resourcesettings/quickstart/WORKSPACE.bazel
  google/cloud/resourcesettings/quickstart/quickstart.cc
  google/cloud/resourcesettings/resource_settings_client.cc
  google/cloud/resourcesettings/resource_settings_client.h
  google/cloud/resourcesettings/resource_settings_connection.cc
  google/cloud/resourcesettings/resource_settings_connection.h
  google/cloud/resourcesettings/resource_settings_connection_idempotency_policy.cc
  google/cloud/resourcesettings/resource_settings_connection_idempotency_policy.h
  google/cloud/resourcesettings/resource_settings_options.h
Labels: api: resourcesettings

#8274 fix(workflows): correct quickstart and enable in CI
  google/cloud/workflows/CMakeLists.txt
  google/cloud/workflows/README.md
  google/cloud/workflows/quickstart/quickstart.cc
Labels: api: workflows

#8275 test(appengine): enable quickstart in CI
  google/cloud/appengine/CMakeLists.txt
Labels: api: appengine

#8279 test(spanner): deflake samples
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#8290 feat(bigqueryconnection): generate library
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/connection_client.cc
  google/cloud/bigquery/connection_client.h
  google/cloud/bigquery/connection_connection.cc
  google/cloud/bigquery/connection_connection.h
  google/cloud/bigquery/connection_connection_idempotency_policy.cc
  google/cloud/bigquery/connection_connection_idempotency_policy.h
  google/cloud/bigquery/connection_options.h
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/connection_auth_decorator.cc
  google/cloud/bigquery/internal/connection_auth_decorator.h
  google/cloud/bigquery/internal/connection_connection_impl.cc
  google/cloud/bigquery/internal/connection_connection_impl.h
  google/cloud/bigquery/internal/connection_logging_decorator.cc
  google/cloud/bigquery/internal/connection_logging_decorator.h
  google/cloud/bigquery/internal/connection_metadata_decorator.cc
  google/cloud/bigquery/internal/connection_metadata_decorator.h
  google/cloud/bigquery/internal/connection_option_defaults.cc
  google/cloud/bigquery/internal/connection_option_defaults.h
  google/cloud/bigquery/internal/connection_retry_traits.h
  google/cloud/bigquery/internal/connection_stub.cc
  google/cloud/bigquery/internal/connection_stub.h
  google/cloud/bigquery/internal/connection_stub_factory.cc
  google/cloud/bigquery/internal/connection_stub_factory.h
  google/cloud/bigquery/mocks/mock_connection_connection.h
Labels: api: bigqueryconnection

#8313 feat(bigqueryreservation): generate library
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/reservation_auth_decorator.cc
  google/cloud/bigquery/internal/reservation_auth_decorator.h
  google/cloud/bigquery/internal/reservation_connection_impl.cc
  google/cloud/bigquery/internal/reservation_connection_impl.h
  google/cloud/bigquery/internal/reservation_logging_decorator.cc
  google/cloud/bigquery/internal/reservation_logging_decorator.h
  google/cloud/bigquery/internal/reservation_metadata_decorator.cc
  google/cloud/bigquery/internal/reservation_metadata_decorator.h
  google/cloud/bigquery/internal/reservation_option_defaults.cc
  google/cloud/bigquery/internal/reservation_option_defaults.h
  google/cloud/bigquery/internal/reservation_retry_traits.h
  google/cloud/bigquery/internal/reservation_stub.cc
  google/cloud/bigquery/internal/reservation_stub.h
  google/cloud/bigquery/internal/reservation_stub_factory.cc
  google/cloud/bigquery/internal/reservation_stub_factory.h
  google/cloud/bigquery/mocks/mock_reservation_connection.h
  google/cloud/bigquery/reservation_client.cc
  google/cloud/bigquery/reservation_client.h
  google/cloud/bigquery/reservation_connection.cc
  google/cloud/bigquery/reservation_connection.h
  google/cloud/bigquery/reservation_connection_idempotency_policy.cc
  google/cloud/bigquery/reservation_connection_idempotency_policy.h
  google/cloud/bigquery/reservation_options.h
Labels: api: bigqueryreservation

#8317 feat(bigquerydatatransfer): generate library
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/data_transfer_client.cc
  google/cloud/bigquery/data_transfer_client.h
  google/cloud/bigquery/data_transfer_connection.cc
  google/cloud/bigquery/data_transfer_connection.h
  google/cloud/bigquery/data_transfer_connection_idempotency_policy.cc
  google/cloud/bigquery/data_transfer_connection_idempotency_policy.h
  google/cloud/bigquery/data_transfer_options.h
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/data_transfer_auth_decorator.cc
  google/cloud/bigquery/internal/data_transfer_auth_decorator.h
  google/cloud/bigquery/internal/data_transfer_connection_impl.cc
  google/cloud/bigquery/internal/data_transfer_connection_impl.h
  google/cloud/bigquery/internal/data_transfer_logging_decorator.cc
  google/cloud/bigquery/internal/data_transfer_logging_decorator.h
  google/cloud/bigquery/internal/data_transfer_metadata_decorator.cc
  google/cloud/bigquery/internal/data_transfer_metadata_decorator.h
  google/cloud/bigquery/internal/data_transfer_option_defaults.cc
  google/cloud/bigquery/internal/data_transfer_option_defaults.h
  google/cloud/bigquery/internal/data_transfer_retry_traits.h
  google/cloud/bigquery/internal/data_transfer_stub.cc
  google/cloud/bigquery/internal/data_transfer_stub.h
  google/cloud/bigquery/internal/data_transfer_stub_factory.cc
  google/cloud/bigquery/internal/data_transfer_stub_factory.h
  google/cloud/bigquery/mocks/mock_data_transfer_connection.h
Labels: api: bigquerydatatransfer

#8318 test(asset): enable quickstart in CI
  google/cloud/asset/CMakeLists.txt
  google/cloud/asset/README.md
  google/cloud/asset/quickstart/quickstart.cc
Labels: api: cloudasset

#8316 feat(spanner): support x-goog-user-project
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
Labels: api: spanner

#8322 test(gameservices): enable quickstart in CI
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/gameservices/CMakeLists.txt
Labels: api: gameservices

#8326 doc(pubsub): add region tag for subscription with filter
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#8324 feat(bigtable): support x-goog-user-project
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#8334 test(iot): enable quickstart in CI
  google/cloud/iot/CMakeLists.txt
Labels: api: cloudiot

#8328 impl(bigtable): extract or create CQ from options
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/admin_client_params.cc
  google/cloud/bigtable/internal/admin_client_params.h
  google/cloud/bigtable/internal/admin_client_params_test.cc
Labels: api: bigtable

#8333 feat(bigquery): generate library
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/model_auth_decorator.cc
  google/cloud/bigquery/internal/model_auth_decorator.h
  google/cloud/bigquery/internal/model_connection_impl.cc
  google/cloud/bigquery/internal/model_connection_impl.h
  google/cloud/bigquery/internal/model_logging_decorator.cc
  google/cloud/bigquery/internal/model_logging_decorator.h
  google/cloud/bigquery/internal/model_metadata_decorator.cc
  google/cloud/bigquery/internal/model_metadata_decorator.h
  google/cloud/bigquery/internal/model_option_defaults.cc
  google/cloud/bigquery/internal/model_option_defaults.h
  google/cloud/bigquery/internal/model_retry_traits.h
  google/cloud/bigquery/internal/model_stub.cc
  google/cloud/bigquery/internal/model_stub.h
  google/cloud/bigquery/internal/model_stub_factory.cc
  google/cloud/bigquery/internal/model_stub_factory.h
  google/cloud/bigquery/mocks/mock_model_connection.h
  google/cloud/bigquery/model_client.cc
  google/cloud/bigquery/model_client.h
  google/cloud/bigquery/model_connection.cc
  google/cloud/bigquery/model_connection.h
  google/cloud/bigquery/model_connection_idempotency_policy.cc
  google/cloud/bigquery/model_connection_idempotency_policy.h
  google/cloud/bigquery/model_options.h
Labels: api: bigquery

#8338 impl(bigtable): table admin connection logic
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8337 test(resourcemanager): enable quickstart in CI
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/resourcemanager/CMakeLists.txt
Labels: api: cloudresourcemanager

#8341 cleanup(bigtable): silly test cleanup
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/logging_admin_client.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8351 impl(bigtable): common policies in TableAdmin
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8357 test(storage): workaround MSVC limits
  google/cloud/storage/examples/CMakeLists.txt
Labels: api: storage

#8360 feat(speech): generate library
  BUILD.bazel
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  generator/generator_config.textproto
  google/cloud/speech/BUILD.bazel
  google/cloud/speech/CMakeLists.txt
  google/cloud/speech/README.md
  google/cloud/speech/config.cmake.in
  google/cloud/speech/config.pc.in
  google/cloud/speech/doc/main.dox
  google/cloud/speech/internal/speech_auth_decorator.cc
  google/cloud/speech/internal/speech_auth_decorator.h
  google/cloud/speech/internal/speech_connection_impl.cc
  google/cloud/speech/internal/speech_connection_impl.h
  google/cloud/speech/internal/speech_logging_decorator.cc
  google/cloud/speech/internal/speech_logging_decorator.h
  google/cloud/speech/internal/speech_metadata_decorator.cc
  google/cloud/speech/internal/speech_metadata_decorator.h
  google/cloud/speech/internal/speech_option_defaults.cc
  google/cloud/speech/internal/speech_option_defaults.h
  google/cloud/speech/internal/speech_retry_traits.h
  google/cloud/speech/internal/speech_stub.cc
  google/cloud/speech/internal/speech_stub.h
  google/cloud/speech/internal/speech_stub_factory.cc
  google/cloud/speech/internal/speech_stub_factory.h
  google/cloud/speech/internal/streaming.cc
  google/cloud/speech/mocks/mock_speech_connection.h
  google/cloud/speech/quickstart/BUILD.bazel
  google/cloud/speech/quickstart/CMakeLists.txt
  google/cloud/speech/quickstart/Makefile
  google/cloud/speech/quickstart/README.md
  google/cloud/speech/quickstart/WORKSPACE.bazel
  google/cloud/speech/quickstart/quickstart.cc
  google/cloud/speech/speech_client.cc
  google/cloud/speech/speech_client.h
  google/cloud/speech/speech_connection.cc
  google/cloud/speech/speech_connection.h
  google/cloud/speech/speech_connection_idempotency_policy.cc
  google/cloud/speech/speech_connection_idempotency_policy.h
  google/cloud/speech/speech_options.h
Labels: api: speech

#8355 fix(spanner): add Options save/restore to PartialResultSetSource
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/partial_result_set_source.h
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/results.h
Labels: api: spanner

#8366 cleanup(bigtable): simplify admin client params
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/internal/admin_client_params.cc
  google/cloud/bigtable/internal/admin_client_params.h
  google/cloud/bigtable/internal/admin_client_params_test.cc
Labels: api: bigtable

#8369 test(bigtable): TableAdmin params structs
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#8373 test(accesscontextmanager): enable quickstart in CI
  google/cloud/accesscontextmanager/CMakeLists.txt
Labels: api: accesscontextmanager

#8382 test(securitycenter): enable quickstart in CI
  google/cloud/securitycenter/CMakeLists.txt
  google/cloud/securitycenter/README.md
  google/cloud/securitycenter/quickstart/quickstart.cc
Labels: api: securitycenter

#8381 feat(servicecontrol): enable quickstart in CI
  google/cloud/servicecontrol/CMakeLists.txt
Labels: api: servicecontrol

#8384 feat(assuredworkloads): enable quickstart in CI
  google/cloud/assuredworkloads/CMakeLists.txt
Labels: api: assuredworkloads

#8386 test(debugger): enable quickstart in CI
  google/cloud/debugger/CMakeLists.txt
  google/cloud/debugger/README.md
  google/cloud/debugger/quickstart/quickstart.cc
Labels: api: clouddebugger

#8389 fix(storage): ignored fields in lifecycle patches
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
Labels: api: storage

#8393 cleanup(bigtable): remove sleep from table_admin_snippets
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable

#8405 cleanup(bigtable): add missing includes
  google/cloud/bigtable/internal/prefix_range_end.cc
Labels: api: bigtable

#8406 feat(pubsub): per-call options in SchemaAdminClient
  google/cloud/pubsub/schema_admin_client.cc
  google/cloud/pubsub/schema_admin_client.h
  google/cloud/pubsub/schema_admin_client_test.cc
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/schema_admin_connection.h
Labels: api: pubsub

#8412 fix(pubsub): restore MakeSchemaAdminConnection overload
  google/cloud/pubsub/schema_admin_connection.cc
  google/cloud/pubsub/schema_admin_connection.h
Labels: api: pubsub

#8411 feat(pubsub): per-call options in TopicAdminClient
  google/cloud/pubsub/topic_admin_client.cc
  google/cloud/pubsub/topic_admin_client.h
  google/cloud/pubsub/topic_admin_client_test.cc
  google/cloud/pubsub/topic_admin_connection.cc
  google/cloud/pubsub/topic_admin_connection.h
Labels: api: pubsub

#8423 fix(bigtable): ReadRows retries from the `last_scanned_row_key`
  google/cloud/bigtable/async_row_reader.h
  google/cloud/bigtable/async_row_reader_test.cc
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable

#8426 feat(documentai): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/documentai.deps
  external/googleapis/protolists/documentai.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/documentai/BUILD.bazel
  google/cloud/documentai/CMakeLists.txt
  google/cloud/documentai/README.md
  google/cloud/documentai/config.cmake.in
  google/cloud/documentai/config.pc.in
  google/cloud/documentai/doc/main.dox
  google/cloud/documentai/document_processor_client.cc
  google/cloud/documentai/document_processor_client.h
  google/cloud/documentai/document_processor_connection.cc
  google/cloud/documentai/document_processor_connection.h
  google/cloud/documentai/document_processor_connection_idempotency_policy.cc
  google/cloud/documentai/document_processor_connection_idempotency_policy.h
  google/cloud/documentai/document_processor_options.h
  google/cloud/documentai/internal/document_processor_auth_decorator.cc
  google/cloud/documentai/internal/document_processor_auth_decorator.h
  google/cloud/documentai/internal/document_processor_connection_impl.cc
  google/cloud/documentai/internal/document_processor_connection_impl.h
  google/cloud/documentai/internal/document_processor_logging_decorator.cc
  google/cloud/documentai/internal/document_processor_logging_decorator.h
  google/cloud/documentai/internal/document_processor_metadata_decorator.cc
  google/cloud/documentai/internal/document_processor_metadata_decorator.h
  google/cloud/documentai/internal/document_processor_option_defaults.cc
  google/cloud/documentai/internal/document_processor_option_defaults.h
  google/cloud/documentai/internal/document_processor_retry_traits.h
  google/cloud/documentai/internal/document_processor_stub.cc
  google/cloud/documentai/internal/document_processor_stub.h
  google/cloud/documentai/internal/document_processor_stub_factory.cc
  google/cloud/documentai/internal/document_processor_stub_factory.h
  google/cloud/documentai/mocks/mock_document_processor_connection.h
  google/cloud/documentai/quickstart/BUILD.bazel
  google/cloud/documentai/quickstart/CMakeLists.txt
  google/cloud/documentai/quickstart/Makefile
  google/cloud/documentai/quickstart/README.md
  google/cloud/documentai/quickstart/WORKSPACE.bazel
  google/cloud/documentai/quickstart/quickstart.cc
Labels: api: documentai

#8425 feat(cloudprofiler): generate library
  BUILD.bazel
  CHANGELOG.md
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  external/googleapis/protodeps/profiler.deps
  external/googleapis/protolists/profiler.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/profiler/BUILD.bazel
  google/cloud/profiler/CMakeLists.txt
  google/cloud/profiler/README.md
  google/cloud/profiler/config.cmake.in
  google/cloud/profiler/config.pc.in
  google/cloud/profiler/doc/main.dox
  google/cloud/profiler/internal/profiler_auth_decorator.cc
  google/cloud/profiler/internal/profiler_auth_decorator.h
  google/cloud/profiler/internal/profiler_connection_impl.cc
  google/cloud/profiler/internal/profiler_connection_impl.h
  google/cloud/profiler/internal/profiler_logging_decorator.cc
  google/cloud/profiler/internal/profiler_logging_decorator.h
  google/cloud/profiler/internal/profiler_metadata_decorator.cc
  google/cloud/profiler/internal/profiler_metadata_decorator.h
  google/cloud/profiler/internal/profiler_option_defaults.cc
  google/cloud/profiler/internal/profiler_option_defaults.h
  google/cloud/profiler/internal/profiler_retry_traits.h
  google/cloud/profiler/internal/profiler_stub.cc
  google/cloud/profiler/internal/profiler_stub.h
  google/cloud/profiler/internal/profiler_stub_factory.cc
  google/cloud/profiler/internal/profiler_stub_factory.h
  google/cloud/profiler/mocks/mock_profiler_connection.h
  google/cloud/profiler/profiler_client.cc
  google/cloud/profiler/profiler_client.h
  google/cloud/profiler/profiler_connection.cc
  google/cloud/profiler/profiler_connection.h
  google/cloud/profiler/profiler_connection_idempotency_policy.cc
  google/cloud/profiler/profiler_connection_idempotency_policy.h
  google/cloud/profiler/profiler_options.h
  google/cloud/profiler/quickstart/BUILD.bazel
  google/cloud/profiler/quickstart/CMakeLists.txt
  google/cloud/profiler/quickstart/Makefile
  google/cloud/profiler/quickstart/README.md
  google/cloud/profiler/quickstart/WORKSPACE.bazel
  google/cloud/profiler/quickstart/quickstart.cc
Labels: api: cloudprofiler

#8434 doc(storage): improve `{Bucket,Object}Metadata` docs
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/object_metadata.h
Labels: api: storage

#8436 docs(bigtable): cleanup admin documentation
  google/cloud/bigtable/doc/bigtable-hello-instance-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-table-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/doc/bigtable-samples-grpc-credentials.dox
  google/cloud/bigtable/instance_admin.h
Labels: api: bigtable, type: docs

#8437 fix(bigtable): cast to std::string which works with string and Cord
  google/cloud/bigtable/async_row_reader.h
Labels: api: bigtable

#8430 feat(spanner): convert QueryOptions to Options in main client API
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_options.cc
  google/cloud/spanner/client_options.h
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/query_options.cc
  google/cloud/spanner/query_options.h
  google/cloud/spanner/query_options_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#8424 refactor(bigtable): simplify AdminClient
  google/cloud/bigtable/admin_client.cc
  google/cloud/bigtable/admin_client.h
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable

#8446 fix(storage): json["projectTeam"] might be present but null
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/access_control_common_parser_test.cc
Labels: api: storage

#8441 feat(pubsublite): resumable async read write rpc stream boilerplate
  .gitignore
  ci/cloudbuild/builds/coverage.sh
  google/cloud/pubsublite/BUILD.bazel
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/futures.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/pubsublite_testing.bzl
  google/cloud/pubsublite/testing/mock_async_reader_writer.h
  google/cloud/pubsublite/testing/mock_backoff_policy.h
  google/cloud/pubsublite/testing/mock_retry_policy.h
Labels: api: pubsublite

#8447 cleanup(storage): report transfer size in benchmark
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#8454 refactor(pubsub): use common option initializers
  google/cloud/pubsub/internal/defaults.cc
Labels: api: pubsub

#8455 refactor(bigtable): only default UserProjectOption for Data API
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#8448 feat(spanner): convert ReadOptions/PartitionOptions to Options
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/partition_options.cc
  google/cloud/spanner/partition_options.h
  google/cloud/spanner/partition_options_test.cc
  google/cloud/spanner/read_options.cc
  google/cloud/spanner/read_options.h
  google/cloud/spanner/read_options_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#8456 feat(pubsub): support x-goog-user-project
  google/cloud/pubsub/internal/default_batch_sink.cc
  google/cloud/pubsub/internal/default_batch_sink.h
  google/cloud/pubsub/internal/publisher_metadata.cc
  google/cloud/pubsub/internal/publisher_metadata_test.cc
  google/cloud/pubsub/internal/schema_metadata.cc
  google/cloud/pubsub/internal/schema_metadata_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/subscriber_metadata.cc
  google/cloud/pubsub/internal/subscriber_metadata_test.cc
Labels: api: pubsub

#8460 feat(pubsub): support `AuthorityOption`
  google/cloud/pubsub/internal/publisher_metadata.cc
  google/cloud/pubsub/internal/subscriber_metadata.cc
Labels: api: pubsub

#8458 feat(bigtable): better support for PSC and VPC-SC
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#8462 feat(storage): support AuthorityOption
  google/cloud/internal/rest_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client_test.cc
Labels: api: storage

#8466 feat(spanner): use prevailing Options in ConnectionImpl
  CHANGELOG.md
  google/cloud/spanner/internal/connection_impl.cc
Labels: api: spanner

#8468 doc(storage): UserIp option is deprecated
  google/cloud/internal/rest_options.h
Labels: api: storage
