Repository googleapis/google-cloud-cpp, pull requests merged in 2022-06, with the labels that each got.

#9132 refactor(storage): most of the object methods to use rest library
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9146 doc(storage): missing options for several functions
  google/cloud/storage/client.h
Labels: api: storage

#9143 fix(storage): disable MSVC C++17 deprecation warnings
  google/cloud/storage/google_cloud_cpp_storage.cmake
Labels: api: storage

#9145 refactor(storage): insert object using rest library
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#9152 refactor(bigtable): remove/isolate some test fixtures
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/legacy_table_test.cc
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9159 test(spanner): be more lenient with NaN output formatting
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#9158 refactor(storage): use multiple spans for insert object
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9160 refactor(storage): copy object to use rest library
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9162 fix(storage): do not duplicate debugging headers
  google/cloud/internal/curl_impl.cc
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/tests/object_read_headers_integration_test.cc
Labels: api: storage

#9155 impl(bigtable): implement DataConnection::BulkApply()
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#9163 impl(bigtable): `Table::BulkApply()` with Connection
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9167 refactor(bigtable): reorder code; waste builds
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
Labels: api: bigtable

#9177 refactor(bigtable): move transform; add unit test
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#9176 impl(bigtable): implement modern Table::ReadRow()
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#9180 impl(storage): add RestObjectReadSource
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/rest_object_read_source.cc
  google/cloud/storage/internal/rest_object_read_source.h
  google/cloud/storage/internal/rest_object_read_source_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9181 impl(bigtable): modern `Table::ReadModifyWriteRow()`
  google/cloud/bigtable/internal/data_connection.cc
  google/cloud/bigtable/internal/data_connection.h
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/mocks/mock_data_connection.h
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#9191 impl(storage): ignore `google::cloud::Options` in `*Request`
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/generic_request_test.cc
Labels: api: storage

#9196 fix(storage): missing `set_multiple_options()` overload
  google/cloud/storage/internal/generic_request.h
Labels: api: storage

#9190 impl(bigtable): modern `Table::CheckAndMutateRow()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#9195 impl(storage): helpers to create `OptionSpan`
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/make_options_span.h
  google/cloud/storage/internal/make_options_span_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9192 impl(storage): `internal::RawClient` gains `options()`
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_client.h
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#9199 feat(storage): per-operation options / service accounts
  google/cloud/storage/client.h
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/internal/hmac_key_requests.h
  google/cloud/storage/internal/make_options_span.h
  google/cloud/storage/testing/client_unit_test.cc
Labels: api: storage

#9202 feat(storage): per-operation options / BucketAccessControl
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
Labels: api: storage

#9215 impl(bigtable): add async streaming read helper
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_streaming_read.h
  google/cloud/bigtable/internal/async_streaming_read_test.cc
Labels: api: bigtable

#9205 feat(storage): per-operation options / Notification
  google/cloud/storage/client.h
  google/cloud/storage/client_notifications_test.cc
Labels: api: storage

#9206 feat(storage): per-operation options / ObjectAccessControl
  google/cloud/storage/client.h
  google/cloud/storage/client_object_acl_test.cc
Labels: api: storage

#9207 feat(storage): per-operation options / Object "copy"
  google/cloud/storage/client.h
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_rewriter.h
Labels: api: storage

#9209 feat(storage): per-operation options / Bucket
  google/cloud/storage/bucket_test.cc
  google/cloud/storage/client.h
Labels: api: storage

#9219 cleanup(storage): do not depend on RVO for OptionsSpan
  google/cloud/storage/client.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/group_options.h
  google/cloud/storage/internal/group_options_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9197 refactor(storage): read object to use rest library
  google/cloud/internal/curl_impl.cc
  google/cloud/internal/curl_options.h
  google/cloud/internal/curl_rest_client.cc
  google/cloud/storage/client.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
  google/cloud/storage/options.h
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage

#9221 impl(bigtable): duplicate `AsyncRowSampler`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/legacy_async_row_sampler.cc
  google/cloud/bigtable/internal/legacy_async_row_sampler.h
  google/cloud/bigtable/internal/legacy_async_row_sampler_test.cc
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#9227 impl(storage): add HttpResponse overloads to be leveraged by rest refactor
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/hmac_key_requests.cc
  google/cloud/storage/internal/hmac_key_requests.h
  google/cloud/storage/internal/notification_requests.cc
  google/cloud/storage/internal/notification_requests.h
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/sign_blob_requests.cc
  google/cloud/storage/internal/sign_blob_requests.h
Labels: api: storage

#9229 impl(bigtable): modern `AsyncRowSampler`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
  google/cloud/bigtable/testing/mock_bigtable_stub.h
Labels: api: bigtable

#9235 cleanup(bigtable): fix test for google3
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#9230 impl(storage): use `CurrentOptions()` for `RetryClient`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
  google/cloud/storage/object_test.cc
  google/cloud/storage/testing/client_unit_test.cc
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#9237 impl(bigtable): modern `Table::AsyncReadModifyWriteRow()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
Labels: api: bigtable

#9241 impl(storage): use `CurrentOptions()` in `RestClient`
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9242 impl(bigtable): modern `Table::AsyncCheckAndMutateRow()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
Labels: api: bigtable

#9244 refactor(bigtable): duplicate `AsyncRetryBulkApply`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/legacy_async_bulk_apply.cc
  google/cloud/bigtable/internal/legacy_async_bulk_apply.h
  google/cloud/bigtable/internal/legacy_async_bulk_apply_test.cc
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#9248 cleanup(storage): reorganize some unit tests
  google/cloud/storage/client_bucket_test.cc
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/compose_many_test.cc
  google/cloud/storage/delete_by_prefix_test.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9245 impl(bigtable): modern `AsyncBulkApplier`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
Labels: api: bigtable

#9247 doc(storage): document per-operation options
  google/cloud/storage/client.h
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_client_per_operation_samples.cc
  google/cloud/storage/examples/storage_examples.bzl
Labels: api: storage

#9254 cleanup(storage): move deprecated functions down
  google/cloud/storage/client.h
Labels: api: storage

#9246 impl(bigtable): modern `Table::SampleRows()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/table_sample_rows_integration_test.cc
Labels: api: bigtable

#9255 fix(storage): respect policies in deprecated constructor
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/testing/client_unit_test.cc
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#9261 test(storage): improve unit tests for `Client::WriteObject()`
  google/cloud/storage/client_write_object_test.cc
Labels: api: storage

#9262 cleanup(storage): avoid using deprecated `storage::ClientOptions`
  google/cloud/storage/client.h
Labels: api: storage

#9264 doc: broken link in GCS README file
  google/cloud/storage/README.md
Labels: type: docs

#9267 impl(bigtable): modern `Table::AsyncBulkApply()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
Labels: api: bigtable

#9270 feat(pubsub): implement per-batch compression
  google/cloud/pubsub/internal/default_batch_sink.cc
  google/cloud/pubsub/internal/default_batch_sink_test.cc
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/options.h
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#9274 refactor(storage): resumable uploads to use Rest library
  google/cloud/internal/rest_response.h
  google/cloud/storage/client.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_request_builder.h
Labels: api: storage

#9275 refactor(storage): acl methods to use rest library
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9276 refactor(storage): hmac and notification methods to use rest library
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9279 test(spanner): workaround for CreateBackup() timeout in samples
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#9272 refactor(bigtable): untemplate `AsyncRowReader`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/table.h
Labels: api: bigtable

#9287 impl(bigtable): modern `AsyncRowReader`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
Labels: api: bigtable

#9294 impl(bigtable): modern `Table::AsyncReadRows()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
Labels: api: bigtable

#9297 impl(bigtable): modern `Table::AsyncReadRow()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
Labels: api: bigtable

#9307 impl(bigtable): `Table` accepts `Options`
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9310 feat(bigtable): add `AsyncWaitForConsistency()` helper for Table Admin
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/examples/table_admin_snippets.cc
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/wait_for_consistency.cc
  google/cloud/bigtable/wait_for_consistency.h
  google/cloud/bigtable/wait_for_consistency_test.cc
Labels: api: bigtable

#9317 cleanup(bigtable): `AsyncReadRows` accepts move-only types again
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9322 doc(pubsub): use the right region tags
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#9321 test(spanner): remove some emulator conditionals
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#9326 feat(pubsub): update subscription builders
  google/cloud/pubsub/snapshot_builder.h
  google/cloud/pubsub/subscription_builder.cc
  google/cloud/pubsub/subscription_builder.h
  google/cloud/pubsub/subscription_builder_test.cc
  google/cloud/pubsub/topic_builder.h
Labels: api: pubsub

#9341 test(spanner): relax database dialect emulator expectations
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#9344 test(storage): log more details on success
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#9350 impl(pubsub): return a `future<Status>` from ack/nack functions
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/subscription_batch_source.h
  google/cloud/pubsub/internal/subscription_lease_management.cc
  google/cloud/pubsub/internal/subscription_lease_management.h
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue.h
  google/cloud/pubsub/internal/subscription_message_source.h
  google/cloud/pubsub/testing/mock_subscription_batch_source.h
  google/cloud/pubsub/testing/mock_subscription_message_source.h
Labels: api: pubsub

#9352 cleanup(spanner): remove stale integration test
  google/cloud/spanner/integration_tests/CMakeLists.txt
  google/cloud/spanner/integration_tests/rpc_failure_threshold_integration_test.cc
  google/cloud/spanner/integration_tests/spanner_client_integration_tests.bzl
Labels: api: spanner

#9357 impl(pubsub): handle streaming pull subscription properties
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9366 deflake(pubsub): make time-triggered `Write()` events less likely
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9359 impl(spanner): fix the handling of PartialResultSet.resume_token
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/logging_result_set_reader.cc
  google/cloud/spanner/internal/logging_result_set_reader.h
  google/cloud/spanner/internal/logging_result_set_reader_test.cc
  google/cloud/spanner/internal/partial_result_set_reader.h
  google/cloud/spanner/internal/partial_result_set_resume.cc
  google/cloud/spanner/internal/partial_result_set_resume.h
  google/cloud/spanner/internal/partial_result_set_resume_test.cc
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/partial_result_set_source.h
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/testing/mock_partial_result_set_reader.h
Labels: api: spanner

#9370 test(storage): cleanup benchmark options
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_experiment.h
  google/cloud/storage/benchmarks/throughput_experiment_test.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#9364 test(storage): control benchmark pacing
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9369 deflake(pubsub): mock completion queue to avoid unwanted timers
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9374 feat(bigtable): instance name as a class
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/instance_resource.cc
  google/cloud/bigtable/instance_resource.h
  google/cloud/bigtable/instance_resource_test.cc
Labels: api: bigtable

#9375 impl(pubsub): retry ack/nacks with exactly-once
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/exactly_once_policies.cc
  google/cloud/pubsub/internal/exactly_once_policies.h
  google/cloud/pubsub/internal/exactly_once_policies_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#9377 feat(bigtable): table resource name as a class
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/table_resource.cc
  google/cloud/bigtable/table_resource.h
  google/cloud/bigtable/table_resource_test.cc
Labels: api: bigtable

#9379 impl(pubsub): use unary RPCs to refresh leases
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#9382 feat(bigtable): add `AppProfileIdOption`
  google/cloud/bigtable/options.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/table_sample_rows_integration_test.cc
Labels: api: bigtable

#9378 test(storage): benchmark supports ranged reads
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_experiment.h
  google/cloud/storage/benchmarks/throughput_experiment_test.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage

#9386 impl(pubsub): retry lease extensions for exactly-once
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/exactly_once_policies.cc
  google/cloud/pubsub/internal/exactly_once_policies.h
  google/cloud/pubsub/internal/extend_leases_with_retry.cc
  google/cloud/pubsub/internal/extend_leases_with_retry.h
  google/cloud/pubsub/internal/extend_leases_with_retry_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#9397 cleanup(bigtable): ergonomic string ctor for TableResource
  google/cloud/bigtable/table_resource.cc
  google/cloud/bigtable/table_resource.h
  google/cloud/bigtable/table_resource_test.cc
Labels: api: bigtable

#9395 cleanup(pubsub): subscriber consumes `std::function<>`
  google/cloud/pubsub/subscriber.h
Labels: api: pubsub

#9392 feat(video): add livestream to the generated video library
  ci/etc/expected_install_directories
  external/googleapis/protodeps/video.deps
  external/googleapis/protolists/video.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/video/BUILD.bazel
  google/cloud/video/README.md
  google/cloud/video/doc/main.dox
  google/cloud/video/internal/livestream_auth_decorator.cc
  google/cloud/video/internal/livestream_auth_decorator.h
  google/cloud/video/internal/livestream_connection_impl.cc
  google/cloud/video/internal/livestream_connection_impl.h
  google/cloud/video/internal/livestream_logging_decorator.cc
  google/cloud/video/internal/livestream_logging_decorator.h
  google/cloud/video/internal/livestream_metadata_decorator.cc
  google/cloud/video/internal/livestream_metadata_decorator.h
  google/cloud/video/internal/livestream_option_defaults.cc
  google/cloud/video/internal/livestream_option_defaults.h
  google/cloud/video/internal/livestream_retry_traits.h
  google/cloud/video/internal/livestream_stub.cc
  google/cloud/video/internal/livestream_stub.h
  google/cloud/video/internal/livestream_stub_factory.cc
  google/cloud/video/internal/livestream_stub_factory.h
  google/cloud/video/livestream_client.cc
  google/cloud/video/livestream_client.h
  google/cloud/video/livestream_connection.cc
  google/cloud/video/livestream_connection.h
  google/cloud/video/livestream_connection_idempotency_policy.cc
  google/cloud/video/livestream_connection_idempotency_policy.h
  google/cloud/video/livestream_options.h
  google/cloud/video/mocks/mock_livestream_connection.h
Labels: api: livestream

#9394 impl(pubsub): new `AckHandler` to support exactly-once delivery
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/ack_handler.h
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/exactly_once_ack_handler.cc
  google/cloud/pubsub/internal/exactly_once_ack_handler.h
  google/cloud/pubsub/internal/exactly_once_ack_handler_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#9399 refactor(bigtable): `Table` stores `TableResource`
  google/cloud/bigtable/table.h
Labels: api: bigtable
