Repository googleapis/google-cloud-cpp, pull requests merged in 2022-12, with the labels that each got.

#10350 cleanup(storage): remove Bazel workspace name workaround
  google/cloud/storage/quickstart/WORKSPACE.bazel
Labels: api: storage

#10352 doc(storage): document all `oauth2` names as deprecated
  google/cloud/storage/oauth2/anonymous_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/credential_constants.h
  google/cloud/storage/oauth2/credentials.h
  google/cloud/storage/oauth2/google_application_default_credentials_file.h
  google/cloud/storage/oauth2/google_credentials.h
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/options.h
Labels: api: storage

#10371 cleanup(speech): conform to new BUILD convention
  google/cloud/speech/BUILD.bazel
Labels: api: speech

#10369 fix(storage): scopes should disable self-signed JWTs
  google/cloud/internal/oauth2_service_account_credentials.cc
  google/cloud/internal/oauth2_service_account_credentials.h
  google/cloud/storage/internal/unified_rest_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
Labels: api: storage

#10384 cleanup(storage): remove unused code
  google/cloud/storage/internal/unified_rest_credentials.cc
Labels: api: storage

#10393 feat(iam): add support for iam/v2/ service
  ci/etc/expected_install_directories
  external/googleapis/protodeps/iam.deps
  external/googleapis/protolists/iam.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/iam/BUILD.bazel
  google/cloud/iam/CMakeLists.txt
  google/cloud/iam/doc/main.dox
  google/cloud/iam/google_cloud_cpp_iam.bzl
  google/cloud/iam/google_cloud_cpp_iam_mocks.bzl
  google/cloud/iam/samples/BUILD.bazel
  google/cloud/iam/samples/CMakeLists.txt
  google/cloud/iam/samples/iam_client_mock_samples.bzl
  google/cloud/iam/samples/iam_client_samples.bzl
  google/cloud/iam/v2/internal/policies_auth_decorator.cc
  google/cloud/iam/v2/internal/policies_auth_decorator.h
  google/cloud/iam/v2/internal/policies_connection_impl.cc
  google/cloud/iam/v2/internal/policies_connection_impl.h
  google/cloud/iam/v2/internal/policies_logging_decorator.cc
  google/cloud/iam/v2/internal/policies_logging_decorator.h
  google/cloud/iam/v2/internal/policies_metadata_decorator.cc
  google/cloud/iam/v2/internal/policies_metadata_decorator.h
  google/cloud/iam/v2/internal/policies_option_defaults.cc
  google/cloud/iam/v2/internal/policies_option_defaults.h
  google/cloud/iam/v2/internal/policies_retry_traits.h
  google/cloud/iam/v2/internal/policies_stub.cc
  google/cloud/iam/v2/internal/policies_stub.h
  google/cloud/iam/v2/internal/policies_stub_factory.cc
  google/cloud/iam/v2/internal/policies_stub_factory.h
  google/cloud/iam/v2/mocks/mock_policies_connection.h
  google/cloud/iam/v2/policies_client.cc
  google/cloud/iam/v2/policies_client.h
  google/cloud/iam/v2/policies_connection.cc
  google/cloud/iam/v2/policies_connection.h
  google/cloud/iam/v2/policies_connection_idempotency_policy.cc
  google/cloud/iam/v2/policies_connection_idempotency_policy.h
  google/cloud/iam/v2/policies_options.h
  google/cloud/iam/v2/samples/policies_client_samples.cc
Labels: api: iam

#10400 feat(bigquery): add BigQuery Data Policy API
  CHANGELOG.md
  ci/etc/expected_install_directories
  external/googleapis/protolists/bigquery.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/data_policy_client.cc
  google/cloud/bigquery/data_policy_client.h
  google/cloud/bigquery/data_policy_connection.cc
  google/cloud/bigquery/data_policy_connection.h
  google/cloud/bigquery/data_policy_connection_idempotency_policy.cc
  google/cloud/bigquery/data_policy_connection_idempotency_policy.h
  google/cloud/bigquery/data_policy_options.h
  google/cloud/bigquery/doc/main.dox
  google/cloud/bigquery/google_cloud_cpp_bigquery.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_mocks.bzl
  google/cloud/bigquery/internal/data_policy_auth_decorator.cc
  google/cloud/bigquery/internal/data_policy_auth_decorator.h
  google/cloud/bigquery/internal/data_policy_connection_impl.cc
  google/cloud/bigquery/internal/data_policy_connection_impl.h
  google/cloud/bigquery/internal/data_policy_logging_decorator.cc
  google/cloud/bigquery/internal/data_policy_logging_decorator.h
  google/cloud/bigquery/internal/data_policy_metadata_decorator.cc
  google/cloud/bigquery/internal/data_policy_metadata_decorator.h
  google/cloud/bigquery/internal/data_policy_option_defaults.cc
  google/cloud/bigquery/internal/data_policy_option_defaults.h
  google/cloud/bigquery/internal/data_policy_retry_traits.h
  google/cloud/bigquery/internal/data_policy_stub.cc
  google/cloud/bigquery/internal/data_policy_stub.h
  google/cloud/bigquery/internal/data_policy_stub_factory.cc
  google/cloud/bigquery/internal/data_policy_stub_factory.h
  google/cloud/bigquery/mocks/mock_data_policy_connection.h
  google/cloud/bigquery/samples/BUILD.bazel
  google/cloud/bigquery/samples/CMakeLists.txt
  google/cloud/bigquery/samples/bigquery_client_mock_samples.bzl
  google/cloud/bigquery/samples/bigquery_client_samples.bzl
  google/cloud/bigquery/samples/data_policy_client_samples.cc
Labels: api: bigquery

#10401 doc(iam): mention IAM v2 in the CHANGELOG
  CHANGELOG.md
  google/cloud/iam/CMakeLists.txt
Labels: api: iam

#10403 doc(pubsub): add region tags for `Pull()` example
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#10405 doc(pubsub): wrong region tag
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#10441 cleanup(pubsub): simplify emulator workarounds
  google/cloud/pubsub/integration_tests/subscription_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/topic_admin_integration_test.cc
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub

#10446 cleanup(spanner): do not track missing emulator features individually
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#10463 refactor(accessapproval): versioned clients
  ci/abi-dumps/google_cloud_cpp_accessapproval.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/accessapproval/BUILD.bazel
  google/cloud/accessapproval/CMakeLists.txt
  google/cloud/accessapproval/access_approval_client.h
  google/cloud/accessapproval/access_approval_connection.h
  google/cloud/accessapproval/access_approval_connection_idempotency_policy.h
  google/cloud/accessapproval/access_approval_options.h
  google/cloud/accessapproval/doc/main.dox
  google/cloud/accessapproval/mocks/mock_access_approval_connection.h
  google/cloud/accessapproval/samples/BUILD.bazel
  google/cloud/accessapproval/samples/CMakeLists.txt
  google/cloud/accessapproval/v1/access_approval_client.cc
  google/cloud/accessapproval/v1/access_approval_client.h
  google/cloud/accessapproval/v1/access_approval_connection.cc
  google/cloud/accessapproval/v1/access_approval_connection.h
  google/cloud/accessapproval/v1/access_approval_connection_idempotency_policy.cc
  google/cloud/accessapproval/v1/access_approval_connection_idempotency_policy.h
  google/cloud/accessapproval/v1/access_approval_options.h
  google/cloud/accessapproval/v1/internal/access_approval_auth_decorator.cc
  google/cloud/accessapproval/v1/internal/access_approval_auth_decorator.h
  google/cloud/accessapproval/v1/internal/access_approval_connection_impl.cc
  google/cloud/accessapproval/v1/internal/access_approval_connection_impl.h
  google/cloud/accessapproval/v1/internal/access_approval_logging_decorator.cc
  google/cloud/accessapproval/v1/internal/access_approval_logging_decorator.h
  google/cloud/accessapproval/v1/internal/access_approval_metadata_decorator.cc
  google/cloud/accessapproval/v1/internal/access_approval_metadata_decorator.h
  google/cloud/accessapproval/v1/internal/access_approval_option_defaults.cc
  google/cloud/accessapproval/v1/internal/access_approval_option_defaults.h
  google/cloud/accessapproval/v1/internal/access_approval_retry_traits.h
  google/cloud/accessapproval/v1/internal/access_approval_stub.cc
  google/cloud/accessapproval/v1/internal/access_approval_stub.h
  google/cloud/accessapproval/v1/internal/access_approval_stub_factory.cc
  google/cloud/accessapproval/v1/internal/access_approval_stub_factory.h
  google/cloud/accessapproval/v1/mocks/mock_access_approval_connection.h
  google/cloud/accessapproval/v1/samples/access_approval_client_samples.cc
Labels: api: accessapproval

#10475 test(spanner): enable testing of PG JSONB[] support
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner
