Repository googleapis/google-cloud-cpp, pull requests merged in 2022-04, with the labels that each got.

#8636 cleanup(iam): add retry loop to reduce integration test flakiness
  google/cloud/iam/integration_tests/iam_integration_test.cc
Labels: api: iam

#8639 ci(spanner): decrease LRO polling-time limit for backup tests
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: api: spanner

#8640 feat(pubsublite): add async version of `GetTopicPartitions()`
  generator/generator_config.textproto
  google/cloud/pubsublite/admin_client.cc
  google/cloud/pubsublite/admin_client.h
  google/cloud/pubsublite/admin_connection.cc
  google/cloud/pubsublite/admin_connection.h
  google/cloud/pubsublite/internal/admin_auth_decorator.cc
  google/cloud/pubsublite/internal/admin_auth_decorator.h
  google/cloud/pubsublite/internal/admin_connection_impl.cc
  google/cloud/pubsublite/internal/admin_connection_impl.h
  google/cloud/pubsublite/internal/admin_logging_decorator.cc
  google/cloud/pubsublite/internal/admin_logging_decorator.h
  google/cloud/pubsublite/internal/admin_metadata_decorator.cc
  google/cloud/pubsublite/internal/admin_metadata_decorator.h
  google/cloud/pubsublite/internal/admin_stub.cc
  google/cloud/pubsublite/internal/admin_stub.h
  google/cloud/pubsublite/mocks/mock_admin_connection.h
Labels: api: pubsublite

#8626 fix(pubsub): increase grpc.max_metadata_size limit
  google/cloud/pubsub/internal/create_channel.cc
Labels: api: pubsub

#8643 cleanup(pubsublite): prevent alarm from executing when Start not called
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#8644 ci(spanner): temporarily tolerate another failure in CreateBackup()
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: api: spanner

#8674 ci(spanner): tweak response to polling timeout in CreateBackup() test
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/internal/async_polling_loop.cc
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: api: spanner

#8595 doc(storage): add custom-dual regions example
  google/cloud/storage/examples/storage_bucket_samples.cc
Labels: api: storage

#8680 fix(pubsublite): internal namespaces
  google/cloud/pubsublite/internal/alarm_registry.h
  google/cloud/pubsublite/internal/alarm_registry_impl.cc
  google/cloud/pubsublite/internal/alarm_registry_impl.h
  google/cloud/pubsublite/internal/alarm_registry_impl_test.cc
  google/cloud/pubsublite/internal/batching_options.h
  google/cloud/pubsublite/internal/cloud_region.cc
  google/cloud/pubsublite/internal/cloud_region.h
  google/cloud/pubsublite/internal/cloud_zone.cc
  google/cloud/pubsublite/internal/cloud_zone.h
  google/cloud/pubsublite/internal/default_routing_policy.cc
  google/cloud/pubsublite/internal/default_routing_policy.h
  google/cloud/pubsublite/internal/default_routing_policy_test.cc
  google/cloud/pubsublite/internal/futures.h
  google/cloud/pubsublite/internal/location.cc
  google/cloud/pubsublite/internal/location.h
  google/cloud/pubsublite/internal/location_test.cc
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher.h
  google/cloud/pubsublite/internal/partition_publisher_test.cc
  google/cloud/pubsublite/internal/publisher.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc_test.cc
  google/cloud/pubsublite/internal/routing_policy.h
  google/cloud/pubsublite/internal/service.h
  google/cloud/pubsublite/internal/service_composite.h
  google/cloud/pubsublite/internal/service_composite_test.cc
  google/cloud/pubsublite/message_metadata_test.cc
  google/cloud/pubsublite/testing/mock_alarm_registry.h
  google/cloud/pubsublite/testing/mock_async_reader_writer.h
  google/cloud/pubsublite/testing/mock_backoff_policy.h
  google/cloud/pubsublite/testing/mock_resumable_async_reader_writer_stream.h
  google/cloud/pubsublite/testing/mock_retry_policy.h
  google/cloud/pubsublite/testing/mock_service.h
  google/cloud/pubsublite/topic_test.cc
Labels: api: pubsublite

#8675 cleanup(pubsublite): have routing policy return std::uint32_t
  google/cloud/pubsublite/internal/default_routing_policy.cc
  google/cloud/pubsublite/internal/default_routing_policy.h
  google/cloud/pubsublite/internal/default_routing_policy_test.cc
  google/cloud/pubsublite/internal/routing_policy.h
Labels: api: pubsublite

#8685 test(spanner): revert to using hyphen separators in database names
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/testing/cleanup_stale_databases.cc
  google/cloud/spanner/testing/random_database_name.cc
  google/cloud/spanner/testing/random_database_name.h
  google/cloud/spanner/testing/random_database_name_test.cc
Labels: api: spanner

#8689 test(spanner): re-enable DataTypeIntegrationTest.JsonMaxNesting
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#8699 test(spanner): add an explanation about exact staleness
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#8703 doc(pubsub): document publish return value
  google/cloud/pubsub/publisher.h
Labels: api: pubsub

#8528 feat(pubsublite): multipartition publisher
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/multipartition_publisher.cc
  google/cloud/pubsublite/internal/multipartition_publisher.h
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
  google/cloud/pubsublite/pubsublite_testing.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/testing/mock_partition_publisher.h
  google/cloud/pubsublite/testing/mock_routing_policy.h
Labels: api: pubsublite

#8709 impl(storage): new resumable upload types
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/resumable_upload_session.cc
Labels: api: storage

#8716 cleanup(bigtable): fix clang-tidy 14 warnings
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/async_row_reader.h
  google/cloud/bigtable/async_row_reader_test.cc
  google/cloud/bigtable/benchmarks/endurance_benchmark.cc
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/column_family_test.cc
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_world.cc
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/filters_test.cc
  google/cloud/bigtable/idempotent_mutation_policy_test.cc
  google/cloud/bigtable/instance_admin_test.cc
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/mutation_batcher.h
  google/cloud/bigtable/mutation_batcher_test.cc
  google/cloud/bigtable/mutations_test.cc
  google/cloud/bigtable/polling_policy_test.cc
  google/cloud/bigtable/rpc_backoff_policy_test.cc
  google/cloud/bigtable/rpc_retry_policy_test.cc
  google/cloud/bigtable/table_apply_test.cc
  google/cloud/bigtable/table_bulk_apply_test.cc
  google/cloud/bigtable/table_check_and_mutate_row_test.cc
  google/cloud/bigtable/table_sample_row_keys_test.cc
  google/cloud/bigtable/testing/cleanup_stale_resources.cc
  google/cloud/bigtable/tests/data_async_future_integration_test.cc
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/tests/filters_integration_test.cc
  google/cloud/bigtable/tests/mutations_integration_test.cc
Labels: api: bigtable

#8719 cleanup(pubsub): fix clang-tidy 14 warnings
  google/cloud/pubsub/internal/subscription_session_test.cc
Labels: api: pubsub

#8720 cleanup(pubsublite): fix clang-tidy 14 warnings
  google/cloud/pubsublite/message_metadata_test.cc
  google/cloud/pubsublite/topic_test.cc
Labels: api: pubsublite

#8721 cleanup(spanner): fix clang-tidy 14 warnings
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/internal/merge_chunk_test.cc
Labels: api: spanner

#8722 cleanup(storage): fix clang-tidy 14 warnings
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/curl_request_builder.cc
  google/cloud/storage/internal/curl_request_builder.h
  google/cloud/storage/internal/grpc_bucket_request_parser_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/internal/patch_builder.cc
  google/cloud/storage/internal/patch_builder_test.cc
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
  google/cloud/storage/internal/retry_resumable_upload_session_test.cc
  google/cloud/storage/internal/storage_stub_factory_test.cc
  google/cloud/storage/oauth2/authorized_user_credentials.cc
  google/cloud/storage/oauth2/compute_engine_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/tests/error_injection_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage

#8710 cleanup(pubsublite): wrap partition publisher test mocks with `StrictMock`
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#8737 ci(spanner): revert the toleration of a CreateBackup() error
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_integration_test.cc
Labels: api: spanner

#8741 impl(storage): logging for resumable uploads
  google/cloud/storage/internal/logging_client.cc
Labels: api: storage

#8743 impl(storage): start on retry for resumable uploads
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#8739 refactor(storage): move `UploadChunk()` implementation
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_object_request_parser.cc
  google/cloud/storage/internal/grpc_object_request_parser.h
  google/cloud/storage/internal/grpc_object_request_parser_test.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.h
  google/cloud/storage/internal/object_requests.h
Labels: api: storage

#8748 test(spanner): a more flexible PickInstanceConfig()
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/testing/pick_instance_config.cc
  google/cloud/spanner/testing/pick_instance_config.h
Labels: api: spanner

#8751 test(spanner): add a MutationsTest for the Spanner types
  google/cloud/spanner/mutations_test.cc
Labels: api: spanner

#8747 impl(storage): support for partial writes in `UploadChunkRequest`
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/curl_resumable_upload_session_test.cc
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
Labels: api: storage

#8763 cleanup(dialogflow): endpoint env vars
  generator/generator_config.textproto
  google/cloud/dialogflow_cx/doc/main.dox
  google/cloud/dialogflow_cx/internal/environments_option_defaults.cc
  google/cloud/dialogflow_cx/internal/versions_option_defaults.cc
  google/cloud/dialogflow_es/CMakeLists.txt
  google/cloud/dialogflow_es/doc/main.dox
  google/cloud/dialogflow_es/internal/environments_option_defaults.cc
  google/cloud/dialogflow_es/internal/versions_option_defaults.cc
Labels: api: dialogflow

#8760 fix(pubsublite): async ordering fixes on resumable stream and lifetime of underlying stream
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc.h
  google/cloud/pubsublite/internal/resumable_async_streaming_read_write_rpc_test.cc
Labels: api: pubsublite

#8758 cleanup(spanner): use the new PickInstanceConfig() API in samples
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/pick_instance_config.cc
  google/cloud/spanner/testing/pick_instance_config.h
Labels: api: spanner, samples

#8756 impl(spanner): carry over some updates to AsyncPollingLoopImpl::OnPoll()
  google/cloud/internal/async_polling_loop.cc
Labels: api: spanner

#8765 fix(storage): build on MSVC+x86
  google/cloud/storage/internal/object_requests.cc
Labels: api: storage

#8753 impl(pubsub): Bypass SequentialBatchSink for empty ordering keys
  google/cloud/pubsub/publisher_connection.cc
Labels: api: pubsub

#8769 cleanup(storage): post merge comments
  google/cloud/storage/internal/object_requests.cc
Labels: api: storage

#8771 refactor(spanner): extract instance ID generation into helper func
  google/cloud/spanner/testing/random_instance_name.cc
  google/cloud/spanner/testing/random_instance_name.h
Labels: api: spanner

#8762 impl(storage): implement `RetryClient::UploadChunk()`
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#8772 refactor(spanner): move random-instance regex into CleanupStaleInstances
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/testing/cleanup_stale_instances.cc
  google/cloud/spanner/testing/cleanup_stale_instances.h
Labels: api: spanner

#8774 cleanup(spanner): re-order some samples for clarity
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#8773 fix(pubsublite): multipartition publisher ordering
  google/cloud/pubsublite/internal/multipartition_publisher.cc
  google/cloud/pubsublite/internal/multipartition_publisher.h
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
Labels: api: pubsublite

#8775 cleanup(spanner): cleanup instance-admin integration tests
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
Labels: api: spanner

#8791 cleanup(pubsublite): explicitly use std
  google/cloud/pubsublite/internal/multipartition_publisher.cc
Labels: api: pubsublite

#8790 cleanup(pubsublite): change `Topic` var names
  google/cloud/pubsublite/topic.h
  google/cloud/pubsublite/topic_test.cc
Labels: api: pubsublite

#8707 feat(pubsublite): publisher connection impl
  google/cloud/pubsublite/BUILD.bazel
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/config.cmake.in
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
  google/cloud/pubsublite/internal/publisher_connection_impl.cc
  google/cloud/pubsublite/internal/publisher_connection_impl.h
  google/cloud/pubsublite/internal/publisher_connection_impl_test.cc
  google/cloud/pubsublite/options.h
  google/cloud/pubsublite/pubsublite_testing.bzl
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
  google/cloud/pubsublite/testing/mock_publisher.h
Labels: api: pubsublite

#8811 test(storage): prepare for session-less uploads
  google/cloud/storage/parallel_uploads_test.cc
Labels: api: storage

#8812 refactor(storage): helper function to copy request options
  google/cloud/storage/internal/curl_resumable_upload_session.cc
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/grpc_resumable_upload_session.cc
Labels: api: storage

#8814 test(storage): verify defaults for customTime attribute
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
Labels: api: storage

#8818 refactor(pubsub): containing publisher conn
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/containing_publisher_connection.h
  google/cloud/pubsub/publisher_connection.cc
Labels: api: pubsub

#8736 feat(pubsublite): publisher connection factory
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/google_cloud_cpp_pubsublite.bzl
  google/cloud/pubsublite/internal/default_publish_message_transformer.cc
  google/cloud/pubsublite/internal/default_publish_message_transformer.h
  google/cloud/pubsublite/internal/default_publish_message_transformer_test.cc
  google/cloud/pubsublite/internal/stream_retry_policy.h
  google/cloud/pubsublite/internal/stream_retry_policy_test.cc
  google/cloud/pubsublite/options.h
  google/cloud/pubsublite/publisher_connection.cc
  google/cloud/pubsublite/publisher_connection.h
  google/cloud/pubsublite/pubsublite_unit_tests.bzl
Labels: api: pubsublite

#8824 doc(bigtable): deprecate ClientOptions
  google/cloud/bigtable/client_options.h
Labels: api: bigtable

#8813 doc(bigtable): deprecate DataClient member fns
  CHANGELOG.md
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/data_client_test.cc
  google/cloud/bigtable/internal/logging_data_client.h
  google/cloud/bigtable/tests/data_integration_test.cc
  google/cloud/bigtable/version.h
Labels: api: bigtable

#8778 refactor(storage): add RestClient runtime injection and testing
  CMakeLists.txt
  ci/cloudbuild/builds/bazel-gcs-rest.sh
  ci/cloudbuild/builds/cmake-gcs-rest.sh
  ci/cloudbuild/triggers/bazel-gcs-rest-ci.yaml
  ci/cloudbuild/triggers/bazel-gcs-rest-pr.yaml
  ci/cloudbuild/triggers/cmake-gcs-rest-ci.yaml
  ci/cloudbuild/triggers/cmake-gcs-rest-pr.yaml
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/config-grpc.cmake.in
  google/cloud/storage/config.cmake.in
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#8750 tests(pubsublite): integration tests
  google/cloud/pubsublite/BUILD.bazel
  google/cloud/pubsublite/integration_tests/BUILD.bazel
  google/cloud/pubsublite/integration_tests/CMakeLists.txt
  google/cloud/pubsublite/integration_tests/publisher_integration_test.cc
  google/cloud/pubsublite/integration_tests/pubsublite_client_integration_tests.bzl
Labels: api: pubsublite

#8826 cleanup(storage): fix sample name
  google/cloud/storage/examples/storage_client_initialization_samples.cc
Labels: api: storage, samples

#8827 cleanup(bigtable): disable deprecation warnings properly (maybe)
  google/cloud/bigtable/data_client.cc
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/data_client_test.cc
  google/cloud/bigtable/internal/logging_data_client.h
  google/cloud/bigtable/testing/inprocess_data_client.h
  google/cloud/bigtable/testing/mock_data_client.h
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#8828 cleanup(bigtable): disable deprecation warnings for DefaultDataClient
  google/cloud/bigtable/data_client.cc
Labels: api: bigtable

#8821 fix(pubsublite): service error on publish
  google/cloud/pubsublite/internal/multipartition_publisher.cc
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#8831 refactor(bigtable): connection refresh into own file
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/connection_refresh_state.cc
  google/cloud/bigtable/internal/connection_refresh_state.h
  google/cloud/bigtable/internal/connection_refresh_state_test.cc
Labels: api: bigtable

#8832 cleanup(storage): fix clang-tidy warnings
  google/cloud/storage/benchmarks/storage_parallel_uploads_benchmark.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/iam_policy.cc
  google/cloud/storage/internal/tuple_filter_test.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/well_known_headers.h
Labels: api: storage

#8830 fix(storage): disable checksums for transcoded objects
  ci/cloudbuild/builds/lib/integration.sh
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/storage/internal/curl_download_request.cc
  google/cloud/storage/internal/curl_download_request_test.cc
  google/cloud/storage/internal/object_read_source.h
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#8833 impl(bigtable): add round robin stub
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/bigtable_round_robin.cc
  google/cloud/bigtable/internal/bigtable_round_robin.h
  google/cloud/bigtable/internal/bigtable_round_robin_test.cc
  google/cloud/bigtable/testing/mock_bigtable_stub.h
Labels: api: bigtable

#8835 feat(storage): configure gRPC channel w Options
  google/cloud/storage/internal/storage_stub_factory.cc
Labels: api: storage
