Repository googleapis/google-cloud-cpp, pull requests merged in 2022-08, with the labels that each got.

#9605 cleanup(storage): add newline at end of file
  google/cloud/storage/internal/group_options_test.cc
Labels: api: storage

#9614 cleanup(storage): remove unused (and buggy) credentials type
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/self_signing_service_account_credentials.cc
  google/cloud/storage/internal/self_signing_service_account_credentials.h
  google/cloud/storage/internal/self_signing_service_account_credentials_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#9615 impl(storage): make complex options `value_or()` const
  google/cloud/storage/internal/complex_option.h
Labels: api: storage

#9622 test(storage): improvements in upload benchmark
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options_test.cc
Labels: api: storage

#9623 feat(bigtable): per-operation Options (pt. 1)
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/data_connection.h
  google/cloud/bigtable/legacy_table_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9627 feat(bigtable): per-operation Options (pt. 2)
  google/cloud/bigtable/legacy_table_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#9629 feat(storage): SA credentials default to self-signed JWTs
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
Labels: api: storage

#9634 cleanup(iam): add retry loops to mitigate integration test flakes
  google/cloud/iam/integration_tests/iam_integration_test.cc
Labels: api: iam

#9645 test(storage): fix gRPC support in upload benchmark
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
Labels: api: storage

#9642 doc(storage): fix comments for Notification requests
  google/cloud/storage/internal/notification_requests.h
Labels: api: storage

#9647 feat(bigtable): define equality operator for some classes
  google/cloud/bigtable/column_family.h
  google/cloud/bigtable/column_family_test.cc
  google/cloud/bigtable/filters.h
  google/cloud/bigtable/filters_test.cc
  google/cloud/bigtable/mutations.h
  google/cloud/bigtable/mutations_test.cc
  google/cloud/bigtable/read_modify_write_rule.h
  google/cloud/bigtable/read_modify_write_rule_test.cc
  google/cloud/bigtable/row_set.h
  google/cloud/bigtable/row_set_test.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#9636 cleanup(bigtable): default options like the generator does
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/data_connection.h
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/table.h
Labels: api: bigtable

#9648 feat(spanner): equality for copyable classes
  google/cloud/spanner/create_instance_request_builder.h
  google/cloud/spanner/create_instance_request_builder_test.cc
  google/cloud/spanner/update_instance_request_builder.h
  google/cloud/spanner/update_instance_request_builder_test.cc
Labels: api: spanner

#9649 feat(storage): equality for Native IAM types
  google/cloud/storage/iam_policy.cc
  google/cloud/storage/iam_policy.h
  google/cloud/storage/internal/patch_builder.cc
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/patch_builder_test.cc
  google/cloud/storage/storage_iam_policy_test.cc
Labels: api: storage

#9653 refactor(bigtable): `InstanceAdmin` receives Connection `Options`
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#9651 test(storage): cleanup options for aggregate download benchmark
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.h
  google/cloud/storage/benchmarks/aggregate_download_throughput_options_test.cc
Labels: api: storage

#9655 refactor(spanner): assume call options
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/internal/connection_impl_test.cc
Labels: api: spanner

#9658 test(storage): use Options to store client configuration
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9660 cleanup(bigtable): call things options instead of policies
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#9661 ci(bigtable): ensure stale instances are cleaned up
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: api: bigtable

#9663 cleanup(bigtable): assume call options
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#9656 refactor(bigtable): `TableAdmin` receives Connection `Options`
  google/cloud/bigtable/table_admin.cc
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_admin_test.cc
Labels: api: bigtable

#9670 test(spanner): revert matching of interim database prefixes
  google/cloud/spanner/testing/random_database_name.cc
Labels: api: spanner

#9674 refactor(storage): async connection assumes call options
  google/cloud/storage/internal/async_connection_impl.cc
  google/cloud/storage/internal/async_connection_impl.h
Labels: api: storage

#9677 impl(storage): make both Xml and XmlV2 set Fields option in benchmarks
  google/cloud/storage/benchmarks/throughput_experiment.cc
Labels: api: storage

#9669 feat(spanner): fine-grained access control
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/session_pool_integration_test.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#9679 test(storage): connection pool size option for benchmarks
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options_test.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options_test.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#9681 impl(storage): always set content-length and fix LockRetentionPolicy parameters
  google/cloud/internal/curl_rest_client.cc
  google/cloud/storage/internal/rest_client.cc
Labels: api: storage

#9684 test(storage): add details to aggregate benchmarks
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/throughput_result.cc
Labels: api: storage

#9678 cleanup(pubsublite): nicer integration test
  google/cloud/pubsublite/integration_tests/publisher_integration_test.cc
Labels: api: pubsublite

#9685 cleanup(pubsublite): fix integration test resource cleanup
  google/cloud/pubsublite/integration_tests/publisher_integration_test.cc
Labels: api: pubsublite

#9686 ci(pubsublite): run integration test in more builds
  ci/cloudbuild/builds/lib/integration.sh
Labels: api: pubsublite

#9680 impl(storage): make RestClient http transport the default
  CHANGELOG.md
  ci/cloudbuild/builds/coverage.sh
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/grpc_plugin_test.cc
Labels: api: storage

#9687 cleanup(bigtable): reclaim vertical space
  google/cloud/bigtable/internal/readrowsparser.cc
Labels: api: bigtable

#9693 impl(bigtable): AsyncRowSampler continues CurrentOptions
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#9700 impl(bigtable): `AsyncBulkApplier`, `AsyncRowReader` continue `CurrentOptions()`
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#9688 impl(bigtable): `BulkMutator` keeps pending mutations' last status
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
Labels: api: bigtable

#9706 fix(bigtable): Use retry policy on streams with failing mutations
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/legacy_async_bulk_apply.cc
  google/cloud/bigtable/internal/legacy_async_bulk_apply_test.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_bulk_apply_test.cc
Labels: api: bigtable

#9722 feat(dataproc): mark the dataproc services as location dependent
  generator/generator_config.textproto
  google/cloud/dataproc/README.md
  google/cloud/dataproc/autoscaling_policy_connection.cc
  google/cloud/dataproc/autoscaling_policy_connection.h
  google/cloud/dataproc/batch_controller_connection.cc
  google/cloud/dataproc/batch_controller_connection.h
  google/cloud/dataproc/cluster_controller_connection.cc
  google/cloud/dataproc/cluster_controller_connection.h
  google/cloud/dataproc/doc/main.dox
  google/cloud/dataproc/internal/autoscaling_policy_option_defaults.cc
  google/cloud/dataproc/internal/autoscaling_policy_option_defaults.h
  google/cloud/dataproc/internal/batch_controller_option_defaults.cc
  google/cloud/dataproc/internal/batch_controller_option_defaults.h
  google/cloud/dataproc/internal/cluster_controller_option_defaults.cc
  google/cloud/dataproc/internal/cluster_controller_option_defaults.h
  google/cloud/dataproc/internal/job_controller_option_defaults.cc
  google/cloud/dataproc/internal/job_controller_option_defaults.h
  google/cloud/dataproc/internal/workflow_template_option_defaults.cc
  google/cloud/dataproc/internal/workflow_template_option_defaults.h
  google/cloud/dataproc/job_controller_connection.cc
  google/cloud/dataproc/job_controller_connection.h
  google/cloud/dataproc/quickstart/quickstart.cc
  google/cloud/dataproc/workflow_template_connection.cc
  google/cloud/dataproc/workflow_template_connection.h
Labels: api: dataproc

#9727 test(spanner): cater to the service vagaries on nested JSON
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#9730 test(storage): disable StreamingWriteFailure test with noex
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage

#9718 fix(bigtable): `DataConnection` refreshes channels
  google/cloud/bigtable/internal/bigtable_channel_refresh_test.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/connection_refresh_state.cc
  google/cloud/bigtable/internal/connection_refresh_state.h
  google/cloud/bigtable/internal/connection_refresh_state_test.cc
Labels: api: bigtable

#9741 cleanup(storage): unnest benchmark CMake file
  google/cloud/storage/benchmarks/CMakeLists.txt
Labels: api: storage

#9744 feat(storage): improve error messages on stalled uploads
  google/cloud/storage/internal/retry_client.cc
Labels: api: storage

#9748 test(storage): more consistent benchmark output and options
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
  google/cloud/storage/benchmarks/throughput_result.cc
  google/cloud/storage/benchmarks/throughput_result.h
  google/cloud/storage/benchmarks/throughput_result_test.cc
Labels: api: storage
