Repository googleapis/google-cloud-cpp, pull requests merged in 2023-08, with the labels that each got.

#12262 impl(bigquery): Rename QueryResults to PostQueryResults for Query api
  google/cloud/bigquery/v2/minimal/internal/job_client.cc
  google/cloud/bigquery/v2/minimal/internal/job_client.h
  google/cloud/bigquery/v2/minimal/internal/job_client_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.h
Labels: api: bigquery

#12280 feat(spanner): samples for bit-reversed sequence
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#12276 impl(bigquery): Makes pageToken optional in the List response
  google/cloud/bigquery/v2/minimal/internal/dataset_response.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_response.cc
  google/cloud/bigquery/v2/minimal/internal/project_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.h
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.h
Labels: api: bigquery

#12278 impl(bigquery): Update json parsing for time fields
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#12279 impl(bigquery): GetQueryResults Connection classes
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
Labels: api: bigquery

#12287 cleanup(storage): remove unused function
  google/cloud/storage/client.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/parameter_pack_validation.h
  google/cloud/storage/internal/parameter_pack_validation_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12289 cleanup(storage): consistent error-handling in samples
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/client.cc
  google/cloud/storage/examples/storage_bucket_requester_pays_samples.cc
  google/cloud/storage/examples/storage_grpc_samples.cc
  google/cloud/storage/examples/storage_object_csek_samples.cc
  google/cloud/storage/examples/storage_object_preconditions_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/examples/storage_public_object_samples.cc
  google/cloud/storage/tests/slow_reader_chunk_integration_test.cc
Labels: api: storage, samples

#12290 cleanup(storage): unused `enable_shared_from_this`
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/grpc/client.h
  google/cloud/storage/internal/rest_client.h
Labels: api: storage

#12291 refactor(storage): move `Curl*` to a subdirectory
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl/client.cc
  google/cloud/storage/internal/curl/client.h
  google/cloud/storage/internal/curl/client_test.cc
  google/cloud/storage/internal/curl/download_request.cc
  google/cloud/storage/internal/curl/download_request.h
  google/cloud/storage/internal/curl/download_request_test.cc
  google/cloud/storage/internal/curl/handle.cc
  google/cloud/storage/internal/curl/handle.h
  google/cloud/storage/internal/curl/handle_factory.cc
  google/cloud/storage/internal/curl/handle_factory.h
  google/cloud/storage/internal/curl/handle_test.cc
  google/cloud/storage/internal/curl/request.cc
  google/cloud/storage/internal/curl/request.h
  google/cloud/storage/internal/curl/request_builder.cc
  google/cloud/storage/internal/curl/request_builder.h
  google/cloud/storage/internal/curl/wrappers.cc
  google/cloud/storage/internal/curl/wrappers.h
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/minimal_iam_credentials_rest.cc
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/testing/retry_http_request.h
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/service_account_credentials_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
Labels: api: storage

#12292 impl(bigquery): Addressed code review feedback regarding json parsing of chrono fields
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#12295 refactor(storage): move `Rest*` to a subdirectory
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/rest/client.cc
  google/cloud/storage/internal/rest/client.h
  google/cloud/storage/internal/rest/client_test.cc
  google/cloud/storage/internal/rest/object_read_source.cc
  google/cloud/storage/internal/rest/object_read_source.h
  google/cloud/storage/internal/rest/object_read_source_test.cc
  google/cloud/storage/internal/rest/request_builder.cc
  google/cloud/storage/internal/rest/request_builder.h
  google/cloud/storage/internal/rest/request_builder_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12302 impl(bigquery): Updated statement_timeout_ms and job_timeout_ms field names
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
Labels: api: bigquery

#12297 impl(storage): new `storage_internal::GenericStub`
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_adapter.cc
  google/cloud/storage/internal/generic_stub_adapter.h
Labels: api: storage

#12305 impl(storage): `storage_internal::GenericStub` mock
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/mock_generic_stub.h
Labels: api: storage

#12307 impl(storage): testable decorator stack
  google/cloud/storage/client_test.cc
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/curl/client.cc
  google/cloud/storage/internal/curl/client.h
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_adapter.cc
  google/cloud/storage/internal/grpc/client.cc
  google/cloud/storage/internal/grpc/client.h
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/raw_client.cc
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/internal/rest/client.cc
  google/cloud/storage/internal/rest/client.h
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/tracing_client.cc
  google/cloud/storage/internal/tracing_client.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/testing/mock_generic_stub.h
Labels: api: storage

#12311 impl(compute): build protos using globs
  external/googleapis/protolists/compute.list
  external/googleapis/update_libraries.sh
  google/cloud/compute/BUILD.bazel
  google/cloud/compute/CMakeLists.txt
Labels: api: compute

#12308 impl(storage): use `GenericStub` in `RetryClient`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
Labels: api: storage

#12312 feat(compute): generate interconnect_remote_locations code
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_client.cc
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_client.h
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_connection.cc
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_connection.h
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_connection_idempotency_policy.cc
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_connection_idempotency_policy.h
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_options.h
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_rest_connection.cc
  google/cloud/compute/interconnect_remote_locations/v1/interconnect_remote_locations_rest_connection.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_option_defaults.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_option_defaults.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_connection_impl.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_connection_impl.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_logging_decorator.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_logging_decorator.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_metadata_decorator.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_metadata_decorator.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_stub.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_stub.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_stub_factory.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_rest_stub_factory.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_retry_traits.h
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_tracing_connection.cc
  google/cloud/compute/interconnect_remote_locations/v1/internal/interconnect_remote_locations_tracing_connection.h
  google/cloud/compute/interconnect_remote_locations/v1/mocks/mock_interconnect_remote_locations_connection.h
  google/cloud/compute/interconnect_remote_locations/v1/samples/interconnect_remote_locations_client_samples.cc
Labels: api: compute

#12314 fix(storage): tracing should decorate retries
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
Labels: api: storage

#12318 impl(storage): `LoggingClient` is a `GenericStub`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/internal/logging_client.cc
  google/cloud/storage/internal/logging_client.h
  google/cloud/storage/internal/logging_client_test.cc
Labels: api: storage

#12319 feat(spanner): enable leader aware routing by default
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
Labels: api: spanner

#12321 refactor(storage): split `RetryClient` tests
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_bucket_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/retry_client_bucket_acl_test.cc
  google/cloud/storage/internal/retry_client_bucket_test.cc
  google/cloud/storage/internal/retry_client_default_object_acl_test.cc
  google/cloud/storage/internal/retry_client_notifications_test.cc
  google/cloud/storage/internal/retry_client_object_acl_test.cc
  google/cloud/storage/internal/retry_client_object_copy_test.cc
  google/cloud/storage/internal/retry_client_object_test.cc
  google/cloud/storage/internal/retry_client_service_account_test.cc
  google/cloud/storage/internal/retry_client_sign_blob_test.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/retry_tests.cc
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage

#12327 impl(storage): populate idempotency token header
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client.h
  google/cloud/storage/internal/retry_client_bucket_acl_test.cc
  google/cloud/storage/internal/retry_client_bucket_test.cc
  google/cloud/storage/internal/retry_client_default_object_acl_test.cc
  google/cloud/storage/internal/retry_client_notifications_test.cc
  google/cloud/storage/internal/retry_client_object_acl_test.cc
  google/cloud/storage/internal/retry_client_object_copy_test.cc
  google/cloud/storage/internal/retry_client_object_test.cc
  google/cloud/storage/internal/retry_client_service_account_test.cc
  google/cloud/storage/internal/retry_client_sign_blob_test.cc
  google/cloud/storage/testing/retry_tests.cc
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage

#12331 impl(storage): `RestContext` needs current options
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_bucket_acl_test.cc
  google/cloud/storage/internal/retry_client_bucket_test.cc
  google/cloud/storage/internal/retry_client_default_object_acl_test.cc
  google/cloud/storage/internal/retry_client_notifications_test.cc
  google/cloud/storage/internal/retry_client_object_acl_test.cc
  google/cloud/storage/internal/retry_client_object_copy_test.cc
  google/cloud/storage/internal/retry_client_object_test.cc
  google/cloud/storage/internal/retry_client_service_account_test.cc
  google/cloud/storage/internal/retry_client_sign_blob_test.cc
  google/cloud/storage/testing/retry_tests.cc
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage

#12333 impl(compute): remove obsolete internal compute protos
  ci/cloudbuild/builds/generate-libraries.sh
Labels: api: compute

#12335 test(storage): simplify gRPC client failures test
  google/cloud/storage/internal/grpc/client_failures_test.cc
Labels: api: storage

#12336 impl(storage): initialize from `GenericStub`
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
Labels: api: storage

#12337 impl(storage): `HybridClient` is a `GenericStub`
  google/cloud/storage/grpc_plugin.cc
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
Labels: api: storage

#12339 impl(storage): `RestClient` is a `GenericStub`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/hybrid_client.h
  google/cloud/storage/internal/rest/client.cc
  google/cloud/storage/internal/rest/client.h
  google/cloud/storage/internal/rest/client_test.cc
Labels: api: storage

#12347 feat(storage): all operations are idempotent
  google/cloud/storage/client.h
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#12349 cleanup(storage): rename `RestClient` to `RestStub`
  google/cloud/storage/client.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/hybrid_client.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/rest/stub.h
  google/cloud/storage/internal/rest/stub_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12350 ci(spanner): stop using ephemeral ports for emulator with cmake
  google/cloud/spanner/ci/lib/spanner_emulator.sh
  google/cloud/spanner/ci/run_integration_tests_emulator_cmake.sh
Labels: api: spanner

#12351 cleanup(storage): rename `HybridClient`
  google/cloud/storage/google_cloud_cpp_storage_grpc.bzl
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/storage/grpc_plugin.cc
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/hybrid_stub.cc
  google/cloud/storage/internal/hybrid_stub.h
Labels: api: storage

#12357 cleanup(storage): remove unused 'utils' file
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/raw_client_wrapper_utils.h
Labels: api: storage

#12356 cleanup(storage): rename `CurlClient` to `CurlStub`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl/stub.cc
  google/cloud/storage/internal/curl/stub.h
  google/cloud/storage/internal/curl/stub_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12358 cleanup(storage): rename `internal::LoggingClient`
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/logging_stub.cc
  google/cloud/storage/internal/logging_stub.h
  google/cloud/storage/internal/logging_stub_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12365 Revert "feat(storage): all operations are idempotent"
  google/cloud/storage/client.h
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#12367 docs(GCS+gRPC): sample showing transport detection
  google/cloud/storage/examples/storage_grpc_samples.cc
Labels: samples

#12306 fix(pubsub): increase backoff from 1.3 to 4.0
  google/cloud/pubsub/internal/defaults.cc
Labels: api: pubsub

#12370 cleanup(storage): split factory functions
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/grpc_plugin.cc
  google/cloud/storage/internal/connection_factory.cc
  google/cloud/storage/internal/connection_factory.h
  google/cloud/storage/internal/generic_stub_factory.cc
  google/cloud/storage/internal/generic_stub_factory.h
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#12377 cleanup(storage): rename `internal::RetryClient`
  google/cloud/storage/client.h
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/connection_factory.cc
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/connection_impl_bucket_acl_test.cc
  google/cloud/storage/internal/connection_impl_bucket_test.cc
  google/cloud/storage/internal/connection_impl_default_object_acl_test.cc
  google/cloud/storage/internal/connection_impl_notifications_test.cc
  google/cloud/storage/internal/connection_impl_object_acl_test.cc
  google/cloud/storage/internal/connection_impl_object_copy_test.cc
  google/cloud/storage/internal/connection_impl_object_test.cc
  google/cloud/storage/internal/connection_impl_service_account_test.cc
  google/cloud/storage/internal/connection_impl_sign_blob_test.cc
  google/cloud/storage/internal/connection_impl_test.cc
  google/cloud/storage/internal/generic_stub_adapter.h
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/hybrid_stub.cc
  google/cloud/storage/internal/object_write_streambuf_test.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source.h
  google/cloud/storage/internal/retry_object_read_source_test.cc
  google/cloud/storage/retry_policy_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage

#12379 cleanup(storage): rename `TracingClient`
  google/cloud/storage/client.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/connection_factory.cc
  google/cloud/storage/internal/connection_impl_test.cc
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12383 cleanup(storage): rename `internal::RawClient`
  ARCHITECTURE.md
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/connection_factory.cc
  google/cloud/storage/internal/connection_factory.h
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_adapter.cc
  google/cloud/storage/internal/generic_stub_adapter.h
  google/cloud/storage/internal/grpc/bucket_access_control_parser.h
  google/cloud/storage/internal/grpc/bucket_metadata_parser.h
  google/cloud/storage/internal/grpc/object_access_control_parser.h
  google/cloud/storage/internal/grpc/object_request_parser.h
  google/cloud/storage/internal/logging_stub.h
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source.h
  google/cloud/storage/internal/storage_connection.cc
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/list_buckets_reader.h
  google/cloud/storage/list_hmac_keys_reader.h
  google/cloud/storage/list_objects_reader.h
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_rewriter.h
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
  google/cloud/storage/tests/tracing_integration_test.cc
Labels: api: storage

#12387 cleanup(storage): rename `RetryClientTestOptions()`
  google/cloud/storage/internal/connection_impl_bucket_acl_test.cc
  google/cloud/storage/internal/connection_impl_bucket_test.cc
  google/cloud/storage/internal/connection_impl_default_object_acl_test.cc
  google/cloud/storage/internal/connection_impl_notifications_test.cc
  google/cloud/storage/internal/connection_impl_object_acl_test.cc
  google/cloud/storage/internal/connection_impl_object_copy_test.cc
  google/cloud/storage/internal/connection_impl_object_test.cc
  google/cloud/storage/internal/connection_impl_service_account_test.cc
  google/cloud/storage/internal/connection_impl_sign_blob_test.cc
  google/cloud/storage/testing/retry_tests.cc
  google/cloud/storage/testing/retry_tests.h
Labels: api: storage

#12376 feat(language): add v2 service
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_language.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protolists/language.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/language/BUILD.bazel
  google/cloud/language/CMakeLists.txt
  google/cloud/language/README.md
  google/cloud/language/doc/main.dox
  google/cloud/language/doc/override-authentication.dox
  google/cloud/language/doc/override-endpoint.dox
  google/cloud/language/doc/override-retry-policies.dox
  google/cloud/language/quickstart/quickstart.cc
  google/cloud/language/v2/.repo-metadata.json
  google/cloud/language/v2/internal/language_auth_decorator.cc
  google/cloud/language/v2/internal/language_auth_decorator.h
  google/cloud/language/v2/internal/language_connection_impl.cc
  google/cloud/language/v2/internal/language_connection_impl.h
  google/cloud/language/v2/internal/language_logging_decorator.cc
  google/cloud/language/v2/internal/language_logging_decorator.h
  google/cloud/language/v2/internal/language_metadata_decorator.cc
  google/cloud/language/v2/internal/language_metadata_decorator.h
  google/cloud/language/v2/internal/language_option_defaults.cc
  google/cloud/language/v2/internal/language_option_defaults.h
  google/cloud/language/v2/internal/language_retry_traits.h
  google/cloud/language/v2/internal/language_stub.cc
  google/cloud/language/v2/internal/language_stub.h
  google/cloud/language/v2/internal/language_stub_factory.cc
  google/cloud/language/v2/internal/language_stub_factory.h
  google/cloud/language/v2/internal/language_tracing_connection.cc
  google/cloud/language/v2/internal/language_tracing_connection.h
  google/cloud/language/v2/internal/language_tracing_stub.cc
  google/cloud/language/v2/internal/language_tracing_stub.h
  google/cloud/language/v2/language_client.cc
  google/cloud/language/v2/language_client.h
  google/cloud/language/v2/language_connection.cc
  google/cloud/language/v2/language_connection.h
  google/cloud/language/v2/language_connection_idempotency_policy.cc
  google/cloud/language/v2/language_connection_idempotency_policy.h
  google/cloud/language/v2/language_options.h
  google/cloud/language/v2/mocks/mock_language_connection.h
  google/cloud/language/v2/samples/language_client_samples.cc
Labels: api: language

#12417 test(pubsublite): reduce quota requirements
  google/cloud/pubsublite/integration_tests/CMakeLists.txt
  google/cloud/pubsublite/integration_tests/publisher_integration_test.cc
Labels: api: pubsublite

#12419 cleanup(pubsub): explicit options for policy helpers
  google/cloud/pubsub/subscription_admin_connection.cc
  google/cloud/pubsub/subscription_admin_connection_test.cc
  google/cloud/pubsub/topic_admin_connection.cc
  google/cloud/pubsub/topic_admin_connection_test.cc
Labels: api: pubsub

#12420 cleanup(bigtable): explicit options for policy helpers
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#12422 feat(pubsublite): caller provides admin connection
  ci/abi-dumps/google_cloud_cpp_pubsublite.expected.abi.dump.gz
  google/cloud/pubsublite/integration_tests/publisher_integration_test.cc
  google/cloud/pubsublite/internal/multipartition_publisher.cc
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
  google/cloud/pubsublite/publisher_connection.cc
  google/cloud/pubsublite/publisher_connection.h
Labels: api: pubsublite

#12423 cleanup(bigquery): explicit options in policy helpers
  google/cloud/bigquery/v2/minimal/internal/dataset_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/project_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/table_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_connection_impl.h
Labels: api: bigquery

#12421 cleanup(storage): explicit options in policy helpers
  google/cloud/storage/internal/async/connection_impl.cc
Labels: api: storage

#12425 cleanup(optimization): remove unused parameter in cmake
  google/cloud/optimization/CMakeLists.txt
Labels: api: cloudoptimization

#12449 test(storage): verify `ClientFromMock()` works
  google/cloud/storage/client_test.cc
Labels: api: storage

#12455 test(spanner): restore normal behavior of CreateInstanceConfig() tests
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#12454 fix(pubsub): url encode routing params on publish
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#12457 feat(notebooks): add v2 service
  ci/etc/expected_install_directories
  external/googleapis/protolists/notebooks.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/notebooks/BUILD.bazel
  google/cloud/notebooks/CMakeLists.txt
  google/cloud/notebooks/README.md
  google/cloud/notebooks/doc/main.dox
  google/cloud/notebooks/doc/override-authentication.dox
  google/cloud/notebooks/doc/override-endpoint.dox
  google/cloud/notebooks/doc/override-retry-policies.dox
  google/cloud/notebooks/quickstart/quickstart.cc
  google/cloud/notebooks/v2/internal/notebook_auth_decorator.cc
  google/cloud/notebooks/v2/internal/notebook_auth_decorator.h
  google/cloud/notebooks/v2/internal/notebook_connection_impl.cc
  google/cloud/notebooks/v2/internal/notebook_connection_impl.h
  google/cloud/notebooks/v2/internal/notebook_logging_decorator.cc
  google/cloud/notebooks/v2/internal/notebook_logging_decorator.h
  google/cloud/notebooks/v2/internal/notebook_metadata_decorator.cc
  google/cloud/notebooks/v2/internal/notebook_metadata_decorator.h
  google/cloud/notebooks/v2/internal/notebook_option_defaults.cc
  google/cloud/notebooks/v2/internal/notebook_option_defaults.h
  google/cloud/notebooks/v2/internal/notebook_retry_traits.h
  google/cloud/notebooks/v2/internal/notebook_stub.cc
  google/cloud/notebooks/v2/internal/notebook_stub.h
  google/cloud/notebooks/v2/internal/notebook_stub_factory.cc
  google/cloud/notebooks/v2/internal/notebook_stub_factory.h
  google/cloud/notebooks/v2/internal/notebook_tracing_connection.cc
  google/cloud/notebooks/v2/internal/notebook_tracing_connection.h
  google/cloud/notebooks/v2/internal/notebook_tracing_stub.cc
  google/cloud/notebooks/v2/internal/notebook_tracing_stub.h
  google/cloud/notebooks/v2/mocks/mock_notebook_connection.h
  google/cloud/notebooks/v2/notebook_client.cc
  google/cloud/notebooks/v2/notebook_client.h
  google/cloud/notebooks/v2/notebook_connection.cc
  google/cloud/notebooks/v2/notebook_connection.h
  google/cloud/notebooks/v2/notebook_connection_idempotency_policy.cc
  google/cloud/notebooks/v2/notebook_connection_idempotency_policy.h
  google/cloud/notebooks/v2/notebook_options.h
  google/cloud/notebooks/v2/samples/notebook_client_samples.cc
Labels: api: notebooks

#12460 test(spanner): avoid "europe-west9" in CreateInstanceConfig() tests
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#12491 ci: conditionally disable test that depends on `bigtable_protos`
  google/cloud/google_cloud_cpp_grpc_utils.cmake
Labels: gha:full-build
