Repository googleapis/google-cloud-cpp, pull requests merged in 2023-01, with the labels that each got.

#10482 test(bigtable): refactor CheckEqualUnordered
  google/cloud/bigtable/testing/table_integration_test.cc
  google/cloud/bigtable/testing/table_integration_test.h
Labels: api: bigtable

#10480 fix(storage): better error code for CreateBucket() and 409 errors
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/tests/bucket_integration_test.cc
Labels: api: storage

#10472 cleanup(storage): stop using XML for uploads and downloads
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options_test.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options_test.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_experiment.h
  google/cloud/storage/benchmarks/throughput_experiment_test.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_client.h
  google/cloud/storage/internal/curl_client_test.cc
  google/cloud/storage/internal/grpc_client_failures_test.cc
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client.h
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_write_stream.h
  google/cloud/storage/testing/storage_integration_test.h
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_insert_preconditions_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_read_headers_integration_test.cc
  google/cloud/storage/tests/object_read_preconditions_integration_test.cc
Labels: api: storage

#10502 doc(spanner): fix Doxygen group names
  google/cloud/spanner/bytes.h
  google/cloud/spanner/json.h
  google/cloud/spanner/numeric.h
Labels: api: spanner

#10503 cleanup(bigtable): deflake integration test
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: api: bigtable

#10505 doc(bigtable): use real Doxygen groups
  google/cloud/bigtable/benchmarks/apply_read_latency_benchmark.cc
  google/cloud/bigtable/benchmarks/benchmark.h
  google/cloud/bigtable/benchmarks/constants.h
  google/cloud/bigtable/benchmarks/read_sync_vs_async_benchmark.cc
  google/cloud/bigtable/column_family.h
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/filters.h
  google/cloud/bigtable/instance_admin.h
  google/cloud/bigtable/instance_config.h
  google/cloud/bigtable/instance_resource.h
  google/cloud/bigtable/instance_update_config.h
  google/cloud/bigtable/internal/common_client.h
  google/cloud/bigtable/internal/google_bytes_traits.h
  google/cloud/bigtable/mutations.h
  google/cloud/bigtable/row_range.h
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_admin.h
  google/cloud/bigtable/table_config.h
  google/cloud/bigtable/table_resource.h
  google/cloud/bigtable/testing/inprocess_data_client.h
Labels: api: bigtable

#10506 doc(pubsub): use real Doxygen groups
  google/cloud/pubsub/message.h
  google/cloud/pubsub/schema.h
  google/cloud/pubsub/snapshot.h
  google/cloud/pubsub/subscription.h
  google/cloud/pubsub/subscription_builder.h
  google/cloud/pubsub/topic.h
Labels: api: pubsub

#10507 doc(storage): use real Doxygen groups
  google/cloud/storage/bucket_cors_entry.h
  google/cloud/storage/bucket_custom_placement_config.h
  google/cloud/storage/bucket_iam_configuration.h
  google/cloud/storage/client_options.h
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/hmac_key_requests.h
  google/cloud/storage/internal/object_metadata_parser.h
  google/cloud/storage/internal/patch_builder.h
  google/cloud/storage/internal/raw_client.h
  google/cloud/storage/notification_metadata.h
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_write_stream.h
  google/cloud/storage/policy_document.h
Labels: api: storage

#10513 fix(generator): correct samples for regional services
  generator/internal/sample_generator.cc
Labels: samples

#10518 doc(storage): simplify the landing pages
  ci/generate-markdown/generate-readme.sh
  ci/generate-markdown/update-library-readme.sh
  google/cloud/storage/README.md
  google/cloud/storage/doc/environment-variables.dox
  google/cloud/storage/doc/error-handling.dox
  google/cloud/storage/doc/storage-main.dox
  google/cloud/storage/doc/storage-mocking.dox
  google/cloud/storage/quickstart/quickstart.cc
Labels: api: storage

#10536 doc(pubsub): declutter landing pages
  google/cloud/pubsub/README.md
  google/cloud/pubsub/doc/environment-variables.dox
  google/cloud/pubsub/doc/error-handling.dox
  google/cloud/pubsub/doc/pubsub-main.dox
  google/cloud/pubsub/quickstart/quickstart.cc
Labels: api: pubsub

#10538 doc(storage): more tweaks on landing pages
  google/cloud/storage/README.md
  google/cloud/storage/doc/environment-variables.dox
  google/cloud/storage/doc/error-handling.dox
Labels: api: storage

#10546 cleanup(bigtable): examples throw full `Status`
  google/cloud/bigtable/examples/bigtable_grpc_credentials.cc
  google/cloud/bigtable/examples/bigtable_hello_app_profile.cc
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_table_admin.cc
  google/cloud/bigtable/examples/bigtable_hello_world.cc
  google/cloud/bigtable/examples/bigtable_instance_admin_snippets.cc
  google/cloud/bigtable/examples/bigtable_table_admin_backup_snippets.cc
  google/cloud/bigtable/examples/data_async_snippets.cc
  google/cloud/bigtable/examples/data_filter_snippets.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/examples/read_snippets.cc
  google/cloud/bigtable/examples/table_admin_iam_policy_snippets.cc
  google/cloud/bigtable/examples/table_admin_snippets.cc
Labels: api: bigtable

#10545 doc(bigtable): declutter landing pages
  google/cloud/bigtable/README.md
  google/cloud/bigtable/doc/bigtable-hello-instance-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-table-admin.dox
  google/cloud/bigtable/doc/bigtable-hello-world.dox
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/bigtable-samples-data-client.dox
  google/cloud/bigtable/doc/environment-variables.dox
  google/cloud/bigtable/doc/error-handling.dox
Labels: api: bigtable

#10547 cleanup(storage): examples throw full `Status`
  google/cloud/storage/examples/storage_bucket_acl_samples.cc
  google/cloud/storage/examples/storage_bucket_cors_samples.cc
  google/cloud/storage/examples/storage_bucket_default_kms_key_samples.cc
  google/cloud/storage/examples/storage_bucket_iam_samples.cc
  google/cloud/storage/examples/storage_bucket_requester_pays_samples.cc
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storage/examples/storage_client_initialization_samples.cc
  google/cloud/storage/examples/storage_client_per_operation_samples.cc
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
  google/cloud/storage/examples/storage_event_based_hold_samples.cc
  google/cloud/storage/examples/storage_grpc_samples.cc
  google/cloud/storage/examples/storage_lifecycle_management_samples.cc
  google/cloud/storage/examples/storage_notification_samples.cc
  google/cloud/storage/examples/storage_object_acl_samples.cc
  google/cloud/storage/examples/storage_object_cmek_samples.cc
  google/cloud/storage/examples/storage_object_csek_samples.cc
  google/cloud/storage/examples/storage_object_file_transfer_samples.cc
  google/cloud/storage/examples/storage_object_hold_samples.cc
  google/cloud/storage/examples/storage_object_preconditions_samples.cc
  google/cloud/storage/examples/storage_object_resumable_write_samples.cc
  google/cloud/storage/examples/storage_object_rewrite_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/examples/storage_object_versioning_samples.cc
  google/cloud/storage/examples/storage_policy_doc_samples.cc
  google/cloud/storage/examples/storage_public_object_samples.cc
  google/cloud/storage/examples/storage_quickstart.cc
  google/cloud/storage/examples/storage_retention_policy_samples.cc
  google/cloud/storage/examples/storage_service_account_samples.cc
  google/cloud/storage/examples/storage_signed_url_v2_samples.cc
  google/cloud/storage/examples/storage_signed_url_v4_samples.cc
  google/cloud/storage/examples/storage_website_samples.cc
Labels: api: storage

#10551 cleanup(pubsub): samples throw full `Status`
  google/cloud/pubsub/samples/iam_samples.cc
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#10550 cleanup(iam): samples throw full `Status`
  google/cloud/iam/samples/iam_credentials_samples.cc
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam, samples

#10549 cleanup(bigquery): samples throw full `Status`
  google/cloud/bigquery/samples/bigquery_read_samples.cc
Labels: api: bigquery, samples

#10552 doc(spanner): declutter landing pages
  google/cloud/spanner/README.md
  google/cloud/spanner/doc/environment-variables.dox
  google/cloud/spanner/doc/error-handler.dox
  google/cloud/spanner/doc/spanner-main.dox
  google/cloud/spanner/quickstart/quickstart.cc
Labels: api: spanner

#10558 impl(storage): add a class representing XML node
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#10591 cleanup(pubsub): catch status in samples
  google/cloud/pubsub/samples/iam_samples.cc
Labels: api: pubsub, samples

#10587 flake(iam): increase propagation delay for GetServiceAccountKey sample
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam, samples

#10564 impl(storage): add a function for building XML for MPU
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_builders.cc
  google/cloud/storage/internal/xml_builders.h
  google/cloud/storage/internal/xml_builders_test.cc
  google/cloud/storage/internal/xml_escape.cc
  google/cloud/storage/internal/xml_escape.h
  google/cloud/storage/internal/xml_escape_test.cc
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#10605 cleanup(storage): avoid `xor` in a test
  google/cloud/storage/tests/object_rewrite_integration_test.cc
Labels: api: storage

#10568 impl(storage): add the skeleton of the XML parse function
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
  google/cloud/storage/internal/xml_parser_options.cc
  google/cloud/storage/internal/xml_parser_options.h
Labels: api: storage

#10608 impl(storage): add XML parser implementation
  google/cloud/storage/internal/xml_escape.cc
  google/cloud/storage/internal/xml_escape.h
  google/cloud/storage/internal/xml_escape_test.cc
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node_test.cc
Labels: api: storage

#10648 cleanup(storage): change part number type to std::size_t
  google/cloud/storage/internal/xml_builders.cc
  google/cloud/storage/internal/xml_builders.h
  google/cloud/storage/internal/xml_builders_test.cc
Labels: api: storage

#10654 cleanup(storage): move CompleteMultipartUpload() to XmlNode
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_builders.cc
  google/cloud/storage/internal/xml_builders.h
  google/cloud/storage/internal/xml_builders_test.cc
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#10663 cleanup(storage): move escaping functions to XmlNode impl
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_escape.cc
  google/cloud/storage/internal/xml_escape.h
  google/cloud/storage/internal/xml_escape_test.cc
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#10665 cleanup(storage): split UnescapeXmlString() by purpose
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
Labels: api: storage

#10669 cleanup(storage): remove inline specifiers from XmlParser
  google/cloud/storage/internal/xml_node.cc
Labels: api: storage

#10672 cleanup(storage): a handful of concluding cleanups for XmlParser
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
Labels: api: storage

#10686 cleanup(storage): an additional clarifying comment for XmlParser
  google/cloud/storage/internal/xml_node.cc
Labels: api: storage

#10702 cleanup(spanner): display row count in ExecutePartitionedDml() samples
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#10704 impl(spanner): start second emulator to service REST transport
  google/cloud/spanner/ci/lib/spanner_emulator.sh
  google/cloud/spanner/ci/run_integration_tests_emulator_bazel.sh
Labels: api: spanner
