Repository googleapis/google-cloud-cpp, pull requests merged in 2023-03, with the labels that each got.

#10973 feat(alloydb): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_alloydb.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/alloydb.deps
  external/googleapis/protolists/alloydb.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/alloydb/BUILD.bazel
  google/cloud/alloydb/CMakeLists.txt
  google/cloud/alloydb/README.md
  google/cloud/alloydb/config.cmake.in
  google/cloud/alloydb/doc/main.dox
  google/cloud/alloydb/doc/options.dox
  google/cloud/alloydb/quickstart/.bazelrc
  google/cloud/alloydb/quickstart/BUILD.bazel
  google/cloud/alloydb/quickstart/CMakeLists.txt
  google/cloud/alloydb/quickstart/Makefile
  google/cloud/alloydb/quickstart/README.md
  google/cloud/alloydb/quickstart/WORKSPACE.bazel
  google/cloud/alloydb/quickstart/quickstart.cc
  google/cloud/alloydb/v1/alloy_db_admin_client.cc
  google/cloud/alloydb/v1/alloy_db_admin_client.h
  google/cloud/alloydb/v1/alloy_db_admin_connection.cc
  google/cloud/alloydb/v1/alloy_db_admin_connection.h
  google/cloud/alloydb/v1/alloy_db_admin_connection_idempotency_policy.cc
  google/cloud/alloydb/v1/alloy_db_admin_connection_idempotency_policy.h
  google/cloud/alloydb/v1/alloy_db_admin_options.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_auth_decorator.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_auth_decorator.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_connection_impl.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_connection_impl.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_logging_decorator.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_logging_decorator.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_metadata_decorator.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_metadata_decorator.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_option_defaults.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_option_defaults.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_retry_traits.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_stub.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_stub.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_stub_factory.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_stub_factory.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_tracing_connection.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_tracing_connection.h
  google/cloud/alloydb/v1/internal/alloy_db_admin_tracing_stub.cc
  google/cloud/alloydb/v1/internal/alloy_db_admin_tracing_stub.h
  google/cloud/alloydb/v1/mocks/mock_alloy_db_admin_connection.h
  google/cloud/alloydb/v1/samples/alloy_db_admin_client_samples.cc
  libraries.bzl
Labels: api: alloydb

#10977 feat(datacatalog): generate lineage library
  ci/etc/expected_install_directories
  external/googleapis/protodeps/datacatalog.deps
  external/googleapis/protolists/datacatalog.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/datacatalog/BUILD.bazel
  google/cloud/datacatalog/CMakeLists.txt
  google/cloud/datacatalog/doc/main.dox
  google/cloud/datacatalog/lineage/v1/internal/lineage_auth_decorator.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_auth_decorator.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_connection_impl.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_connection_impl.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_logging_decorator.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_logging_decorator.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_metadata_decorator.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_metadata_decorator.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_option_defaults.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_option_defaults.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_retry_traits.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_stub.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_stub.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_stub_factory.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_stub_factory.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_tracing_connection.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_tracing_connection.h
  google/cloud/datacatalog/lineage/v1/internal/lineage_tracing_stub.cc
  google/cloud/datacatalog/lineage/v1/internal/lineage_tracing_stub.h
  google/cloud/datacatalog/lineage/v1/lineage_client.cc
  google/cloud/datacatalog/lineage/v1/lineage_client.h
  google/cloud/datacatalog/lineage/v1/lineage_connection.cc
  google/cloud/datacatalog/lineage/v1/lineage_connection.h
  google/cloud/datacatalog/lineage/v1/lineage_connection_idempotency_policy.cc
  google/cloud/datacatalog/lineage/v1/lineage_connection_idempotency_policy.h
  google/cloud/datacatalog/lineage/v1/lineage_options.h
  google/cloud/datacatalog/lineage/v1/mocks/mock_lineage_connection.h
  google/cloud/datacatalog/lineage/v1/samples/lineage_client_samples.cc
Labels: api: datacatalog

#10992 cleanup(apikeys): apikeys is no longer experimental in v2.8.0
  google/cloud/apikeys/quickstart/BUILD.bazel
  google/cloud/apikeys/quickstart/CMakeLists.txt
Labels: api: apikeys

#10996 test(storage): simplify testing transport variants
  ci/cloudbuild/builds/coverage.sh
  ci/cloudbuild/builds/gcs-grpc.sh
  ci/cloudbuild/builds/integration-production.sh
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/tests/BUILD.bazel
  google/cloud/storage/tests/service_account_integration_test.cc
Labels: api: storage

#10953 impl(bigquery): V2 GetJob api - Implementation
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response.cc
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response.h
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration.h
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_retry_policy.h
Labels: api: bigquery

#10998 feat(spanner): support "data boost" on partitioned queries and reads
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  google/cloud/spanner/connection.h
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/partition_options.cc
  google/cloud/spanner/partition_options.h
  google/cloud/spanner/partition_options_test.cc
  google/cloud/spanner/query_partition.cc
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/query_partition_test.cc
  google/cloud/spanner/read_partition.cc
  google/cloud/spanner/read_partition.h
  google/cloud/spanner/read_partition_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#11014 feat(storage): reduce copies in `InsertObject()`
  .clang-format
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/compose_many_test.cc
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/hashing_options.h
  google/cloud/storage/internal/curl_client.cc
  google/cloud/storage/internal/curl_request.cc
  google/cloud/storage/internal/curl_request.h
  google/cloud/storage/internal/grpc_client.cc
  google/cloud/storage/internal/grpc_object_metadata_parser.cc
  google/cloud/storage/internal/grpc_object_metadata_parser.h
  google/cloud/storage/internal/grpc_object_request_parser.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/openssl_util_test.cc
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage

#11015 doc(storage): clarify `ObjectWriteStream` behavior
  google/cloud/storage/object_write_stream.h
Labels: api: storage

#11038 impl(bigquery): set all default options in a single place
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
Labels: api: bigquery

#11045 fix(iam): override idempotency on idempotent POST methods
  generator/generator_config.textproto
  google/cloud/iam/admin/v1/iam_connection_idempotency_policy.cc
  google/cloud/iam/credentials/v1/iam_credentials_connection_idempotency_policy.cc
Labels: api: iam

#11047 fix(iam): remove redundant idempotency override
  generator/generator_config.textproto
Labels: api: iam

#11043 impl(bigquery): Fixes googleapis/google-cloud-cpp#11027
  google/cloud/bigquery/v2/minimal/internal/job_options.cc
  google/cloud/bigquery/v2/minimal/internal/job_options.h
  google/cloud/bigquery/v2/minimal/internal/job_options_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_factory.cc
Labels: api: bigquery

#11058 test(spanner): postgresql client integration tests
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#11059 cleanup(storage): remove unused `#includes`
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tests/grpc_object_media_integration_test.cc
  google/cloud/storage/tests/grpc_object_metadata_integration_test.cc
Labels: api: storage

#11061 impl(storage): new helpers for CRC32C computation
  google/cloud/storage/BUILD.bazel
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/crc32c.cc
  google/cloud/storage/internal/crc32c.h
  google/cloud/storage/internal/crc32c_benchmark.cc
  google/cloud/storage/internal/crc32c_test.cc
  google/cloud/storage/storage_client_benchmarks.bzl
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#11065 impl(storage): support upload hashing in `RawClient`
  google/cloud/storage/internal/hash_function.cc
  google/cloud/storage/internal/hash_function.h
  google/cloud/storage/internal/hash_function_impl.cc
  google/cloud/storage/internal/hash_function_impl.h
  google/cloud/storage/internal/hash_function_impl_test.cc
  google/cloud/storage/internal/hash_validator_test.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.cc
Labels: api: storage

#11069 test(spanner): remove test ordering problem
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#11063 impl(bigquery): ListJobs api - request object implementation and unit tests
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#11068 impl(bigquery): ListJobs api - Response object parsing, implementation and unit tests
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
Labels: api: bigquery

#11080 impl(bigquery): ListJobs api - Add support for ListJobs in Idempotency policy
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy_test.cc
Labels: api: bigquery

#11081 impl(bigquery): ListJobs api - Added ListJobs() support to BigQueryRestStub
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_job_rest_stub.h
Labels: api: bigquery

#11112 feat(spanner): add the final pieces for the RouteToLeaderOption
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
  google/cloud/spanner/internal/session_pool.cc
Labels: api: spanner
