Repository googleapis/google-cloud-cpp, pull requests merged in 2023-07, with the labels that each got.

#12011 impl(bigtable): add bigtable-features header
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
Labels: api: bigtable

#12013 impl(bigtable): reverse scan internals
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
  google/cloud/bigtable/internal/legacy_async_row_reader.cc
  google/cloud/bigtable/internal/legacy_row_reader.cc
  google/cloud/bigtable/internal/legacy_row_reader_test.cc
  google/cloud/bigtable/internal/readrowsparser.cc
  google/cloud/bigtable/internal/readrowsparser.h
  google/cloud/bigtable/internal/readrowsparser_test.cc
Labels: api: bigtable

#12019 test(bigquery): include `v2/` in coverage results
  .codecov.yml
  ci/cloudbuild/builds/coverage.sh
Labels: api: bigquery

#12022 feat(bigtable): reverse scans
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/data_connection.h
  google/cloud/bigtable/examples/read_snippets.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/options.h
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#12025 ci(compute): add compute to old compiler ci builds
  ci/cloudbuild/builds/clang-7.0.sh
  ci/cloudbuild/builds/gcc-7.3.sh
Labels: api: compute

#12030 docs(pubsub): document `RetryPolicy` interface
  google/cloud/pubsub/retry_policy.h
Labels: api: pubsub

#12031 docs(storage): document `RetryPolicy` interface
  google/cloud/storage/retry_policy.h
Labels: api: storage

#12037 docs(spanner): document `RetryPolicy` interface
  google/cloud/spanner/retry_policy.h
Labels: api: spanner

#12028 cleanup(bigtable): more precise expectations in ReadRows tests
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#12040 docs(bigtable): document `DataRetryPolicy`
  google/cloud/bigtable/retry_policy.h
Labels: api: bigtable

#12018 impl(bigquery): Request object for Query api
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/testing/common_v2_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/common_v2_test_utils.h
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.h
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
Labels: api: bigquery

#12054 test(bigtable): verify reverse scan row order
  google/cloud/bigtable/tests/data_integration_test.cc
Labels: api: bigtable

#12053 docs(pubsub): add a subscriber quickstart
  google/cloud/pubsub/README.md
  google/cloud/pubsub/quickstart/BUILD.bazel
  google/cloud/pubsub/quickstart/CMakeLists.txt
  google/cloud/pubsub/quickstart/Makefile
  google/cloud/pubsub/quickstart/README.md
  google/cloud/pubsub/quickstart/quickstart.cc
  google/cloud/pubsub/quickstart/subscriber_quickstart.cc
Labels: api: pubsub

#12059 test(bigquery): deflake job_request_test
  google/cloud/bigquery/v2/minimal/internal/job_request.h
Labels: api: bigquery

#12050 impl(bigquery): Response object for Query api
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.h
Labels: api: bigquery

#12051 impl(bigquery): Idempotency policy Query api
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy_test.cc
Labels: api: bigquery

#12057 cleanup(bigtable): websafe encoding of feature flags
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
Labels: api: bigtable

#12067 impl(bigquery): Stub and Decorator for Query API
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_job_rest_stub.h
Labels: api: bigquery

#12076 impl(bigquery): Connection classes for Query api
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
Labels: api: bigquery

#12085 impl(bigquery): Client classes for Query api
  google/cloud/bigquery/v2/minimal/internal/job_client.cc
  google/cloud/bigquery/v2/minimal/internal/job_client.h
  google/cloud/bigquery/v2/minimal/internal/job_client_test.cc
Labels: api: bigquery

#12079 docs(pubsub): remove subscriber quickstart tag from samples
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#12091 feat: public Bazel target `google_cloud_cpp_bigquery_rest`
  BUILD.bazel
Labels: api: bigquery

#12093 cleanup(compute): add missing #include
  google/cloud/compute/integration_tests/compute_integration_test.cc
Labels: api: compute

#12094 test(bigtable): log more to deflake a test
  google/cloud/bigtable/polling_policy_test.cc
  google/cloud/bigtable/rpc_retry_policy_test.cc
  google/cloud/internal/retry_policy_impl_test.cc
  google/cloud/polling_policy_test.cc
  google/cloud/testing_util/check_predicate_becomes_false.h
Labels: api: bigtable

#12096 fix(compute): enable `rest_internal` if needed
  cmake/GoogleCloudCppFeatures.cmake
Labels: api: compute

#12098 cleanup(rest): only trace if enabled
  google/cloud/internal/curl_rest_client.cc
Labels: cpp: rest, cpp: opentelemetry

#12101 test(storage): fix benchmark command-line parsing
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#12104 fix(compute): build problems with MSVC
  google/cloud/compute/CMakeLists.txt
Labels: api: compute

#12106 impl(bigquery): Request object for GetQueryResults api
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.h
Labels: api: bigquery

#12122 feat(spanner): tests and samples for foreign-key delete cascade
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#12140 doc(spanner): add documentation/sample for TransactionRerunPolicy
  google/cloud/spanner/doc/override-retry-policies.dox
  google/cloud/spanner/doc/spanner-main.dox
Labels: api: spanner, samples

#12090 docs(pubsub): add unwrapped subscription sample
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_builder.h
  google/cloud/pubsub/subscription_builder_test.cc
Labels: api: pubsub, kokoro:force-run, samples

#12158 feat(channel): add Reporting API
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_channel.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/channel/doc/environment-variables.dox
  google/cloud/channel/doc/main.dox
  google/cloud/channel/doc/override-authentication.dox
  google/cloud/channel/doc/override-endpoint.dox
  google/cloud/channel/doc/override-retry-policies.dox
  google/cloud/channel/v1/cloud_channel_reports_client.cc
  google/cloud/channel/v1/cloud_channel_reports_client.h
  google/cloud/channel/v1/cloud_channel_reports_connection.cc
  google/cloud/channel/v1/cloud_channel_reports_connection.h
  google/cloud/channel/v1/cloud_channel_reports_connection_idempotency_policy.cc
  google/cloud/channel/v1/cloud_channel_reports_connection_idempotency_policy.h
  google/cloud/channel/v1/cloud_channel_reports_options.h
  google/cloud/channel/v1/internal/cloud_channel_reports_auth_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_auth_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_reports_connection_impl.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_connection_impl.h
  google/cloud/channel/v1/internal/cloud_channel_reports_logging_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_logging_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_reports_metadata_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_metadata_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_reports_option_defaults.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_option_defaults.h
  google/cloud/channel/v1/internal/cloud_channel_reports_retry_traits.h
  google/cloud/channel/v1/internal/cloud_channel_reports_stub.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_stub.h
  google/cloud/channel/v1/internal/cloud_channel_reports_stub_factory.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_stub_factory.h
  google/cloud/channel/v1/internal/cloud_channel_reports_tracing_connection.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_tracing_connection.h
  google/cloud/channel/v1/internal/cloud_channel_reports_tracing_stub.cc
  google/cloud/channel/v1/internal/cloud_channel_reports_tracing_stub.h
  google/cloud/channel/v1/mocks/mock_cloud_channel_reports_connection.h
  google/cloud/channel/v1/samples/cloud_channel_reports_client_samples.cc
Labels: api: cloudchannel

#12169 feat(osconfig): add Zonal OS Config API
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_osconfig.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/osconfig/doc/environment-variables.dox
  google/cloud/osconfig/doc/main.dox
  google/cloud/osconfig/doc/override-authentication.dox
  google/cloud/osconfig/doc/override-endpoint.dox
  google/cloud/osconfig/doc/override-retry-policies.dox
  google/cloud/osconfig/v1/internal/os_config_zonal_auth_decorator.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_auth_decorator.h
  google/cloud/osconfig/v1/internal/os_config_zonal_connection_impl.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_connection_impl.h
  google/cloud/osconfig/v1/internal/os_config_zonal_logging_decorator.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_logging_decorator.h
  google/cloud/osconfig/v1/internal/os_config_zonal_metadata_decorator.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_metadata_decorator.h
  google/cloud/osconfig/v1/internal/os_config_zonal_option_defaults.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_option_defaults.h
  google/cloud/osconfig/v1/internal/os_config_zonal_retry_traits.h
  google/cloud/osconfig/v1/internal/os_config_zonal_stub.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_stub.h
  google/cloud/osconfig/v1/internal/os_config_zonal_stub_factory.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_stub_factory.h
  google/cloud/osconfig/v1/internal/os_config_zonal_tracing_connection.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_tracing_connection.h
  google/cloud/osconfig/v1/internal/os_config_zonal_tracing_stub.cc
  google/cloud/osconfig/v1/internal/os_config_zonal_tracing_stub.h
  google/cloud/osconfig/v1/mocks/mock_os_config_zonal_connection.h
  google/cloud/osconfig/v1/os_config_zonal_client.cc
  google/cloud/osconfig/v1/os_config_zonal_client.h
  google/cloud/osconfig/v1/os_config_zonal_connection.cc
  google/cloud/osconfig/v1/os_config_zonal_connection.h
  google/cloud/osconfig/v1/os_config_zonal_connection_idempotency_policy.cc
  google/cloud/osconfig/v1/os_config_zonal_connection_idempotency_policy.h
  google/cloud/osconfig/v1/os_config_zonal_options.h
  google/cloud/osconfig/v1/samples/os_config_zonal_client_samples.cc
Labels: api: osconfig

#12175 cleanup(retail): update #12170 after #12172
  google/cloud/retail/v2/internal/control_logging_decorator.cc
  google/cloud/retail/v2/internal/control_logging_decorator.h
  google/cloud/retail/v2/internal/model_logging_decorator.cc
  google/cloud/retail/v2/internal/model_logging_decorator.h
  google/cloud/retail/v2/internal/serving_config_logging_decorator.cc
  google/cloud/retail/v2/internal/serving_config_logging_decorator.h
Labels: api: retail

#12173 feat(speech): add Model Adaptation API
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_speech.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/speech/doc/environment-variables.dox
  google/cloud/speech/doc/main.dox
  google/cloud/speech/doc/override-authentication.dox
  google/cloud/speech/doc/override-endpoint.dox
  google/cloud/speech/doc/override-retry-policies.dox
  google/cloud/speech/v1/adaptation_client.cc
  google/cloud/speech/v1/adaptation_client.h
  google/cloud/speech/v1/adaptation_connection.cc
  google/cloud/speech/v1/adaptation_connection.h
  google/cloud/speech/v1/adaptation_connection_idempotency_policy.cc
  google/cloud/speech/v1/adaptation_connection_idempotency_policy.h
  google/cloud/speech/v1/adaptation_options.h
  google/cloud/speech/v1/internal/adaptation_auth_decorator.cc
  google/cloud/speech/v1/internal/adaptation_auth_decorator.h
  google/cloud/speech/v1/internal/adaptation_connection_impl.cc
  google/cloud/speech/v1/internal/adaptation_connection_impl.h
  google/cloud/speech/v1/internal/adaptation_logging_decorator.cc
  google/cloud/speech/v1/internal/adaptation_logging_decorator.h
  google/cloud/speech/v1/internal/adaptation_metadata_decorator.cc
  google/cloud/speech/v1/internal/adaptation_metadata_decorator.h
  google/cloud/speech/v1/internal/adaptation_option_defaults.cc
  google/cloud/speech/v1/internal/adaptation_option_defaults.h
  google/cloud/speech/v1/internal/adaptation_retry_traits.h
  google/cloud/speech/v1/internal/adaptation_stub.cc
  google/cloud/speech/v1/internal/adaptation_stub.h
  google/cloud/speech/v1/internal/adaptation_stub_factory.cc
  google/cloud/speech/v1/internal/adaptation_stub_factory.h
  google/cloud/speech/v1/internal/adaptation_tracing_connection.cc
  google/cloud/speech/v1/internal/adaptation_tracing_connection.h
  google/cloud/speech/v1/internal/adaptation_tracing_stub.cc
  google/cloud/speech/v1/internal/adaptation_tracing_stub.h
  google/cloud/speech/v1/mocks/mock_adaptation_connection.h
  google/cloud/speech/v1/samples/adaptation_client_samples.cc
Labels: api: speech

#12178 feat(speech): promote speech v2 service to GA
  ci/abi-dumps/google_cloud_cpp_speech.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/speech/v2/samples/speech_client_samples.cc
  google/cloud/speech/v2/speech_client.cc
  google/cloud/speech/v2/speech_client.h
  google/cloud/speech/v2/speech_connection.cc
  google/cloud/speech/v2/speech_connection.h
Labels: api: speech

#12149 impl(bigquery): Job apis Response and request field name changes
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
  google/cloud/bigquery/v2/minimal/internal/job.cc
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#12150 impl(bigquery): Response field changes for Projects api
  google/cloud/bigquery/v2/minimal/internal/project.cc
  google/cloud/bigquery/v2/minimal/internal/project.h
  google/cloud/bigquery/v2/minimal/internal/project_response.cc
  google/cloud/bigquery/v2/minimal/internal/project_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.cc
Labels: api: bigquery

#12155 impl(bigquery): Dataset api response field name changes
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
Labels: api: bigquery

#12193 feat(functions): add 2nd gen service
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_functions.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protolists/functions.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/functions/BUILD.bazel
  google/cloud/functions/CMakeLists.txt
  google/cloud/functions/README.md
  google/cloud/functions/doc/environment-variables.dox
  google/cloud/functions/doc/main.dox
  google/cloud/functions/doc/override-authentication.dox
  google/cloud/functions/doc/override-endpoint.dox
  google/cloud/functions/doc/override-retry-policies.dox
  google/cloud/functions/quickstart/quickstart.cc
  google/cloud/functions/v2/function_client.cc
  google/cloud/functions/v2/function_client.h
  google/cloud/functions/v2/function_connection.cc
  google/cloud/functions/v2/function_connection.h
  google/cloud/functions/v2/function_connection_idempotency_policy.cc
  google/cloud/functions/v2/function_connection_idempotency_policy.h
  google/cloud/functions/v2/function_options.h
  google/cloud/functions/v2/internal/function_auth_decorator.cc
  google/cloud/functions/v2/internal/function_auth_decorator.h
  google/cloud/functions/v2/internal/function_connection_impl.cc
  google/cloud/functions/v2/internal/function_connection_impl.h
  google/cloud/functions/v2/internal/function_logging_decorator.cc
  google/cloud/functions/v2/internal/function_logging_decorator.h
  google/cloud/functions/v2/internal/function_metadata_decorator.cc
  google/cloud/functions/v2/internal/function_metadata_decorator.h
  google/cloud/functions/v2/internal/function_option_defaults.cc
  google/cloud/functions/v2/internal/function_option_defaults.h
  google/cloud/functions/v2/internal/function_retry_traits.h
  google/cloud/functions/v2/internal/function_stub.cc
  google/cloud/functions/v2/internal/function_stub.h
  google/cloud/functions/v2/internal/function_stub_factory.cc
  google/cloud/functions/v2/internal/function_stub_factory.h
  google/cloud/functions/v2/internal/function_tracing_connection.cc
  google/cloud/functions/v2/internal/function_tracing_connection.h
  google/cloud/functions/v2/internal/function_tracing_stub.cc
  google/cloud/functions/v2/internal/function_tracing_stub.h
  google/cloud/functions/v2/mocks/mock_function_connection.h
  google/cloud/functions/v2/samples/function_client_samples.cc
Labels: api: cloudfunctions

#12191 impl(bigquery): Json response parsing fixes for Table Apis
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table.h
  google/cloud/bigquery/v2/minimal/internal/table_constraints.cc
  google/cloud/bigquery/v2/minimal/internal/table_constraints.h
  google/cloud/bigquery/v2/minimal/internal/table_partition.cc
  google/cloud/bigquery/v2/minimal/internal/table_partition.h
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.h
  google/cloud/bigquery/v2/minimal/internal/table_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.h
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#12192 impl(bigquery): Adds SafeGetTo method for potential perf improvement
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#12199 impl(bigquery): Modified SafeGetTo() to be a template function
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#12211 impl(bigquery): Applies SafeGetTo function to Dataset json parsing
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
Labels: api: bigquery

#12214 impl(bigquery): Applies SafeGetTo function to project json parsing
  google/cloud/bigquery/v2/minimal/internal/project.cc
Labels: api: bigquery

#12215 cleanup(bigquery): drop grpc_utils dep
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/v2/minimal/internal/dataset_logging.cc
  google/cloud/bigquery/v2/minimal/internal/log_wrapper.h
  google/cloud/bigquery/v2/minimal/internal/table_logging.cc
Labels: api: bigquery

#12207 fix(sql): use correct message field as JSON request body
  generator/integration_tests/golden/v1/internal/golden_thing_admin_rest_stub.cc
  generator/internal/descriptor_utils.cc
  generator/internal/descriptor_utils_test.cc
  generator/internal/http_option_utils.cc
  generator/internal/http_option_utils.h
  generator/internal/http_option_utils_test.cc
  google/cloud/spanner/admin/internal/database_admin_rest_stub.cc
  google/cloud/sql/integration_tests/sql_integration_test.cc
  google/cloud/sql/v1/internal/sql_backup_runs_rest_stub.cc
  google/cloud/sql/v1/internal/sql_databases_rest_stub.cc
  google/cloud/sql/v1/internal/sql_instances_rest_stub.cc
  google/cloud/sql/v1/internal/sql_ssl_certs_rest_stub.cc
  google/cloud/sql/v1/internal/sql_users_rest_stub.cc
Labels: api: cloudsql

#12236 feat(cloudbuild): promote 2nd gen (repositories) API to GA
  ci/abi-dumps/google_cloud_cpp_cloudbuild.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/cloudbuild/v2/repository_manager_client.cc
  google/cloud/cloudbuild/v2/repository_manager_client.h
  google/cloud/cloudbuild/v2/repository_manager_connection.cc
  google/cloud/cloudbuild/v2/repository_manager_connection.h
  google/cloud/cloudbuild/v2/samples/repository_manager_client_samples.cc
Labels: api: cloudbuild

#12238 doc(spanner): Improve documentation for ActionOnExhaustion
  google/cloud/spanner/options.h
Labels: api: spanner

#12240 cleanup(sql): no grpc
  external/googleapis/update_libraries.sh
  google/cloud/sql/BUILD.bazel
  google/cloud/sql/CMakeLists.txt
Labels: api: cloudsql

#12209 impl(bigquery): Applies SafeGetTo function Job response parsing
  google/cloud/bigquery/v2/minimal/internal/job.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
Labels: api: bigquery

#12256 doc(spanner): mark obsolete Spanner options classes as deprecated
  google/cloud/spanner/client_options.h
  google/cloud/spanner/commit_options.h
  google/cloud/spanner/connection_options.h
  google/cloud/spanner/partition_options.h
  google/cloud/spanner/query_options.h
  google/cloud/spanner/read_options.h
  google/cloud/spanner/session_pool_options.h
  google/cloud/spanner/tracing_options.h
Labels: api: spanner

#12248 imp(bigquery): Applies SafeGetTo method to Table api response parsing
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table_constraints.cc
  google/cloud/bigquery/v2/minimal/internal/table_partition.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
Labels: api: bigquery

#12249 impl(bigquery): Response object for GetQueryResults api
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.h
Labels: api: bigquery

#12250 impl(bigquery): Idempotency policies for GetQueryResults api
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy_test.cc
Labels: api: bigquery

#12208 impl(bigquery): Applies SafeGetTo function to common resources
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#12261 impl(bigquery): Stub and Decorator changes for GetQueryResults api
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_job_rest_stub.h
Labels: api: bigquery

#12271 feat(datacatalog): promote `datalineage` to GA
  ci/abi-dumps/google_cloud_cpp_datacatalog.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/datacatalog/lineage/v1/lineage_client.cc
  google/cloud/datacatalog/lineage/v1/lineage_client.h
  google/cloud/datacatalog/lineage/v1/lineage_connection.cc
  google/cloud/datacatalog/lineage/v1/lineage_connection.h
  google/cloud/datacatalog/lineage/v1/samples/lineage_client_samples.cc
Labels: api: datacatalog

#12270 chore(bigtable): update feature flags
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
Labels: api: bigtable

#12272 cleanup: always include `/bigobj` for MSVC
  cmake/EnableWerror.cmake
  generator/CMakeLists.txt
  generator/integration_tests/CMakeLists.txt
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/benchmarks/CMakeLists.txt
  google/cloud/bigtable/test_proxy/CMakeLists.txt
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/integration_tests/CMakeLists.txt
  google/cloud/google_cloud_cpp_common.cmake
  google/cloud/google_cloud_cpp_grpc_utils.cmake
  google/cloud/google_cloud_cpp_rest_internal.cmake
  google/cloud/google_cloud_cpp_rest_protobuf_internal.cmake
  google/cloud/logging/integration_tests/CMakeLists.txt
  google/cloud/oauth2/CMakeLists.txt
  google/cloud/opentelemetry/CMakeLists.txt
  google/cloud/opentelemetry/integration_tests/CMakeLists.txt
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/integration_tests/CMakeLists.txt
  google/cloud/pubsublite/CMakeLists.txt
  google/cloud/pubsublite/integration_tests/CMakeLists.txt
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/admin/integration_tests/CMakeLists.txt
  google/cloud/spanner/benchmarks/CMakeLists.txt
  google/cloud/spanner/integration_tests/CMakeLists.txt
  google/cloud/sql/integration_tests/CMakeLists.txt
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/testing_util/CMakeLists.txt
  google/cloud/testing_util/google_cloud_cpp_testing_grpc.cmake
Labels: gha:full-build
