Repository googleapis/google-cloud-cpp, pull requests merged in 2023-09, with the labels that each got.

#12520 impl(GCS+gRPC): fix usage message in samples
  google/cloud/storage/examples/storage_async_samples.cc
Labels: samples

#12522 fix(GCS+gRPC): conflict with Win32 global function
  google/cloud/storage/examples/storage_async_samples.cc
Labels: gha:full-build

#12543 feat(discoveryengine): new *Client
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_discoveryengine.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/discoveryengine/doc/environment-variables.dox
  google/cloud/discoveryengine/doc/main.dox
  google/cloud/discoveryengine/doc/override-authentication.dox
  google/cloud/discoveryengine/doc/override-endpoint.dox
  google/cloud/discoveryengine/doc/override-retry-policies.dox
  google/cloud/discoveryengine/v1/conversational_search_client.cc
  google/cloud/discoveryengine/v1/conversational_search_client.h
  google/cloud/discoveryengine/v1/conversational_search_connection.cc
  google/cloud/discoveryengine/v1/conversational_search_connection.h
  google/cloud/discoveryengine/v1/conversational_search_connection_idempotency_policy.cc
  google/cloud/discoveryengine/v1/conversational_search_connection_idempotency_policy.h
  google/cloud/discoveryengine/v1/conversational_search_options.h
  google/cloud/discoveryengine/v1/internal/conversational_search_auth_decorator.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_auth_decorator.h
  google/cloud/discoveryengine/v1/internal/conversational_search_connection_impl.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_connection_impl.h
  google/cloud/discoveryengine/v1/internal/conversational_search_logging_decorator.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_logging_decorator.h
  google/cloud/discoveryengine/v1/internal/conversational_search_metadata_decorator.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_metadata_decorator.h
  google/cloud/discoveryengine/v1/internal/conversational_search_option_defaults.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_option_defaults.h
  google/cloud/discoveryengine/v1/internal/conversational_search_retry_traits.h
  google/cloud/discoveryengine/v1/internal/conversational_search_stub.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_stub.h
  google/cloud/discoveryengine/v1/internal/conversational_search_stub_factory.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_stub_factory.h
  google/cloud/discoveryengine/v1/internal/conversational_search_tracing_connection.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_tracing_connection.h
  google/cloud/discoveryengine/v1/internal/conversational_search_tracing_stub.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_tracing_stub.h
  google/cloud/discoveryengine/v1/mocks/mock_conversational_search_connection.h
  google/cloud/discoveryengine/v1/samples/conversational_search_client_samples.cc
Labels: api: discoveryengine

#12546 fix(discoveryengine): update generated files
  google/cloud/discoveryengine/v1/internal/conversational_search_metadata_decorator.cc
  google/cloud/discoveryengine/v1/internal/conversational_search_metadata_decorator.h
Labels: api: discoveryengine

#12549 fix(discoveryengine): regenerate with latest generator
  google/cloud/discoveryengine/v1/internal/conversational_search_metadata_decorator.h
Labels: api: discoveryengine

#12555 cleanup(pubsub): prepare for GCC 13
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
Labels: api: pubsub

#12556 cleanup(bigtable): prepare for GCC 13
  google/cloud/bigtable/internal/legacy_async_row_sampler.cc
Labels: api: bigtable

#12563 cleanup(storage): avoid deprecated C++ symbols
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/internal/policy_document_request_test.cc
Labels: api: storage

#12577 docs(storage): more on InsertObject vs. WriteObject
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage

#12579 impl(bigtable): identify generated libraries
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
  google/cloud/bigtable/internal/legacy_async_row_reader_test.cc
  google/cloud/bigtable/internal/legacy_row_reader_test.cc
  google/cloud/bigtable/metadata_update_policy.cc
  google/cloud/bigtable/table_apply_test.cc
  google/cloud/bigtable/table_check_and_mutate_row_test.cc
  google/cloud/bigtable/table_readmodifywriterow_test.cc
  google/cloud/bigtable/table_readrow_test.cc
  google/cloud/bigtable/testing/mock_async_failing_rpc_factory.h
  google/cloud/bigtable/testing/mock_response_reader.h
Labels: api: bigtable

#12581 impl(spanner): identify generated libraries
  google/cloud/spanner/internal/database_admin_metadata.cc
  google/cloud/spanner/internal/database_admin_metadata_test.cc
  google/cloud/spanner/internal/instance_admin_metadata.cc
  google/cloud/spanner/internal/instance_admin_metadata_test.cc
  google/cloud/spanner/internal/spanner_stub_factory.cc
Labels: api: spanner

#12580 impl(pubsub): identify generated libraries
  google/cloud/pubsub/blocking_publisher_connection_test.cc
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection_test.cc
  google/cloud/pubsub/subscription_admin_connection.cc
  google/cloud/pubsub/subscription_admin_connection_test.cc
  google/cloud/pubsub/topic_admin_connection_test.cc
Labels: api: pubsub

#12582 impl(storage): identify generated libraries
  google/cloud/storage/internal/storage_stub_factory.cc
  google/cloud/storage/internal/storage_stub_factory_test.cc
  google/cloud/storage/version.cc
Labels: api: storage

#12585 cleanup(policytroubleshooter): remove misplaced `*Client`
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_policytroubleshooter.expected.abi.dump.gz
  google/cloud/policytroubleshooter/doc/environment-variables.dox
  google/cloud/policytroubleshooter/doc/main.dox
  google/cloud/policytroubleshooter/doc/override-authentication.dox
  google/cloud/policytroubleshooter/doc/override-endpoint.dox
  google/cloud/policytroubleshooter/doc/override-retry-policies.dox
  google/cloud/policytroubleshooter/iam/v3/internal/policies_auth_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_auth_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_connection_impl.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_connection_impl.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_logging_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_logging_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_metadata_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_metadata_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_option_defaults.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_option_defaults.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_retry_traits.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub_factory.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub_factory.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_connection.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_connection.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_stub.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_stub.h
  google/cloud/policytroubleshooter/iam/v3/mocks/mock_policies_connection.h
  google/cloud/policytroubleshooter/iam/v3/policies_client.cc
  google/cloud/policytroubleshooter/iam/v3/policies_client.h
  google/cloud/policytroubleshooter/iam/v3/policies_connection.cc
  google/cloud/policytroubleshooter/iam/v3/policies_connection.h
  google/cloud/policytroubleshooter/iam/v3/policies_connection_idempotency_policy.cc
  google/cloud/policytroubleshooter/iam/v3/policies_connection_idempotency_policy.h
  google/cloud/policytroubleshooter/iam/v3/policies_options.h
  google/cloud/policytroubleshooter/iam/v3/samples/policies_client_samples.cc
Labels: api: policytroubleshooter

#12596 cleanup(storage): fix typo
  google/cloud/storage/internal/policy_document_request.cc
Labels: api: storage

#12599 cleanup(policytroubleshooter): remove misplaced `*Client`
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_policytroubleshooter.expected.abi.dump.gz
  google/cloud/policytroubleshooter/doc/environment-variables.dox
  google/cloud/policytroubleshooter/doc/main.dox
  google/cloud/policytroubleshooter/doc/override-authentication.dox
  google/cloud/policytroubleshooter/doc/override-endpoint.dox
  google/cloud/policytroubleshooter/doc/override-retry-policies.dox
  google/cloud/policytroubleshooter/iam/v3/internal/policies_auth_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_auth_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_connection_impl.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_connection_impl.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_logging_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_logging_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_metadata_decorator.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_metadata_decorator.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_option_defaults.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_option_defaults.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_retry_traits.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub_factory.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_stub_factory.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_connection.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_connection.h
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_stub.cc
  google/cloud/policytroubleshooter/iam/v3/internal/policies_tracing_stub.h
  google/cloud/policytroubleshooter/iam/v3/mocks/mock_policies_connection.h
  google/cloud/policytroubleshooter/iam/v3/policies_client.cc
  google/cloud/policytroubleshooter/iam/v3/policies_client.h
  google/cloud/policytroubleshooter/iam/v3/policies_connection.cc
  google/cloud/policytroubleshooter/iam/v3/policies_connection.h
  google/cloud/policytroubleshooter/iam/v3/policies_connection_idempotency_policy.cc
  google/cloud/policytroubleshooter/iam/v3/policies_connection_idempotency_policy.h
  google/cloud/policytroubleshooter/iam/v3/policies_options.h
  google/cloud/policytroubleshooter/iam/v3/samples/policies_client_samples.cc
Labels: api: policytroubleshooter

#12588 impl(pubsub): add a publisher tracing class
  google/cloud/internal/opentelemetry.cc
  google/cloud/internal/opentelemetry.h
  google/cloud/internal/opentelemetry_test.cc
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.h
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#12617 impl(pubsub): add start and end span for publisher tracing connection
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.h
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#12600 impl(bigquery): performance benchmark shared classes
  google/cloud/bigquery/v2/minimal/benchmarks/BUILD.bazel
  google/cloud/bigquery/v2/minimal/benchmarks/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.h
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark_test.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.h
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config_test.cc
  google/cloud/bigquery/v2/minimal/benchmarks/dataset_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmark_programs.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmark_unit_tests.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmarks.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/job_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/project_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/table_benchmark_programs.cc
Labels: api: bigquery

#12628 test(pubsub): remove race condition in test
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12633 fix(pubsub): change size_t -> int for otel attribute
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#12634 impl(pubsub): use publisher tracing connection when otel is enabled
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12636 cleanup(pubsub): set attribute only when present
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#12598 impl(compute): install compute libs per service
  ci/cloudbuild/builds/cmake-split-install.sh
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/integration_tests/CMakeLists.txt
  google/cloud/compute/quickstart/CMakeLists.txt
  google/cloud/compute/quickstart/Makefile
Labels: api: compute

#12644 impl(pubsub): add set attribute accessor for message
  google/cloud/pubsub/message.h
  google/cloud/pubsub/message_test.cc
Labels: api: pubsub

#12639 impl(pubsub): enable flow control tracing when set
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12655 impl(bigquery): Dataset Benchmark program
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark_test.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.h
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config_test.cc
  google/cloud/bigquery/v2/minimal/benchmarks/dataset_benchmark_programs.cc
Labels: api: bigquery

#12662 cleanup(bigtable): replace a couple of expects with asserts
  google/cloud/bigtable/tests/instance_admin_integration_test.cc
Labels: api: bigtable

#12665 impl(pubsub): use batching publisher conn if otel is set
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12664 cleanup(pubsub): add otel expectation to tests
  google/cloud/pubsub/internal/flow_controlled_publisher_tracing_connection_test.cc
Labels: api: pubsub

#12640 impl(pubsub): add message batch interface
  google/cloud/pubsub/internal/message_batch.h
Labels: api: pubsub

#12672 fix(storage): trace auth when default credentials are assumed
  google/cloud/storage/client_options.cc
  google/cloud/storage/internal/grpc/stub.cc
Labels: api: storage

#12666 impl(bigquery): Table benchmark program
  google/cloud/bigquery/v2/minimal/benchmarks/table_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table.h
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#12675 fix(bigtable): the Location ctor takes project ids
  google/cloud/bigtable/instance_admin.cc
  google/cloud/bigtable/instance_admin_test.cc
Labels: api: bigtable

#12679 fix(cmake): restore support for disabling features
  cmake/GoogleCloudCppFeatures.cmake
Labels: gha:full-build

#12680 docs(spanner): set max_delay to 16s
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#12696 doc(compute): add repo-metadata.json
  google/cloud/compute/v1/.repo-metadata.json
Labels: api: compute

#12685 impl(bigquery): Project benchmark program
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.h
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark_test.cc
  google/cloud/bigquery/v2/minimal/benchmarks/dataset_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/project_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/table_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/internal/project.cc
  google/cloud/bigquery/v2/minimal/internal/project_response.cc
  google/cloud/bigquery/v2/minimal/internal/project_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.cc
Labels: api: bigquery

#12709 impl(bigquery): Job benchmark program
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#12676 impl(pubsub): add default message batch impl
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/noop_message_batch.h
Labels: api: pubsub

#12722 impl(pubsub): add friend function to return an attribute value
  google/cloud/pubsub/message.cc
  google/cloud/pubsub/message.h
  google/cloud/pubsub/message_test.cc
Labels: api: pubsub

#12736 impl(pubsub): change GetAttribute from std::string to absl::string_view
  google/cloud/pubsub/message.cc
  google/cloud/pubsub/message.h
  google/cloud/pubsub/message_test.cc
Labels: api: pubsub

#12744 cleanup(pubsub): add message_batch.h to build
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
Labels: api: pubsub

#12746 fix(bigquery): Job Library fixes for InsertJob api
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#12667 impl(pubsub): add message carrier
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/message_carrier.cc
  google/cloud/pubsub/internal/message_carrier.h
  google/cloud/pubsub/internal/message_carrier_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#12755 impl(bigquery): Benchmark program for InsertJob api
  google/cloud/bigquery/v2/minimal/benchmarks/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.cc
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmark_programs.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/job_insert_benchmark_programs.cc
Labels: api: bigquery

#12756 doc(compute): update CHANGELOG and other docs for GA
  CHANGELOG.md
  google/cloud/compute/README.md
  google/cloud/compute/doc/main.dox
Labels: api: compute

#12749 doc(compute): add create disk and delete disk samples
  ci/cloudbuild/builds/lib/integration.sh
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/integration_tests/compute_integration_test.cc
  google/cloud/compute/samples/BUILD.bazel
  google/cloud/compute/samples/CMakeLists.txt
  google/cloud/compute/samples/README.md
  google/cloud/compute/samples/compute_client_samples.bzl
  google/cloud/compute/samples/disk_samples.cc
Labels: api: compute, samples

#12767 impl(compute): handle optional sample arg
  google/cloud/compute/samples/disk_samples.cc
Labels: api: compute, samples

#12739 test(pubsub): add publisher factory stub tests
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/publisher_stub_factory.h
  google/cloud/pubsub/internal/publisher_stub_factory_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#12769 ci(spanner): always include Spanner emulator logs in our log
  google/cloud/spanner/ci/lib/spanner_emulator.sh
  google/cloud/spanner/ci/run_integration_tests_emulator_bazel.sh
Labels: api: spanner

#12777 impl(compute): add google_cloud_cpp_compute INTERFACE cmake target
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/quickstart/CMakeLists.txt
  google/cloud/compute/quickstart/Makefile
Labels: api: compute

#12774 cleanup(pubsub): add attribute to publish
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub
