Repository googleapis/google-cloud-cpp, pull requests merged in 2023-12, with the labels that each got.

#13218 refactor(pubsub): use tracing batch sink instead of message batch
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/message_batch.h
  google/cloud/pubsub/internal/noop_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/pubsub/pubsub_client_testing.bzl
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/testing/mock_message_batch.h
Labels: api: pubsub

#13220 fix(pubsub): pass by reference explictly
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
Labels: api: pubsub, gha:full-build

#13222 refactor(pubsub): add topic to publish span
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink.h
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13221 docs(spanner): reorganize Client::ExecuteQuery() docs
  google/cloud/spanner/client.h
Labels: api: spanner

#13210 chore(sql): move from transitional to GA
  cmake/GoogleCloudCppFeatures.cmake
  google/cloud/sql/quickstart/BUILD.bazel
  google/cloud/sql/quickstart/CMakeLists.txt
  libraries.bzl
Labels: api: cloudsql

#13226 impl(compute): add aggregate bazel target
  BUILD.bazel
  google/cloud/compute/quickstart/BUILD.bazel
Labels: api: compute

#13251 test(pubsub): add tracing enabled tests for blocking publisher
  generator/generator_config.textproto
  google/cloud/pubsub/admin/internal/subscription_admin_option_defaults.cc
  google/cloud/pubsub/admin/internal/topic_admin_option_defaults.cc
  google/cloud/pubsub/integration_tests/blocking_publisher_integration_test.cc
Labels: api: pubsub

#13241 fix(pubsub): get future value before returning
  google/cloud/pubsub/integration_tests/CMakeLists.txt
  google/cloud/pubsub/integration_tests/publisher_integration_test.cc
  google/cloud/pubsub/integration_tests/pubsub_client_integration_tests.bzl
  google/cloud/pubsub/internal/tracing_batch_sink.cc
Labels: api: pubsub

#13263 refactor(pubsub): modify attributes according to otel spec
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
Labels: api: pubsub

#13261 test(spanner): add test for directed read within RW transaction
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#13281 cleanup(bigtable): fix usage string in example
  google/cloud/bigtable/examples/bigtable_hello_instance_admin.cc
Labels: api: bigtable

#13283 test(spanner): disable DirectedReadWithinReadWriteTransaction test
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#13289 cleanup(sql): remove backwards compatibility target
  ci/verify_current_targets/CMakeLists.txt
  google/cloud/sql/config.cmake.in
Labels: api: cloudsql

#13269 impl(pubsub): add initial subscriber tracing connection
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection.h
  google/cloud/pubsub/internal/subscriber_tracing_connection_test.cc
  google/cloud/pubsub/mocks/mock_subscriber_connection.h
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13305 fix(bigtable): use FQDN
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13286 impl(pubsub): remove messaging destination attribute and options span from blocking publisher
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
Labels: api: pubsub

#13274 chore(deps): update Bazel to v7
  .bazelrc
  WORKSPACE.bazel
  bazel/google_cloud_cpp_deps.bzl
  ci/cloudbuild/builds/lib/bazel.sh
  ci/cloudbuild/builds/quickstart-bazel.sh
  ci/gha/builds/lib/bazel.sh
  ci/gha/builds/macos-bazel.sh
  ci/verify_current_targets/.bazelrc
  ci/verify_current_targets/WORKSPACE.bazel
  ci/verify_deprecated_targets/.bazelrc
  ci/verify_deprecated_targets/WORKSPACE.bazel
  generator/internal/scaffold_generator.cc
  generator/templates/WORKSPACE.bazel
Labels: gha:full-build

#13318 impl(pubsub): add attributes at the end of the receive span
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection_test.cc
Labels: api: pubsub

#13308 impl(pubsub): use subscriber tracing connection
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#13325 feat(aiplatform): add new service proto file
  generator/generator_config.textproto
  google/cloud/aiplatform/doc/environment-variables.dox
  google/cloud/aiplatform/doc/main.dox
  google/cloud/aiplatform/doc/override-authentication.dox
  google/cloud/aiplatform/doc/override-endpoint.dox
  google/cloud/aiplatform/doc/override-retry-policies.dox
  google/cloud/aiplatform/v1/deployment_resource_pool_client.cc
  google/cloud/aiplatform/v1/deployment_resource_pool_client.h
  google/cloud/aiplatform/v1/deployment_resource_pool_connection.cc
  google/cloud/aiplatform/v1/deployment_resource_pool_connection.h
  google/cloud/aiplatform/v1/deployment_resource_pool_connection_idempotency_policy.cc
  google/cloud/aiplatform/v1/deployment_resource_pool_connection_idempotency_policy.h
  google/cloud/aiplatform/v1/deployment_resource_pool_options.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_auth_decorator.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_auth_decorator.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_connection_impl.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_connection_impl.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_logging_decorator.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_logging_decorator.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_metadata_decorator.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_metadata_decorator.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_option_defaults.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_option_defaults.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_retry_traits.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_stub.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_stub.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_stub_factory.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_stub_factory.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_tracing_connection.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_tracing_connection.h
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_tracing_stub.cc
  google/cloud/aiplatform/v1/internal/deployment_resource_pool_tracing_stub.h
  google/cloud/aiplatform/v1/mocks/mock_deployment_resource_pool_connection.h
  google/cloud/aiplatform/v1/samples/deployment_resource_pool_client_samples.cc
Labels: api: aiplatform

#13327 ci(bigtable): no connection refreshing with emulator
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13329 test(bigtable): redo stub factory tests
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
Labels: api: bigtable

#13331 refactor(bigtable): pull auth strategy out of stub factory
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/internal/bigtable_channel_refresh_test.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory.h
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
  google/cloud/testing_util/mock_grpc_authentication_strategy.cc
  google/cloud/testing_util/mock_grpc_authentication_strategy.h
Labels: api: bigtable

#13335 impl(bigtable): support `UniverseDomainOption`
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13285 impl(pubsub): start the publish span as a root span
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: api: pubsub

#13339 impl(pubsub): add link from receive to create span
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection_test.cc
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
Labels: api: pubsub

#13341 impl(pubsub): support UniverseDomainOption for IAM
  google/cloud/pubsub/options.cc
  google/cloud/pubsub/options_test.cc
Labels: api: pubsub

#13342 test(spanner): reenable DirectedReadWithinReadWriteTransaction test
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#13347 cleanup(pubsub): no const for std::move
  google/cloud/pubsub/options.cc
Labels: api: pubsub

#13349 impl(pubsub): add ack id and subscription to PullAckHandler::Impl
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/mocks/mock_pull_ack_handler.h
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/pull_ack_handler.h
Labels: api: pubsub

#13351 cleanup(compute): shorten target names
  cmake/AddPkgConfig.cmake
  google/cloud/compute/CMakeLists.txt
  protos/google/cloud/compute/CMakeLists.txt
Labels: api: compute

#13365 impl(pubsub): add default pull lease manager class
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.h
  google/cloud/pubsub/internal/default_pull_ack_handler_test.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13359 refactor(pubsub): rename publish scheduler -> publisher batching
  google/cloud/pubsub/internal/batching_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/batching_publisher_tracing_connection_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13350 impl(pubsub): add default pull ack handler impls
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.h
  google/cloud/pubsub/internal/default_pull_ack_handler_test.cc
Labels: api: pubsub

#13356 impl(pubsub): add pull lease manager interface and mock
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/default_pull_ack_handler.h
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/pull_lease_manager.h
  google/cloud/pubsub/pubsub_client_testing.bzl
  google/cloud/pubsub/testing/mock_pull_lease_manager.h
Labels: api: pubsub

#13353 impl(pubsub): add tracing pull ack handler
  google/cloud/internal/opentelemetry.h
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
  google/cloud/pubsub/internal/tracing_pull_ack_handler.h
  google/cloud/pubsub/internal/tracing_pull_ack_handler_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13366 impl(pubsub): add extend lease to pull manager interface
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
  google/cloud/pubsub/internal/pull_lease_manager.h
Labels: api: pubsub

#13354 impl(pubsub): add links to tracing pull ack handler
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
  google/cloud/pubsub/internal/tracing_pull_ack_handler_test.cc
Labels: api: pubsub

#13358 impl(pubsub): add pull ack handler factory
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/pull_ack_handler_factory.cc
  google/cloud/pubsub/internal/pull_ack_handler_factory.h
  google/cloud/pubsub/internal/pull_ack_handler_factory_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13367 impl(pubsub): add ack id and subscription to lease interface
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
  google/cloud/pubsub/internal/pull_lease_manager.h
Labels: api: pubsub

#13360 impl(pubsub): use ack handler factory
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#13369 impl(pubsub): add tracing pull lease manager
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/tracing_pull_lease_manager.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager.h
  google/cloud/pubsub/internal/tracing_pull_lease_manager_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/testing/mock_pull_lease_manager.h
Labels: api: pubsub

#13372 feat(bigquery): expose experimental bigquery v2 mocks
  BUILD.bazel
Labels: api: bigquery

#13371 refactor(pubsub): make helper linking functions so they can be shared
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
Labels: api: pubsub

#13370 refactor(pubsub): create a helper function to start root spans
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_helpers.cc
  google/cloud/pubsub/internal/tracing_helpers.h
  google/cloud/pubsub/internal/tracing_helpers_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13375 test(pubsub): add subscriber tracing tests for unary pull
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub

#13376 refactor(pubsub): s/CreatePullAckHandler/MakePullAckHandler
  google/cloud/pubsub/internal/pull_ack_handler_factory.cc
  google/cloud/pubsub/internal/pull_ack_handler_factory.h
  google/cloud/pubsub/internal/pull_ack_handler_factory_test.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
Labels: api: pubsub

#13374 impl(pubsub): add pull lease manager factory
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/pull_lease_manager_factory.cc
  google/cloud/pubsub/internal/pull_lease_manager_factory.h
  google/cloud/pubsub/internal/pull_lease_manager_factory_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub
