Repository googleapis/google-cloud-cpp, pull requests merged in 2023-02, with the labels that each got.

#10707 cleanup(bigtable): prepare for clang-tidy 15
  google/cloud/bigtable/benchmarks/read_sync_vs_async_benchmark.cc
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/examples/data_snippets.cc
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/connection_refresh_state.cc
  google/cloud/bigtable/internal/legacy_async_row_reader_test.cc
  google/cloud/bigtable/mutation_batcher.cc
Labels: api: bigtable

#10710 cleanup(iam): prepare for clang-tidy 15
  google/cloud/iam/samples/iam_samples.cc
Labels: api: iam

#10712 cleanup(spanner): prepare for clang-tidy 15
  google/cloud/spanner/client.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#10713 cleanup(storage): prepare for clang-tidy 15
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/internal/curl_download_request.h
  google/cloud/storage/internal/grpc_bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc_object_request_parser_test.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/list_objects_and_prefixes_reader_test.cc
Labels: api: storage

#10711 cleanup(pubsublite): prepare for clang-tidy 15
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#10715 test(pubsub): deflake `ExactlyOnce` integration test
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub

#10733 impl(bigquery): v2 job initial files
  ci/cloudbuild/builds/cmake-install.sh
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_options.cc
  google/cloud/bigquery/v2/minimal/internal/job_options.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_factory.h
  google/cloud/bigquery/v2/minimal/internal/job_retry_policy.h
Labels: api: bigquery

#10747 doc(bigtable): prepare for Fedora:37
  google/cloud/bigtable/table_admin.h
Labels: api: bigtable

#10751 doc(spanner): prepare for Fedora:37 updates
  google/cloud/spanner/client.h
  google/cloud/spanner/database_admin_client.h
  google/cloud/spanner/database_admin_connection.h
  google/cloud/spanner/doc/error-handling.dox
  google/cloud/spanner/instance_admin_client.h
  google/cloud/spanner/instance_admin_connection.h
  google/cloud/spanner/transaction.h
  google/cloud/spanner/value.h
Labels: api: spanner

#10785 test(pubsub): avoid crashes in 32-bit builds
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
Labels: api: pubsub

#10787 test(spanner): avoid timeouts in 32-bit builds
  google/cloud/spanner/integration_tests/client_stress_test.cc
Labels: api: spanner

#10793 fix(pubsub): fewer default threads for 32-bit builds
  google/cloud/pubsub/internal/defaults.cc
Labels: api: pubsub

#10798 cleanup(spanner): reorder class function declarations for clarity
  google/cloud/spanner/client.h
Labels: api: spanner

#10805 test(spanner): reset state in the DmlReturning test mutators
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#10818 cleanup(bigtable): remove unused CMake option
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/force_sanitizer_failures_test.cc
Labels: api: bigtable

#10825 cleanup(bigtable): typo
  google/cloud/bigtable/filters.h
Labels: api: bigtable

#10831 refactor(bigquery): split out CMakeLists.txt
  google/cloud/bigquery/CMakeLists.txt
  google/cloud/bigquery/bigquery_grpc.cmake
Labels: api: bigquery

#10836 impl(bigquery): install bigquery_rest
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/builds/lib/features.sh
  ci/verify_current_targets/CMakeLists.txt
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/config-rest.cmake.in
Labels: api: bigquery

#10844 docs(bigtable): clean up `CreateTable` sample
  google/cloud/bigtable/examples/bigtable_hello_world.cc
Labels: api: bigtable, samples

#10848 cleanup(bigtable): remove unused
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#10856 refactor(accesscontextmanager): versioned clients
  ci/abi-dumps/google_cloud_cpp_accesscontextmanager.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/accesscontextmanager/BUILD.bazel
  google/cloud/accesscontextmanager/CMakeLists.txt
  google/cloud/accesscontextmanager/access_context_manager_client.h
  google/cloud/accesscontextmanager/access_context_manager_connection.h
  google/cloud/accesscontextmanager/access_context_manager_connection_idempotency_policy.h
  google/cloud/accesscontextmanager/access_context_manager_options.h
  google/cloud/accesscontextmanager/doc/main.dox
  google/cloud/accesscontextmanager/mocks/mock_access_context_manager_connection.h
  google/cloud/accesscontextmanager/samples/BUILD.bazel
  google/cloud/accesscontextmanager/samples/CMakeLists.txt
  google/cloud/accesscontextmanager/v1/access_context_manager_client.cc
  google/cloud/accesscontextmanager/v1/access_context_manager_client.h
  google/cloud/accesscontextmanager/v1/access_context_manager_connection.cc
  google/cloud/accesscontextmanager/v1/access_context_manager_connection.h
  google/cloud/accesscontextmanager/v1/access_context_manager_connection_idempotency_policy.cc
  google/cloud/accesscontextmanager/v1/access_context_manager_connection_idempotency_policy.h
  google/cloud/accesscontextmanager/v1/access_context_manager_options.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_auth_decorator.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_auth_decorator.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_connection_impl.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_connection_impl.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_logging_decorator.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_logging_decorator.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_metadata_decorator.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_metadata_decorator.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_option_defaults.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_option_defaults.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_retry_traits.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_stub.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_stub.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_stub_factory.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_stub_factory.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_tracing_connection.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_tracing_connection.h
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_tracing_stub.cc
  google/cloud/accesscontextmanager/v1/internal/access_context_manager_tracing_stub.h
  google/cloud/accesscontextmanager/v1/mocks/mock_access_context_manager_connection.h
  google/cloud/accesscontextmanager/v1/samples/access_context_manager_client_samples.cc
Labels: api: accesscontextmanager

#10863 refactor(asset): versioned clients
  .typos.toml
  ci/abi-dumps/google_cloud_cpp_asset.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/asset/BUILD.bazel
  google/cloud/asset/CMakeLists.txt
  google/cloud/asset/asset_client.h
  google/cloud/asset/asset_connection.h
  google/cloud/asset/asset_connection_idempotency_policy.h
  google/cloud/asset/asset_options.h
  google/cloud/asset/doc/main.dox
  google/cloud/asset/mocks/mock_asset_connection.h
  google/cloud/asset/samples/BUILD.bazel
  google/cloud/asset/samples/CMakeLists.txt
  google/cloud/asset/v1/asset_client.cc
  google/cloud/asset/v1/asset_client.h
  google/cloud/asset/v1/asset_connection.cc
  google/cloud/asset/v1/asset_connection.h
  google/cloud/asset/v1/asset_connection_idempotency_policy.cc
  google/cloud/asset/v1/asset_connection_idempotency_policy.h
  google/cloud/asset/v1/asset_options.h
  google/cloud/asset/v1/internal/asset_auth_decorator.cc
  google/cloud/asset/v1/internal/asset_auth_decorator.h
  google/cloud/asset/v1/internal/asset_connection_impl.cc
  google/cloud/asset/v1/internal/asset_connection_impl.h
  google/cloud/asset/v1/internal/asset_logging_decorator.cc
  google/cloud/asset/v1/internal/asset_logging_decorator.h
  google/cloud/asset/v1/internal/asset_metadata_decorator.cc
  google/cloud/asset/v1/internal/asset_metadata_decorator.h
  google/cloud/asset/v1/internal/asset_option_defaults.cc
  google/cloud/asset/v1/internal/asset_option_defaults.h
  google/cloud/asset/v1/internal/asset_retry_traits.h
  google/cloud/asset/v1/internal/asset_stub.cc
  google/cloud/asset/v1/internal/asset_stub.h
  google/cloud/asset/v1/internal/asset_stub_factory.cc
  google/cloud/asset/v1/internal/asset_stub_factory.h
  google/cloud/asset/v1/internal/asset_tracing_connection.cc
  google/cloud/asset/v1/internal/asset_tracing_connection.h
  google/cloud/asset/v1/internal/asset_tracing_stub.cc
  google/cloud/asset/v1/internal/asset_tracing_stub.h
  google/cloud/asset/v1/mocks/mock_asset_connection.h
  google/cloud/asset/v1/samples/asset_client_samples.cc
Labels: api: cloudasset

#10868 impl(spanner): push TransactionContext further down in ConnectionImpl
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
Labels: api: spanner

#10869 refactor(artifactregistry): versioned clients
  ci/abi-dumps/google_cloud_cpp_artifactregistry.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/artifactregistry/BUILD.bazel
  google/cloud/artifactregistry/CMakeLists.txt
  google/cloud/artifactregistry/artifact_registry_client.h
  google/cloud/artifactregistry/artifact_registry_connection.h
  google/cloud/artifactregistry/artifact_registry_connection_idempotency_policy.h
  google/cloud/artifactregistry/artifact_registry_options.h
  google/cloud/artifactregistry/doc/main.dox
  google/cloud/artifactregistry/mocks/mock_artifact_registry_connection.h
  google/cloud/artifactregistry/samples/BUILD.bazel
  google/cloud/artifactregistry/samples/CMakeLists.txt
  google/cloud/artifactregistry/v1/artifact_registry_client.cc
  google/cloud/artifactregistry/v1/artifact_registry_client.h
  google/cloud/artifactregistry/v1/artifact_registry_connection.cc
  google/cloud/artifactregistry/v1/artifact_registry_connection.h
  google/cloud/artifactregistry/v1/artifact_registry_connection_idempotency_policy.cc
  google/cloud/artifactregistry/v1/artifact_registry_connection_idempotency_policy.h
  google/cloud/artifactregistry/v1/artifact_registry_options.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_auth_decorator.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_auth_decorator.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_connection_impl.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_connection_impl.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_logging_decorator.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_logging_decorator.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_metadata_decorator.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_metadata_decorator.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_option_defaults.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_option_defaults.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_retry_traits.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_stub.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_stub.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_stub_factory.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_stub_factory.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_tracing_connection.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_tracing_connection.h
  google/cloud/artifactregistry/v1/internal/artifact_registry_tracing_stub.cc
  google/cloud/artifactregistry/v1/internal/artifact_registry_tracing_stub.h
  google/cloud/artifactregistry/v1/mocks/mock_artifact_registry_connection.h
  google/cloud/artifactregistry/v1/samples/artifact_registry_client_samples.cc
Labels: api: artifactregistry

#10870 refactor(assuredworkloads): versioned clients
  ci/abi-dumps/google_cloud_cpp_assuredworkloads.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/assuredworkloads/BUILD.bazel
  google/cloud/assuredworkloads/CMakeLists.txt
  google/cloud/assuredworkloads/assured_workloads_client.h
  google/cloud/assuredworkloads/assured_workloads_connection.h
  google/cloud/assuredworkloads/assured_workloads_connection_idempotency_policy.h
  google/cloud/assuredworkloads/assured_workloads_options.h
  google/cloud/assuredworkloads/doc/main.dox
  google/cloud/assuredworkloads/mocks/mock_assured_workloads_connection.h
  google/cloud/assuredworkloads/samples/BUILD.bazel
  google/cloud/assuredworkloads/samples/CMakeLists.txt
  google/cloud/assuredworkloads/v1/assured_workloads_client.cc
  google/cloud/assuredworkloads/v1/assured_workloads_client.h
  google/cloud/assuredworkloads/v1/assured_workloads_connection.cc
  google/cloud/assuredworkloads/v1/assured_workloads_connection.h
  google/cloud/assuredworkloads/v1/assured_workloads_connection_idempotency_policy.cc
  google/cloud/assuredworkloads/v1/assured_workloads_connection_idempotency_policy.h
  google/cloud/assuredworkloads/v1/assured_workloads_options.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_auth_decorator.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_auth_decorator.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_connection_impl.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_connection_impl.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_logging_decorator.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_logging_decorator.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_metadata_decorator.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_metadata_decorator.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_option_defaults.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_option_defaults.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_retry_traits.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_stub.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_stub.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_stub_factory.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_stub_factory.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_tracing_connection.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_tracing_connection.h
  google/cloud/assuredworkloads/v1/internal/assured_workloads_tracing_stub.cc
  google/cloud/assuredworkloads/v1/internal/assured_workloads_tracing_stub.h
  google/cloud/assuredworkloads/v1/mocks/mock_assured_workloads_connection.h
  google/cloud/assuredworkloads/v1/samples/assured_workloads_client_samples.cc
Labels: api: assuredworkloads

#10879 impl(spanner): call ConfigureContext() for streaming RPCs
  google/cloud/spanner/internal/connection_impl.cc
Labels: api: spanner

#10873 refactor(baremetalsolution): versioned clients
  ci/abi-dumps/google_cloud_cpp_baremetalsolution.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/baremetalsolution/BUILD.bazel
  google/cloud/baremetalsolution/CMakeLists.txt
  google/cloud/baremetalsolution/bare_metal_solution_client.h
  google/cloud/baremetalsolution/bare_metal_solution_connection.h
  google/cloud/baremetalsolution/bare_metal_solution_connection_idempotency_policy.h
  google/cloud/baremetalsolution/bare_metal_solution_options.h
  google/cloud/baremetalsolution/doc/main.dox
  google/cloud/baremetalsolution/mocks/mock_bare_metal_solution_connection.h
  google/cloud/baremetalsolution/samples/BUILD.bazel
  google/cloud/baremetalsolution/samples/CMakeLists.txt
  google/cloud/baremetalsolution/v2/bare_metal_solution_client.cc
  google/cloud/baremetalsolution/v2/bare_metal_solution_client.h
  google/cloud/baremetalsolution/v2/bare_metal_solution_connection.cc
  google/cloud/baremetalsolution/v2/bare_metal_solution_connection.h
  google/cloud/baremetalsolution/v2/bare_metal_solution_connection_idempotency_policy.cc
  google/cloud/baremetalsolution/v2/bare_metal_solution_connection_idempotency_policy.h
  google/cloud/baremetalsolution/v2/bare_metal_solution_options.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_auth_decorator.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_auth_decorator.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_connection_impl.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_connection_impl.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_logging_decorator.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_logging_decorator.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_metadata_decorator.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_metadata_decorator.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_option_defaults.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_option_defaults.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_retry_traits.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_stub.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_stub.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_stub_factory.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_stub_factory.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_tracing_connection.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_tracing_connection.h
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_tracing_stub.cc
  google/cloud/baremetalsolution/v2/internal/bare_metal_solution_tracing_stub.h
  google/cloud/baremetalsolution/v2/mocks/mock_bare_metal_solution_connection.h
  google/cloud/baremetalsolution/v2/samples/bare_metal_solution_client_samples.cc
Labels: api: baremetalsolution

#10876 refactor(channel): versioned clients
  .typos.toml
  ci/abi-dumps/google_cloud_cpp_channel.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/channel/BUILD.bazel
  google/cloud/channel/CMakeLists.txt
  google/cloud/channel/cloud_channel_client.h
  google/cloud/channel/cloud_channel_connection.h
  google/cloud/channel/cloud_channel_connection_idempotency_policy.h
  google/cloud/channel/cloud_channel_options.h
  google/cloud/channel/doc/main.dox
  google/cloud/channel/mocks/mock_cloud_channel_connection.h
  google/cloud/channel/samples/BUILD.bazel
  google/cloud/channel/samples/CMakeLists.txt
  google/cloud/channel/v1/cloud_channel_client.cc
  google/cloud/channel/v1/cloud_channel_client.h
  google/cloud/channel/v1/cloud_channel_connection.cc
  google/cloud/channel/v1/cloud_channel_connection.h
  google/cloud/channel/v1/cloud_channel_connection_idempotency_policy.cc
  google/cloud/channel/v1/cloud_channel_connection_idempotency_policy.h
  google/cloud/channel/v1/cloud_channel_options.h
  google/cloud/channel/v1/internal/cloud_channel_auth_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_auth_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_connection_impl.cc
  google/cloud/channel/v1/internal/cloud_channel_connection_impl.h
  google/cloud/channel/v1/internal/cloud_channel_logging_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_logging_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_metadata_decorator.cc
  google/cloud/channel/v1/internal/cloud_channel_metadata_decorator.h
  google/cloud/channel/v1/internal/cloud_channel_option_defaults.cc
  google/cloud/channel/v1/internal/cloud_channel_option_defaults.h
  google/cloud/channel/v1/internal/cloud_channel_retry_traits.h
  google/cloud/channel/v1/internal/cloud_channel_stub.cc
  google/cloud/channel/v1/internal/cloud_channel_stub.h
  google/cloud/channel/v1/internal/cloud_channel_stub_factory.cc
  google/cloud/channel/v1/internal/cloud_channel_stub_factory.h
  google/cloud/channel/v1/internal/cloud_channel_tracing_connection.cc
  google/cloud/channel/v1/internal/cloud_channel_tracing_connection.h
  google/cloud/channel/v1/internal/cloud_channel_tracing_stub.cc
  google/cloud/channel/v1/internal/cloud_channel_tracing_stub.h
  google/cloud/channel/v1/mocks/mock_cloud_channel_connection.h
  google/cloud/channel/v1/samples/cloud_channel_client_samples.cc
Labels: api: cloudchannel

#10877 refactor(cloudbuild): versioned clients
  ci/abi-dumps/google_cloud_cpp_cloudbuild.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/cloudbuild/BUILD.bazel
  google/cloud/cloudbuild/CMakeLists.txt
  google/cloud/cloudbuild/cloud_build_client.h
  google/cloud/cloudbuild/cloud_build_connection.h
  google/cloud/cloudbuild/cloud_build_connection_idempotency_policy.h
  google/cloud/cloudbuild/cloud_build_options.h
  google/cloud/cloudbuild/doc/main.dox
  google/cloud/cloudbuild/mocks/mock_cloud_build_connection.h
  google/cloud/cloudbuild/samples/BUILD.bazel
  google/cloud/cloudbuild/samples/CMakeLists.txt
  google/cloud/cloudbuild/v1/cloud_build_client.cc
  google/cloud/cloudbuild/v1/cloud_build_client.h
  google/cloud/cloudbuild/v1/cloud_build_connection.cc
  google/cloud/cloudbuild/v1/cloud_build_connection.h
  google/cloud/cloudbuild/v1/cloud_build_connection_idempotency_policy.cc
  google/cloud/cloudbuild/v1/cloud_build_connection_idempotency_policy.h
  google/cloud/cloudbuild/v1/cloud_build_options.h
  google/cloud/cloudbuild/v1/internal/cloud_build_auth_decorator.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_auth_decorator.h
  google/cloud/cloudbuild/v1/internal/cloud_build_connection_impl.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_connection_impl.h
  google/cloud/cloudbuild/v1/internal/cloud_build_logging_decorator.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_logging_decorator.h
  google/cloud/cloudbuild/v1/internal/cloud_build_metadata_decorator.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_metadata_decorator.h
  google/cloud/cloudbuild/v1/internal/cloud_build_option_defaults.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_option_defaults.h
  google/cloud/cloudbuild/v1/internal/cloud_build_retry_traits.h
  google/cloud/cloudbuild/v1/internal/cloud_build_stub.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_stub.h
  google/cloud/cloudbuild/v1/internal/cloud_build_stub_factory.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_stub_factory.h
  google/cloud/cloudbuild/v1/internal/cloud_build_tracing_connection.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_tracing_connection.h
  google/cloud/cloudbuild/v1/internal/cloud_build_tracing_stub.cc
  google/cloud/cloudbuild/v1/internal/cloud_build_tracing_stub.h
  google/cloud/cloudbuild/v1/mocks/mock_cloud_build_connection.h
  google/cloud/cloudbuild/v1/samples/cloud_build_client_samples.cc
Labels: api: cloudbuild

#10884 impl(storage): use std::size_t for indentation width and level
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
Labels: api: storage

#10885 feat(spanner): introduce the RouteToLeaderOption
  google/cloud/spanner/internal/defaults.cc
  google/cloud/spanner/internal/defaults_test.cc
  google/cloud/spanner/options.h
Labels: api: spanner

#10889 impl(spanner): a helper function to add the route-to-leader header
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/internal/route_to_leader.cc
  google/cloud/spanner/internal/route_to_leader.h
  google/cloud/spanner/internal/route_to_leader_test.cc
  google/cloud/spanner/spanner_client_unit_tests.bzl
Labels: api: spanner

#10894 impl(spanner): add TransactionContext.route_to_leader
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/transaction_impl.h
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/read_partition.h
  google/cloud/spanner/transaction.cc
  google/cloud/spanner/transaction.h
Labels: api: spanner

#10891 refactor(container): versioned clients
  ci/abi-dumps/google_cloud_cpp_container.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/container/BUILD.bazel
  google/cloud/container/CMakeLists.txt
  google/cloud/container/cluster_manager_client.h
  google/cloud/container/cluster_manager_connection.h
  google/cloud/container/cluster_manager_connection_idempotency_policy.h
  google/cloud/container/cluster_manager_options.h
  google/cloud/container/doc/main.dox
  google/cloud/container/mocks/mock_cluster_manager_connection.h
  google/cloud/container/samples/BUILD.bazel
  google/cloud/container/samples/CMakeLists.txt
  google/cloud/container/v1/cluster_manager_client.cc
  google/cloud/container/v1/cluster_manager_client.h
  google/cloud/container/v1/cluster_manager_connection.cc
  google/cloud/container/v1/cluster_manager_connection.h
  google/cloud/container/v1/cluster_manager_connection_idempotency_policy.cc
  google/cloud/container/v1/cluster_manager_connection_idempotency_policy.h
  google/cloud/container/v1/cluster_manager_options.h
  google/cloud/container/v1/internal/cluster_manager_auth_decorator.cc
  google/cloud/container/v1/internal/cluster_manager_auth_decorator.h
  google/cloud/container/v1/internal/cluster_manager_connection_impl.cc
  google/cloud/container/v1/internal/cluster_manager_connection_impl.h
  google/cloud/container/v1/internal/cluster_manager_logging_decorator.cc
  google/cloud/container/v1/internal/cluster_manager_logging_decorator.h
  google/cloud/container/v1/internal/cluster_manager_metadata_decorator.cc
  google/cloud/container/v1/internal/cluster_manager_metadata_decorator.h
  google/cloud/container/v1/internal/cluster_manager_option_defaults.cc
  google/cloud/container/v1/internal/cluster_manager_option_defaults.h
  google/cloud/container/v1/internal/cluster_manager_retry_traits.h
  google/cloud/container/v1/internal/cluster_manager_stub.cc
  google/cloud/container/v1/internal/cluster_manager_stub.h
  google/cloud/container/v1/internal/cluster_manager_stub_factory.cc
  google/cloud/container/v1/internal/cluster_manager_stub_factory.h
  google/cloud/container/v1/internal/cluster_manager_tracing_connection.cc
  google/cloud/container/v1/internal/cluster_manager_tracing_connection.h
  google/cloud/container/v1/internal/cluster_manager_tracing_stub.cc
  google/cloud/container/v1/internal/cluster_manager_tracing_stub.h
  google/cloud/container/v1/mocks/mock_cluster_manager_connection.h
  google/cloud/container/v1/samples/cluster_manager_client_samples.cc
Labels: api: container

#10888 refactor(contactcenterinsights): versioned clients
  ci/abi-dumps/google_cloud_cpp_contactcenterinsights.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/contactcenterinsights/BUILD.bazel
  google/cloud/contactcenterinsights/CMakeLists.txt
  google/cloud/contactcenterinsights/contact_center_insights_client.h
  google/cloud/contactcenterinsights/contact_center_insights_connection.h
  google/cloud/contactcenterinsights/contact_center_insights_connection_idempotency_policy.h
  google/cloud/contactcenterinsights/contact_center_insights_options.h
  google/cloud/contactcenterinsights/doc/main.dox
  google/cloud/contactcenterinsights/mocks/mock_contact_center_insights_connection.h
  google/cloud/contactcenterinsights/samples/BUILD.bazel
  google/cloud/contactcenterinsights/samples/CMakeLists.txt
  google/cloud/contactcenterinsights/v1/contact_center_insights_client.cc
  google/cloud/contactcenterinsights/v1/contact_center_insights_client.h
  google/cloud/contactcenterinsights/v1/contact_center_insights_connection.cc
  google/cloud/contactcenterinsights/v1/contact_center_insights_connection.h
  google/cloud/contactcenterinsights/v1/contact_center_insights_connection_idempotency_policy.cc
  google/cloud/contactcenterinsights/v1/contact_center_insights_connection_idempotency_policy.h
  google/cloud/contactcenterinsights/v1/contact_center_insights_options.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_auth_decorator.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_auth_decorator.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_connection_impl.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_connection_impl.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_logging_decorator.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_logging_decorator.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_metadata_decorator.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_metadata_decorator.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_option_defaults.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_option_defaults.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_retry_traits.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_stub.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_stub.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_stub_factory.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_stub_factory.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_tracing_connection.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_tracing_connection.h
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_tracing_stub.cc
  google/cloud/contactcenterinsights/v1/internal/contact_center_insights_tracing_stub.h
  google/cloud/contactcenterinsights/v1/mocks/mock_contact_center_insights_connection.h
  google/cloud/contactcenterinsights/v1/samples/contact_center_insights_client_samples.cc
Labels: api: contactcenterinsights

#10898 refactor(datastream): versioned clients
  ci/abi-dumps/google_cloud_cpp_datastream.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/datastream/BUILD.bazel
  google/cloud/datastream/CMakeLists.txt
  google/cloud/datastream/datastream_client.h
  google/cloud/datastream/datastream_connection.h
  google/cloud/datastream/datastream_connection_idempotency_policy.h
  google/cloud/datastream/datastream_options.h
  google/cloud/datastream/doc/main.dox
  google/cloud/datastream/mocks/mock_datastream_connection.h
  google/cloud/datastream/samples/BUILD.bazel
  google/cloud/datastream/samples/CMakeLists.txt
  google/cloud/datastream/v1/datastream_client.cc
  google/cloud/datastream/v1/datastream_client.h
  google/cloud/datastream/v1/datastream_connection.cc
  google/cloud/datastream/v1/datastream_connection.h
  google/cloud/datastream/v1/datastream_connection_idempotency_policy.cc
  google/cloud/datastream/v1/datastream_connection_idempotency_policy.h
  google/cloud/datastream/v1/datastream_options.h
  google/cloud/datastream/v1/internal/datastream_auth_decorator.cc
  google/cloud/datastream/v1/internal/datastream_auth_decorator.h
  google/cloud/datastream/v1/internal/datastream_connection_impl.cc
  google/cloud/datastream/v1/internal/datastream_connection_impl.h
  google/cloud/datastream/v1/internal/datastream_logging_decorator.cc
  google/cloud/datastream/v1/internal/datastream_logging_decorator.h
  google/cloud/datastream/v1/internal/datastream_metadata_decorator.cc
  google/cloud/datastream/v1/internal/datastream_metadata_decorator.h
  google/cloud/datastream/v1/internal/datastream_option_defaults.cc
  google/cloud/datastream/v1/internal/datastream_option_defaults.h
  google/cloud/datastream/v1/internal/datastream_retry_traits.h
  google/cloud/datastream/v1/internal/datastream_stub.cc
  google/cloud/datastream/v1/internal/datastream_stub.h
  google/cloud/datastream/v1/internal/datastream_stub_factory.cc
  google/cloud/datastream/v1/internal/datastream_stub_factory.h
  google/cloud/datastream/v1/internal/datastream_tracing_connection.cc
  google/cloud/datastream/v1/internal/datastream_tracing_connection.h
  google/cloud/datastream/v1/internal/datastream_tracing_stub.cc
  google/cloud/datastream/v1/internal/datastream_tracing_stub.h
  google/cloud/datastream/v1/mocks/mock_datastream_connection.h
  google/cloud/datastream/v1/samples/datastream_client_samples.cc
Labels: api: datastream

#10900 refactor(deploy): versioned clients
  ci/abi-dumps/google_cloud_cpp_deploy.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/deploy/BUILD.bazel
  google/cloud/deploy/CMakeLists.txt
  google/cloud/deploy/cloud_deploy_client.h
  google/cloud/deploy/cloud_deploy_connection.h
  google/cloud/deploy/cloud_deploy_connection_idempotency_policy.h
  google/cloud/deploy/cloud_deploy_options.h
  google/cloud/deploy/doc/main.dox
  google/cloud/deploy/mocks/mock_cloud_deploy_connection.h
  google/cloud/deploy/samples/BUILD.bazel
  google/cloud/deploy/samples/CMakeLists.txt
  google/cloud/deploy/v1/cloud_deploy_client.cc
  google/cloud/deploy/v1/cloud_deploy_client.h
  google/cloud/deploy/v1/cloud_deploy_connection.cc
  google/cloud/deploy/v1/cloud_deploy_connection.h
  google/cloud/deploy/v1/cloud_deploy_connection_idempotency_policy.cc
  google/cloud/deploy/v1/cloud_deploy_connection_idempotency_policy.h
  google/cloud/deploy/v1/cloud_deploy_options.h
  google/cloud/deploy/v1/internal/cloud_deploy_auth_decorator.cc
  google/cloud/deploy/v1/internal/cloud_deploy_auth_decorator.h
  google/cloud/deploy/v1/internal/cloud_deploy_connection_impl.cc
  google/cloud/deploy/v1/internal/cloud_deploy_connection_impl.h
  google/cloud/deploy/v1/internal/cloud_deploy_logging_decorator.cc
  google/cloud/deploy/v1/internal/cloud_deploy_logging_decorator.h
  google/cloud/deploy/v1/internal/cloud_deploy_metadata_decorator.cc
  google/cloud/deploy/v1/internal/cloud_deploy_metadata_decorator.h
  google/cloud/deploy/v1/internal/cloud_deploy_option_defaults.cc
  google/cloud/deploy/v1/internal/cloud_deploy_option_defaults.h
  google/cloud/deploy/v1/internal/cloud_deploy_retry_traits.h
  google/cloud/deploy/v1/internal/cloud_deploy_stub.cc
  google/cloud/deploy/v1/internal/cloud_deploy_stub.h
  google/cloud/deploy/v1/internal/cloud_deploy_stub_factory.cc
  google/cloud/deploy/v1/internal/cloud_deploy_stub_factory.h
  google/cloud/deploy/v1/internal/cloud_deploy_tracing_connection.cc
  google/cloud/deploy/v1/internal/cloud_deploy_tracing_connection.h
  google/cloud/deploy/v1/internal/cloud_deploy_tracing_stub.cc
  google/cloud/deploy/v1/internal/cloud_deploy_tracing_stub.h
  google/cloud/deploy/v1/mocks/mock_cloud_deploy_connection.h
  google/cloud/deploy/v1/samples/cloud_deploy_client_samples.cc
Labels: api: clouddeploy

#10901 refactor(dlp): versioned clients
  ci/abi-dumps/google_cloud_cpp_dlp.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/dlp/BUILD.bazel
  google/cloud/dlp/CMakeLists.txt
  google/cloud/dlp/dlp_client.h
  google/cloud/dlp/dlp_connection.h
  google/cloud/dlp/dlp_connection_idempotency_policy.h
  google/cloud/dlp/dlp_options.h
  google/cloud/dlp/doc/main.dox
  google/cloud/dlp/mocks/mock_dlp_connection.h
  google/cloud/dlp/samples/BUILD.bazel
  google/cloud/dlp/samples/CMakeLists.txt
  google/cloud/dlp/v2/dlp_client.cc
  google/cloud/dlp/v2/dlp_client.h
  google/cloud/dlp/v2/dlp_connection.cc
  google/cloud/dlp/v2/dlp_connection.h
  google/cloud/dlp/v2/dlp_connection_idempotency_policy.cc
  google/cloud/dlp/v2/dlp_connection_idempotency_policy.h
  google/cloud/dlp/v2/dlp_options.h
  google/cloud/dlp/v2/internal/dlp_auth_decorator.cc
  google/cloud/dlp/v2/internal/dlp_auth_decorator.h
  google/cloud/dlp/v2/internal/dlp_connection_impl.cc
  google/cloud/dlp/v2/internal/dlp_connection_impl.h
  google/cloud/dlp/v2/internal/dlp_logging_decorator.cc
  google/cloud/dlp/v2/internal/dlp_logging_decorator.h
  google/cloud/dlp/v2/internal/dlp_metadata_decorator.cc
  google/cloud/dlp/v2/internal/dlp_metadata_decorator.h
  google/cloud/dlp/v2/internal/dlp_option_defaults.cc
  google/cloud/dlp/v2/internal/dlp_option_defaults.h
  google/cloud/dlp/v2/internal/dlp_retry_traits.h
  google/cloud/dlp/v2/internal/dlp_stub.cc
  google/cloud/dlp/v2/internal/dlp_stub.h
  google/cloud/dlp/v2/internal/dlp_stub_factory.cc
  google/cloud/dlp/v2/internal/dlp_stub_factory.h
  google/cloud/dlp/v2/internal/dlp_tracing_connection.cc
  google/cloud/dlp/v2/internal/dlp_tracing_connection.h
  google/cloud/dlp/v2/internal/dlp_tracing_stub.cc
  google/cloud/dlp/v2/internal/dlp_tracing_stub.h
  google/cloud/dlp/v2/mocks/mock_dlp_connection.h
  google/cloud/dlp/v2/samples/dlp_client_samples.cc
Labels: api: dlp

#10909 test(spanner): check route-to-leader in HasSessionAndTransaction
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/query_partition_test.cc
  google/cloud/spanner/read_partition_test.cc
  google/cloud/spanner/testing/matchers.h
Labels: api: spanner

#10908 impl(spanner): use a read-write transaction in ExecutePartitionedDml()
  google/cloud/spanner/internal/connection_impl.cc
Labels: api: spanner

#10905 refactor(documentai): versioned clients
  ci/abi-dumps/google_cloud_cpp_documentai.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/documentai/BUILD.bazel
  google/cloud/documentai/CMakeLists.txt
  google/cloud/documentai/doc/main.dox
  google/cloud/documentai/document_processor_client.h
  google/cloud/documentai/document_processor_connection.h
  google/cloud/documentai/document_processor_connection_idempotency_policy.h
  google/cloud/documentai/document_processor_options.h
  google/cloud/documentai/mocks/mock_document_processor_connection.h
  google/cloud/documentai/samples/BUILD.bazel
  google/cloud/documentai/samples/CMakeLists.txt
  google/cloud/documentai/v1/document_processor_client.cc
  google/cloud/documentai/v1/document_processor_client.h
  google/cloud/documentai/v1/document_processor_connection.cc
  google/cloud/documentai/v1/document_processor_connection.h
  google/cloud/documentai/v1/document_processor_connection_idempotency_policy.cc
  google/cloud/documentai/v1/document_processor_connection_idempotency_policy.h
  google/cloud/documentai/v1/document_processor_options.h
  google/cloud/documentai/v1/internal/document_processor_auth_decorator.cc
  google/cloud/documentai/v1/internal/document_processor_auth_decorator.h
  google/cloud/documentai/v1/internal/document_processor_connection_impl.cc
  google/cloud/documentai/v1/internal/document_processor_connection_impl.h
  google/cloud/documentai/v1/internal/document_processor_logging_decorator.cc
  google/cloud/documentai/v1/internal/document_processor_logging_decorator.h
  google/cloud/documentai/v1/internal/document_processor_metadata_decorator.cc
  google/cloud/documentai/v1/internal/document_processor_metadata_decorator.h
  google/cloud/documentai/v1/internal/document_processor_option_defaults.cc
  google/cloud/documentai/v1/internal/document_processor_option_defaults.h
  google/cloud/documentai/v1/internal/document_processor_retry_traits.h
  google/cloud/documentai/v1/internal/document_processor_stub.cc
  google/cloud/documentai/v1/internal/document_processor_stub.h
  google/cloud/documentai/v1/internal/document_processor_stub_factory.cc
  google/cloud/documentai/v1/internal/document_processor_stub_factory.h
  google/cloud/documentai/v1/internal/document_processor_tracing_connection.cc
  google/cloud/documentai/v1/internal/document_processor_tracing_connection.h
  google/cloud/documentai/v1/internal/document_processor_tracing_stub.cc
  google/cloud/documentai/v1/internal/document_processor_tracing_stub.h
  google/cloud/documentai/v1/mocks/mock_document_processor_connection.h
  google/cloud/documentai/v1/samples/document_processor_client_samples.cc
Labels: api: documentai

#10906 refactor(functions): versioned clients
  ci/abi-dumps/google_cloud_cpp_functions.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/functions/BUILD.bazel
  google/cloud/functions/CMakeLists.txt
  google/cloud/functions/cloud_functions_client.h
  google/cloud/functions/cloud_functions_connection.h
  google/cloud/functions/cloud_functions_connection_idempotency_policy.h
  google/cloud/functions/cloud_functions_options.h
  google/cloud/functions/doc/main.dox
  google/cloud/functions/mocks/mock_cloud_functions_connection.h
  google/cloud/functions/samples/BUILD.bazel
  google/cloud/functions/samples/CMakeLists.txt
  google/cloud/functions/v1/cloud_functions_client.cc
  google/cloud/functions/v1/cloud_functions_client.h
  google/cloud/functions/v1/cloud_functions_connection.cc
  google/cloud/functions/v1/cloud_functions_connection.h
  google/cloud/functions/v1/cloud_functions_connection_idempotency_policy.cc
  google/cloud/functions/v1/cloud_functions_connection_idempotency_policy.h
  google/cloud/functions/v1/cloud_functions_options.h
  google/cloud/functions/v1/internal/cloud_functions_auth_decorator.cc
  google/cloud/functions/v1/internal/cloud_functions_auth_decorator.h
  google/cloud/functions/v1/internal/cloud_functions_connection_impl.cc
  google/cloud/functions/v1/internal/cloud_functions_connection_impl.h
  google/cloud/functions/v1/internal/cloud_functions_logging_decorator.cc
  google/cloud/functions/v1/internal/cloud_functions_logging_decorator.h
  google/cloud/functions/v1/internal/cloud_functions_metadata_decorator.cc
  google/cloud/functions/v1/internal/cloud_functions_metadata_decorator.h
  google/cloud/functions/v1/internal/cloud_functions_option_defaults.cc
  google/cloud/functions/v1/internal/cloud_functions_option_defaults.h
  google/cloud/functions/v1/internal/cloud_functions_retry_traits.h
  google/cloud/functions/v1/internal/cloud_functions_stub.cc
  google/cloud/functions/v1/internal/cloud_functions_stub.h
  google/cloud/functions/v1/internal/cloud_functions_stub_factory.cc
  google/cloud/functions/v1/internal/cloud_functions_stub_factory.h
  google/cloud/functions/v1/internal/cloud_functions_tracing_connection.cc
  google/cloud/functions/v1/internal/cloud_functions_tracing_connection.h
  google/cloud/functions/v1/internal/cloud_functions_tracing_stub.cc
  google/cloud/functions/v1/internal/cloud_functions_tracing_stub.h
  google/cloud/functions/v1/mocks/mock_cloud_functions_connection.h
  google/cloud/functions/v1/samples/cloud_functions_client_samples.cc
Labels: api: cloudfunctions

#10907 refactor(gkehub): versioned clients
  ci/abi-dumps/google_cloud_cpp_gkehub.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/gkehub/BUILD.bazel
  google/cloud/gkehub/CMakeLists.txt
  google/cloud/gkehub/doc/main.dox
  google/cloud/gkehub/gke_hub_client.h
  google/cloud/gkehub/gke_hub_connection.h
  google/cloud/gkehub/gke_hub_connection_idempotency_policy.h
  google/cloud/gkehub/gke_hub_options.h
  google/cloud/gkehub/mocks/mock_gke_hub_connection.h
  google/cloud/gkehub/samples/BUILD.bazel
  google/cloud/gkehub/samples/CMakeLists.txt
  google/cloud/gkehub/v1/gke_hub_client.cc
  google/cloud/gkehub/v1/gke_hub_client.h
  google/cloud/gkehub/v1/gke_hub_connection.cc
  google/cloud/gkehub/v1/gke_hub_connection.h
  google/cloud/gkehub/v1/gke_hub_connection_idempotency_policy.cc
  google/cloud/gkehub/v1/gke_hub_connection_idempotency_policy.h
  google/cloud/gkehub/v1/gke_hub_options.h
  google/cloud/gkehub/v1/internal/gke_hub_auth_decorator.cc
  google/cloud/gkehub/v1/internal/gke_hub_auth_decorator.h
  google/cloud/gkehub/v1/internal/gke_hub_connection_impl.cc
  google/cloud/gkehub/v1/internal/gke_hub_connection_impl.h
  google/cloud/gkehub/v1/internal/gke_hub_logging_decorator.cc
  google/cloud/gkehub/v1/internal/gke_hub_logging_decorator.h
  google/cloud/gkehub/v1/internal/gke_hub_metadata_decorator.cc
  google/cloud/gkehub/v1/internal/gke_hub_metadata_decorator.h
  google/cloud/gkehub/v1/internal/gke_hub_option_defaults.cc
  google/cloud/gkehub/v1/internal/gke_hub_option_defaults.h
  google/cloud/gkehub/v1/internal/gke_hub_retry_traits.h
  google/cloud/gkehub/v1/internal/gke_hub_stub.cc
  google/cloud/gkehub/v1/internal/gke_hub_stub.h
  google/cloud/gkehub/v1/internal/gke_hub_stub_factory.cc
  google/cloud/gkehub/v1/internal/gke_hub_stub_factory.h
  google/cloud/gkehub/v1/internal/gke_hub_tracing_connection.cc
  google/cloud/gkehub/v1/internal/gke_hub_tracing_connection.h
  google/cloud/gkehub/v1/internal/gke_hub_tracing_stub.cc
  google/cloud/gkehub/v1/internal/gke_hub_tracing_stub.h
  google/cloud/gkehub/v1/mocks/mock_gke_hub_connection.h
  google/cloud/gkehub/v1/samples/gke_hub_client_samples.cc
Labels: api: cloudfunctions

#10920 fix(pubsub): no warnings on `ack()/nack()` success
  google/cloud/pubsub/internal/ack_handler_wrapper.cc
  google/cloud/pubsub/internal/ack_handler_wrapper_test.cc
Labels: api: pubsub

#10919 cleaup(spanner): rename the "update-database" snippet tag
  google/cloud/spanner/database_admin_client.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#10911 refactor(ids): versioned clients
  ci/abi-dumps/google_cloud_cpp_ids.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/ids/BUILD.bazel
  google/cloud/ids/CMakeLists.txt
  google/cloud/ids/doc/main.dox
  google/cloud/ids/ids_client.h
  google/cloud/ids/ids_connection.h
  google/cloud/ids/ids_connection_idempotency_policy.h
  google/cloud/ids/ids_options.h
  google/cloud/ids/mocks/mock_ids_connection.h
  google/cloud/ids/samples/BUILD.bazel
  google/cloud/ids/samples/CMakeLists.txt
  google/cloud/ids/v1/ids_client.cc
  google/cloud/ids/v1/ids_client.h
  google/cloud/ids/v1/ids_connection.cc
  google/cloud/ids/v1/ids_connection.h
  google/cloud/ids/v1/ids_connection_idempotency_policy.cc
  google/cloud/ids/v1/ids_connection_idempotency_policy.h
  google/cloud/ids/v1/ids_options.h
  google/cloud/ids/v1/internal/ids_auth_decorator.cc
  google/cloud/ids/v1/internal/ids_auth_decorator.h
  google/cloud/ids/v1/internal/ids_connection_impl.cc
  google/cloud/ids/v1/internal/ids_connection_impl.h
  google/cloud/ids/v1/internal/ids_logging_decorator.cc
  google/cloud/ids/v1/internal/ids_logging_decorator.h
  google/cloud/ids/v1/internal/ids_metadata_decorator.cc
  google/cloud/ids/v1/internal/ids_metadata_decorator.h
  google/cloud/ids/v1/internal/ids_option_defaults.cc
  google/cloud/ids/v1/internal/ids_option_defaults.h
  google/cloud/ids/v1/internal/ids_retry_traits.h
  google/cloud/ids/v1/internal/ids_stub.cc
  google/cloud/ids/v1/internal/ids_stub.h
  google/cloud/ids/v1/internal/ids_stub_factory.cc
  google/cloud/ids/v1/internal/ids_stub_factory.h
  google/cloud/ids/v1/internal/ids_tracing_connection.cc
  google/cloud/ids/v1/internal/ids_tracing_connection.h
  google/cloud/ids/v1/internal/ids_tracing_stub.cc
  google/cloud/ids/v1/internal/ids_tracing_stub.h
  google/cloud/ids/v1/mocks/mock_ids_connection.h
  google/cloud/ids/v1/samples/ids_client_samples.cc
Labels: api: ids

#10914 chore(batch): make full GA
  cmake/GoogleCloudCppFeatures.cmake
  google/cloud/batch/config.cmake.in
  libraries.bzl
Labels: api: batch

#10912 refactor(iot): versioned clients
  ci/abi-dumps/google_cloud_cpp_iot.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/iot/BUILD.bazel
  google/cloud/iot/CMakeLists.txt
  google/cloud/iot/device_manager_client.h
  google/cloud/iot/device_manager_connection.h
  google/cloud/iot/device_manager_connection_idempotency_policy.h
  google/cloud/iot/device_manager_options.h
  google/cloud/iot/doc/main.dox
  google/cloud/iot/mocks/mock_device_manager_connection.h
  google/cloud/iot/samples/BUILD.bazel
  google/cloud/iot/samples/CMakeLists.txt
  google/cloud/iot/v1/device_manager_client.cc
  google/cloud/iot/v1/device_manager_client.h
  google/cloud/iot/v1/device_manager_connection.cc
  google/cloud/iot/v1/device_manager_connection.h
  google/cloud/iot/v1/device_manager_connection_idempotency_policy.cc
  google/cloud/iot/v1/device_manager_connection_idempotency_policy.h
  google/cloud/iot/v1/device_manager_options.h
  google/cloud/iot/v1/internal/device_manager_auth_decorator.cc
  google/cloud/iot/v1/internal/device_manager_auth_decorator.h
  google/cloud/iot/v1/internal/device_manager_connection_impl.cc
  google/cloud/iot/v1/internal/device_manager_connection_impl.h
  google/cloud/iot/v1/internal/device_manager_logging_decorator.cc
  google/cloud/iot/v1/internal/device_manager_logging_decorator.h
  google/cloud/iot/v1/internal/device_manager_metadata_decorator.cc
  google/cloud/iot/v1/internal/device_manager_metadata_decorator.h
  google/cloud/iot/v1/internal/device_manager_option_defaults.cc
  google/cloud/iot/v1/internal/device_manager_option_defaults.h
  google/cloud/iot/v1/internal/device_manager_retry_traits.h
  google/cloud/iot/v1/internal/device_manager_stub.cc
  google/cloud/iot/v1/internal/device_manager_stub.h
  google/cloud/iot/v1/internal/device_manager_stub_factory.cc
  google/cloud/iot/v1/internal/device_manager_stub_factory.h
  google/cloud/iot/v1/internal/device_manager_tracing_connection.cc
  google/cloud/iot/v1/internal/device_manager_tracing_connection.h
  google/cloud/iot/v1/internal/device_manager_tracing_stub.cc
  google/cloud/iot/v1/internal/device_manager_tracing_stub.h
  google/cloud/iot/v1/mocks/mock_device_manager_connection.h
  google/cloud/iot/v1/samples/device_manager_client_samples.cc
Labels: api: cloudiot

#10916 refactor(language): versioned clients
  ci/abi-dumps/google_cloud_cpp_language.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/language/BUILD.bazel
  google/cloud/language/CMakeLists.txt
  google/cloud/language/doc/main.dox
  google/cloud/language/language_client.h
  google/cloud/language/language_connection.h
  google/cloud/language/language_connection_idempotency_policy.h
  google/cloud/language/language_options.h
  google/cloud/language/mocks/mock_language_connection.h
  google/cloud/language/samples/BUILD.bazel
  google/cloud/language/samples/CMakeLists.txt
  google/cloud/language/v1/internal/language_auth_decorator.cc
  google/cloud/language/v1/internal/language_auth_decorator.h
  google/cloud/language/v1/internal/language_connection_impl.cc
  google/cloud/language/v1/internal/language_connection_impl.h
  google/cloud/language/v1/internal/language_logging_decorator.cc
  google/cloud/language/v1/internal/language_logging_decorator.h
  google/cloud/language/v1/internal/language_metadata_decorator.cc
  google/cloud/language/v1/internal/language_metadata_decorator.h
  google/cloud/language/v1/internal/language_option_defaults.cc
  google/cloud/language/v1/internal/language_option_defaults.h
  google/cloud/language/v1/internal/language_retry_traits.h
  google/cloud/language/v1/internal/language_stub.cc
  google/cloud/language/v1/internal/language_stub.h
  google/cloud/language/v1/internal/language_stub_factory.cc
  google/cloud/language/v1/internal/language_stub_factory.h
  google/cloud/language/v1/internal/language_tracing_connection.cc
  google/cloud/language/v1/internal/language_tracing_connection.h
  google/cloud/language/v1/internal/language_tracing_stub.cc
  google/cloud/language/v1/internal/language_tracing_stub.h
  google/cloud/language/v1/language_client.cc
  google/cloud/language/v1/language_client.h
  google/cloud/language/v1/language_connection.cc
  google/cloud/language/v1/language_connection.h
  google/cloud/language/v1/language_connection_idempotency_policy.cc
  google/cloud/language/v1/language_connection_idempotency_policy.h
  google/cloud/language/v1/language_options.h
  google/cloud/language/v1/mocks/mock_language_connection.h
  google/cloud/language/v1/samples/language_client_samples.cc
Labels: api: language

#10925 feat(apikeys): declare GA
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_apikeys.expected.abi.dump.gz
  cmake/GoogleCloudCppFeatures.cmake
  google/cloud/apikeys/CMakeLists.txt
  google/cloud/apikeys/README.md
  google/cloud/apikeys/config.cmake.in
  google/cloud/apikeys/doc/main.dox
  libraries.bzl
Labels: api: apikeys

#10926 refactor(logging): versioned clients
  ci/abi-dumps/google_cloud_cpp_logging.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/logging/BUILD.bazel
  google/cloud/logging/CMakeLists.txt
  google/cloud/logging/doc/main.dox
  google/cloud/logging/google_cloud_cpp_logging.bzl
  google/cloud/logging/google_cloud_cpp_logging_mocks.bzl
  google/cloud/logging/integration_tests/logging_integration_test.cc
  google/cloud/logging/internal/logging_service_v2_stub_factory.h
  google/cloud/logging/logging_service_v2_connection.h
  google/cloud/logging/logging_service_v2_connection_idempotency_policy.h
  google/cloud/logging/logging_service_v2_options.h
  google/cloud/logging/mocks/mock_logging_service_v2_connection.h
  google/cloud/logging/samples/BUILD.bazel
  google/cloud/logging/samples/CMakeLists.txt
  google/cloud/logging/v2/internal/logging_service_v2_auth_decorator.cc
  google/cloud/logging/v2/internal/logging_service_v2_auth_decorator.h
  google/cloud/logging/v2/internal/logging_service_v2_connection_impl.cc
  google/cloud/logging/v2/internal/logging_service_v2_connection_impl.h
  google/cloud/logging/v2/internal/logging_service_v2_logging_decorator.cc
  google/cloud/logging/v2/internal/logging_service_v2_logging_decorator.h
  google/cloud/logging/v2/internal/logging_service_v2_metadata_decorator.cc
  google/cloud/logging/v2/internal/logging_service_v2_metadata_decorator.h
  google/cloud/logging/v2/internal/logging_service_v2_option_defaults.cc
  google/cloud/logging/v2/internal/logging_service_v2_option_defaults.h
  google/cloud/logging/v2/internal/logging_service_v2_retry_traits.h
  google/cloud/logging/v2/internal/logging_service_v2_stub.cc
  google/cloud/logging/v2/internal/logging_service_v2_stub.h
  google/cloud/logging/v2/internal/logging_service_v2_stub_factory.cc
  google/cloud/logging/v2/internal/logging_service_v2_stub_factory.h
  google/cloud/logging/v2/internal/logging_service_v2_tracing_connection.cc
  google/cloud/logging/v2/internal/logging_service_v2_tracing_connection.h
  google/cloud/logging/v2/internal/logging_service_v2_tracing_stub.cc
  google/cloud/logging/v2/internal/logging_service_v2_tracing_stub.h
  google/cloud/logging/v2/internal/streaming.cc
  google/cloud/logging/v2/logging_service_v2_client.cc
  google/cloud/logging/v2/logging_service_v2_client.h
  google/cloud/logging/v2/logging_service_v2_connection.cc
  google/cloud/logging/v2/logging_service_v2_connection.h
  google/cloud/logging/v2/logging_service_v2_connection_idempotency_policy.cc
  google/cloud/logging/v2/logging_service_v2_connection_idempotency_policy.h
  google/cloud/logging/v2/logging_service_v2_options.h
  google/cloud/logging/v2/mocks/mock_logging_service_v2_connection.h
  google/cloud/logging/v2/samples/logging_service_v2_client_samples.cc
Labels: api: logging

#10937 test(spanner): de-dup query/read-partition tests
  google/cloud/spanner/query_partition_test.cc
  google/cloud/spanner/read_partition_test.cc
Labels: api: spanner

#10938 cleanup(spanner): pass QueryOptions to MakeSqlParams()
  google/cloud/spanner/client.cc
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/query_partition_test.cc
Labels: api: spanner

#10943 cleanup(spanner): apply some miscellaneous no-op cleanups
  ci/abi-dumps/google_cloud_cpp_spanner.expected.abi.dump.gz
  google/cloud/spanner/client.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/read_partition.cc
  google/cloud/spanner/read_partition.h
  google/cloud/spanner/read_partition_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#10942 refactor(speech): versioned v1 client
  ci/abi-dumps/google_cloud_cpp_speech.expected.abi.dump.gz
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/speech/BUILD.bazel
  google/cloud/speech/CMakeLists.txt
  google/cloud/speech/doc/main.dox
  google/cloud/speech/mocks/mock_speech_connection.h
  google/cloud/speech/speech_client.h
  google/cloud/speech/speech_connection.h
  google/cloud/speech/speech_connection_idempotency_policy.h
  google/cloud/speech/speech_options.h
  google/cloud/speech/v1/internal/speech_auth_decorator.cc
  google/cloud/speech/v1/internal/speech_auth_decorator.h
  google/cloud/speech/v1/internal/speech_connection_impl.cc
  google/cloud/speech/v1/internal/speech_connection_impl.h
  google/cloud/speech/v1/internal/speech_logging_decorator.cc
  google/cloud/speech/v1/internal/speech_logging_decorator.h
  google/cloud/speech/v1/internal/speech_metadata_decorator.cc
  google/cloud/speech/v1/internal/speech_metadata_decorator.h
  google/cloud/speech/v1/internal/speech_option_defaults.cc
  google/cloud/speech/v1/internal/speech_option_defaults.h
  google/cloud/speech/v1/internal/speech_retry_traits.h
  google/cloud/speech/v1/internal/speech_stub.cc
  google/cloud/speech/v1/internal/speech_stub.h
  google/cloud/speech/v1/internal/speech_stub_factory.cc
  google/cloud/speech/v1/internal/speech_stub_factory.h
  google/cloud/speech/v1/internal/speech_tracing_connection.cc
  google/cloud/speech/v1/internal/speech_tracing_connection.h
  google/cloud/speech/v1/internal/speech_tracing_stub.cc
  google/cloud/speech/v1/internal/speech_tracing_stub.h
  google/cloud/speech/v1/internal/streaming.cc
  google/cloud/speech/v1/mocks/mock_speech_connection.h
  google/cloud/speech/v1/samples/speech_client_samples.cc
  google/cloud/speech/v1/speech_client.cc
  google/cloud/speech/v1/speech_client.h
  google/cloud/speech/v1/speech_connection.cc
  google/cloud/speech/v1/speech_connection.h
  google/cloud/speech/v1/speech_connection_idempotency_policy.cc
  google/cloud/speech/v1/speech_connection_idempotency_policy.h
  google/cloud/speech/v1/speech_options.h
Labels: api: speech

#10955 fix(bigtable): retries for `CheckConsistency` / `AsyncWaitForConsistency`
  generator/generator_config.textproto
  google/cloud/bigtable/admin/bigtable_table_admin_connection_idempotency_policy.cc
Labels: api: bigtable

#10959 test(storage): remove unused benchmark
  google/cloud/storage/BUILD.bazel
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/google_cloud_cpp_storage_benchmarks.bzl
  google/cloud/storage/internal/generate_message_boundary_benchmark.cc
Labels: api: storage
