Repository googleapis/google-cloud-cpp, pull requests merged in 2023-10, with the labels that each got.

#12782 cleanup(pubsub): custom name to semantic convention for span
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#12776 impl(pubsub): add tracing stub if enabled
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/publisher_stub_factory_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12784 ci(bigtable): change bigtable zone
  ci/etc/integration-tests-config.sh
Labels: api: bigtable

#12773 cleanup(pubsub): rename flow control spans
  google/cloud/pubsub/internal/flow_controlled_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/flow_controlled_publisher_tracing_connection_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12787 impl(otel): add a make span with attributes function
  google/cloud/internal/opentelemetry.cc
  google/cloud/internal/opentelemetry.h
  google/cloud/internal/opentelemetry_test.cc
Labels: cpp: opentelemetry

#12772 cleanup(pubsub): rename batch spans
  google/cloud/pubsub/internal/batching_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/batching_publisher_tracing_connection_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12791 cleanup(pubsub): set attribute on span creation
  google/cloud/pubsub/internal/batching_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/flow_controlled_publisher_tracing_connection.cc
Labels: api: pubsub

#12805 fix(bigquery): core job library fixes for Query and GetQueryResults api
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
Labels: api: bigquery

#12793 impl(pubsub): add tracing message batch
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/pubsub_client_testing.bzl
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/testing/mock_message_batch.h
Labels: api: pubsub

#12809 cleanup(storage): decouple RestClient from curl/
  google/cloud/storage/internal/rest/stub.cc
Labels: api: storage

#12811 impl(bigquery): Benchmark program for Query and GetQueryResults api
  google/cloud/bigquery/v2/minimal/benchmarks/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.cc
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmark_programs.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/job_query_benchmark_programs.cc
Labels: api: bigquery

#12816 cleanup(storage): dedup MinimalIamCredentials
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/impersonate_service_account_credentials.cc
  google/cloud/storage/internal/impersonate_service_account_credentials.h
  google/cloud/storage/internal/impersonate_service_account_credentials_test.cc
  google/cloud/storage/internal/minimal_iam_credentials_rest.cc
  google/cloud/storage/internal/minimal_iam_credentials_rest.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/minimal_iam_credentials_rest_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#12817 cleanup(storage): remove the nascent XML parser
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/xml_node.cc
  google/cloud/storage/internal/xml_node.h
  google/cloud/storage/internal/xml_node_test.cc
  google/cloud/storage/internal/xml_parser_options.cc
  google/cloud/storage/internal/xml_parser_options.h
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#12822 cleanup(bigtable): remove generated admin tests
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/admin/integration_tests/BUILD.bazel
  google/cloud/bigtable/admin/integration_tests/CMakeLists.txt
  google/cloud/bigtable/admin/integration_tests/admin_backup_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/admin_iam_policy_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/bigtable_admin_integration_tests.bzl
  google/cloud/bigtable/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/bigtable/admin/integration_tests/table_admin_integration_test.cc
  google/cloud/bigtable/ci/run_integration_tests_emulator_bazel.sh
Labels: api: bigtable

#12820 cleanup(storage): remove `internal::CurlStub`
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/benchmark_utils.h
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl/download_request.cc
  google/cloud/storage/internal/curl/download_request.h
  google/cloud/storage/internal/curl/download_request_test.cc
  google/cloud/storage/internal/curl/request_builder.cc
  google/cloud/storage/internal/curl/request_builder.h
  google/cloud/storage/internal/curl/stub.cc
  google/cloud/storage/internal/curl/stub.h
  google/cloud/storage/internal/curl/stub_test.cc
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/generic_stub_factory.cc
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/options.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/curl_download_request_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#12821 cleanup(storage): use `rest_internal` in tests
  google/cloud/storage/testing/retry_http_request.cc
  google/cloud/storage/testing/retry_http_request.h
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/service_account_credentials_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
Labels: api: storage

#12825 fix(bigquery): Job Library fixes for CancelJob api
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
Labels: api: bigquery

#12827 impl(bigquery): Benchmark program for CancelJob api
  google/cloud/bigquery/v2/minimal/benchmarks/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.cc
  google/cloud/bigquery/v2/minimal/benchmarks/benchmark.h
  google/cloud/bigquery/v2/minimal/benchmarks/experimental_bigquery_rest_client_benchmark_programs.bzl
  google/cloud/bigquery/v2/minimal/benchmarks/job_cancel_benchmark_programs.cc
Labels: api: bigquery

#12829 impl(bigquery): Benchmark programs cleanup
  google/cloud/bigquery/v2/minimal/benchmarks/BUILD.bazel
  google/cloud/bigquery/v2/minimal/benchmarks/CMakeLists.txt
  google/cloud/bigquery/v2/minimal/benchmarks/dataset_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/job_insert_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/job_query_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/job_readonly_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/project_benchmark_programs.cc
  google/cloud/bigquery/v2/minimal/benchmarks/table_benchmark_programs.cc
Labels: api: bigquery

#12828 cleanup(storage): remove `Curl*` implementations
  ci/abi-dumps/google_cloud_cpp_storage.expected.abi.dump.gz
  google/cloud/storage/client.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/curl/handle.cc
  google/cloud/storage/internal/curl/handle.h
  google/cloud/storage/internal/curl/handle_factory.cc
  google/cloud/storage/internal/curl/handle_factory.h
  google/cloud/storage/internal/curl/handle_test.cc
  google/cloud/storage/internal/curl/request.cc
  google/cloud/storage/internal/curl/request.h
  google/cloud/storage/internal/curl/request_builder.cc
  google/cloud/storage/internal/curl/request_builder.h
  google/cloud/storage/internal/curl/wrappers.cc
  google/cloud/storage/internal/curl/wrappers.h
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_http_request.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/curl_request_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#12831 cleanup(storage): internal function with unused param
  google/cloud/storage/internal/make_jwt_assertion.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: api: storage

#12833 doc(storage): describe default project search
  google/cloud/storage/client.h
Labels: api: storage

#12840 feat(storage): `MatchGlob` for `ListObjects()`
  google/cloud/storage/client.h
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser_test.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: api: storage

#12841 fix(storage): check ReadObject options at runtime
  google/cloud/storage/client.h
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser_test.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/rest/stub_test.cc
Labels: api: storage

#12844 fix(storage): fix tellg() values
  google/cloud/storage/client.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_read_streambuf.h
  google/cloud/storage/internal/object_read_streambuf_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
Labels: api: storage

#12850 impl(pubsub): add event to publish span
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12851 fix(storage): automatically configure crc32c for ARM64
  bazel/crc32c.BUILD
Labels: api: storage

#12842 feat(storage): another Bucket CRUD field
  google/cloud/storage/bucket_autoclass.cc
  google/cloud/storage/bucket_autoclass.h
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/examples/storage_bucket_autoclass_samples.cc
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc/bucket_metadata_parser_test.cc
  google/cloud/storage/internal/grpc/bucket_request_parser_test.cc
Labels: api: storage

#12856 fix(compute): add missing bazelrc file
  google/cloud/compute/quickstart/.bazelrc
Labels: api: compute

#12858 test(otel): add linking matchers for unit tests
  google/cloud/testing_util/opentelemetry_matchers.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: cpp: opentelemetry

#12861 refactor(compute): a single source of truth for `service_dirs`
  google/cloud/compute/BUILD.bazel
  google/cloud/compute/CMakeLists.txt
  google/cloud/compute/service_dirs.bzl
  google/cloud/compute/service_dirs.cmake
Labels: api: compute

#12862 impl(pubsub): add tracing message flush callback impl
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12857 impl(otel): add a function to create a span with links
  google/cloud/internal/opentelemetry.cc
  google/cloud/internal/opentelemetry.h
Labels: cpp: opentelemetry

#12868 impl(pubsub): inject trace context into message
  google/cloud/pubsub/internal/message_propagator.cc
  google/cloud/pubsub/internal/message_propagator.h
  google/cloud/pubsub/internal/message_propagator_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#12877 fix(compute): build with Bazel and MSVC
  ci/gha/builds/windows-bazel.sh
  google/cloud/compute/BUILD.bazel
  protos/google/cloud/compute/BUILD.bazel
Labels: api: compute

#12885 impl(compute): rework non-hermetic integration test
  google/cloud/compute/integration_tests/BUILD.bazel
  google/cloud/compute/integration_tests/CMakeLists.txt
  google/cloud/compute/integration_tests/compute_integration_test.cc
Labels: api: compute

#12869 impl(pubsub): add noop message batch to connection
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection.h
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/noop_message_batch.h
  google/cloud/pubsub/publisher_connection.cc
Labels: api: pubsub

#12890 fix(storage): remove unused dependencies
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
Labels: api: storage

#12888 impl(compute): improved matcher
  google/cloud/compute/integration_tests/compute_integration_test.cc
Labels: api: compute

#12859 impl(pubsub): add initial flush impl for less than 128 links
  google/cloud/internal/opentelemetry.h
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12897 impl(pubsub): add flush events to message span
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12905 impl(spanner): refactor connection_impl and test
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
Labels: api: spanner

#12900 impl(otel): pass in options to MakeSpan
  google/cloud/internal/opentelemetry.cc
  google/cloud/internal/opentelemetry.h
  google/cloud/internal/opentelemetry_test.cc
  google/cloud/testing_util/opentelemetry_matchers.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: cpp: opentelemetry

#12921 fix(storage): fix when async client spans are ended
  google/cloud/storage/internal/async/connection_tracing.cc
  google/cloud/storage/internal/async/connection_tracing_test.cc
  google/cloud/storage/internal/async/reader_connection_tracing.cc
  google/cloud/storage/internal/async/reader_connection_tracing_test.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: api: storage

#12930 feat(spanner): single-RPC, batched commit of mutation groups
  google/cloud/spanner/BUILD.bazel
  google/cloud/spanner/client.cc
  google/cloud/spanner/client.h
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/commit_result.h
  google/cloud/spanner/connection.cc
  google/cloud/spanner/connection.h
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/mocks/mock_spanner_connection.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#12940 test(spanner): fix `signed` vs. `unsigned` warning
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#12944 test(spanner): extend bad-session tests for streaming-read RPCs
  google/cloud/spanner/internal/connection_impl_test.cc
Labels: api: spanner

#12949 test(pubsub): add unit test for the subscriber factory
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/internal/subscriber_stub_factory.cc
  google/cloud/pubsub/internal/subscriber_stub_factory.h
  google/cloud/pubsub/internal/subscriber_stub_factory_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#12948 impl(pubsub): add blocking publisher tracing connection
  google/cloud/internal/opentelemetry.h
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.h
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#12953 cleanup(policytroubleshooter): cannot move a `const`
  google/cloud/policytroubleshooter/README.md
  google/cloud/policytroubleshooter/quickstart/quickstart.cc
Labels: api: policytroubleshooter

#12963 cleanup(storage): remove integration test variant
  google/cloud/storage/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/storage/tests/BUILD.bazel
Labels: api: storage

#12967 cleanup(bigtable): move to bigtable_internal
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/legacy_async_bulk_apply.h
  google/cloud/bigtable/internal/legacy_bulk_mutator_test.cc
  google/cloud/bigtable/table.cc
Labels: api: bigtable

#12928 impl(pubsub): add more than 128 links
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/batching_publisher_connection_test.cc
  google/cloud/pubsub/internal/message_batch.h
  google/cloud/pubsub/internal/noop_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/testing/mock_message_batch.h
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: api: pubsub

#12977 impl(pubsub): use semantic convention for attribute
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12984 fix(pubsub): add missing default capture
  google/cloud/pubsub/internal/tracing_message_batch.cc
Labels: api: pubsub

#12975 fix(pubsub): create root async batch sink spans
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12995 refactor(pubsub): hide tracing message batch class definition
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#12996 impl(pubsub): use tracing message batch
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#12998 Revert "impl(pubsub): use tracing message batch"
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13000 impl(pubsub): use tracing message batch
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13004 feat(redis): add cluster
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_redis.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protolists/redis.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/redis/BUILD.bazel
  google/cloud/redis/CMakeLists.txt
  google/cloud/redis/cluster/v1/.repo-metadata.json
  google/cloud/redis/cluster/v1/cloud_redis_cluster_client.cc
  google/cloud/redis/cluster/v1/cloud_redis_cluster_client.h
  google/cloud/redis/cluster/v1/cloud_redis_cluster_connection.cc
  google/cloud/redis/cluster/v1/cloud_redis_cluster_connection.h
  google/cloud/redis/cluster/v1/cloud_redis_cluster_connection_idempotency_policy.cc
  google/cloud/redis/cluster/v1/cloud_redis_cluster_connection_idempotency_policy.h
  google/cloud/redis/cluster/v1/cloud_redis_cluster_options.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_auth_decorator.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_auth_decorator.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_connection_impl.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_connection_impl.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_logging_decorator.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_logging_decorator.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_metadata_decorator.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_metadata_decorator.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_option_defaults.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_option_defaults.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_retry_traits.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_stub.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_stub.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_stub_factory.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_stub_factory.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_tracing_connection.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_tracing_connection.h
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_tracing_stub.cc
  google/cloud/redis/cluster/v1/internal/cloud_redis_cluster_tracing_stub.h
  google/cloud/redis/cluster/v1/mocks/mock_cloud_redis_cluster_connection.h
  google/cloud/redis/cluster/v1/samples/cloud_redis_cluster_client_samples.cc
  google/cloud/redis/doc/environment-variables.dox
  google/cloud/redis/doc/main.dox
  google/cloud/redis/doc/override-authentication.dox
  google/cloud/redis/doc/override-endpoint.dox
  google/cloud/redis/doc/override-retry-policies.dox
Labels: api: redis
