Repository googleapis/google-cloud-cpp, pull requests merged in 2023-06, with the labels that each got.

#11754 fix(storage): consistent project id overrides
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_test.cc
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/hmac_key_requests.h
  google/cloud/storage/internal/hmac_key_requests_test.cc
  google/cloud/storage/internal/request_project_id.cc
  google/cloud/storage/internal/request_project_id.h
  google/cloud/storage/internal/request_project_id_test.cc
  google/cloud/storage/internal/service_account_requests.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/remove_stale_buckets_test.cc
Labels: api: storage

#11760 docs(storage): add GCS+gRPC release notes
  google/cloud/storage/doc/storage-grpc.dox
Labels: api: storage

#11773 docs(video): consistent library title
  google/cloud/video/CMakeLists.txt
  google/cloud/video/doc/main.dox
  google/cloud/video/quickstart/CMakeLists.txt
  google/cloud/video/quickstart/WORKSPACE.bazel
Labels: api: videointelligence

#11784 impl(bigquery): InsertJob api prep work - Part 2
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.h
Labels: api: bigquery

#11789 test(spanner): integration tests for fine-grained access control
  google/cloud/spanner/integration_tests/client_integration_test.cc
Labels: api: spanner

#11790 impl(bigquery): Refactor json parsing
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
Labels: api: bigquery

#11801 docs(iam): another declutter iteration
  google/cloud/iam/doc/main.dox
Labels: api: iam

#11800 docs(bigquery): another declutter iteration
  google/cloud/bigquery/doc/main.dox
Labels: api: bigquery

#11796 impl(bigquery): Add JobStatistics to Job and ListFormatJob
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.h
Labels: api: bigquery

#11770 refactor(pubsub): add file parameters for the create/validate schema commands
  google/cloud/pubsub/samples/BUILD.bazel
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/testdata/schema.avsc
  google/cloud/pubsub/samples/testdata/schema.proto
  google/cloud/pubsub/samples/testdata/valid_message.avsc
  google/cloud/pubsub/samples/testdata/valid_message.pb
  google/cloud/pubsub/samples/testdata/valid_message.textproto
Labels: api: pubsub

#11819 impl(bigquery): Add augmented JobConfigurationQuery to Job and ListFormatJob
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration.h
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.cc
  google/cloud/bigquery/v2/minimal/internal/table_partition.h
  google/cloud/bigquery/v2/minimal/internal/table_view.h
Labels: api: bigquery

#11855 refactor(spanner): dedicated stub factory
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/client.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/integration_tests/session_pool_integration_test.cc
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/internal/spanner_stub.h
  google/cloud/spanner/internal/spanner_stub_factory.cc
  google/cloud/spanner/internal/spanner_stub_factory.h
  google/cloud/spanner/internal/spanner_stub_factory_test.cc
  google/cloud/spanner/spanner_client_unit_tests.bzl
Labels: api: spanner

#11848 doc(pubsub): add get/delete/rollback schema samples
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#11844 doc(pubsub): remove unnecessary documentation tags
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#11857 refactor(spanner): use generated stubs
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/logging_spanner_stub.cc
  google/cloud/spanner/internal/logging_spanner_stub_test.cc
  google/cloud/spanner/internal/metadata_spanner_stub.cc
  google/cloud/spanner/internal/metadata_spanner_stub_test.cc
  google/cloud/spanner/internal/spanner_auth_decorator.cc
  google/cloud/spanner/internal/spanner_auth_decorator.h
  google/cloud/spanner/internal/spanner_auth_test.cc
  google/cloud/spanner/internal/spanner_logging_decorator.cc
  google/cloud/spanner/internal/spanner_logging_decorator.h
  google/cloud/spanner/internal/spanner_metadata_decorator.cc
  google/cloud/spanner/internal/spanner_metadata_decorator.h
  google/cloud/spanner/internal/spanner_stub.cc
  google/cloud/spanner/internal/spanner_stub.h
  google/cloud/spanner/internal/spanner_stub_factory.cc
  google/cloud/spanner/internal/spanner_tracing_stub.cc
  google/cloud/spanner/internal/spanner_tracing_stub.h
  google/cloud/spanner/results.h
  google/cloud/spanner/spanner_client_unit_tests.bzl
  google/cloud/spanner/testing/mock_spanner_stub.h
Labels: api: spanner

#11864 impl(bigquery): Adds DebugString to JobStatistics
  google/cloud/bigquery/v2/minimal/internal/job_stats.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
Labels: api: bigquery

#11865 chore(compute): create `.repo-metadata.json` file
  google/cloud/compute/.repo-metadata.json
Labels: api: compute

#11861 feat(domains): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_domains.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/domains.deps
  external/googleapis/protolists/domains.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/domains/BUILD.bazel
  google/cloud/domains/CMakeLists.txt
  google/cloud/domains/README.md
  google/cloud/domains/config.cmake.in
  google/cloud/domains/doc/environment-variables.dox
  google/cloud/domains/doc/main.dox
  google/cloud/domains/doc/options.dox
  google/cloud/domains/doc/override-authentication.dox
  google/cloud/domains/doc/override-endpoint.dox
  google/cloud/domains/quickstart/.bazelrc
  google/cloud/domains/quickstart/BUILD.bazel
  google/cloud/domains/quickstart/CMakeLists.txt
  google/cloud/domains/quickstart/Makefile
  google/cloud/domains/quickstart/README.md
  google/cloud/domains/quickstart/WORKSPACE.bazel
  google/cloud/domains/quickstart/quickstart.cc
  google/cloud/domains/v1/.repo-metadata.json
  google/cloud/domains/v1/domains_client.cc
  google/cloud/domains/v1/domains_client.h
  google/cloud/domains/v1/domains_connection.cc
  google/cloud/domains/v1/domains_connection.h
  google/cloud/domains/v1/domains_connection_idempotency_policy.cc
  google/cloud/domains/v1/domains_connection_idempotency_policy.h
  google/cloud/domains/v1/domains_options.h
  google/cloud/domains/v1/internal/domains_auth_decorator.cc
  google/cloud/domains/v1/internal/domains_auth_decorator.h
  google/cloud/domains/v1/internal/domains_connection_impl.cc
  google/cloud/domains/v1/internal/domains_connection_impl.h
  google/cloud/domains/v1/internal/domains_logging_decorator.cc
  google/cloud/domains/v1/internal/domains_logging_decorator.h
  google/cloud/domains/v1/internal/domains_metadata_decorator.cc
  google/cloud/domains/v1/internal/domains_metadata_decorator.h
  google/cloud/domains/v1/internal/domains_option_defaults.cc
  google/cloud/domains/v1/internal/domains_option_defaults.h
  google/cloud/domains/v1/internal/domains_retry_traits.h
  google/cloud/domains/v1/internal/domains_stub.cc
  google/cloud/domains/v1/internal/domains_stub.h
  google/cloud/domains/v1/internal/domains_stub_factory.cc
  google/cloud/domains/v1/internal/domains_stub_factory.h
  google/cloud/domains/v1/internal/domains_tracing_connection.cc
  google/cloud/domains/v1/internal/domains_tracing_connection.h
  google/cloud/domains/v1/internal/domains_tracing_stub.cc
  google/cloud/domains/v1/internal/domains_tracing_stub.h
  google/cloud/domains/v1/mocks/mock_domains_connection.h
  google/cloud/domains/v1/samples/domains_client_samples.cc
  libraries.bzl
Labels: api: domains

#11863 impl(spanner): include tracing stub
  google/cloud/spanner/internal/spanner_stub_factory.cc
  google/cloud/spanner/internal/spanner_stub_factory_test.cc
Labels: api: spanner

#11873 feat(recaptchaenterprise): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_recaptchaenterprise.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/recaptchaenterprise.deps
  external/googleapis/protolists/recaptchaenterprise.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/recaptchaenterprise/BUILD.bazel
  google/cloud/recaptchaenterprise/CMakeLists.txt
  google/cloud/recaptchaenterprise/README.md
  google/cloud/recaptchaenterprise/config.cmake.in
  google/cloud/recaptchaenterprise/doc/environment-variables.dox
  google/cloud/recaptchaenterprise/doc/main.dox
  google/cloud/recaptchaenterprise/doc/options.dox
  google/cloud/recaptchaenterprise/doc/override-authentication.dox
  google/cloud/recaptchaenterprise/doc/override-endpoint.dox
  google/cloud/recaptchaenterprise/quickstart/.bazelrc
  google/cloud/recaptchaenterprise/quickstart/BUILD.bazel
  google/cloud/recaptchaenterprise/quickstart/CMakeLists.txt
  google/cloud/recaptchaenterprise/quickstart/Makefile
  google/cloud/recaptchaenterprise/quickstart/README.md
  google/cloud/recaptchaenterprise/quickstart/WORKSPACE.bazel
  google/cloud/recaptchaenterprise/quickstart/quickstart.cc
  google/cloud/recaptchaenterprise/v1/.repo-metadata.json
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_auth_decorator.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_auth_decorator.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_connection_impl.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_connection_impl.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_logging_decorator.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_logging_decorator.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_metadata_decorator.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_metadata_decorator.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_option_defaults.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_option_defaults.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_retry_traits.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_stub.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_stub.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_stub_factory.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_stub_factory.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_tracing_connection.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_tracing_connection.h
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_tracing_stub.cc
  google/cloud/recaptchaenterprise/v1/internal/recaptcha_enterprise_tracing_stub.h
  google/cloud/recaptchaenterprise/v1/mocks/mock_recaptcha_enterprise_connection.h
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_client.cc
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_client.h
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_connection.cc
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_connection.h
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_connection_idempotency_policy.cc
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_connection_idempotency_policy.h
  google/cloud/recaptchaenterprise/v1/recaptcha_enterprise_options.h
  google/cloud/recaptchaenterprise/v1/samples/recaptcha_enterprise_client_samples.cc
  libraries.bzl
Labels: api: recaptchaenterprise

#11876 refactor(spanner): stub decoration
  google/cloud/spanner/internal/spanner_stub_factory.cc
  google/cloud/spanner/internal/spanner_stub_factory.h
  google/cloud/spanner/internal/spanner_stub_factory_test.cc
Labels: api: spanner

#11879 chore(storage): fixed ctype=CORD workarounds url
  CMakeLists.txt
  google/cloud/storage/internal/grpc_ctype_cord_workaround.h
Labels: api: storage

#11872 doc(pubsub): add update topic schema and create topic with schema revisions to samples
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/topic_builder.h
Labels: api: pubsub, samples

#11862 doc(pubsub): delete schemas > 48 hours old
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#11882 feat(bigquery): add BigLake API
  ci/abi-dumps/google_cloud_cpp_bigquery.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protolists/bigquery.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/biglake/v1/.repo-metadata.json
  google/cloud/bigquery/biglake/v1/internal/metastore_auth_decorator.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_auth_decorator.h
  google/cloud/bigquery/biglake/v1/internal/metastore_connection_impl.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_connection_impl.h
  google/cloud/bigquery/biglake/v1/internal/metastore_logging_decorator.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_logging_decorator.h
  google/cloud/bigquery/biglake/v1/internal/metastore_metadata_decorator.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_metadata_decorator.h
  google/cloud/bigquery/biglake/v1/internal/metastore_option_defaults.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_option_defaults.h
  google/cloud/bigquery/biglake/v1/internal/metastore_retry_traits.h
  google/cloud/bigquery/biglake/v1/internal/metastore_stub.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_stub.h
  google/cloud/bigquery/biglake/v1/internal/metastore_stub_factory.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_stub_factory.h
  google/cloud/bigquery/biglake/v1/internal/metastore_tracing_connection.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_tracing_connection.h
  google/cloud/bigquery/biglake/v1/internal/metastore_tracing_stub.cc
  google/cloud/bigquery/biglake/v1/internal/metastore_tracing_stub.h
  google/cloud/bigquery/biglake/v1/metastore_client.cc
  google/cloud/bigquery/biglake/v1/metastore_client.h
  google/cloud/bigquery/biglake/v1/metastore_connection.cc
  google/cloud/bigquery/biglake/v1/metastore_connection.h
  google/cloud/bigquery/biglake/v1/metastore_connection_idempotency_policy.cc
  google/cloud/bigquery/biglake/v1/metastore_connection_idempotency_policy.h
  google/cloud/bigquery/biglake/v1/metastore_options.h
  google/cloud/bigquery/biglake/v1/mocks/mock_metastore_connection.h
  google/cloud/bigquery/biglake/v1/samples/metastore_client_samples.cc
  google/cloud/bigquery/bigquery_grpc.cmake
  google/cloud/bigquery/doc/environment-variables.dox
  google/cloud/bigquery/doc/main.dox
  google/cloud/bigquery/doc/override-authentication.dox
  google/cloud/bigquery/doc/override-endpoint.dox
Labels: api: bigquery

#11892 impl(bigquery): Add DebugString to JobConfiguration and JobConfigurationQuery
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/job.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.h
Labels: api: bigquery

#11896 cleanup(pubsub): one sample proto
  google/cloud/pubsub/samples/BUILD.bazel
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/samples.proto
Labels: api: pubsub, samples

#11891 feat(datafusion): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_datafusion.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/datafusion.deps
  external/googleapis/protolists/datafusion.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/datafusion/BUILD.bazel
  google/cloud/datafusion/CMakeLists.txt
  google/cloud/datafusion/README.md
  google/cloud/datafusion/config.cmake.in
  google/cloud/datafusion/doc/environment-variables.dox
  google/cloud/datafusion/doc/main.dox
  google/cloud/datafusion/doc/options.dox
  google/cloud/datafusion/doc/override-authentication.dox
  google/cloud/datafusion/doc/override-endpoint.dox
  google/cloud/datafusion/quickstart/.bazelrc
  google/cloud/datafusion/quickstart/BUILD.bazel
  google/cloud/datafusion/quickstart/CMakeLists.txt
  google/cloud/datafusion/quickstart/Makefile
  google/cloud/datafusion/quickstart/README.md
  google/cloud/datafusion/quickstart/WORKSPACE.bazel
  google/cloud/datafusion/quickstart/quickstart.cc
  google/cloud/datafusion/v1/.repo-metadata.json
  google/cloud/datafusion/v1/data_fusion_client.cc
  google/cloud/datafusion/v1/data_fusion_client.h
  google/cloud/datafusion/v1/data_fusion_connection.cc
  google/cloud/datafusion/v1/data_fusion_connection.h
  google/cloud/datafusion/v1/data_fusion_connection_idempotency_policy.cc
  google/cloud/datafusion/v1/data_fusion_connection_idempotency_policy.h
  google/cloud/datafusion/v1/data_fusion_options.h
  google/cloud/datafusion/v1/internal/data_fusion_auth_decorator.cc
  google/cloud/datafusion/v1/internal/data_fusion_auth_decorator.h
  google/cloud/datafusion/v1/internal/data_fusion_connection_impl.cc
  google/cloud/datafusion/v1/internal/data_fusion_connection_impl.h
  google/cloud/datafusion/v1/internal/data_fusion_logging_decorator.cc
  google/cloud/datafusion/v1/internal/data_fusion_logging_decorator.h
  google/cloud/datafusion/v1/internal/data_fusion_metadata_decorator.cc
  google/cloud/datafusion/v1/internal/data_fusion_metadata_decorator.h
  google/cloud/datafusion/v1/internal/data_fusion_option_defaults.cc
  google/cloud/datafusion/v1/internal/data_fusion_option_defaults.h
  google/cloud/datafusion/v1/internal/data_fusion_retry_traits.h
  google/cloud/datafusion/v1/internal/data_fusion_stub.cc
  google/cloud/datafusion/v1/internal/data_fusion_stub.h
  google/cloud/datafusion/v1/internal/data_fusion_stub_factory.cc
  google/cloud/datafusion/v1/internal/data_fusion_stub_factory.h
  google/cloud/datafusion/v1/internal/data_fusion_tracing_connection.cc
  google/cloud/datafusion/v1/internal/data_fusion_tracing_connection.h
  google/cloud/datafusion/v1/internal/data_fusion_tracing_stub.cc
  google/cloud/datafusion/v1/internal/data_fusion_tracing_stub.h
  google/cloud/datafusion/v1/mocks/mock_data_fusion_connection.h
  google/cloud/datafusion/v1/samples/data_fusion_client_samples.cc
  libraries.bzl
Labels: api: datafusion

#11905 doc(spanner): add an example for CommitAtLeastOnce()
  google/cloud/spanner/client.h
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#11908 feat(networksecurity): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_networksecurity.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/networksecurity.deps
  external/googleapis/protolists/networksecurity.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/networksecurity/BUILD.bazel
  google/cloud/networksecurity/CMakeLists.txt
  google/cloud/networksecurity/README.md
  google/cloud/networksecurity/config.cmake.in
  google/cloud/networksecurity/doc/environment-variables.dox
  google/cloud/networksecurity/doc/main.dox
  google/cloud/networksecurity/doc/options.dox
  google/cloud/networksecurity/doc/override-authentication.dox
  google/cloud/networksecurity/doc/override-endpoint.dox
  google/cloud/networksecurity/quickstart/.bazelrc
  google/cloud/networksecurity/quickstart/BUILD.bazel
  google/cloud/networksecurity/quickstart/CMakeLists.txt
  google/cloud/networksecurity/quickstart/Makefile
  google/cloud/networksecurity/quickstart/README.md
  google/cloud/networksecurity/quickstart/WORKSPACE.bazel
  google/cloud/networksecurity/quickstart/quickstart.cc
  google/cloud/networksecurity/v1/.repo-metadata.json
  google/cloud/networksecurity/v1/internal/network_security_auth_decorator.cc
  google/cloud/networksecurity/v1/internal/network_security_auth_decorator.h
  google/cloud/networksecurity/v1/internal/network_security_connection_impl.cc
  google/cloud/networksecurity/v1/internal/network_security_connection_impl.h
  google/cloud/networksecurity/v1/internal/network_security_logging_decorator.cc
  google/cloud/networksecurity/v1/internal/network_security_logging_decorator.h
  google/cloud/networksecurity/v1/internal/network_security_metadata_decorator.cc
  google/cloud/networksecurity/v1/internal/network_security_metadata_decorator.h
  google/cloud/networksecurity/v1/internal/network_security_option_defaults.cc
  google/cloud/networksecurity/v1/internal/network_security_option_defaults.h
  google/cloud/networksecurity/v1/internal/network_security_retry_traits.h
  google/cloud/networksecurity/v1/internal/network_security_stub.cc
  google/cloud/networksecurity/v1/internal/network_security_stub.h
  google/cloud/networksecurity/v1/internal/network_security_stub_factory.cc
  google/cloud/networksecurity/v1/internal/network_security_stub_factory.h
  google/cloud/networksecurity/v1/internal/network_security_tracing_connection.cc
  google/cloud/networksecurity/v1/internal/network_security_tracing_connection.h
  google/cloud/networksecurity/v1/internal/network_security_tracing_stub.cc
  google/cloud/networksecurity/v1/internal/network_security_tracing_stub.h
  google/cloud/networksecurity/v1/mocks/mock_network_security_connection.h
  google/cloud/networksecurity/v1/network_security_client.cc
  google/cloud/networksecurity/v1/network_security_client.h
  google/cloud/networksecurity/v1/network_security_connection.cc
  google/cloud/networksecurity/v1/network_security_connection.h
  google/cloud/networksecurity/v1/network_security_connection_idempotency_policy.cc
  google/cloud/networksecurity/v1/network_security_connection_idempotency_policy.h
  google/cloud/networksecurity/v1/network_security_options.h
  google/cloud/networksecurity/v1/samples/network_security_client_samples.cc
  libraries.bzl
Labels: api: networksecurity

#11913 doc(spanner): update the description of the "DataBoost" feature
  google/cloud/spanner/options.h
  google/cloud/spanner/partition_options.h
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/read_partition.h
Labels: api: spanner

#11911 impl(bigquery): Adds DebugString Job and ListFormatJob classes
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/job.cc
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration_query_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_configuration_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_query_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats.h
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
Labels: api: bigquery

#11915 docs(batch): introduce basic snippets
  ci/cloudbuild/builds/lib/integration.sh
  ci/etc/integration-tests-config.ps1
  ci/etc/integration-tests-config.sh
  google/cloud/batch/v1/samples/samples.cc
Labels: api: batch

#11927 impl(bigquery): Request object for InsertJob api
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#11934 impl(bigquery): Idempotency policy for InsertJob
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy_test.cc
Labels: api: bigquery

#11941 cleanup(storagetransfer): tidy up quickstart
  google/cloud/storagetransfer/README.md
  google/cloud/storagetransfer/quickstart/quickstart.cc
Labels: api: storagetransfer

#11942 cleanup(compute): tidy up quickstart
  google/cloud/compute/quickstart/quickstart.cc
Labels: api: compute

#11933 impl(bigquery): InsertJobResponse implementation with unit tests
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
Labels: api: bigquery

#11947 cleanup(pubsub): revert PR #11940
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#11951 impl(bigquery): InsertJob stub changes
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_job_rest_stub.h
Labels: api: bigquery

#11955 docs(bigtable): add page describing retry policies
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/override-retry-policies.dox
  google/cloud/bigtable/examples/client_samples.cc
Labels: api: bigtable

#11959 impl(bigquery): Logging and Metadata decorator unit tests
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
Labels: api: bigquery

#11960 impl(bigquery): Connection classes for InsertJob
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/job_test_utils.h
Labels: api: bigquery

#11957 docs(pubsub): add page describing retry policies
  google/cloud/pubsub/doc/override-retry-policies.dox
  google/cloud/pubsub/doc/pubsub-main.dox
Labels: api: pubsub

#11961 impl(bigquery): Client class for InsertJob
  google/cloud/bigquery/v2/minimal/internal/job_client.cc
  google/cloud/bigquery/v2/minimal/internal/job_client.h
  google/cloud/bigquery/v2/minimal/internal/job_client_test.cc
Labels: api: bigquery

#11972 impl(bigquery): Request object for CancelJob api
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#11971 impl(bigquery): Response object for CancelJob api
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
Labels: api: bigquery

#11975 impl(bigquery): Idempotency policy for cancel job
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/job_idempotency_policy_test.cc
Labels: api: bigquery

#11938 ci(bigtable): run conformance tests on presubmit
  ci/cloudbuild/builds/asan.sh
  ci/cloudbuild/builds/lib/conformance.sh
  ci/cloudbuild/dockerfiles/fedora-37-bazel.Dockerfile
  google/cloud/bigtable/ci/run_conformance_tests_proxy_bazel.sh
Labels: api: bigtable

#11979 impl(bigquery): CancelJob stub and decorator changes
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging.h
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata.h
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_job_rest_stub.h
Labels: api: bigquery

#11967 test(videointelligence): restore quickstart
  google/cloud/videointelligence/CMakeLists.txt
Labels: api: videointelligence

#11984 impl(bigquery): CancelJob connection classes
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
Labels: api: bigquery

#11986 impl(bigquery): CancelJob Client classes
  google/cloud/bigquery/v2/minimal/internal/job_client.cc
  google/cloud/bigquery/v2/minimal/internal/job_client.h
  google/cloud/bigquery/v2/minimal/internal/job_client_test.cc
Labels: api: bigquery

#11988 ci(bigtable): clean up the unwanted files and dirs from the conforman…
  google/cloud/bigtable/ci/run_conformance_tests_proxy_bazel.sh
Labels: api: bigtable

#11994 ci(batch): give samples more time
  google/cloud/batch/BUILD.bazel
Labels: samples, api: batch
