Repository googleapis/google-cloud-cpp, pull requests merged in 2023-04, with the labels that each got.

#11158 feat(trace): add v1 service
  CHANGELOG.md
  ci/etc/expected_install_directories
  external/googleapis/protolists/trace.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/trace/BUILD.bazel
  google/cloud/trace/CMakeLists.txt
  google/cloud/trace/doc/main.dox
  google/cloud/trace/v1/internal/trace_auth_decorator.cc
  google/cloud/trace/v1/internal/trace_auth_decorator.h
  google/cloud/trace/v1/internal/trace_connection_impl.cc
  google/cloud/trace/v1/internal/trace_connection_impl.h
  google/cloud/trace/v1/internal/trace_logging_decorator.cc
  google/cloud/trace/v1/internal/trace_logging_decorator.h
  google/cloud/trace/v1/internal/trace_metadata_decorator.cc
  google/cloud/trace/v1/internal/trace_metadata_decorator.h
  google/cloud/trace/v1/internal/trace_option_defaults.cc
  google/cloud/trace/v1/internal/trace_option_defaults.h
  google/cloud/trace/v1/internal/trace_retry_traits.h
  google/cloud/trace/v1/internal/trace_stub.cc
  google/cloud/trace/v1/internal/trace_stub.h
  google/cloud/trace/v1/internal/trace_stub_factory.cc
  google/cloud/trace/v1/internal/trace_stub_factory.h
  google/cloud/trace/v1/internal/trace_tracing_connection.cc
  google/cloud/trace/v1/internal/trace_tracing_connection.h
  google/cloud/trace/v1/internal/trace_tracing_stub.cc
  google/cloud/trace/v1/internal/trace_tracing_stub.h
  google/cloud/trace/v1/mocks/mock_trace_connection.h
  google/cloud/trace/v1/samples/trace_client_samples.cc
  google/cloud/trace/v1/trace_client.cc
  google/cloud/trace/v1/trace_client.h
  google/cloud/trace/v1/trace_connection.cc
  google/cloud/trace/v1/trace_connection.h
  google/cloud/trace/v1/trace_connection_idempotency_policy.cc
  google/cloud/trace/v1/trace_connection_idempotency_policy.h
  google/cloud/trace/v1/trace_options.h
Labels: api: cloudtrace

#11170 doc(bigquery): typo in the quickstart path
  google/cloud/bigquery/quickstart/README.md
Labels: api: bigquery

#11172 impl(bigquery): unify bigquery request/response logging format
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#11133 impl(bigquery): Adding ListJobs api support to job Connection classes
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/v2/minimal/internal/job_client.cc
  google/cloud/bigquery/v2/minimal/internal/job_client.h
  google/cloud/bigquery/v2/minimal/internal/job_client_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.cc
  google/cloud/bigquery/v2/minimal/internal/job_connection.h
  google/cloud/bigquery/v2/minimal/internal/job_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_job_connection.h
Labels: api: bigquery

#11204 ci(spanner): disable data boost samples
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#11199 feat(workstations): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_workstations.expected.abi.dump.gz
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/workstations.deps
  external/googleapis/protolists/workstations.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/workstations/BUILD.bazel
  google/cloud/workstations/CMakeLists.txt
  google/cloud/workstations/README.md
  google/cloud/workstations/config.cmake.in
  google/cloud/workstations/doc/main.dox
  google/cloud/workstations/doc/options.dox
  google/cloud/workstations/quickstart/.bazelrc
  google/cloud/workstations/quickstart/BUILD.bazel
  google/cloud/workstations/quickstart/CMakeLists.txt
  google/cloud/workstations/quickstart/Makefile
  google/cloud/workstations/quickstart/README.md
  google/cloud/workstations/quickstart/WORKSPACE.bazel
  google/cloud/workstations/quickstart/quickstart.cc
  google/cloud/workstations/v1/internal/workstations_auth_decorator.cc
  google/cloud/workstations/v1/internal/workstations_auth_decorator.h
  google/cloud/workstations/v1/internal/workstations_connection_impl.cc
  google/cloud/workstations/v1/internal/workstations_connection_impl.h
  google/cloud/workstations/v1/internal/workstations_logging_decorator.cc
  google/cloud/workstations/v1/internal/workstations_logging_decorator.h
  google/cloud/workstations/v1/internal/workstations_metadata_decorator.cc
  google/cloud/workstations/v1/internal/workstations_metadata_decorator.h
  google/cloud/workstations/v1/internal/workstations_option_defaults.cc
  google/cloud/workstations/v1/internal/workstations_option_defaults.h
  google/cloud/workstations/v1/internal/workstations_retry_traits.h
  google/cloud/workstations/v1/internal/workstations_stub.cc
  google/cloud/workstations/v1/internal/workstations_stub.h
  google/cloud/workstations/v1/internal/workstations_stub_factory.cc
  google/cloud/workstations/v1/internal/workstations_stub_factory.h
  google/cloud/workstations/v1/internal/workstations_tracing_connection.cc
  google/cloud/workstations/v1/internal/workstations_tracing_connection.h
  google/cloud/workstations/v1/internal/workstations_tracing_stub.cc
  google/cloud/workstations/v1/internal/workstations_tracing_stub.h
  google/cloud/workstations/v1/mocks/mock_workstations_connection.h
  google/cloud/workstations/v1/samples/workstations_client_samples.cc
  google/cloud/workstations/v1/workstations_client.cc
  google/cloud/workstations/v1/workstations_client.h
  google/cloud/workstations/v1/workstations_connection.cc
  google/cloud/workstations/v1/workstations_connection.h
  google/cloud/workstations/v1/workstations_connection_idempotency_policy.cc
  google/cloud/workstations/v1/workstations_connection_idempotency_policy.h
  google/cloud/workstations/v1/workstations_options.h
  libraries.bzl
Labels: api: workstations

#11131 impl(bigquery): Logging decorator cleanup - Added DebugString member functions to …
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response.cc
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response.h
  google/cloud/bigquery/v2/minimal/internal/bigquery_http_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job.cc
  google/cloud/bigquery/v2/minimal/internal/job.h
  google/cloud/bigquery/v2/minimal/internal/job_configuration.h
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
Labels: api: bigquery

#11254 feat(confidentialcomputing): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_confidentialcomputing.expected.abi.dump.gz
  ci/etc/expected_install_directories
  ci/etc/full_feature_list
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/confidentialcomputing.deps
  external/googleapis/protolists/confidentialcomputing.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/confidentialcomputing/BUILD.bazel
  google/cloud/confidentialcomputing/CMakeLists.txt
  google/cloud/confidentialcomputing/README.md
  google/cloud/confidentialcomputing/config.cmake.in
  google/cloud/confidentialcomputing/doc/main.dox
  google/cloud/confidentialcomputing/doc/options.dox
  google/cloud/confidentialcomputing/quickstart/.bazelrc
  google/cloud/confidentialcomputing/quickstart/BUILD.bazel
  google/cloud/confidentialcomputing/quickstart/CMakeLists.txt
  google/cloud/confidentialcomputing/quickstart/Makefile
  google/cloud/confidentialcomputing/quickstart/README.md
  google/cloud/confidentialcomputing/quickstart/WORKSPACE.bazel
  google/cloud/confidentialcomputing/quickstart/quickstart.cc
  google/cloud/confidentialcomputing/v1/confidential_computing_client.cc
  google/cloud/confidentialcomputing/v1/confidential_computing_client.h
  google/cloud/confidentialcomputing/v1/confidential_computing_connection.cc
  google/cloud/confidentialcomputing/v1/confidential_computing_connection.h
  google/cloud/confidentialcomputing/v1/confidential_computing_connection_idempotency_policy.cc
  google/cloud/confidentialcomputing/v1/confidential_computing_connection_idempotency_policy.h
  google/cloud/confidentialcomputing/v1/confidential_computing_options.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_auth_decorator.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_auth_decorator.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_connection_impl.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_connection_impl.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_logging_decorator.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_logging_decorator.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_metadata_decorator.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_metadata_decorator.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_option_defaults.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_option_defaults.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_retry_traits.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_stub.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_stub.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_stub_factory.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_stub_factory.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_tracing_connection.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_tracing_connection.h
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_tracing_stub.cc
  google/cloud/confidentialcomputing/v1/internal/confidential_computing_tracing_stub.h
  google/cloud/confidentialcomputing/v1/mocks/mock_confidential_computing_connection.h
  google/cloud/confidentialcomputing/v1/samples/confidential_computing_client_samples.cc
  libraries.bzl
Labels: api: confidentialcomputing

#11271 fix(storage): cache legacy credentials
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
Labels: api: storage

#11262 test(spanner): make use of the IsOkAndHolds() StatusOr<T> matcher
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/bytes_test.cc
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/database_admin_client_test.cc
  google/cloud/spanner/database_admin_connection_test.cc
  google/cloud/spanner/instance_admin_connection_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/merge_chunk_test.cc
  google/cloud/spanner/numeric_test.cc
  google/cloud/spanner/row_test.cc
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#11224 impl(bigquery): Addresses remaining cleanup items for job apis
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
Labels: api: bigquery

#11293 ci(spanner): re-enable DataBoost samples but with workaround
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#11261 impl(bigquery): Dataset api - Custom classes and unit tests for V2 Dataset resource
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
Labels: api: bigquery

#11303 test(storage): call with SA credentials and scopes
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/retry_http_request.cc
  google/cloud/storage/testing/retry_http_request.h
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/service_account_credentials_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#11307 impl(bigquery): Request objects with unit tests for Dataset apis
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_request.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_request.h
  google/cloud/bigquery/v2/minimal/internal/dataset_request_test.cc
Labels: api: bigquery

#11317 impl(bigquery): Response objects with unit tests for Dataset apis
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_response.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response.h
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
Labels: api: bigquery

#11328 cleanup(iam): versioned clients in samples
  google/cloud/iam/doc/iam-credentials-mock.dox
  google/cloud/iam/doc/iam-mock.dox
  google/cloud/iam/samples/iam_credentials_samples.cc
  google/cloud/iam/samples/iam_samples.cc
  google/cloud/iam/samples/mock_iam.cc
  google/cloud/iam/samples/mock_iam_credentials.cc
Labels: api: iam, samples

#11329 cleanup(bigquery): use versioned clients in samples
  google/cloud/bigquery/doc/bigquery-read-mock.dox
  google/cloud/bigquery/samples/bigquery_read_samples.cc
  google/cloud/bigquery/samples/mock_bigquery_read.cc
Labels: api: bigquery, samples

#11333 fix(storage): cache legacy credentials
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/oauth2/service_account_credentials_test.cc
Labels: api: storage

#11336 impl(bigquery): Added DebugString() member functions for response logging
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_response.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response.h
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
Labels: api: bigquery

#11345 cleanup(spanner): some accumulated Spanner comment cleanup
  google/cloud/spanner/client.h
  google/cloud/spanner/options.h
  google/cloud/spanner/partition_options.h
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/read_partition.h
Labels: api: spanner

#11344 fix(spanner): propagate Options through SessionPool callbacks
  google/cloud/spanner/benchmarks/multiple_rows_cpu_benchmark.cc
  google/cloud/spanner/integration_tests/session_pool_integration_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/options.h
Labels: api: spanner

#11350 impl(bigquery): refactored JobLogWrapper template function
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/job_logging.cc
  google/cloud/bigquery/v2/minimal/internal/log_wrapper.h
Labels: api: bigquery

#11362 impl(bigquery): Refactor rename MockJobLoggingBackend
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_log_backend.h
Labels: api: bigquery

#11348 impl(bigquery): Metadata decorator and tests for Dataset apis
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_metadata.h
  google/cloud/bigquery/v2/minimal/internal/dataset_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/testing/mock_dataset_rest_stub.h
Labels: api: bigquery

#11366 impl(bigquery): Retry and Idempotency policies with unit tests for dataset apis.
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/dataset_idempotency_policy_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_retry_policy.h
Labels: api: bigquery

#11363 impl(bigquery): Logging decorator and tests for dataset apis
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_logging.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_logging.h
  google/cloud/bigquery/v2/minimal/internal/dataset_logging_test.cc
Labels: api: bigquery

#11390 impl(storage): add a OTel tracing client
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/tracing_client.cc
  google/cloud/storage/internal/tracing_client.h
  google/cloud/storage/internal/tracing_client_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#11380 impl(bigquery): Dataset default options with unit tests
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_options.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_options.h
  google/cloud/bigquery/v2/minimal/internal/dataset_options_test.cc
Labels: api: bigquery

#11401 doc(bigtable): workaround Doxygen limitations on code spans
  google/cloud/bigtable/table.h
Labels: api: bigtable

#11404 cleanup(bigquery): remove unusable code
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_bigquery.expected.abi.dump.gz
  ci/cloudbuild/builds/cmake-install.sh
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/bigquery_grpc.cmake
  google/cloud/bigquery/doc/environment-variables.dox
  google/cloud/bigquery/doc/main.dox
  google/cloud/bigquery/mocks/mock_model_connection.h
  google/cloud/bigquery/model_client.h
  google/cloud/bigquery/model_connection.h
  google/cloud/bigquery/model_connection_idempotency_policy.h
  google/cloud/bigquery/model_options.h
  google/cloud/bigquery/v2/internal/model_auth_decorator.cc
  google/cloud/bigquery/v2/internal/model_auth_decorator.h
  google/cloud/bigquery/v2/internal/model_connection_impl.cc
  google/cloud/bigquery/v2/internal/model_connection_impl.h
  google/cloud/bigquery/v2/internal/model_logging_decorator.cc
  google/cloud/bigquery/v2/internal/model_logging_decorator.h
  google/cloud/bigquery/v2/internal/model_metadata_decorator.cc
  google/cloud/bigquery/v2/internal/model_metadata_decorator.h
  google/cloud/bigquery/v2/internal/model_option_defaults.cc
  google/cloud/bigquery/v2/internal/model_option_defaults.h
  google/cloud/bigquery/v2/internal/model_retry_traits.h
  google/cloud/bigquery/v2/internal/model_stub.cc
  google/cloud/bigquery/v2/internal/model_stub.h
  google/cloud/bigquery/v2/internal/model_stub_factory.cc
  google/cloud/bigquery/v2/internal/model_stub_factory.h
  google/cloud/bigquery/v2/internal/model_tracing_connection.cc
  google/cloud/bigquery/v2/internal/model_tracing_connection.h
  google/cloud/bigquery/v2/internal/model_tracing_stub.cc
  google/cloud/bigquery/v2/internal/model_tracing_stub.h
  google/cloud/bigquery/v2/mocks/mock_model_connection.h
  google/cloud/bigquery/v2/model_client.cc
  google/cloud/bigquery/v2/model_client.h
  google/cloud/bigquery/v2/model_connection.cc
  google/cloud/bigquery/v2/model_connection.h
  google/cloud/bigquery/v2/model_connection_idempotency_policy.cc
  google/cloud/bigquery/v2/model_connection_idempotency_policy.h
  google/cloud/bigquery/v2/model_options.h
  google/cloud/bigquery/v2/samples/model_client_samples.cc
Labels: api: bigquery

#11411 test(storage): more tolerant policies in samples
  google/cloud/storage/examples/storage_client_per_operation_samples.cc
Labels: api: storage, samples

#11407 impl(storage): add backoff spans
  google/cloud/storage/internal/retry_client.cc
  google/cloud/storage/internal/retry_client_test.cc
Labels: api: storage

#11383 impl(sql): add first integration test
  google/cloud/sql/CMakeLists.txt
  google/cloud/sql/integration_tests/BUILD.bazel
  google/cloud/sql/integration_tests/CMakeLists.txt
  google/cloud/sql/integration_tests/sql_integration_test.cc
Labels: api: cloudsql

#11414 impl(bigquery): `DataClient` and `*Connection`
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest_mocks.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_client.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_client.h
  google/cloud/bigquery/v2/minimal/internal/dataset_client_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_connection.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_connection.h
  google/cloud/bigquery/v2/minimal/internal/dataset_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_dataset_connection.h
Labels: api: bigquery

#11417 impl(storage): add Tracing client if enabled
  google/cloud/storage/client.cc
Labels: api: storage

#11420 refactor(otel): tests use abstract tracing Options
  generator/integration_tests/tests/golden_kitchen_sink_connection_test.cc
  generator/integration_tests/tests/golden_kitchen_sink_stub_factory_test.cc
  generator/integration_tests/tests/golden_kitchen_sink_tracing_connection_test.cc
  generator/integration_tests/tests/golden_thing_admin_connection_test.cc
  generator/integration_tests/tests/golden_thing_admin_stub_factory_test.cc
  generator/integration_tests/tests/golden_thing_admin_tracing_connection_test.cc
  google/cloud/internal/async_polling_loop_test.cc
  google/cloud/internal/async_rest_polling_loop_test.cc
  google/cloud/internal/async_rest_retry_loop_test.cc
  google/cloud/internal/async_retry_loop_test.cc
  google/cloud/internal/grpc_opentelemetry_test.cc
  google/cloud/internal/opentelemetry_test.cc
  google/cloud/internal/rest_retry_loop_test.cc
  google/cloud/internal/retry_loop_test.cc
  google/cloud/storage/internal/retry_client_test.cc
  google/cloud/testing_util/opentelemetry_matchers.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: cpp: opentelemetry

#11434 impl(spanner): enable REST instance admin test against emulator
  ci/cloudbuild/builds/lib/integration.sh
Labels: api: spanner
