Repository googleapis/google-cloud-cpp, pull requests merged in 2023-11, with the labels that each got.

#13021 refactor(pubsub): use subscriber factory
  google/cloud/pubsub/internal/subscriber_stub_factory.cc
  google/cloud/pubsub/internal/subscriber_stub_factory.h
  google/cloud/pubsub/subscriber_connection.cc
Labels: api: pubsub

#13038 impl(pubsub): change the attr to event attr for
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13039 refactor(pubsub): rename spans to match other languages
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13024 impl(pubsub): add MaxOtelLinkCountOption
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults_test.cc
  google/cloud/pubsub/options.h
Labels: api: pubsub

#13027 impl(pubsub): fix scopes
  google/cloud/pubsub/internal/tracing_message_batch.cc
Labels: api: pubsub

#13031 feat(spanner): control replicas/regions used in non-transactional reads
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/connection.h
  google/cloud/spanner/directed_read_replicas.h
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/query_partition.h
  google/cloud/spanner/query_partition_test.cc
  google/cloud/spanner/read_partition.h
  google/cloud/spanner/read_partition_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner

#13043 impl(pubsub): only add links that are sampled
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/testing_util/opentelemetry_matchers.cc
Labels: api: pubsub

#13046 fix(pubsub): fix merge conflict causing bad unit test
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13041 refactor(pubsub): rename messaging system to gcp_pubsub
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13061 impl(bigquery): return empty list if BQ API doesn't populate datasets
  google/cloud/bigquery/v2/minimal/internal/dataset_response.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
Labels: api: bigquery

#13069 fix(bigquery): use STRING for statementByteBudget field
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
Labels: api: bigquery

#13060 impl(bigtable): add a generic RateLimiter
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/rate_limiter.cc
  google/cloud/bigtable/internal/rate_limiter.h
  google/cloud/bigtable/internal/rate_limiter_test.cc
Labels: api: bigtable

#13047 impl(pubsub): use option to determine link batch size
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/testing/test_retry_policies.cc
Labels: api: pubsub

#13078 impl(pubsub): add addlink api if otel version 2
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13079 impl(bigtable): add `MutateRowsLimiter`
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.h
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
Labels: api: bigtable

#13086 impl(bigtable): flip throttling flag(s)
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
Labels: api: bigtable

#13088 cleanup(storage): prepare for `clang-tidy` 17
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/examples/storage_object_csek_samples.cc
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/internal/generate_message_boundary.h
  google/cloud/storage/internal/generic_request.h
  google/cloud/storage/internal/grpc/make_cord.h
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/internal/rest/request_builder.h
  google/cloud/storage/internal/tuple_filter.h
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_read_stream.h
  google/cloud/storage/object_rewriter.h
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/object_write_stream.h
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/object_compose_many_integration_test.cc
Labels: api: storage

#13092 cleanup(pubsub): prepare for `clang-tidy` 17
  google/cloud/pubsub/internal/sequential_batch_sink.cc
  google/cloud/pubsub/message.h
  google/cloud/pubsub/samples/iam_samples.cc
Labels: api: pubsub

#13091 cleanup(spanner): prepare for `clang-tidy` 17
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/tuple_utils.h
  google/cloud/spanner/numeric.h
  google/cloud/spanner/row.h
  google/cloud/spanner/value.h
Labels: api: spanner

#13099 cleanup(bigquery): prepare for `clang-tidy` 17
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
Labels: api: bigquery

#13090 impl(bigtable): plumb MutateRowsLimiter internally
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_testing.bzl
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.h
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
  google/cloud/bigtable/testing/mock_mutate_rows_limiter.h
Labels: api: bigtable

#13102 fix(bigquery): remove requirement to have `configuration` field
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
Labels: api: bigquery

#13132 test(sql): retry loop in integration test
  google/cloud/sql/integration_tests/sql_integration_test.cc
Labels: api: cloudsql

#13103 fix(bigquery): use int for creationTime
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#13143 refactor(pubsub): rename span event attribute
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13140 internal(bigquery): cast time without 'time_since_epoch()'
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
Labels: api: bigquery

#13142 refactor(pubsub): use sc instead of custom attribute
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13152 impl(pubsub): add event at the end of the async publish
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13156 fix(bigtable): async context propagation for tracing
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#13157 impl(bigtable): tracing for bulk apply throttling
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
Labels: api: bigtable

#13153 refactor(pubsub): rename s/send/create
  google/cloud/pubsub/blocking_publisher_connection_test.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13163 cleanup(pubsub): save a copy
  google/cloud/pubsub/internal/tracing_message_batch.cc
Labels: api: pubsub

#13164 cleanup(bigtable): use generic `RowKeyType`
  google/cloud/bigtable/examples/howto_mock_data_api.cc
Labels: api: bigtable

#13167 refactor(pubsub): s/pubsub/gcp_pubsub
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13166 impl(pubsub): add messaging.operation attr
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13168 impl(pubsub): add messaging.operation attr for publish
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13174 refactor(pubsub): add no-op addmessage to batch sink interface
  google/cloud/pubsub/internal/batch_sink.h
  google/cloud/pubsub/internal/default_batch_sink.h
  google/cloud/pubsub/internal/sequential_batch_sink.h
  google/cloud/pubsub/testing/mock_batch_sink.h
Labels: api: pubsub

#13175 refactor(pubsub): change span to a producer kind
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
Labels: api: pubsub

#13151 impl(pubsub): add thread id attribute to publish span
  google/cloud/internal/opentelemetry.cc
  google/cloud/internal/opentelemetry.h
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/storage/internal/async/reader_connection_tracing.cc
  google/cloud/storage/internal/async/writer_connection_tracing.cc
Labels: api: pubsub

#13172 cleanup(pubsub): adapt to different forms of PubsubMessageDataType
  google/cloud/pubsub/benchmarks/BUILD.bazel
  google/cloud/pubsub/benchmarks/endurance.cc
Labels: api: pubsub

#13183 refactor(pubsub): rename to match the semantic convention
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13182 refactor(pubsub): use sc instead of string
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13179 refactor(pubsub): s/SaveMessage/AddMessage
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/message_batch.h
  google/cloud/pubsub/internal/noop_message_batch.h
  google/cloud/pubsub/internal/tracing_message_batch.cc
  google/cloud/pubsub/internal/tracing_message_batch_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
  google/cloud/pubsub/testing/mock_message_batch.h
Labels: api: pubsub

#13178 refactor(pubsub): change naming to use topic id not full name
  google/cloud/pubsub/blocking_publisher_connection_test.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
  google/cloud/pubsub/publisher_connection_test.cc
Labels: api: pubsub

#13189 cleanup(bigtable): split out howto_mock_data_api bazel rule
  google/cloud/bigtable/examples/BUILD.bazel
Labels: api: bigtable

#13192 impl(bigtable): MutateRowsLimiter can do async
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.h
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
  google/cloud/bigtable/testing/mock_mutate_rows_limiter.h
Labels: api: bigtable

#13197 impl(bigtable): plumb limiter thru AsyncBulkApply
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#13201 cleanup(spanner): use FetchOption() in spanner::Client
  google/cloud/spanner/client.cc
Labels: api: spanner

#13203 feat(bigtable): throttling for AsyncBulkApply
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter.h
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
  google/cloud/bigtable/options.h
Labels: api: bigtable

#13204 refactor(pubsub): add a tracing batch sink
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink.h
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub
