Repository googleapis/google-cloud-cpp, pull requests merged in 2023-05, with the labels that each got.

#11461 test(spanner): avoid `europe-west9`
  google/cloud/spanner/testing/pick_instance_config.cc
Labels: api: spanner

#11445 fix(storage): support per-request options
  google/cloud/internal/curl_rest_client.cc
  google/cloud/internal/curl_rest_client.h
  google/cloud/internal/curl_rest_client_integration_test.cc
  google/cloud/internal/rest_context.h
  google/cloud/storage/internal/bucket_acl_requests.h
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/internal/default_object_acl_requests.h
  google/cloud/storage/internal/hmac_key_requests.h
  google/cloud/storage/internal/object_acl_requests.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/rest_client.cc
  google/cloud/storage/internal/rest_client_test.cc
  google/cloud/storage/internal/sign_blob_requests.h
Labels: api: storage

#11447 fix(storage): cache all credential types
  google/cloud/storage/oauth2/authorized_user_credentials.cc
  google/cloud/storage/oauth2/authorized_user_credentials.h
  google/cloud/storage/oauth2/authorized_user_credentials_test.cc
  google/cloud/storage/oauth2/compute_engine_credentials.cc
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/compute_engine_credentials_test.cc
Labels: api: storage

#11438 impl(bigquery): Custom classes for Table resource
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table.h
  google/cloud/bigquery/v2/minimal/internal/table_constraints.h
  google/cloud/bigquery/v2/minimal/internal/table_partition.h
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.h
  google/cloud/bigquery/v2/minimal/internal/table_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.h
Labels: api: bigquery

#11465 impl(bigquery): Dataset and Table classes cleanup
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.cc
  google/cloud/bigquery/v2/minimal/internal/dataset.h
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/dataset_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.h
Labels: api: bigquery

#11298 test(bigtable): add CBT Test Proxy (for conformance tests)
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/test_proxy/BUILD.bazel
  google/cloud/bigtable/test_proxy/CMakeLists.txt
  google/cloud/bigtable/test_proxy/README.md
  google/cloud/bigtable/test_proxy/cbt_test_proxy.cc
  google/cloud/bigtable/test_proxy/cbt_test_proxy.h
  google/cloud/bigtable/test_proxy/cbt_test_proxy_main.cc
  google/cloud/bigtable/test_proxy/test_proxy.proto
Labels: api: bigtable

#11475 impl(bigquery): Table custom classes logging
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/table.cc
  google/cloud/bigquery/v2/minimal/internal/table.h
  google/cloud/bigquery/v2/minimal/internal/table_constraints.cc
  google/cloud/bigquery/v2/minimal/internal/table_constraints.h
  google/cloud/bigquery/v2/minimal/internal/table_partition.cc
  google/cloud/bigquery/v2/minimal/internal/table_partition.h
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.h
  google/cloud/bigquery/v2/minimal/internal/table_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.h
Labels: api: bigquery

#11490 impl(bigquery): Table request classes with unit tests
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/table_request.cc
  google/cloud/bigquery/v2/minimal/internal/table_request.h
  google/cloud/bigquery/v2/minimal/internal/table_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.cc
  google/cloud/bigquery/v2/minimal/internal/table_view.h
Labels: api: bigquery

#11500 impl(bigquery): Table response classes with unit tests
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response.h
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_test.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.h
Labels: api: bigquery

#11505 ci(storage): upgrade to storage-testbench v0.36.0
  ci/cloudbuild/builds/lib/integration.sh
Labels: api: storage

#11504 impl(bigquery): refactor/cleanup of endpoint methods
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/rest_stub_utils.cc
  google/cloud/bigquery/v2/minimal/internal/rest_stub_utils.h
  google/cloud/bigquery/v2/minimal/internal/rest_stub_utils_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_request.cc
Labels: api: bigquery

#11509 impl(bigtable): call context for RowReader
  google/cloud/bigtable/row_reader.cc
  google/cloud/bigtable/row_reader.h
  google/cloud/bigtable/row_reader_test.cc
Labels: api: bigtable

#11511 impl(sql): enable integration tests
  ci/cloudbuild/builds/lib/integration.sh
  google/cloud/sql/integration_tests/CMakeLists.txt
Labels: api: cloudsql

#11510 impl(bigtable): include tracing stub
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
  google/cloud/bigtable/internal/bigtable_stub_factory_test.cc
Labels: api: bigtable

#11516 test(spanner): avoid "europe-west9" in CreateInstanceConfig() tests
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
  google/cloud/spanner/testing/pick_instance_config.cc
Labels: api: spanner

#11513 impl(bigtable): add TracedRowReader
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/traced_row_reader.cc
  google/cloud/bigtable/internal/traced_row_reader.h
  google/cloud/bigtable/internal/traced_row_reader_test.cc
Labels: api: bigtable

#11521 refactor(bigtable): move test
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/data_connection_test.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#11526 impl(bigquery): Dataset StubFactory changes
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_stub_factory.cc
Labels: api: bigquery

#11522 impl(bigtable): introduce DataTracingConnection
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection.h
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11525 impl(bigquery): Table stub and stub factory classes
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub_factory.h
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_table_rest_stub.h
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.h
Labels: api: bigquery

#11524 test(bigtable): relax backup expiration time checks
  google/cloud/bigtable/admin/integration_tests/admin_backup_integration_test.cc
  google/cloud/bigtable/tests/admin_backup_integration_test.cc
Labels: api: bigtable

#11540 impl(bigtable): tracing for ReadRows
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11550 doc(bigtable): deprecate DataClient in doxygen
  google/cloud/bigtable/data_client.h
  google/cloud/bigtable/table.h
Labels: api: bigtable

#11542 impl(bigtable): tracing for (Async)BulkApply
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11554 impl(bigtable): tracing for single row reads
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11558 impl(bigtable): tracing for AsyncReadRows
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11560 impl(bigquery): Table connection and client classes
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest_mocks.bzl
  google/cloud/bigquery/v2/minimal/internal/table_client.cc
  google/cloud/bigquery/v2/minimal/internal/table_client.h
  google/cloud/bigquery/v2/minimal/internal/table_client_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_connection.cc
  google/cloud/bigquery/v2/minimal/internal/table_connection.h
  google/cloud/bigquery/v2/minimal/internal/table_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_table_connection.h
Labels: api: bigquery

#11559 impl(bigtable): include DataTracingConnection
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/data_connection_test.cc
Labels: api: bigtable

#11563 cleanup(bigtable): fix CI table leaks
  google/cloud/bigtable/examples/data_async_snippets.cc
Labels: api: bigtable

#11543 impl(bigquery): Table Metadata Decorator
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/table_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/table_metadata.h
  google/cloud/bigquery/v2/minimal/internal/table_metadata_test.cc
Labels: api: bigquery

#11567 impl(bigquery): Table Stub Factory changes
  google/cloud/bigquery/v2/minimal/internal/table_rest_stub_factory.cc
Labels: api: bigquery

#11571 chore(bigquery): backfill `.repo-metadata.json` files
  google/cloud/bigquery/analyticshub/v1/.repo-metadata.json
  google/cloud/bigquery/connection/v1/.repo-metadata.json
  google/cloud/bigquery/datapolicies/v1/.repo-metadata.json
  google/cloud/bigquery/datatransfer/v1/.repo-metadata.json
  google/cloud/bigquery/migration/v2/.repo-metadata.json
  google/cloud/bigquery/reservation/v1/.repo-metadata.json
  google/cloud/bigquery/storage/v1/.repo-metadata.json
Labels: api: bigquery

#11572 impl(bigtable): correlate AsyncReadRows span with children
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
Labels: api: bigtable

#11590 impl(bigtable): AsyncBulkApply traced backoffs
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
Labels: api: bigtable

#11593 impl(bigtable): AsyncSampleRows traced backoffs
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#11599 impl(bigtable): AsyncReadRows traced backoffs
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
Labels: api: bigtable

#11598 doc(trace): Cloud Trace, not Stackdriver Trace
  README.md
  google/cloud/trace/CMakeLists.txt
  google/cloud/trace/README.md
  google/cloud/trace/doc/main.dox
  google/cloud/trace/doc/options.dox
  google/cloud/trace/quickstart/CMakeLists.txt
  google/cloud/trace/quickstart/Makefile
  google/cloud/trace/quickstart/README.md
  google/cloud/trace/quickstart/WORKSPACE.bazel
Labels: api: cloudtrace

#11610 docs(bigtable): small cleanups
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/doc/bigtable-main.dox
  google/cloud/bigtable/doc/migrating-from-dataclient.dox
Labels: api: bigtable

#11591 impl(bigquery): Project custom classes, request and response
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/project.cc
  google/cloud/bigquery/v2/minimal/internal/project.h
  google/cloud/bigquery/v2/minimal/internal/project_request.cc
  google/cloud/bigquery/v2/minimal/internal/project_request.h
  google/cloud/bigquery/v2/minimal/internal/project_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_response.cc
  google/cloud/bigquery/v2/minimal/internal/project_response.h
  google/cloud/bigquery/v2/minimal/internal/project_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_test.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/project_test_utils.h
Labels: api: bigquery

#11603 cleanup(bigtable): reduce test logs
  google/cloud/bigtable/tests/table_sample_rows_integration_test.cc
Labels: api: bigtable

#11616 impl(bigquery): Project Stub and StubFactory
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub.h
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub_factory.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub_factory.h
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub_test.cc
Labels: api: bigquery

#11617 impl(bigquery): Project options and policies
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/project_idempotency_policy.cc
  google/cloud/bigquery/v2/minimal/internal/project_idempotency_policy.h
  google/cloud/bigquery/v2/minimal/internal/project_idempotency_policy_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_options.cc
  google/cloud/bigquery/v2/minimal/internal/project_options.h
  google/cloud/bigquery/v2/minimal/internal/project_options_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_retry_policy.h
Labels: api: bigquery

#11624 chore(shell): fix `.repo-metadata.json` lint
  google/cloud/shell/v1/.repo-metadata.json
Labels: api: cloudshell

#11632 impl(bigquery): Project metadata decorator
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_metadata.cc
  google/cloud/bigquery/v2/minimal/internal/project_metadata.h
  google/cloud/bigquery/v2/minimal/internal/project_metadata_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_metadata_test.cc
  google/cloud/bigquery/v2/minimal/testing/metadata_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/metadata_test_utils.h
  google/cloud/bigquery/v2/minimal/testing/mock_project_rest_stub.h
Labels: api: bigquery

#11633 feat(storage): lazy allocation for upload buffer
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/object_write_streambuf.h
Labels: api: storage

#11637 feat(spanner): tests and samples for drop-database protection
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#11635 impl(bigquery): Project logging decorator
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/v2/minimal/internal/project_logging.cc
  google/cloud/bigquery/v2/minimal/internal/project_logging.h
  google/cloud/bigquery/v2/minimal/internal/project_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_stub_factory.cc
Labels: api: bigquery

#11641 docs(spanner): some documentation tweaks
  google/cloud/spanner/doc/spanner-main.dox
Labels: api: spanner

#11643 impl(bigquery): Refactor/cleanup Logging Decorators
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_testing.bzl
  google/cloud/bigquery/v2/minimal/internal/dataset_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_logging_test.cc
  google/cloud/bigquery/v2/minimal/testing/mock_log_backend.h
Labels: api: bigquery

#11651 impl(bigquery): Project Connection and Client
  google/cloud/bigquery/bigquery_rest.cmake
  google/cloud/bigquery/bigquery_rest_unit_tests.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest.bzl
  google/cloud/bigquery/google_cloud_cpp_bigquery_rest_mocks.bzl
  google/cloud/bigquery/v2/minimal/internal/project_client.cc
  google/cloud/bigquery/v2/minimal/internal/project_client.h
  google/cloud/bigquery/v2/minimal/internal/project_client_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_connection.cc
  google/cloud/bigquery/v2/minimal/internal/project_connection.h
  google/cloud/bigquery/v2/minimal/internal/project_connection_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_connection_impl.h
  google/cloud/bigquery/v2/minimal/mocks/mock_project_connection.h
Labels: api: bigquery

#11659 impl(bigquery): minor cleanup logging decorators
  google/cloud/bigquery/v2/minimal/internal/dataset_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_logging_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_logging_test.cc
Labels: api: bigquery

#11678 docs(storage): fix snippet reference
  .clang-format
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_default_object_acl_samples.cc
Labels: api: storage

#11686 cleanup(storage): use `Options` in implementation
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
Labels: api: storage

#11697 feat(storage): offer mock client without decorators
  google/cloud/storage/examples/storage_client_mock_samples.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/mock_client.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/testing/remove_stale_buckets_test.cc
Labels: api: storage

#11721 cleanup(channel): build on all tested platforms
  google/cloud/channel/BUILD.bazel
  google/cloud/channel/CMakeLists.txt
Labels: api: cloudchannel

#11692 doc(otel): add main.dox
  google/cloud/opentelemetry/CMakeLists.txt
  google/cloud/opentelemetry/README.md
  google/cloud/opentelemetry/doc/main.dox
Labels: cpp: opentelemetry

#11725 refactor(bigtable): future-proof ReadRows mocking
  google/cloud/bigtable/data_connection.cc
  google/cloud/bigtable/data_connection.h
  google/cloud/bigtable/examples/howto_mock_data_api.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/data_tracing_connection.cc
  google/cloud/bigtable/internal/data_tracing_connection_test.cc
  google/cloud/bigtable/mocks/mock_data_connection.h
  google/cloud/bigtable/mocks/mock_row_reader.h
  google/cloud/bigtable/table_test.cc
Labels: api: bigtable

#11728 docs(otel): introduce a sample
  google/cloud/opentelemetry/CMakeLists.txt
  google/cloud/opentelemetry/configure_basic_tracing.h
  google/cloud/opentelemetry/samples/BUILD.bazel
  google/cloud/opentelemetry/samples/CMakeLists.txt
  google/cloud/opentelemetry/samples/samples.cc
Labels: samples

#11729 cleanup(spanner): fixes for retry/backoff sample
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#11741 feat(storage): better error messages in signed URLs
  google/cloud/storage/client.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/client_sign_url_test.cc
Labels: api: storage

#11743 docs(otel): more samples
  google/cloud/opentelemetry/samples/samples.cc
Labels: samples, cpp: opentelemetry
