Repository googleapis/google-cloud-cpp, pull requests merged in 2024-06, with the labels that each got.

#14332 samples(storagecontrol): add storagecontrol folder samples
  ci/cloudbuild/builds/lib/integration.sh
  google/cloud/storage/examples/storage_bucket_samples.cc
  google/cloud/storagecontrol/v2/samples/storage_control_folder_samples.cc
Labels: samples

#14350 feat(storage): buckets with object retention
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_object_retention.cc
  google/cloud/storage/bucket_object_retention.h
  google/cloud/storage/bucket_object_retention_test.cc
  google/cloud/storage/client.h
  google/cloud/storage/enable_object_retention.h
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_bucket_object_retention_samples.cc
  google/cloud/storage/examples/storage_examples.bzl
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/bucket_requests.h
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#14351 feat(storage): support object retention
  google/cloud/storage/client.h
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_bucket_object_retention_samples.cc
  google/cloud/storage/examples/storage_examples.bzl
  google/cloud/storage/examples/storage_object_retention_samples.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_retention.cc
  google/cloud/storage/object_retention.h
  google/cloud/storage/object_retention_test.cc
  google/cloud/storage/override_unlocked_retention.h
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#14356 samples(storagecontrol): add storagecontrol managed folder samples
  google/cloud/storagecontrol/v2/samples/storage_control_managed_folder_samples.cc
Labels: samples

#14358 docs(bigtable): include admin options
  google/cloud/bigtable/doc/bigtable-options.dox
  google/cloud/bigtable/options.h
Labels: api: bigtable

#14360 docs(spanner): include admin options
  google/cloud/spanner/doc/spanner-options.dox
  google/cloud/spanner/options.h
Labels: api: spanner

#14359 docs(pubsub): include admin options
  google/cloud/pubsub/doc/pubsub-options.dox
  google/cloud/pubsub/options.h
Labels: api: pubsub

#14380 fix(bigquery): fixing type of "maxLength" field
  google/cloud/bigquery/v2/minimal/internal/job_query_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_stats_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_schema.cc
  google/cloud/bigquery/v2/minimal/testing/table_test_utils.cc
Labels: api: bigquery

#14386 impl(dataproc): add include for lro metadata type
  generator/generator_config.textproto
  google/cloud/dataproc/v1/internal/node_group_controller_stub.h
  google/cloud/dataproc/v1/node_group_controller_connection.h
Labels: api: dataproc

#14384 fix(bigquery): Fixes parsing of null type values returned from BQ server
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#14388 test(storage): skip some gRPC integration tests
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_rewrite_integration_test.cc
Labels: api: storage

#14398 cleanup(storage): remove unused Bazel flag
  ci/cloudbuild/builds/lib/integration.sh
Labels: api: storage

#14366 chore: upgrade to Bazel 7.2.1
  .bazelversion
  ci/cloudbuild/builds/lib/bazel.sh
  ci/cloudbuild/builds/quickstart-bazel.sh
  ci/gha/builds/lib/bazel.sh
Labels: gha:full-build
