Repository googleapis/google-cloud-cpp, pull requests merged in 2024-12, with the labels that each got.

#14674 feat(spanner): add samples for MR CMEK
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#14876 docs(release): update changelog for the 2024-12 release
  CHANGELOG.md
  CMakeLists.txt
  MODULE.bazel
  google/cloud/internal/version_info.h
Labels: gha:full-build

#14883 ci: fix spanner samples integration tests
  google/cloud/spanner/samples/samples.cc
Labels: samples

#14885 ci: fix spanner samples
  google/cloud/spanner/samples/samples.cc
Labels: samples
