Repository googleapis/google-cloud-cpp, pull requests merged in 2024-09, with the labels that each got.

#14681 ci: reshard macOS builds
  .github/workflows/macos-bazel.yml
  .github/workflows/macos-cmake.yml
  .github/workflows/windows-cmake.yml
Labels: gha:full-build

#14678 feat(spanner): support instance edition
  google/cloud/spanner/admin/integration_tests/instance_admin_rest_integration_test.cc
  google/cloud/spanner/create_instance_request_builder.h
  google/cloud/spanner/create_instance_request_builder_test.cc
Labels: api: spanner

#14682 chore: allow commit SHA override in renovate.sh
  doc/contributor/howto-guide-update-googleapis-sha.md
  external/googleapis/renovate.sh
  release/README.md
Labels: gha:full-build

#14676 feat(storage): Utilize gcp check to default to direct path
  google/cloud/storage/internal/grpc/default_options.cc
  google/cloud/storage/internal/grpc/default_options.h
  google/cloud/storage/internal/grpc/default_options_test.cc
Labels: api: storage

#14701 doc(generativelanguage): add samples
  ci/cloudbuild/builds/integration-production.sh
  google/cloud/generativelanguage/CMakeLists.txt
  google/cloud/generativelanguage/samples/BUILD.bazel
  google/cloud/generativelanguage/samples/CMakeLists.txt
  google/cloud/generativelanguage/samples/samples.cc
Labels: samples

#14703 doc(aiplatform): add Vertex AI samples
  google/cloud/aiplatform/CMakeLists.txt
  google/cloud/aiplatform/samples/BUILD.bazel
  google/cloud/aiplatform/samples/CMakeLists.txt
  google/cloud/aiplatform/samples/samples.cc
Labels: samples, api: aiplatform

#14699 impl(bigquery): Added option to set JobCreationMode in QueryRequest
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request.h
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
Labels: api: bigquery

#14714 chore(spanner): formatting and clang tidy fixes
  google/cloud/spanner/samples/graph_samples.cc
Labels: api: spanner

#14710 feat(storage): Add ability to restore soft deleted objects
  ci/cloudbuild/builds/lib/integration.sh
  google/cloud/storage/client.h
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/connection_impl_object_test.cc
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_adapter.cc
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser.h
  google/cloud/storage/internal/grpc/object_request_parser_test.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/grpc/stub.h
  google/cloud/storage/internal/grpc/stub_test.cc
  google/cloud/storage/internal/logging_stub.cc
  google/cloud/storage/internal/logging_stub.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/rest/stub.h
  google/cloud/storage/internal/rest/stub_test.cc
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/testing/mock_generic_stub.h
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/well_known_parameters.h
Labels: api: storage

#14717 chore: remove redundant cmake add_subdirs for samples
  google/cloud/aiplatform/CMakeLists.txt
  google/cloud/generativelanguage/CMakeLists.txt
Labels: samples

#14720 feat(spanner): Add samples for backup schedule feature APIs
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#14712 feat(storage): promote gRPC plugin to GA
  BUILD.bazel
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_storage_grpc.expected.abi.dump.gz
  ci/cloudbuild/builds/checkers.sh
  ci/cloudbuild/builds/cmake-install.sh
  ci/cloudbuild/builds/cmake-split-install.sh
  ci/cloudbuild/builds/lib/features.sh
  ci/cloudbuild/builds/lib/quickstart.sh
  ci/etc/cloudcxxrc
  ci/generate-markdown/generate-readme.sh
  ci/lib/shard.sh
  ci/verify_current_targets/BUILD.bazel
  ci/verify_current_targets/CMakeLists.txt
  ci/verify_quickstart/CMakeLists.txt
  cmake/GoogleCloudCppFeatures.cmake
  doc/compile-time-configuration.md
  doc/contributor/howto-guide-setup-development-workstation.md
  google/cloud/grpc_options.h
  google/cloud/storage/CMakeLists.txt
  google/cloud/storage/README.md
  google/cloud/storage/async/client.h
  google/cloud/storage/benchmarks/BUILD.bazel
  google/cloud/storage/benchmarks/CMakeLists.txt
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/async_throughput_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/doc/storage-grpc.dox
  google/cloud/storage/examples/BUILD.bazel
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_grpc_samples.cc
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/storage/grpc_plugin.cc
  google/cloud/storage/grpc_plugin.h
  google/cloud/storage/grpc_plugin_test.cc
  google/cloud/storage/internal/grpc/default_options.cc
  google/cloud/storage/quickstart/BUILD.bazel
  google/cloud/storage/quickstart/README.md
  google/cloud/storage/quickstart/quickstart.cc
  google/cloud/storage/quickstart/quickstart_grpc.cc
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/tests/smoke_test_grpc.cc
  libraries.bzl
Labels: api: storage
