Repository googleapis/google-cloud-cpp, pull requests merged in 2024-04, with the labels that each got.

#13905 impl(pubsub): add streaming pull integration test for otel
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub

#13894 refactor(pubsub): move msg callback to batch callback
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/default_message_callback.h
  google/cloud/pubsub/internal/message_callback.h
  google/cloud/pubsub/internal/message_callback_wrapper.h
  google/cloud/pubsub/internal/noop_message_callback.h
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
  google/cloud/pubsub/testing/mock_message_callback.h
Labels: api: pubsub

#13890 impl(pubsub): add concurrency functions to callback
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13913 cleanup(pubsub): make concurrency funcs public and remove scope
  google/cloud/pubsub/internal/tracing_batch_callback.cc
Labels: api: pubsub

#13914 impl(pubsub): add scheduler span
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13920 impl(pubsub): add end modack event for exactly once
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#13938 test(otel): fix build on non-Linux
  google/cloud/opentelemetry/internal/time_series_test.cc
Labels: gha:full-build

#13915 impl(pubsub): add tracing message callback
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/message_callback.h
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_session.cc
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/internal/tracing_message_callback.cc
  google/cloud/pubsub/internal/tracing_message_callback.h
  google/cloud/pubsub/internal/tracing_message_callback_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
Labels: api: pubsub

#13954 fix(pubsub): fix flakey test by checking for at least N acks
  google/cloud/pubsub/internal/subscription_session_test.cc
Labels: api: pubsub

#13932 impl(pubsub): add modack span for lease management
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13975 cleanup(storage): remove logging noise
  google/cloud/storage/internal/grpc/bucket_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/tracing_connection_test.cc
Labels: api: storage

#13992 cleanup(bigtable): `RowKeyType` again
  google/cloud/bigtable/internal/traced_row_reader_test.cc
Labels: api: bigtable

#13993 cleanup(spanner): update samples.cc for comments on is_partitionable
  google/cloud/spanner/samples/samples.cc
Labels: samples

#13976 cleanup(pubsub): lock_guard; early returns
  google/cloud/pubsub/internal/tracing_batch_callback.cc
Labels: api: pubsub

#13950 impl(pubsub): add the ack handler if otel is enabled
  google/cloud/pubsub/internal/subscription_session_test.cc
  google/cloud/pubsub/internal/tracing_exactly_once_ack_handler.cc
  google/cloud/pubsub/internal/tracing_exactly_once_ack_handler_test.cc
  google/cloud/pubsub/internal/tracing_message_callback.cc
  google/cloud/pubsub/internal/tracing_message_callback_test.cc
Labels: api: pubsub

#14009 test(GCS+gRPC): fix MSVC build
  google/cloud/storage/internal/async/connection_impl_test.cc
Labels: gha:full-build

#14007 test(spanner): scope transactions within connections
  google/cloud/spanner/internal/connection_impl_test.cc
Labels: api: spanner

#14012 fix(spanner): delete idle sessions upon SessionPool destruction
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool_test.cc
Labels: api: spanner

#14017 feat(retail): add AnalyticsServiceClient
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_retail.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/retail/doc/environment-variables.dox
  google/cloud/retail/doc/main.dox
  google/cloud/retail/doc/override-authentication.dox
  google/cloud/retail/doc/override-endpoint.dox
  google/cloud/retail/doc/override-retry-policies.dox
  google/cloud/retail/v2/analytics_client.cc
  google/cloud/retail/v2/analytics_client.h
  google/cloud/retail/v2/analytics_connection.cc
  google/cloud/retail/v2/analytics_connection.h
  google/cloud/retail/v2/analytics_connection_idempotency_policy.cc
  google/cloud/retail/v2/analytics_connection_idempotency_policy.h
  google/cloud/retail/v2/analytics_options.h
  google/cloud/retail/v2/internal/analytics_auth_decorator.cc
  google/cloud/retail/v2/internal/analytics_auth_decorator.h
  google/cloud/retail/v2/internal/analytics_connection_impl.cc
  google/cloud/retail/v2/internal/analytics_connection_impl.h
  google/cloud/retail/v2/internal/analytics_logging_decorator.cc
  google/cloud/retail/v2/internal/analytics_logging_decorator.h
  google/cloud/retail/v2/internal/analytics_metadata_decorator.cc
  google/cloud/retail/v2/internal/analytics_metadata_decorator.h
  google/cloud/retail/v2/internal/analytics_option_defaults.cc
  google/cloud/retail/v2/internal/analytics_option_defaults.h
  google/cloud/retail/v2/internal/analytics_retry_traits.h
  google/cloud/retail/v2/internal/analytics_stub.cc
  google/cloud/retail/v2/internal/analytics_stub.h
  google/cloud/retail/v2/internal/analytics_stub_factory.cc
  google/cloud/retail/v2/internal/analytics_stub_factory.h
  google/cloud/retail/v2/internal/analytics_tracing_connection.cc
  google/cloud/retail/v2/internal/analytics_tracing_connection.h
  google/cloud/retail/v2/internal/analytics_tracing_stub.cc
  google/cloud/retail/v2/internal/analytics_tracing_stub.h
  google/cloud/retail/v2/mocks/mock_analytics_connection.h
  google/cloud/retail/v2/samples/analytics_client_samples.cc
Labels: api: retail

#13952 impl(pubsub): add tracing for exactly once lease management
  google/cloud/pubsub/internal/extend_leases_with_retry.cc
  google/cloud/pubsub/internal/extend_leases_with_retry.h
  google/cloud/pubsub/internal/extend_leases_with_retry_test.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
Labels: api: pubsub

#13965 impl(pubsub): add links btwn ack/nack and subscribe span
  google/cloud/pubsub/internal/tracing_exactly_once_ack_handler.cc
  google/cloud/pubsub/internal/tracing_exactly_once_ack_handler_test.cc
Labels: api: pubsub

#14018 feat(networkconnectivity): add `PolicyBasedRoutingServiceClient`
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_networkconnectivity.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/networkconnectivity/doc/environment-variables.dox
  google/cloud/networkconnectivity/doc/main.dox
  google/cloud/networkconnectivity/doc/override-authentication.dox
  google/cloud/networkconnectivity/doc/override-endpoint.dox
  google/cloud/networkconnectivity/doc/override-retry-policies.dox
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_auth_decorator.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_auth_decorator.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_connection_impl.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_connection_impl.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_logging_decorator.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_logging_decorator.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_metadata_decorator.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_metadata_decorator.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_option_defaults.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_option_defaults.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_retry_traits.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_stub.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_stub.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_stub_factory.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_stub_factory.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_tracing_connection.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_tracing_connection.h
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_tracing_stub.cc
  google/cloud/networkconnectivity/v1/internal/policy_based_routing_tracing_stub.h
  google/cloud/networkconnectivity/v1/mocks/mock_policy_based_routing_connection.h
  google/cloud/networkconnectivity/v1/policy_based_routing_client.cc
  google/cloud/networkconnectivity/v1/policy_based_routing_client.h
  google/cloud/networkconnectivity/v1/policy_based_routing_connection.cc
  google/cloud/networkconnectivity/v1/policy_based_routing_connection.h
  google/cloud/networkconnectivity/v1/policy_based_routing_connection_idempotency_policy.cc
  google/cloud/networkconnectivity/v1/policy_based_routing_connection_idempotency_policy.h
  google/cloud/networkconnectivity/v1/policy_based_routing_options.h
  google/cloud/networkconnectivity/v1/samples/policy_based_routing_client_samples.cc
Labels: api: networkconnectivity

#14021 feat(contentwarehouse): add PipelineServiceClient
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_contentwarehouse.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/contentwarehouse/doc/environment-variables.dox
  google/cloud/contentwarehouse/doc/main.dox
  google/cloud/contentwarehouse/doc/override-authentication.dox
  google/cloud/contentwarehouse/doc/override-endpoint.dox
  google/cloud/contentwarehouse/doc/override-retry-policies.dox
  google/cloud/contentwarehouse/v1/internal/pipeline_auth_decorator.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_auth_decorator.h
  google/cloud/contentwarehouse/v1/internal/pipeline_connection_impl.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_connection_impl.h
  google/cloud/contentwarehouse/v1/internal/pipeline_logging_decorator.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_logging_decorator.h
  google/cloud/contentwarehouse/v1/internal/pipeline_metadata_decorator.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_metadata_decorator.h
  google/cloud/contentwarehouse/v1/internal/pipeline_option_defaults.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_option_defaults.h
  google/cloud/contentwarehouse/v1/internal/pipeline_retry_traits.h
  google/cloud/contentwarehouse/v1/internal/pipeline_stub.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_stub.h
  google/cloud/contentwarehouse/v1/internal/pipeline_stub_factory.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_stub_factory.h
  google/cloud/contentwarehouse/v1/internal/pipeline_tracing_connection.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_tracing_connection.h
  google/cloud/contentwarehouse/v1/internal/pipeline_tracing_stub.cc
  google/cloud/contentwarehouse/v1/internal/pipeline_tracing_stub.h
  google/cloud/contentwarehouse/v1/mocks/mock_pipeline_connection.h
  google/cloud/contentwarehouse/v1/pipeline_client.cc
  google/cloud/contentwarehouse/v1/pipeline_client.h
  google/cloud/contentwarehouse/v1/pipeline_connection.cc
  google/cloud/contentwarehouse/v1/pipeline_connection.h
  google/cloud/contentwarehouse/v1/pipeline_connection_idempotency_policy.cc
  google/cloud/contentwarehouse/v1/pipeline_connection_idempotency_policy.h
  google/cloud/contentwarehouse/v1/pipeline_options.h
  google/cloud/contentwarehouse/v1/samples/pipeline_client_samples.cc
Labels: api: contentwarehouse

#14023 feat(dialogflow_cx): add `GeneratorsClient`
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_dialogflow_cx.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/dialogflow_cx/doc/environment-variables.dox
  google/cloud/dialogflow_cx/doc/main.dox
  google/cloud/dialogflow_cx/doc/override-authentication.dox
  google/cloud/dialogflow_cx/doc/override-endpoint.dox
  google/cloud/dialogflow_cx/doc/override-retry-policies.dox
  google/cloud/dialogflow_cx/generators_client.cc
  google/cloud/dialogflow_cx/generators_client.h
  google/cloud/dialogflow_cx/generators_connection.cc
  google/cloud/dialogflow_cx/generators_connection.h
  google/cloud/dialogflow_cx/generators_connection_idempotency_policy.cc
  google/cloud/dialogflow_cx/generators_connection_idempotency_policy.h
  google/cloud/dialogflow_cx/generators_options.h
  google/cloud/dialogflow_cx/internal/generators_auth_decorator.cc
  google/cloud/dialogflow_cx/internal/generators_auth_decorator.h
  google/cloud/dialogflow_cx/internal/generators_connection_impl.cc
  google/cloud/dialogflow_cx/internal/generators_connection_impl.h
  google/cloud/dialogflow_cx/internal/generators_logging_decorator.cc
  google/cloud/dialogflow_cx/internal/generators_logging_decorator.h
  google/cloud/dialogflow_cx/internal/generators_metadata_decorator.cc
  google/cloud/dialogflow_cx/internal/generators_metadata_decorator.h
  google/cloud/dialogflow_cx/internal/generators_option_defaults.cc
  google/cloud/dialogflow_cx/internal/generators_option_defaults.h
  google/cloud/dialogflow_cx/internal/generators_retry_traits.h
  google/cloud/dialogflow_cx/internal/generators_stub.cc
  google/cloud/dialogflow_cx/internal/generators_stub.h
  google/cloud/dialogflow_cx/internal/generators_stub_factory.cc
  google/cloud/dialogflow_cx/internal/generators_stub_factory.h
  google/cloud/dialogflow_cx/internal/generators_tracing_connection.cc
  google/cloud/dialogflow_cx/internal/generators_tracing_connection.h
  google/cloud/dialogflow_cx/internal/generators_tracing_stub.cc
  google/cloud/dialogflow_cx/internal/generators_tracing_stub.h
  google/cloud/dialogflow_cx/mocks/mock_generators_connection.h
  google/cloud/dialogflow_cx/samples/generators_client_samples.cc
Labels: api: dialogflow

#14031 fix(GCS+gRPC): MSVC build problems
  google/cloud/storage/async/client_test.cc
Labels: gha:full-build

#14030 chore(compute): a more robust method to update service_dirs.cmake
  generator/discovery/update_discovery_doc.sh
Labels: api: compute

#14033 cleanup(GCS+gRPC): return protos from `Read*()`
  google/cloud/storage/async/client_test.cc
  google/cloud/storage/async/object_responses.h
  google/cloud/storage/internal/async/accumulate_read_object.cc
  google/cloud/storage/internal/async/accumulate_read_object.h
  google/cloud/storage/internal/async/accumulate_read_object_test.cc
  google/cloud/storage/internal/async/connection_impl.cc
  google/cloud/storage/internal/async/read_payload_impl_test.cc
  google/cloud/storage/internal/async/reader_connection_impl.cc
  google/cloud/storage/internal/async/reader_connection_impl_test.cc
  google/cloud/storage/internal/async/reader_connection_resume_test.cc
  google/cloud/storage/quickstart/quickstart_async.cc
Labels: gha:full-build

#14046 feat(discoveryengine): add `RecommendationServiceClient`
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_discoveryengine.expected.abi.dump.gz
  generator/generator_config.textproto
  google/cloud/discoveryengine/doc/environment-variables.dox
  google/cloud/discoveryengine/doc/main.dox
  google/cloud/discoveryengine/doc/override-authentication.dox
  google/cloud/discoveryengine/doc/override-endpoint.dox
  google/cloud/discoveryengine/doc/override-retry-policies.dox
  google/cloud/discoveryengine/v1/internal/recommendation_auth_decorator.cc
  google/cloud/discoveryengine/v1/internal/recommendation_auth_decorator.h
  google/cloud/discoveryengine/v1/internal/recommendation_connection_impl.cc
  google/cloud/discoveryengine/v1/internal/recommendation_connection_impl.h
  google/cloud/discoveryengine/v1/internal/recommendation_logging_decorator.cc
  google/cloud/discoveryengine/v1/internal/recommendation_logging_decorator.h
  google/cloud/discoveryengine/v1/internal/recommendation_metadata_decorator.cc
  google/cloud/discoveryengine/v1/internal/recommendation_metadata_decorator.h
  google/cloud/discoveryengine/v1/internal/recommendation_option_defaults.cc
  google/cloud/discoveryengine/v1/internal/recommendation_option_defaults.h
  google/cloud/discoveryengine/v1/internal/recommendation_retry_traits.h
  google/cloud/discoveryengine/v1/internal/recommendation_stub.cc
  google/cloud/discoveryengine/v1/internal/recommendation_stub.h
  google/cloud/discoveryengine/v1/internal/recommendation_stub_factory.cc
  google/cloud/discoveryengine/v1/internal/recommendation_stub_factory.h
  google/cloud/discoveryengine/v1/internal/recommendation_tracing_connection.cc
  google/cloud/discoveryengine/v1/internal/recommendation_tracing_connection.h
  google/cloud/discoveryengine/v1/internal/recommendation_tracing_stub.cc
  google/cloud/discoveryengine/v1/internal/recommendation_tracing_stub.h
  google/cloud/discoveryengine/v1/mocks/mock_recommendation_connection.h
  google/cloud/discoveryengine/v1/recommendation_client.cc
  google/cloud/discoveryengine/v1/recommendation_client.h
  google/cloud/discoveryengine/v1/recommendation_connection.cc
  google/cloud/discoveryengine/v1/recommendation_connection.h
  google/cloud/discoveryengine/v1/recommendation_connection_idempotency_policy.cc
  google/cloud/discoveryengine/v1/recommendation_connection_idempotency_policy.h
  google/cloud/discoveryengine/v1/recommendation_options.h
  google/cloud/discoveryengine/v1/samples/recommendation_client_samples.cc
Labels: api: discoveryengine

#14053 ci: try avoiding windows-cmake errors
  .github/workflows/windows-cmake.yml
Labels: gha:full-build

#14049 fix(pubsub): correctly trace modacks in the unary pull
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
  google/cloud/pubsub/internal/pull_lease_manager.h
  google/cloud/pubsub/internal/pull_lease_manager_factory.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager.h
  google/cloud/pubsub/internal/tracing_pull_lease_manager_test.cc
  google/cloud/pubsub/testing/mock_pull_lease_manager.h
Labels: api: pubsub

#14052 fix(storage): missing include
  google/cloud/storage/internal/retry_object_read_source.cc
Labels: api: storage

#14055 impl(pubsub): make the modack a root span
  google/cloud/pubsub/internal/tracing_pull_lease_manager.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager_test.cc
Labels: api: pubsub

#14059 feat(spanner): add a representation for the Spanner INTERVAL
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval.h
  google/cloud/spanner/interval_test.cc
  google/cloud/spanner/spanner_client_unit_tests.bzl
Labels: api: spanner

#13760 ci(speech): update quickstart to V2 demonstrating regional endpoints
  ci/etc/integration-tests-config.sh
  google/cloud/speech/CMakeLists.txt
  google/cloud/speech/README.md
  google/cloud/speech/quickstart/quickstart.cc
Labels: api: speech
