Repository googleapis/google-cloud-cpp, pull requests merged in 2024-02, with the labels that each got.

#13534 cleanup(pubsub): move client samples to generated admin api
  google/cloud/pubsub/doc/pubsub-main.dox
  google/cloud/pubsub/samples/client_samples.cc
Labels: api: pubsub, samples

#13527 refactor(pubsub): move get topic, update topic, and list topic samples
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
  google/cloud/pubsub/topic_admin_client.h
Labels: api: pubsub, samples

#13546 refactor(bigtable): make bigtable_mocks header only
  google/cloud/bigtable/BUILD.bazel
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable_mocks.bzl
  google/cloud/bigtable/mocks/mock_row_reader.cc
  google/cloud/bigtable/mocks/mock_row_reader.h
Labels: api: bigtable

#13551 feat(bigtable): install mocks library
  ci/etc/expected_install_directories
  ci/verify_current_targets/CMakeLists.txt
  generator/standalone_main.cc
  google/cloud/bigtable/CMakeLists.txt
Labels: api: bigtable

#13544 cleanup(pubsub): move schema samples to separate file
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/pubsub_client_integration_samples.bzl
  google/cloud/pubsub/samples/schema_samples.cc
Labels: api: pubsub, samples

#13553 cleanup(pubsub): move detach subscription example
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub

#13555 cleanup(pubsub): remove schema admin samples from the list
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#13554 cleanup(pubsub): move the rest of the topic admin samples
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#13542 cleanup(pubsub): move subscription admin samples to generated api
  google/cloud/pubsub/samples/subscription_admin_samples.cc
Labels: api: pubsub, samples

#13556 cleanup(pubsub): delete topics older than 3 days
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub

#13577 impl(GCS+gRPC): fix async client sample
  google/cloud/storage/examples/storage_async_samples.cc
Labels: samples

#13578 cleanup(pubsub): remove unused headers in sample
  google/cloud/pubsub/samples/schema_samples.cc
Labels: api: pubsub, samples

#13565 impl(bigtable): heed `RetryInfo` in `ReadRows()`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
Labels: api: bigtable

#13566 refactor(bigtable): no `CurrentOptions` in `BulkMutator`
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#13570 impl(bigtable): add attempt header
  google/cloud/bigtable/internal/retry_context.cc
  google/cloud/bigtable/internal/retry_context.h
  google/cloud/bigtable/internal/retry_context_test.cc
Labels: api: bigtable

#13571 test(bigtable): verify bigtable cookie expectation
  google/cloud/bigtable/internal/async_row_reader_test.cc
Labels: api: bigtable

#13557 cleanup(pubsub): delete old subs
  google/cloud/pubsub/samples/subscription_admin_samples.cc
  google/cloud/pubsub/testing/random_names.cc
Labels: api: pubsub

#13585 docs(pubsub): add doxygen comment to deprecate handwritten apis
  google/cloud/pubsub/subscription_admin_client.h
  google/cloud/pubsub/subscription_admin_connection.h
  google/cloud/pubsub/topic_admin_client.h
  google/cloud/pubsub/topic_admin_connection.h
Labels: api: pubsub

#13568 impl(bigtable): heed `RetryInfo` in `AsyncSampleRows`
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#13581 impl(bigtable): heed `RetryInfo` in `BulkApply()`
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#13601 cleanup(pubsub): add bigquery subscription to the ci
  google/cloud/pubsub/samples/subscription_admin_samples.cc
Labels: api: pubsub

#13589 cleanup(pubsub): move the rest of the subscription admin apis
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/subscription_admin_samples.cc
Labels: api: pubsub

#13590 cleanup(pubsub): add tags to topic admin samples
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#13616 cleanup(bigtable): use more general RowKeyType
  google/cloud/bigtable/internal/bulk_mutator_test.cc
Labels: api: bigtable

#13617 impl(pubsub): add server.address attribute
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
Labels: api: pubsub

#13609 impl(bigtable): heed `RetryInfo` in `AsyncReadRows`
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#13602 impl(bigtable): heed `RetryInfo` in `AsyncBulkApply`
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#13625 cleanup(storage): quash an aggregate_upload_throughput benchmark warning
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
Labels: api: storage

#13623 feat(storage): support Bucket soft-delete metadata
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata.h
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_soft_delete_policy.cc
  google/cloud/storage/bucket_soft_delete_policy.h
  google/cloud/storage/bucket_soft_delete_policy_test.cc
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_bucket_soft_delete_samples.cc
  google/cloud/storage/examples/storage_examples.bzl
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc/bucket_metadata_parser.cc
  google/cloud/storage/internal/grpc/bucket_metadata_parser.h
  google/cloud/storage/internal/grpc/bucket_metadata_parser_test.cc
  google/cloud/storage/internal/grpc/bucket_request_parser.cc
  google/cloud/storage/internal/grpc/bucket_request_parser_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#13637 refactor(storage): split `WellKnownParameter`
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/well_known_parameters_impl.h
  google/cloud/storage/well_known_parameters.h
Labels: api: storage

#13644 feat(storage): support soft-deleted objects
  google/cloud/storage/client.h
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser_test.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/soft_deleted.h
Labels: api: storage

#13636 cleanup(pubsub): remove bigquery sample
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub, samples

#13591 cleanup(pubsub): remove create topic using handwritten api
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#13649 cleanup(pubsub): don't link invalid messages
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
Labels: api: pubsub

#13651 cleanup(storage): remove flaky test
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/storage/internal/grpc/stub_failures_test.cc
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
Labels: api: storage

#13653 cleanup(pubsub): remove duplicate old samples
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/topic_admin_client.h
Labels: api: pubsub, samples

#13665 feat(bigquery): remove validation of input and output parameters
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/project_response.cc
  google/cloud/bigquery/v2/minimal/internal/project_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
Labels: api: bigquery

#13668 cleanup(pubsub): remove snapshot and subscription admin samples from samples.cc
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub, samples

#13667 cleanup(pubsub): remove handwritten topic admin client from samples.cc
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#13674 ci(securitycenter): re-enable on macOS
  google/cloud/securitycenter/BUILD.bazel
  google/cloud/securitycenter/CMakeLists.txt
Labels: api: securitycenter, gha:full-build

#13676 cleanup(pubsub): remove handwritten create subscription from samples.cc
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub, samples

#13683 feat(storage): support listing folders as prefixes
  google/cloud/storage/client.h
  google/cloud/storage/examples/storage_object_samples.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/include_folders_as_prefixes.h
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage

#13562 feat(spanner): add support for max commit delay
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/commit_options.cc
  google/cloud/spanner/commit_options.h
  google/cloud/spanner/commit_options_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/options.h
Labels: api: spanner

#13692 cleanup(spanner): explicit options in legacy LROs
  google/cloud/spanner/database_admin_connection.cc
  google/cloud/spanner/instance_admin_connection.cc
Labels: api: spanner

#13679 cleanup(pubsub): move from handwritten topic admin to generated in integration tests
  google/cloud/pubsub/integration_tests/publisher_integration_test.cc
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub

#13700 cleanup(bigquery): explicit options in `RestRetryLoop`
  google/cloud/bigquery/v2/minimal/internal/dataset_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/project_rest_connection_impl.cc
  google/cloud/bigquery/v2/minimal/internal/table_rest_connection_impl.cc
Labels: api: bigquery

#13699 refactor(bigtable): use common `RetryInfo` helper
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/retry_info_helper.cc
  google/cloud/bigtable/internal/retry_info_helper.h
  google/cloud/bigtable/internal/retry_info_helper_test.cc
Labels: api: bigtable
