Repository googleapis/google-cloud-cpp, pull requests merged in 2024-07, with the labels that each got.

#14407 impl: reservoir sample for span events
  google/cloud/opentelemetry/internal/recordable.cc
  google/cloud/opentelemetry/internal/recordable.h
  google/cloud/opentelemetry/internal/recordable_test.cc
  google/cloud/opentelemetry/trace_exporter.cc
Labels: cpp: opentelemetry

#14429 refactor(storage): make some code more testable
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/connection_impl_object_test.cc
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source.h
Labels: api: storage

#14427 fix(storage): only backoff before resume attempts
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
Labels: api: storage

#14437 fix: workaround missing SHA256 macros in MinGW-w64
  google/cloud/internal/sha256_hash.cc
  google/cloud/internal/sha256_hmac.cc
Labels: gha:full-build

#14435 feat(storage): single span for `ReadObject()`
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/internal/tracing_object_read_source.cc
  google/cloud/storage/internal/tracing_object_read_source.h
  google/cloud/storage/internal/tracing_object_read_source_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#14446 test(bigtable): speed up coverage startup time
  google/cloud/bigtable/ci/run_integration_tests_emulator_bazel.sh
  google/cloud/bigtable/tools/run_emulator_utils.sh
Labels: api: bigtable

#14459 cleanup(storage): address post-merge comments
  google/cloud/storage/internal/tracing_object_read_source.h
  google/cloud/storage/internal/tracing_object_read_source_test.cc
Labels: api: storage

#14472 impl(storage): trace spans for `ReadObject` backoffs
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/retry_object_read_source_test.cc
Labels: api: storage

#14473 fix(storage): reset backoff after partial write
  google/cloud/storage/internal/connection_impl.cc
Labels: api: storage

#14479 cleanup(bigtable): fix some IWYU problems
  google/cloud/bigtable/internal/legacy_async_row_reader_test.cc
  google/cloud/bigtable/tests/table_sample_rows_integration_test.cc
Labels: api: bigtable

#14482 cleanup(spanner): fix missing IWYU
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#14490 cleanup(storage): simplify test initialization
  google/cloud/storage/tests/grpc_bucket_metadata_integration_test.cc
  google/cloud/storage/tests/grpc_hmac_key_integration_test.cc
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tests/grpc_object_acl_integration_test.cc
  google/cloud/storage/tests/grpc_object_media_integration_test.cc
  google/cloud/storage/tests/grpc_object_metadata_integration_test.cc
  google/cloud/storage/tests/grpc_service_account_integration_test.cc
Labels: api: storage

#14497 cleanup(storage): simplify test initialization
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_compose_many_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_file_multi_threaded_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_insert_preconditions_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_serially_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_simultaneously_integration_test.cc
  google/cloud/storage/tests/object_read_headers_integration_test.cc
  google/cloud/storage/tests/object_read_large_integration_test.cc
  google/cloud/storage/tests/object_read_preconditions_integration_test.cc
  google/cloud/storage/tests/object_read_range_integration_test.cc
  google/cloud/storage/tests/object_read_stream_integration_test.cc
  google/cloud/storage/tests/object_resumable_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_rewrite_integration_test.cc
  google/cloud/storage/tests/object_write_preconditions_integration_test.cc
  google/cloud/storage/tests/object_write_stream_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
Labels: api: storage

#14498 cleanup(storage): simplify test initialization
  google/cloud/storage/tests/async_client_integration_test.cc
  google/cloud/storage/tests/auto_finalize_integration_test.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/error_parsing_integration_test.cc
  google/cloud/storage/tests/service_account_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
  google/cloud/storage/tests/slow_reader_chunk_integration_test.cc
  google/cloud/storage/tests/slow_reader_stream_integration_test.cc
  google/cloud/storage/tests/small_reads_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage

#14500 cleanup(storage): simplify test initialization
  google/cloud/storage/benchmarks/throughput_experiment_test.cc
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/testing/storage_integration_test.h
Labels: api: storage

#14501 cleanup(storage): simplify test initialization
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/tests/async_client_integration_test.cc
  google/cloud/storage/tests/auto_finalize_integration_test.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/error_parsing_integration_test.cc
  google/cloud/storage/tests/grpc_bucket_metadata_integration_test.cc
  google/cloud/storage/tests/grpc_hmac_key_integration_test.cc
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tests/grpc_object_acl_integration_test.cc
  google/cloud/storage/tests/grpc_object_media_integration_test.cc
  google/cloud/storage/tests/grpc_object_metadata_integration_test.cc
  google/cloud/storage/tests/grpc_service_account_integration_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_compose_many_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_file_multi_threaded_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
  google/cloud/storage/tests/object_insert_preconditions_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_serially_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_simultaneously_integration_test.cc
  google/cloud/storage/tests/object_read_headers_integration_test.cc
  google/cloud/storage/tests/object_read_large_integration_test.cc
  google/cloud/storage/tests/object_read_preconditions_integration_test.cc
  google/cloud/storage/tests/object_read_range_integration_test.cc
  google/cloud/storage/tests/object_read_stream_integration_test.cc
  google/cloud/storage/tests/object_resumable_parallel_upload_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_rewrite_integration_test.cc
  google/cloud/storage/tests/object_write_preconditions_integration_test.cc
  google/cloud/storage/tests/object_write_stream_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
  google/cloud/storage/tests/service_account_integration_test.cc
  google/cloud/storage/tests/signed_url_integration_test.cc
  google/cloud/storage/tests/slow_reader_chunk_integration_test.cc
  google/cloud/storage/tests/slow_reader_stream_integration_test.cc
  google/cloud/storage/tests/small_reads_integration_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage

#14502 test(storage): support testing with alternative endpoints
  google/cloud/storage/testing/storage_integration_test.cc
  google/cloud/storage/testing/storage_integration_test.h
Labels: api: storage

#14515 cleanup(storage): prefer `MakeIntegrationTestClient()`
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
  google/cloud/storage/tests/key_file_integration_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/service_account_integration_test.cc
  google/cloud/storage/tests/signed_url_conformance_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
  google/cloud/storage/tests/tracing_integration_test.cc
Labels: api: storage

#14523 cleanup(storage): no parametric XML tests
  google/cloud/storage/tests/object_checksum_integration_test.cc
  google/cloud/storage/tests/object_hash_integration_test.cc
Labels: api: storage

#14526 cleanup(storage): fix IWYU warnings
  google/cloud/storage/auto_finalize_test.cc
  google/cloud/storage/bucket_access_control_test.cc
  google/cloud/storage/bucket_cors_entry_test.cc
  google/cloud/storage/bucket_iam_configuration_test.cc
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/bucket_soft_delete_policy_test.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_bucket_test.cc
  google/cloud/storage/client_object_copy_test.cc
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/compose_many_test.cc
  google/cloud/storage/delete_by_prefix_test.cc
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/hashing_options_test.cc
  google/cloud/storage/hmac_key_metadata_test.cc
  google/cloud/storage/iam_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/lifecycle_rule_test.cc
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/list_hmac_keys_reader_test.cc
  google/cloud/storage/list_objects_and_prefixes_reader_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/notification_metadata.cc
  google/cloud/storage/notification_metadata_test.cc
  google/cloud/storage/object_access_control_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata_test.cc
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_retention_test.cc
  google/cloud/storage/object_stream_test.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/policy_document.cc
  google/cloud/storage/policy_document_test.cc
  google/cloud/storage/signed_url_options_test.cc
  google/cloud/storage/storage_class_test.cc
  google/cloud/storage/storage_iam_policy_test.cc
  google/cloud/storage/storage_version_test.cc
  google/cloud/storage/version.cc
  google/cloud/storage/well_known_headers.cc
  google/cloud/storage/well_known_headers_test.cc
  google/cloud/storage/well_known_parameters.cc
Labels: api: storage

#14525 test(storage): dedup bucket integration tests
  google/cloud/storage/tests/CMakeLists.txt
  google/cloud/storage/tests/bucket_acl_integration_test.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/default_object_acl_integration_test.cc
  google/cloud/storage/tests/notification_integration_test.cc
  google/cloud/storage/tests/storage_client_integration_tests.bzl
Labels: api: storage

#14528 cleanup(storage): fix more IWYU warnings
  google/cloud/storage/bucket_metadata.cc
  google/cloud/storage/bucket_metadata_test.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_bucket_acl_test.cc
  google/cloud/storage/client_bucket_test.cc
  google/cloud/storage/client_default_object_acl_test.cc
  google/cloud/storage/client_notifications_test.cc
  google/cloud/storage/client_object_acl_test.cc
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_service_account_test.cc
  google/cloud/storage/client_test.cc
  google/cloud/storage/client_write_object_test.cc
  google/cloud/storage/compose_many_test.cc
  google/cloud/storage/delete_by_prefix_test.cc
  google/cloud/storage/iam_policy.cc
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/lifecycle_rule.cc
  google/cloud/storage/list_buckets_reader_test.cc
  google/cloud/storage/list_hmac_keys_reader_test.cc
  google/cloud/storage/list_objects_and_prefixes_reader_test.cc
  google/cloud/storage/list_objects_reader_test.cc
  google/cloud/storage/notification_metadata_test.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_rewriter.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/parallel_uploads_test.cc
  google/cloud/storage/policy_document_test.cc
  google/cloud/storage/retry_policy.h
  google/cloud/storage/storage_iam_policy_test.cc
Labels: api: storage

#14544 cleanup(storage): fix MOAR IWYU warnings, take 3
  google/cloud/storage/async/object_responses.cc
  google/cloud/storage/async/rewriter.cc
  google/cloud/storage/async/writer.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/async_throughput_benchmark.cc
  google/cloud/storage/benchmarks/throughput_result_test.cc
  google/cloud/storage/examples/storage_async_samples.cc
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/bucket_acl_requests_test.cc
  google/cloud/storage/internal/bucket_requests_test.cc
  google/cloud/storage/internal/connection_factory.cc
  google/cloud/storage/internal/default_object_acl_requests_test.cc
  google/cloud/storage/internal/error_credentials.h
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_factory.cc
  google/cloud/storage/internal/hash_validator.cc
  google/cloud/storage/internal/hash_validator_impl.cc
  google/cloud/storage/internal/hash_values.cc
  google/cloud/storage/internal/hmac_key_metadata_parser.cc
  google/cloud/storage/internal/hmac_key_requests_test.cc
  google/cloud/storage/internal/http_response_test.cc
  google/cloud/storage/internal/impersonate_service_account_credentials.cc
  google/cloud/storage/internal/make_jwt_assertion.cc
  google/cloud/storage/internal/notification_requests_test.cc
  google/cloud/storage/internal/object_acl_requests_test.cc
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/request_project_id.cc
  google/cloud/storage/internal/service_account_requests_test.cc
  google/cloud/storage/internal/sign_blob_requests_test.cc
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/internal/storage_connection.cc
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/unified_rest_credentials.cc
  google/cloud/storage/oauth2/credentials.cc
  google/cloud/storage/oauth2/refreshing_credentials_wrapper.cc
  google/cloud/storage/testing/upload_hash_cases.cc
  google/cloud/storage/tests/bucket_integration_test.cc
  google/cloud/storage/tests/error_injection_integration_test.cc
  google/cloud/storage/tests/grpc_integration_test.cc
  google/cloud/storage/tests/object_file_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_read_large_integration_test.cc
  google/cloud/storage/tests/object_read_stream_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/object_write_stream_integration_test.cc
  google/cloud/storage/tests/object_write_streambuf_integration_test.cc
Labels: api: storage

#14545 docs(quickstart): Replace deprecated RPC in the sample code
  google/cloud/edgenetwork/CMakeLists.txt
  google/cloud/edgenetwork/README.md
  google/cloud/edgenetwork/quickstart/quickstart.cc
Labels: samples

#14552 cleanup(storage): fix MOAR IWYU warnings, take 4
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/async_throughput_benchmark.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/create_dataset.cc
  google/cloud/storage/benchmarks/storage_file_transfer_benchmark.cc
  google/cloud/storage/benchmarks/storage_parallel_uploads_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/examples/storage_client_mock_samples.cc
  google/cloud/storage/internal/crc32c_test.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/internal/storage_stub_factory.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/tests/async_client_integration_test.cc
  google/cloud/storage/tests/grpc_hmac_key_integration_test.cc
  google/cloud/storage/tests/object_basic_crud_integration_test.cc
  google/cloud/storage/tests/object_media_integration_test.cc
  google/cloud/storage/tests/object_resumable_write_integration_test.cc
  google/cloud/storage/tests/service_account_integration_test.cc
  google/cloud/storage/tests/signed_url_conformance_test.cc
  google/cloud/storage/tests/thread_integration_test.cc
Labels: api: storage

#14549 test(storage): deflake decompressive transcoding test
  google/cloud/storage/tests/decompressive_transcoding_integration_test.cc
Labels: api: storage

#14574 feat(spanner): add samples for instance partitions
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#14575 test(storage): disable metrics in integration tests
  google/cloud/storage/testing/storage_integration_test.cc
Labels: api: storage

#14580 doc(bigquerycontrol): add job query sample
  google/cloud/bigquerycontrol/v2/samples/job_query_samples.cc
Labels: samples

#14589 cleanup(bigtable): move test protos
  google/cloud/bigtable/test_proxy/BUILD.bazel
  google/cloud/bigtable/test_proxy/CMakeLists.txt
  google/cloud/bigtable/test_proxy/cbt_test_proxy.h
  protos/BUILD.bazel
  protos/google/cloud/bigtable/CMakeLists.txt
  protos/google/cloud/bigtable/test_proxy/BUILD.bazel
  protos/google/cloud/bigtable/test_proxy/CMakeLists.txt
  protos/google/cloud/bigtable/test_proxy/test_proxy.proto
Labels: api: bigtable
