Repository googleapis/google-cloud-cpp, pull requests merged in 2024-10, with the labels that each got.

#14740 docs: add samples for API key auth
  examples/BUILD.bazel
  examples/CMakeLists.txt
  examples/api_key.cc
Labels: samples

#14749 docs(pubsub): Add ingestion from GCS topic creation sample
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#14728 tests(storage): add universe domain integration test
  ci/cloudbuild/builds/lib/universe_domain.sh
  ci/cloudbuild/builds/universe-domain-demo.sh
  google/cloud/storage/tests/BUILD.bazel
  google/cloud/storage/tests/universe_domain_integration_test.cc
Labels: api: storage

#14751 fix(builds): require grpc >= 1.65.4 for async_throughput_benchmark.cc
  google/cloud/storage/benchmarks/async_throughput_benchmark.cc
  google/cloud/storage/internal/grpc/metrics_histograms_test.cc
Labels: gha:full-build

#14757 ci(spanner): graph samples to use enterprise instances
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/samples/graph_samples.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner, samples

#14758 cleanup(pubsub): samples
  google/cloud/pubsub/samples/iam_samples.cc
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#14760 refactor: avoid `ApiKeyOption` in sample
  examples/api_key.cc
Labels: samples

#14768 chore(storage): Remove references to notification / hmac / service ac…
  generator/generator_config.textproto
  google/cloud/storage/google_cloud_cpp_storage_grpc.bzl
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/storage/internal/grpc/notification_metadata_parser.cc
  google/cloud/storage/internal/grpc/notification_metadata_parser.h
  google/cloud/storage/internal/grpc/notification_metadata_parser_test.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/storage_auth_decorator.cc
  google/cloud/storage/internal/storage_auth_decorator.h
  google/cloud/storage/internal/storage_logging_decorator.cc
  google/cloud/storage/internal/storage_logging_decorator.h
  google/cloud/storage/internal/storage_metadata_decorator.cc
  google/cloud/storage/internal/storage_metadata_decorator.h
  google/cloud/storage/internal/storage_round_robin_decorator.cc
  google/cloud/storage/internal/storage_round_robin_decorator.h
  google/cloud/storage/internal/storage_stub.cc
  google/cloud/storage/internal/storage_stub.h
  google/cloud/storage/internal/storage_tracing_stub.cc
  google/cloud/storage/internal/storage_tracing_stub.h
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
  google/cloud/storage/testing/mock_storage_stub.h
Labels: api: storage

#14773 docs(pubsub): Fix region tags for Pub/Sub ingestion from GCS samples
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#14782 impl(compute): reduce specificity on integration test error message
  google/cloud/compute/integration_tests/compute_integration_test.cc
Labels: api: compute

#14786 docs(storage): better suggestion for deprecated API
  google/cloud/storage/client_options.h
Labels: api: storage

#14788 cleanup(storage): add comment on why no API key support
  google/cloud/storage/internal/unified_rest_credentials.cc
Labels: api: storage

#14805 feat(parallelstore): generate library
  README.md
  ci/abi-dumps/google_cloud_cpp_parallelstore.expected.abi.dump.gz
  ci/etc/expected_install_directories
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/parallelstore.deps
  external/googleapis/protolists/parallelstore.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/parallelstore/BUILD.bazel
  google/cloud/parallelstore/CMakeLists.txt
  google/cloud/parallelstore/README.md
  google/cloud/parallelstore/doc/environment-variables.dox
  google/cloud/parallelstore/doc/main.dox
  google/cloud/parallelstore/doc/options.dox
  google/cloud/parallelstore/doc/override-authentication.dox
  google/cloud/parallelstore/doc/override-endpoint.dox
  google/cloud/parallelstore/doc/override-retry-policies.dox
  google/cloud/parallelstore/quickstart/.bazelrc
  google/cloud/parallelstore/quickstart/BUILD.bazel
  google/cloud/parallelstore/quickstart/CMakeLists.txt
  google/cloud/parallelstore/quickstart/Makefile
  google/cloud/parallelstore/quickstart/README.md
  google/cloud/parallelstore/quickstart/WORKSPACE.bazel
  google/cloud/parallelstore/quickstart/quickstart.cc
  google/cloud/parallelstore/v1/.repo-metadata.json
  google/cloud/parallelstore/v1/internal/parallelstore_auth_decorator.cc
  google/cloud/parallelstore/v1/internal/parallelstore_auth_decorator.h
  google/cloud/parallelstore/v1/internal/parallelstore_connection_impl.cc
  google/cloud/parallelstore/v1/internal/parallelstore_connection_impl.h
  google/cloud/parallelstore/v1/internal/parallelstore_logging_decorator.cc
  google/cloud/parallelstore/v1/internal/parallelstore_logging_decorator.h
  google/cloud/parallelstore/v1/internal/parallelstore_metadata_decorator.cc
  google/cloud/parallelstore/v1/internal/parallelstore_metadata_decorator.h
  google/cloud/parallelstore/v1/internal/parallelstore_option_defaults.cc
  google/cloud/parallelstore/v1/internal/parallelstore_option_defaults.h
  google/cloud/parallelstore/v1/internal/parallelstore_retry_traits.h
  google/cloud/parallelstore/v1/internal/parallelstore_sources.cc
  google/cloud/parallelstore/v1/internal/parallelstore_stub.cc
  google/cloud/parallelstore/v1/internal/parallelstore_stub.h
  google/cloud/parallelstore/v1/internal/parallelstore_stub_factory.cc
  google/cloud/parallelstore/v1/internal/parallelstore_stub_factory.h
  google/cloud/parallelstore/v1/internal/parallelstore_tracing_connection.cc
  google/cloud/parallelstore/v1/internal/parallelstore_tracing_connection.h
  google/cloud/parallelstore/v1/internal/parallelstore_tracing_stub.cc
  google/cloud/parallelstore/v1/internal/parallelstore_tracing_stub.h
  google/cloud/parallelstore/v1/mocks/mock_parallelstore_connection.h
  google/cloud/parallelstore/v1/parallelstore_client.cc
  google/cloud/parallelstore/v1/parallelstore_client.h
  google/cloud/parallelstore/v1/parallelstore_connection.cc
  google/cloud/parallelstore/v1/parallelstore_connection.h
  google/cloud/parallelstore/v1/parallelstore_connection_idempotency_policy.cc
  google/cloud/parallelstore/v1/parallelstore_connection_idempotency_policy.h
  google/cloud/parallelstore/v1/parallelstore_options.h
  google/cloud/parallelstore/v1/samples/parallelstore_client_samples.cc
  libraries.bzl
Labels: api: parallelstore

#14812 impl(compute): remove FutureReservationsClient as the service is not GA
  CHANGELOG.md
  ci/etc/expected_install_directories
  generator/generator_config.textproto
  google/cloud/compute/doc/environment-variables.dox
  google/cloud/compute/doc/main.dox
  google/cloud/compute/doc/override-authentication.dox
  google/cloud/compute/doc/override-endpoint.dox
  google/cloud/compute/doc/override-retry-policies.dox
  google/cloud/compute/future_reservations/v1/future_reservations_client.cc
  google/cloud/compute/future_reservations/v1/future_reservations_client.h
  google/cloud/compute/future_reservations/v1/future_reservations_connection.cc
  google/cloud/compute/future_reservations/v1/future_reservations_connection.h
  google/cloud/compute/future_reservations/v1/future_reservations_connection_idempotency_policy.cc
  google/cloud/compute/future_reservations/v1/future_reservations_connection_idempotency_policy.h
  google/cloud/compute/future_reservations/v1/future_reservations_options.h
  google/cloud/compute/future_reservations/v1/future_reservations_rest_connection.cc
  google/cloud/compute/future_reservations/v1/future_reservations_rest_connection.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_option_defaults.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_option_defaults.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_connection_impl.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_connection_impl.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_logging_decorator.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_logging_decorator.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_metadata_decorator.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_metadata_decorator.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_stub.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_stub.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_stub_factory.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_rest_stub_factory.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_retry_traits.h
  google/cloud/compute/future_reservations/v1/internal/future_reservations_sources.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_tracing_connection.cc
  google/cloud/compute/future_reservations/v1/internal/future_reservations_tracing_connection.h
  google/cloud/compute/future_reservations/v1/mocks/mock_future_reservations_connection.h
  google/cloud/compute/future_reservations/v1/samples/future_reservations_client_samples.cc
  google/cloud/compute/service_dirs.bzl
  google/cloud/compute/service_dirs.cmake
Labels: api: compute
