Repository googleapis/google-cloud-cpp, pull requests merged in 2024-03, with the labels that each got.

#13708 feat(bigtable): use server retry hints
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
Labels: api: bigtable

#13701 cleanup(pubsub): move sub admin to generated in integration test
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
Labels: api: pubsub

#13728 feat(storage): support soft delete timestamps
  google/cloud/storage/internal/grpc/object_metadata_parser.cc
  google/cloud/storage/internal/grpc/object_metadata_parser_test.cc
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/object_metadata.cc
  google/cloud/storage/object_metadata.h
  google/cloud/storage/object_metadata_test.cc
Labels: api: storage

#13682 cleanup(pubsub): remove handwritten subscription api samples
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/subscription_admin_client.h
Labels: api: pubsub, samples

#13732 cleanup(pubsub): remove the handwritten subscription admin client from samples.cc
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub, samples

#13737 impl(storage): const-qualify `WellKnownParameters::value_or`
  google/cloud/storage/internal/well_known_parameters_impl.h
Labels: api: storage

#13736 cleanup(pubsub): deprecate the subscription admin handwritten api
  google/cloud/pubsub/subscription_admin_client.h
  google/cloud/pubsub/subscription_admin_connection.h
Labels: api: pubsub

#13738 feat(apphub): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_apphub.expected.abi.dump.gz
  ci/etc/expected_install_directories
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/apphub.deps
  external/googleapis/protolists/apphub.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/apphub/BUILD.bazel
  google/cloud/apphub/CMakeLists.txt
  google/cloud/apphub/README.md
  google/cloud/apphub/doc/environment-variables.dox
  google/cloud/apphub/doc/main.dox
  google/cloud/apphub/doc/options.dox
  google/cloud/apphub/doc/override-authentication.dox
  google/cloud/apphub/doc/override-endpoint.dox
  google/cloud/apphub/doc/override-retry-policies.dox
  google/cloud/apphub/quickstart/.bazelrc
  google/cloud/apphub/quickstart/BUILD.bazel
  google/cloud/apphub/quickstart/CMakeLists.txt
  google/cloud/apphub/quickstart/Makefile
  google/cloud/apphub/quickstart/README.md
  google/cloud/apphub/quickstart/WORKSPACE.bazel
  google/cloud/apphub/quickstart/quickstart.cc
  google/cloud/apphub/v1/.repo-metadata.json
  google/cloud/apphub/v1/app_hub_client.cc
  google/cloud/apphub/v1/app_hub_client.h
  google/cloud/apphub/v1/app_hub_connection.cc
  google/cloud/apphub/v1/app_hub_connection.h
  google/cloud/apphub/v1/app_hub_connection_idempotency_policy.cc
  google/cloud/apphub/v1/app_hub_connection_idempotency_policy.h
  google/cloud/apphub/v1/app_hub_options.h
  google/cloud/apphub/v1/internal/app_hub_auth_decorator.cc
  google/cloud/apphub/v1/internal/app_hub_auth_decorator.h
  google/cloud/apphub/v1/internal/app_hub_connection_impl.cc
  google/cloud/apphub/v1/internal/app_hub_connection_impl.h
  google/cloud/apphub/v1/internal/app_hub_logging_decorator.cc
  google/cloud/apphub/v1/internal/app_hub_logging_decorator.h
  google/cloud/apphub/v1/internal/app_hub_metadata_decorator.cc
  google/cloud/apphub/v1/internal/app_hub_metadata_decorator.h
  google/cloud/apphub/v1/internal/app_hub_option_defaults.cc
  google/cloud/apphub/v1/internal/app_hub_option_defaults.h
  google/cloud/apphub/v1/internal/app_hub_retry_traits.h
  google/cloud/apphub/v1/internal/app_hub_stub.cc
  google/cloud/apphub/v1/internal/app_hub_stub.h
  google/cloud/apphub/v1/internal/app_hub_stub_factory.cc
  google/cloud/apphub/v1/internal/app_hub_stub_factory.h
  google/cloud/apphub/v1/internal/app_hub_tracing_connection.cc
  google/cloud/apphub/v1/internal/app_hub_tracing_connection.h
  google/cloud/apphub/v1/internal/app_hub_tracing_stub.cc
  google/cloud/apphub/v1/internal/app_hub_tracing_stub.h
  google/cloud/apphub/v1/mocks/mock_app_hub_connection.h
  google/cloud/apphub/v1/samples/app_hub_client_samples.cc
  libraries.bzl
Labels: api: apphub

#13745 feat(securitycenter): add v2 version of library
  ci/abi-dumps/google_cloud_cpp_securitycenter.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protodeps/securitycenter.deps
  external/googleapis/protolists/securitycenter.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/securitycenter/BUILD.bazel
  google/cloud/securitycenter/CMakeLists.txt
  google/cloud/securitycenter/doc/main.dox
  google/cloud/securitycenter/doc/override-authentication.dox
  google/cloud/securitycenter/doc/override-endpoint.dox
  google/cloud/securitycenter/doc/override-retry-policies.dox
  google/cloud/securitycenter/v2/.repo-metadata.json
  google/cloud/securitycenter/v2/internal/security_center_auth_decorator.cc
  google/cloud/securitycenter/v2/internal/security_center_auth_decorator.h
  google/cloud/securitycenter/v2/internal/security_center_connection_impl.cc
  google/cloud/securitycenter/v2/internal/security_center_connection_impl.h
  google/cloud/securitycenter/v2/internal/security_center_logging_decorator.cc
  google/cloud/securitycenter/v2/internal/security_center_logging_decorator.h
  google/cloud/securitycenter/v2/internal/security_center_metadata_decorator.cc
  google/cloud/securitycenter/v2/internal/security_center_metadata_decorator.h
  google/cloud/securitycenter/v2/internal/security_center_option_defaults.cc
  google/cloud/securitycenter/v2/internal/security_center_option_defaults.h
  google/cloud/securitycenter/v2/internal/security_center_retry_traits.h
  google/cloud/securitycenter/v2/internal/security_center_stub.cc
  google/cloud/securitycenter/v2/internal/security_center_stub.h
  google/cloud/securitycenter/v2/internal/security_center_stub_factory.cc
  google/cloud/securitycenter/v2/internal/security_center_stub_factory.h
  google/cloud/securitycenter/v2/internal/security_center_tracing_connection.cc
  google/cloud/securitycenter/v2/internal/security_center_tracing_connection.h
  google/cloud/securitycenter/v2/internal/security_center_tracing_stub.cc
  google/cloud/securitycenter/v2/internal/security_center_tracing_stub.h
  google/cloud/securitycenter/v2/mocks/mock_security_center_connection.h
  google/cloud/securitycenter/v2/samples/security_center_client_samples.cc
  google/cloud/securitycenter/v2/security_center_client.cc
  google/cloud/securitycenter/v2/security_center_client.h
  google/cloud/securitycenter/v2/security_center_connection.cc
  google/cloud/securitycenter/v2/security_center_connection.h
  google/cloud/securitycenter/v2/security_center_connection_idempotency_policy.cc
  google/cloud/securitycenter/v2/security_center_connection_idempotency_policy.h
  google/cloud/securitycenter/v2/security_center_options.h
Labels: api: securitycenter

#13740 feat(spanner): add sample for instance-admin managed autoscaler
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#13743 feat(spanner): add representations for the Spanner PROTO/ENUM types
  google/cloud/spanner/BUILD.bazel
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/proto_enum.h
  google/cloud/spanner/proto_enum_test.cc
  google/cloud/spanner/proto_message.h
  google/cloud/spanner/proto_message_test.cc
  google/cloud/spanner/spanner_client_unit_tests.bzl
  google/cloud/spanner/testing/singer.proto
Labels: api: spanner

#13748 fix(bigtable): respect `GOOGLE_CLOUD_CPP_OPENTELEMETRY_TRACING`
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13747 feat(spanner): add spanner::Value support for ProtoEnum/ProtoMessage
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#13742 cleanup(pubsub): remove topic and subscription handwritten admin api helper functions
  google/cloud/pubsub/samples/pubsub_samples_common.cc
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/pubsub_samples_common_test.cc
  google/cloud/pubsub/samples/subscription_admin_samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub

#13756 feat(spanner): add integration tests for proto columns
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#13758 impl(spanner): constrain spanner::ProtoMessage<M>::operator<<()
  google/cloud/spanner/proto_message.h
  google/cloud/spanner/value.cc
Labels: api: spanner

#13759 feat(spanner): add samples for proto columns
  google/cloud/spanner/BUILD.bazel
  google/cloud/spanner/integration_tests/BUILD.bazel
  google/cloud/spanner/samples/BUILD.bazel
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#13757 fix(speech): enable location specific connections
  generator/generator_config.textproto
  google/cloud/speech/doc/environment-variables.dox
  google/cloud/speech/v2/internal/speech_option_defaults.cc
  google/cloud/speech/v2/internal/speech_option_defaults.h
  google/cloud/speech/v2/speech_connection.cc
  google/cloud/speech/v2/speech_connection.h
Labels: api: speech

#13761 impl(spanner): heed any google.rpc.RetryInfo in transaction re-run loop
  google/cloud/spanner/client.cc
Labels: api: spanner

#13766 fix(storage): respect `GOOGLE_CLOUD_CPP_OPENTELEMETRY_TRACING`
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
Labels: api: storage

#13768 impl(spanner): de-dup logging of streaming-RPC responses
  google/cloud/spanner/internal/logging_result_set_reader.cc
  google/cloud/spanner/internal/logging_result_set_reader.h
  google/cloud/spanner/internal/logging_result_set_reader_test.cc
Labels: api: spanner

#13770 cleanup(spanner): remove workarounds not needed by latest emulator
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#13777 cleanup: remove `SelectMSVCRuntime.cmake`
  CMakeLists.txt
  cmake/GoogleCloudCppCommon.cmake
  cmake/SelectMSVCRuntime.cmake
  examples/CMakeLists.txt
  external/googleapis/CMakeLists.txt
Labels: gha:full-build

#13593 docs(pubsub): add kinesis sample
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples

#13780 refactor(storage): split `MockHashFunction`
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/async/writer_connection_impl_test.cc
  google/cloud/storage/storage_client_testing.bzl
  google/cloud/storage/testing/mock_hash_function.h
Labels: api: storage

#13782 impl(bigtable): respect GOOGLE_CLOUD_UNIVERSE_DOMAIN
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13783 impl(storage): respect GOOGLE_CLOUD_UNIVERSE_DOMAIN
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
  google/cloud/storage/internal/grpc/stub_test.cc
Labels: api: storage

#13787 cleanup(storage): remove unused system headers
  google/cloud/storage/tests/object_compose_many_integration_test.cc
  google/cloud/storage/tests/object_integration_test.cc
  google/cloud/storage/tests/object_list_objects_versions_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_serially_integration_test.cc
  google/cloud/storage/tests/object_plenty_clients_simultaneously_integration_test.cc
  google/cloud/storage/tests/object_resumable_parallel_upload_integration_test.cc
Labels: api: storage

#13790 impl(storage): decorate hash functions for downloads
  google/cloud/storage/internal/hash_function_impl.cc
  google/cloud/storage/internal/hash_function_impl.h
  google/cloud/storage/internal/hash_function_impl_test.cc
Labels: api: storage

#13741 impl(pubsub): add batch callback interface
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/subscription_batch_source.h
  google/cloud/pubsub/internal/subscription_lease_management.cc
  google/cloud/pubsub/internal/subscription_lease_management.h
  google/cloud/pubsub/internal/subscription_lease_management_test.cc
  google/cloud/pubsub/internal/subscription_message_queue.cc
  google/cloud/pubsub/internal/subscription_message_queue_test.cc
  google/cloud/pubsub/pubsub_client_testing.bzl
  google/cloud/pubsub/testing/mock_batch_callback.h
  google/cloud/pubsub/testing/mock_subscription_batch_source.h
Labels: api: pubsub

#13792 impl(pubsub): expose subscription and ack id on the ack handler
  google/cloud/pubsub/ack_handler.h
  google/cloud/pubsub/exactly_once_ack_handler.h
  google/cloud/pubsub/internal/ack_handler_wrapper.h
  google/cloud/pubsub/internal/ack_handler_wrapper_test.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.h
  google/cloud/pubsub/internal/subscription_concurrency_control_test.cc
  google/cloud/pubsub/internal/subscription_session.cc
Labels: api: pubsub

#13799 test(spanner): add expectations for missing emulator functionality
  google/cloud/spanner/admin/integration_tests/backup_extra_integration_test.cc
  google/cloud/spanner/admin/integration_tests/backup_integration_test.cc
  google/cloud/spanner/admin/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/admin/integration_tests/instance_admin_integration_test.cc
  google/cloud/spanner/admin/integration_tests/instance_admin_rest_integration_test.cc
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/integration_tests/database_admin_integration_test.cc
  google/cloud/spanner/integration_tests/instance_admin_integration_test.cc
Labels: api: spanner

#13803 test(spanner): enable more samples on the emulator
  google/cloud/spanner/samples/postgresql_samples.cc
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#13800 chore(compute): handle new resources when updating compute discovery doc
  ci/cloudbuild/builds/generate-libraries.sh
  generator/discovery/update_discovery_doc.sh
Labels: api: compute

#13806 fix(GCS+gRPC): test compilation with MSVC
  google/cloud/storage/internal/async/connection_impl_test.cc
Labels: gha:full-build

#13811 cleanup(pubsub): fix kinesis tags
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub

#13821 fix(compute): regenerate samples
  google/cloud/compute/instance_group_manager_resize_requests/v1/samples/instance_group_manager_resize_requests_client_samples.cc
  google/cloud/compute/storage_pools/v1/samples/storage_pools_client_samples.cc
Labels: api: compute, samples

#13819 test(spanner): add expectations for missing emulator functionality
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#13825 refactor(storage): de-duplicate `SignWithPem()`
  google/cloud/storage/internal/make_jwt_assertion.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/oauth2/service_account_credentials.h
Labels: api: storage

#13826 refactor(storage): split `MD5Hash()` internal function
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/internal/grpc/object_metadata_parser.cc
  google/cloud/storage/internal/md5hash.cc
  google/cloud/storage/internal/md5hash.h
  google/cloud/storage/internal/md5hash_test.cc
  google/cloud/storage/internal/openssl_util.cc
  google/cloud/storage/internal/openssl_util.h
  google/cloud/storage/internal/openssl_util_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage

#13828 cleanup(storage): remove stale TODO comment
  google/cloud/storage/tests/error_parsing_integration_test.cc
  google/cloud/storage/tests/object_insert_integration_test.cc
Labels: api: storage

#13822 chore(compute): emit suggested service dir updates
  generator/discovery/update_discovery_doc.sh
Labels: api: compute

#13830 refactor(storage): rename internal files
  google/cloud/storage/client.cc
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/hashing_options.cc
  google/cloud/storage/internal/base64.cc
  google/cloud/storage/internal/base64.h
  google/cloud/storage/internal/base64_test.cc
  google/cloud/storage/internal/grpc/hmac_key_request_parser.cc
  google/cloud/storage/internal/grpc/object_metadata_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/sign_blob_request_parser.cc
  google/cloud/storage/internal/grpc/sign_blob_request_parser_test.cc
  google/cloud/storage/internal/hash_function_impl.cc
  google/cloud/storage/internal/make_jwt_assertion.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/oauth2/compute_engine_credentials.h
  google/cloud/storage/oauth2/service_account_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/write_base64.cc
  google/cloud/storage/tests/curl_sign_blob_integration_test.cc
  google/cloud/storage/tests/signed_url_conformance_test.cc
  google/cloud/storage/well_known_headers.cc
Labels: api: storage

#13831 test(spanner): clarify emulator startup messages and comments
  ci/cloudbuild/build.sh
  google/cloud/spanner/ci/lib/spanner_emulator.sh
Labels: api: spanner

#13836 fix(compute): shorten paths for Bazel+MSVC
  google/cloud/compute/BUILD.bazel
  google/cloud/compute/CMakeLists.txt
  protos/google/cloud/compute/BUILD.bazel
  protos/google/cloud/compute/CMakeLists.txt
Labels: api: compute, gha:full-build

#13845 feat(dataplex): add `CatalogServiceClient`
  CHANGELOG.md
  generator/generator_config.textproto
  google/cloud/dataplex/doc/environment-variables.dox
  google/cloud/dataplex/doc/main.dox
  google/cloud/dataplex/doc/override-authentication.dox
  google/cloud/dataplex/doc/override-endpoint.dox
  google/cloud/dataplex/doc/override-retry-policies.dox
  google/cloud/dataplex/v1/catalog_client.cc
  google/cloud/dataplex/v1/catalog_client.h
  google/cloud/dataplex/v1/catalog_connection.cc
  google/cloud/dataplex/v1/catalog_connection.h
  google/cloud/dataplex/v1/catalog_connection_idempotency_policy.cc
  google/cloud/dataplex/v1/catalog_connection_idempotency_policy.h
  google/cloud/dataplex/v1/catalog_options.h
  google/cloud/dataplex/v1/internal/catalog_auth_decorator.cc
  google/cloud/dataplex/v1/internal/catalog_auth_decorator.h
  google/cloud/dataplex/v1/internal/catalog_connection_impl.cc
  google/cloud/dataplex/v1/internal/catalog_connection_impl.h
  google/cloud/dataplex/v1/internal/catalog_logging_decorator.cc
  google/cloud/dataplex/v1/internal/catalog_logging_decorator.h
  google/cloud/dataplex/v1/internal/catalog_metadata_decorator.cc
  google/cloud/dataplex/v1/internal/catalog_metadata_decorator.h
  google/cloud/dataplex/v1/internal/catalog_option_defaults.cc
  google/cloud/dataplex/v1/internal/catalog_option_defaults.h
  google/cloud/dataplex/v1/internal/catalog_retry_traits.h
  google/cloud/dataplex/v1/internal/catalog_stub.cc
  google/cloud/dataplex/v1/internal/catalog_stub.h
  google/cloud/dataplex/v1/internal/catalog_stub_factory.cc
  google/cloud/dataplex/v1/internal/catalog_stub_factory.h
  google/cloud/dataplex/v1/internal/catalog_tracing_connection.cc
  google/cloud/dataplex/v1/internal/catalog_tracing_connection.h
  google/cloud/dataplex/v1/internal/catalog_tracing_stub.cc
  google/cloud/dataplex/v1/internal/catalog_tracing_stub.h
  google/cloud/dataplex/v1/mocks/mock_catalog_connection.h
  google/cloud/dataplex/v1/samples/catalog_client_samples.cc
Labels: api: dataplex

#13833 impl(pubsub): add a tracing batch callback
  google/cloud/pubsub/CMakeLists.txt
  google/cloud/pubsub/google_cloud_cpp_pubsub.bzl
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback.h
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/pubsub_client_unit_tests.bzl
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13856 cleanup(storage): remove stale scripts
  google/cloud/storage/benchmarks/storage_parallel_uploads_plots.py
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_plots.py
  google/cloud/storage/oauth2/service_account_credentials_test.cc
  google/cloud/storage/tools/make_jwt_assertion_for_test_data.py
Labels: api: storage

#13859 test(storage): use pre-existing bucket in benchmark
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/benchmarks/throughput_options.h
  google/cloud/storage/benchmarks/throughput_options_test.cc
Labels: api: storage

#13854 impl(pubsub): add events to batch callback api
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13862 feat(spanner): add spanner::Value support for TypeCode::FLOAT32
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#13867 cleanup(pubsub): make otel headers system headers
  google/cloud/pubsub/internal/message_propagator.cc
  google/cloud/pubsub/internal/message_propagator.h
  google/cloud/pubsub/internal/message_propagator_test.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_helpers.cc
  google/cloud/pubsub/internal/tracing_helpers.h
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager.cc
Labels: api: pubsub

#13872 ci(spanner): highlight successful emulator starts with color
  google/cloud/spanner/ci/lib/spanner_emulator.sh
Labels: api: spanner

#13866 impl(pubsub): add span attributes to subscribe span
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
Labels: api: pubsub

#13880 test(spanner): add mutations/row unit tests for FLOAT32
  google/cloud/spanner/mutations_test.cc
  google/cloud/spanner/row_test.cc
Labels: api: spanner

#13882 test(spanner): add integration tests for FLOAT32
  google/cloud/spanner/BUILD.bazel
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
  google/cloud/spanner/testing/database_integration_test.cc
Labels: api: spanner

#13886 cleanup(pubsub): add missing includes
  google/cloud/pubsub/samples/pubsub_samples_common.h
Labels: api: pubsub

#13888 impl(pubsub): add expire message functionality
  google/cloud/pubsub/internal/batch_callback.h
  google/cloud/pubsub/internal/batch_callback_wrapper.h
  google/cloud/pubsub/internal/default_batch_callback.h
  google/cloud/pubsub/internal/subscription_lease_management.cc
  google/cloud/pubsub/internal/subscription_lease_management.h
  google/cloud/pubsub/internal/subscription_lease_management_test.cc
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
  google/cloud/pubsub/testing/mock_batch_callback.h
Labels: api: pubsub

#13893 test(storage): tolerate PKCS#12 errors on WIN32
  google/cloud/storage/oauth2/google_credentials_test.cc
  google/cloud/storage/oauth2/service_account_credentials_test.cc
Labels: api: storage

#13889 impl(pubsub): add exactly once delivery enabled attribute to subscribe span
  google/cloud/pubsub/internal/tracing_batch_callback.cc
  google/cloud/pubsub/internal/tracing_batch_callback_test.cc
Labels: api: pubsub

#13897 fix(storage): preserve full Status in default creds
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/google_credentials_test.cc
Labels: api: storage

#13898 feat(spanner): add ExcludeTransactionFromChangeStreamsOption
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/options.h
  google/cloud/spanner/transaction.cc
Labels: api: spanner
