Repository googleapis/google-cloud-cpp, pull requests merged in 2024-08, with the labels that each got.

#14598 chore: update vcpkg to 2024.07.12
  ci/etc/vcpkg-version.txt
Labels: gha:full-build

#14624 feat(GCS+gRPC): add optional lb locality to otel metrics
  google/cloud/storage/internal/grpc/metrics_exporter_impl.cc
Labels: api: storage

#14623 chore(compute): update_discovery_doc.sh now edits generator_config
  ci/cloudbuild/builds/generate-libraries.sh
  generator/discovery/update_discovery_doc.sh
  generator/generator_config.textproto
Labels: api: compute

#14641 cleanup(compute): sort service_dirs
  google/cloud/compute/service_dirs.bzl
Labels: api: compute

#14651 fix(bigtable): sanitize RowRange proto input
  google/cloud/bigtable/row_range.cc
  google/cloud/bigtable/row_range.h
  google/cloud/bigtable/row_range_test.cc
Labels: api: bigtable
