Repository googleapis/google-cloud-cpp, pull requests merged in 2024-01, with the labels that each got.

#13388 refactor(pubsub): dedup internal function
  google/cloud/pubsub/internal/publisher_stub_factory.cc
  google/cloud/pubsub/internal/publisher_stub_factory.h
  google/cloud/pubsub/topic_admin_connection.cc
Labels: api: pubsub

#13390 cleanup(pubsub): fix typo s/least/lease
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
Labels: api: pubsub

#13392 test(spanner): remove PartitionDataBoostOption sample workaround
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#13394 feat(cloudquotas): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_cloudquotas.expected.abi.dump.gz
  ci/etc/expected_install_directories
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/cloudquotas.deps
  external/googleapis/protolists/cloudquotas.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/cloudquotas/BUILD.bazel
  google/cloud/cloudquotas/CMakeLists.txt
  google/cloud/cloudquotas/README.md
  google/cloud/cloudquotas/doc/environment-variables.dox
  google/cloud/cloudquotas/doc/main.dox
  google/cloud/cloudquotas/doc/options.dox
  google/cloud/cloudquotas/doc/override-authentication.dox
  google/cloud/cloudquotas/doc/override-endpoint.dox
  google/cloud/cloudquotas/doc/override-retry-policies.dox
  google/cloud/cloudquotas/quickstart/.bazelrc
  google/cloud/cloudquotas/quickstart/BUILD.bazel
  google/cloud/cloudquotas/quickstart/CMakeLists.txt
  google/cloud/cloudquotas/quickstart/Makefile
  google/cloud/cloudquotas/quickstart/README.md
  google/cloud/cloudquotas/quickstart/WORKSPACE.bazel
  google/cloud/cloudquotas/quickstart/quickstart.cc
  google/cloud/cloudquotas/v1/.repo-metadata.json
  google/cloud/cloudquotas/v1/cloud_quotas_client.cc
  google/cloud/cloudquotas/v1/cloud_quotas_client.h
  google/cloud/cloudquotas/v1/cloud_quotas_connection.cc
  google/cloud/cloudquotas/v1/cloud_quotas_connection.h
  google/cloud/cloudquotas/v1/cloud_quotas_connection_idempotency_policy.cc
  google/cloud/cloudquotas/v1/cloud_quotas_connection_idempotency_policy.h
  google/cloud/cloudquotas/v1/cloud_quotas_options.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_auth_decorator.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_auth_decorator.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_connection_impl.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_connection_impl.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_logging_decorator.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_logging_decorator.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_metadata_decorator.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_metadata_decorator.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_option_defaults.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_option_defaults.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_retry_traits.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_stub.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_stub.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_stub_factory.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_stub_factory.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_tracing_connection.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_tracing_connection.h
  google/cloud/cloudquotas/v1/internal/cloud_quotas_tracing_stub.cc
  google/cloud/cloudquotas/v1/internal/cloud_quotas_tracing_stub.h
  google/cloud/cloudquotas/v1/mocks/mock_cloud_quotas_connection.h
  google/cloud/cloudquotas/v1/samples/cloud_quotas_client_samples.cc
  libraries.bzl
Labels: api: cloudquotas

#13377 refactor(pubsub): create shared helper tracing functions
  google/cloud/pubsub/internal/tracing_helpers.cc
  google/cloud/pubsub/internal/tracing_helpers.h
  google/cloud/pubsub/internal/tracing_helpers_test.cc
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
  google/cloud/testing_util/opentelemetry_matchers.h
Labels: api: pubsub

#13412 feat: support Bazel v7
  .bazelrc
  bazel/workspace0.bzl
  bazel/workspace1.bzl
  bazel/workspace2.bzl
  bazel/workspace3.bzl
Labels: gha:full-build

#13379 impl(pubsub): use factory to create pull lease manager
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.h
Labels: api: pubsub

#13416 ci: use Bazel 7.0.0 and 6.4.0
  .bazelversion
  ci/cloudbuild/builds/bazel-oldest.sh
  ci/cloudbuild/builds/lib/bazel.sh
  ci/cloudbuild/builds/quickstart-bazel.sh
  ci/cloudbuild/dockerfiles/fedora-msan.Dockerfile
  ci/gha/builds/lib/bazel.sh
  ci/verify_current_targets/.bazelrc
  ci/verify_deprecated_targets/.bazelrc
Labels: gha:full-build

#13430 feat(bigquery): remove validation of input parameters
  google/cloud/bigquery/v2/minimal/internal/job_request.cc
  google/cloud/bigquery/v2/minimal/internal/job_request_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_rest_stub_test.cc
Labels: api: bigquery

#13389 refactor(pubsub): use the clock class instead of a lambda
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.h
  google/cloud/pubsub/internal/default_pull_lease_manager_test.cc
  google/cloud/pubsub/internal/pull_lease_manager_factory.cc
  google/cloud/pubsub/internal/pull_lease_manager_factory.h
  google/cloud/pubsub/internal/pull_lease_manager_factory_test.cc
Labels: api: pubsub

#13448 impl(bigtable): add RetryContext aka the cookie jar
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/retry_context.cc
  google/cloud/bigtable/internal/retry_context.h
  google/cloud/bigtable/internal/retry_context_test.cc
Labels: api: bigtable

#13463 cleanup(bigtable): credential defaults
  google/cloud/bigtable/internal/defaults.cc
Labels: api: bigtable

#13462 impl(bigtable): bigtable cookie support in sync unary RPCs
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#13471 feat(storage): support `UniverseDomainOption` for REST
  google/cloud/storage/client_options.cc
  google/cloud/storage/client_options_test.cc
Labels: api: storage

#13470 impl(bigtable): support bigtable cookie in async unary RPCs
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#13468 impl(bigtable): support bigtable cookie in `ReadRow(s)`
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#13469 impl(bigtable): support bigtable cookie in `BulkApply`
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/bulk_mutator.h
  google/cloud/bigtable/internal/bulk_mutator_test.cc
Labels: api: bigtable

#13479 impl(bigtable): support bigtable cookie in `AsyncSampleRows`
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#13477 impl(bigtable): support bigtable cookie in `SampleRows`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl_test.cc
Labels: api: bigtable

#13480 impl(bigtable): support bigtable cookie in `AsyncReadRow(s)`
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
Labels: api: bigtable

#13481 impl(bigtable): support bigtable cookie in `AsyncBulkApply`
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_bulk_apply.h
  google/cloud/bigtable/internal/async_bulk_apply_test.cc
Labels: api: bigtable

#13484 impl(pubsub): Authority respects UniverseDomainOption for IAM
  google/cloud/pubsub/options.cc
  google/cloud/pubsub/options_test.cc
Labels: api: pubsub

#13485 impl(bigtable): authority respects UniverseDomainOption
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13488 feat(bigtable): logging for bulk apply throttling
  google/cloud/bigtable/internal/mutate_rows_limiter.cc
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
Labels: api: bigtable

#13502 feat(bigtable): support bigtable routing cookies
  google/cloud/bigtable/internal/bigtable_stub_factory.cc
Labels: api: bigtable

#13428 feat(pubsub): add lease management for unary pull
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.h
  google/cloud/pubsub/internal/default_pull_ack_handler_test.cc
  google/cloud/pubsub/internal/pull_ack_handler_factory_test.cc
Labels: api: pubsub

#13508 refactor(pubsub): split the messaging destination attributes on receive span
  google/cloud/pubsub/internal/subscriber_tracing_connection.cc
  google/cloud/pubsub/internal/subscriber_tracing_connection_test.cc
Labels: api: pubsub

#13507 refactor(pubsub): s/extend/modack
  google/cloud/pubsub/internal/pull_lease_manager_factory_test.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager.cc
  google/cloud/pubsub/internal/tracing_pull_lease_manager_test.cc
Labels: api: pubsub

#13506 refactor(pubsub): rename s/settle/ack or s/settle/nack
  google/cloud/pubsub/internal/pull_ack_handler_factory_test.cc
  google/cloud/pubsub/internal/tracing_pull_ack_handler.cc
  google/cloud/pubsub/internal/tracing_pull_ack_handler_test.cc
  google/cloud/pubsub/subscriber_connection_test.cc
Labels: api: pubsub

#13510 refactor(pubsub): split attributes into topic and project id on create span
  google/cloud/pubsub/internal/publisher_tracing_connection.cc
  google/cloud/pubsub/internal/publisher_tracing_connection_test.cc
Labels: api: pubsub

#13511 refactor(pubsub): split attributes into topic and project id on publish span
  google/cloud/pubsub/internal/tracing_batch_sink.cc
  google/cloud/pubsub/internal/tracing_batch_sink_test.cc
Labels: api: pubsub

#13512 refactor(pubsub): split attributes for blocking publisher
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_tracing_connection_test.cc
Labels: api: pubsub

#13517 cleanup(pubsub): stop using FQDN in default endpoint
  google/cloud/pubsub/options.cc
  google/cloud/pubsub/options_test.cc
Labels: api: pubsub

#13518 cleanup(bigtable): stop using FQDN in default endpoint
  google/cloud/bigtable/client_options.cc
  google/cloud/bigtable/client_options_test.cc
  google/cloud/bigtable/internal/defaults.cc
  google/cloud/bigtable/internal/defaults_test.cc
Labels: api: bigtable

#13520 chore(pubsub): address clang-tidy issues
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/pull_ack_handler_factory_test.cc
Labels: api: pubsub

#13523 chore(compute): disable integration test until it can be fixed
  google/cloud/compute/integration_tests/compute_integration_test.cc
Labels: api: compute

#13525 refactor(pubsub): add generated topic admin sample file
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/pubsub_client_integration_samples.bzl
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/topic_admin_samples.cc
  google/cloud/pubsub/topic_admin_client.h
Labels: api: pubsub, samples

#13528 impl(bigtable): add helper for `RetryInfo` logic
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/retry_info_helper.cc
  google/cloud/bigtable/internal/retry_info_helper.h
  google/cloud/bigtable/internal/retry_info_helper_test.cc
Labels: api: bigtable

#13524 refactor(bigtable): abstract sleeper in `DefaultRowReader`
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#13532 cleanup(pubsub): use the generated admin api for the blocking sample
  google/cloud/pubsub/samples/blocking_samples.cc
Labels: api: pubsub, samples

#13537 fix(pubsub): install admin mocks
  cmake/GoogleCloudCppCommon.cmake
  google/cloud/pubsub/CMakeLists.txt
Labels: api: pubsub

#13536 impl(bigtable): support `RetryInfo` in `ReadRow(s)`
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#13535 refactor(pubsub): add generated admin subscription samples
  google/cloud/pubsub/samples/CMakeLists.txt
  google/cloud/pubsub/samples/pubsub_client_integration_samples.bzl
  google/cloud/pubsub/samples/pubsub_samples_common.h
  google/cloud/pubsub/samples/samples.cc
  google/cloud/pubsub/samples/subscription_admin_samples.cc
Labels: api: pubsub, samples
