Repository googleapis/google-cloud-cpp, pull requests merged in 2024-05, with the labels that each got.

#14095 fix(spanner): avoid absl types in public Interval API
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval.h
  google/cloud/spanner/interval_test.cc
Labels: api: spanner

#14102 cleanup(spanner): add missing chrono include
  google/cloud/spanner/interval.h
Labels: api: spanner

#14106 impl(bigtable): add origin client metadata to cancelled
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler_test.cc
Labels: api: bigtable

#14097 test(otel): add GCM exporter integration test
  google/cloud/opentelemetry/integration_tests/CMakeLists.txt
  google/cloud/opentelemetry/integration_tests/monitoring_exporter_integration_test.cc
  google/cloud/opentelemetry/integration_tests/tests.bzl
Labels: do not merge

#14120 feat(spanner): add Interval/Timestamp/time-zone operations
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval.h
  google/cloud/spanner/interval_test.cc
Labels: api: spanner

#14121 fix(spanner): correct use of Interval offset in Timestamp addition
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval_test.cc
Labels: api: spanner

#14123 feat(spanner): add Interval justification
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval.h
  google/cloud/spanner/interval_test.cc
Labels: api: spanner

#14131 impl(bigtable): add client metadata to cancelled status
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#14143 cleanup(storage): use `Status` factory functions
  google/cloud/storage/benchmarks/aggregate_download_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_download_throughput_options.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_benchmark.cc
  google/cloud/storage/benchmarks/aggregate_upload_throughput_options.cc
  google/cloud/storage/benchmarks/benchmark_utils.cc
  google/cloud/storage/benchmarks/create_dataset_options.cc
  google/cloud/storage/benchmarks/storage_file_transfer_benchmark.cc
  google/cloud/storage/benchmarks/storage_parallel_uploads_benchmark.cc
  google/cloud/storage/benchmarks/storage_throughput_vs_cpu_benchmark.cc
  google/cloud/storage/benchmarks/throughput_experiment.cc
  google/cloud/storage/benchmarks/throughput_options.cc
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/iam_policy.cc
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/async/accumulate_read_object.cc
  google/cloud/storage/internal/bucket_access_control_parser.cc
  google/cloud/storage/internal/bucket_acl_requests.cc
  google/cloud/storage/internal/bucket_metadata_parser.cc
  google/cloud/storage/internal/bucket_requests.cc
  google/cloud/storage/internal/common_metadata_parser.h
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/default_object_acl_requests.cc
  google/cloud/storage/internal/grpc/object_read_source.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/hmac_key_metadata_parser.cc
  google/cloud/storage/internal/hmac_key_requests.cc
  google/cloud/storage/internal/lifecycle_rule_parser.cc
  google/cloud/storage/internal/metadata_parser.cc
  google/cloud/storage/internal/metadata_parser.h
  google/cloud/storage/internal/metadata_parser_test.cc
  google/cloud/storage/internal/notification_metadata_parser.cc
  google/cloud/storage/internal/notification_requests.cc
  google/cloud/storage/internal/object_access_control_parser.cc
  google/cloud/storage/internal/object_acl_requests.cc
  google/cloud/storage/internal/object_metadata_parser.cc
  google/cloud/storage/internal/object_read_streambuf.cc
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_write_streambuf.cc
  google/cloud/storage/internal/rest/object_read_source.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/internal/service_account_parser.cc
  google/cloud/storage/internal/sign_blob_requests.cc
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/oauth2/credentials.cc
  google/cloud/storage/oauth2/google_credentials.cc
  google/cloud/storage/oauth2/service_account_credentials.h
  google/cloud/storage/object_read_stream.cc
  google/cloud/storage/object_write_stream.cc
  google/cloud/storage/parallel_upload.cc
  google/cloud/storage/parallel_upload.h
Labels: api: storage

#14154 cleanup(speech): move source file
  google/cloud/speech/v2/internal/streaming.cc
Labels: api: speech

#14169 cleanup(pubsub): use `Status` factory functions
  google/cloud/pubsub/internal/batching_publisher_connection.cc
  google/cloud/pubsub/internal/blocking_publisher_connection_impl.cc
  google/cloud/pubsub/internal/default_pull_ack_handler.cc
  google/cloud/pubsub/internal/default_pull_lease_manager.cc
  google/cloud/pubsub/internal/extend_leases_with_retry.cc
  google/cloud/pubsub/internal/flow_controlled_publisher_connection.cc
  google/cloud/pubsub/internal/rejects_with_ordering_key.cc
  google/cloud/pubsub/internal/streaming_subscription_batch_source.cc
  google/cloud/pubsub/internal/subscription_concurrency_control.cc
Labels: api: pubsub

#14190 cleanup(spanner): use Status factory functions in spanner/internal
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/merge_chunk.cc
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/session_pool.cc
Labels: api: spanner

#14189 cleanup(pubsublite): use Status factory functions
  google/cloud/pubsublite/endpoint.cc
Labels: api: pubsublite

#14145 ci: upgrade `cxx20` to Fedora:40
  ci/cloudbuild/builds/clang-cxx20.sh
  ci/cloudbuild/builds/cxx20.sh
  ci/cloudbuild/dockerfiles/fedora-latest-cxx20.Dockerfile
Labels: do not review

#14197 cleanup(spanner): use Status factory functions in spanner/testing
  google/cloud/spanner/testing/cleanup_stale_instances.cc
  google/cloud/spanner/testing/pick_random_instance.cc
Labels: api: spanner

#14193 cleanup(spanner): use Status factory functions in spanner
  google/cloud/spanner/client.cc
  google/cloud/spanner/query_partition.cc
  google/cloud/spanner/read_partition.cc
  google/cloud/spanner/row.cc
  google/cloud/spanner/row.h
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
Labels: api: spanner

#14199 cleanup(bigtable): use Status factory functions
  google/cloud/bigtable/wait_for_consistency.cc
Labels: api: bigtable

#14201 cleanup(bigquery): use Status factory functions
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.cc
Labels: api: bigquery

#14204 cleanup(bigquery): prepare for clang-tidy 18
  google/cloud/bigquery/v2/minimal/benchmarks/benchmarks_config.h
Labels: api: bigquery

#14205 cleanup(storage): prepare for clang-tidy 18
  google/cloud/storage/internal/retry_object_read_source.cc
  google/cloud/storage/lifecycle_rule.cc
Labels: api: storage

#14203 refactor(spanner): prepare for upcoming SessionPool work
  google/cloud/spanner/internal/session.h
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
Labels: api: spanner

#14208 cleanup(pubsub): use `Status` factory functions
  google/cloud/pubsub/benchmarks/endurance.cc
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub

#14211 cleanup(storage): prepare for clang 18
  google/cloud/storage/internal/async/writer_connection_buffered.cc
Labels: api: storage

#14209 cleanup(pubsublite): use `Status` factory functions
  google/cloud/pubsublite/endpoint.cc
  google/cloud/pubsublite/internal/cloud_region.cc
  google/cloud/pubsublite/internal/cloud_zone.cc
  google/cloud/pubsublite/internal/default_publish_message_transformer.cc
  google/cloud/pubsublite/internal/default_publish_message_transformer_test.cc
  google/cloud/pubsublite/internal/location.cc
  google/cloud/pubsublite/internal/location_test.cc
  google/cloud/pubsublite/internal/multipartition_publisher.cc
  google/cloud/pubsublite/internal/multipartition_publisher_test.cc
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher_test.cc
  google/cloud/pubsublite/internal/service_composite.h
  google/cloud/pubsublite/internal/service_composite_test.cc
  google/cloud/pubsublite/message_metadata.cc
  google/cloud/pubsublite/message_metadata_test.cc
  google/cloud/pubsublite/publisher_connection.cc
Labels: api: pubsublite

#14216 impl(spanner): implement SessionPool::Multiplexed()
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/session.h
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/session_pool_test.cc
Labels: api: spanner

#14225 cleanup(compute): simpler BUILD file
  google/cloud/compute/BUILD.bazel
  google/cloud/compute/compute_library.bzl
Labels: api: compute

#14210 cleanup(spanner): use `Status` factory functions
  google/cloud/spanner/backup.cc
  google/cloud/spanner/benchmarks/benchmarks_config.cc
  google/cloud/spanner/database.cc
  google/cloud/spanner/instance.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/numeric.cc
  google/cloud/spanner/row.h
  google/cloud/spanner/sql_statement.cc
  google/cloud/spanner/testing/instance_location.cc
  google/cloud/spanner/testing/pick_random_instance.cc
  google/cloud/spanner/timestamp.cc
  google/cloud/spanner/value.cc
Labels: api: spanner

#14223 cleanup(bigtable): use `Status` factory functions
  google/cloud/bigtable/benchmarks/benchmark.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_benchmark.cc
  google/cloud/bigtable/benchmarks/mutation_batcher_throughput_options.cc
  google/cloud/bigtable/client_options.h
  google/cloud/bigtable/instance_resource.cc
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/table.cc
  google/cloud/bigtable/table.h
  google/cloud/bigtable/table_resource.cc
  google/cloud/bigtable/test_proxy/cbt_test_proxy.cc
Labels: api: bigtable

#14234 cleanup(pubsublite): use `Status` factory functions
  google/cloud/pubsublite/internal/partition_publisher.cc
  google/cloud/pubsublite/internal/partition_publisher_test.cc
Labels: api: pubsublite

#14231 cleanup(bigtable): use `Status` factory functions
  google/cloud/bigtable/benchmarks/benchmark_options.cc
Labels: api: bigtable

#14233 cleanup(pubsub): use `Status` factory functions
  google/cloud/pubsub/benchmarks/endurance.cc
  google/cloud/pubsub/benchmarks/throughput.cc
Labels: api: pubsub

#14257 feat(publicca): generate library
  CHANGELOG.md
  README.md
  ci/abi-dumps/google_cloud_cpp_publicca.expected.abi.dump.gz
  ci/etc/expected_install_directories
  cmake/GoogleCloudCppFeatures.cmake
  external/googleapis/protodeps/publicca.deps
  external/googleapis/protolists/publicca.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/publicca/BUILD.bazel
  google/cloud/publicca/CMakeLists.txt
  google/cloud/publicca/README.md
  google/cloud/publicca/doc/environment-variables.dox
  google/cloud/publicca/doc/main.dox
  google/cloud/publicca/doc/options.dox
  google/cloud/publicca/doc/override-authentication.dox
  google/cloud/publicca/doc/override-endpoint.dox
  google/cloud/publicca/doc/override-retry-policies.dox
  google/cloud/publicca/quickstart/.bazelrc
  google/cloud/publicca/quickstart/BUILD.bazel
  google/cloud/publicca/quickstart/CMakeLists.txt
  google/cloud/publicca/quickstart/Makefile
  google/cloud/publicca/quickstart/README.md
  google/cloud/publicca/quickstart/WORKSPACE.bazel
  google/cloud/publicca/quickstart/quickstart.cc
  google/cloud/publicca/v1/.repo-metadata.json
  google/cloud/publicca/v1/internal/public_certificate_authority_auth_decorator.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_auth_decorator.h
  google/cloud/publicca/v1/internal/public_certificate_authority_connection_impl.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_connection_impl.h
  google/cloud/publicca/v1/internal/public_certificate_authority_logging_decorator.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_logging_decorator.h
  google/cloud/publicca/v1/internal/public_certificate_authority_metadata_decorator.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_metadata_decorator.h
  google/cloud/publicca/v1/internal/public_certificate_authority_option_defaults.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_option_defaults.h
  google/cloud/publicca/v1/internal/public_certificate_authority_retry_traits.h
  google/cloud/publicca/v1/internal/public_certificate_authority_sources.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_stub.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_stub.h
  google/cloud/publicca/v1/internal/public_certificate_authority_stub_factory.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_stub_factory.h
  google/cloud/publicca/v1/internal/public_certificate_authority_tracing_connection.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_tracing_connection.h
  google/cloud/publicca/v1/internal/public_certificate_authority_tracing_stub.cc
  google/cloud/publicca/v1/internal/public_certificate_authority_tracing_stub.h
  google/cloud/publicca/v1/mocks/mock_public_certificate_authority_connection.h
  google/cloud/publicca/v1/public_certificate_authority_client.cc
  google/cloud/publicca/v1/public_certificate_authority_client.h
  google/cloud/publicca/v1/public_certificate_authority_connection.cc
  google/cloud/publicca/v1/public_certificate_authority_connection.h
  google/cloud/publicca/v1/public_certificate_authority_connection_idempotency_policy.cc
  google/cloud/publicca/v1/public_certificate_authority_connection_idempotency_policy.h
  google/cloud/publicca/v1/public_certificate_authority_options.h
  google/cloud/publicca/v1/samples/public_certificate_authority_client_samples.cc
  libraries.bzl
Labels: api: publicca

#14264 cleanup(bigtable): unused using when no otel
  google/cloud/bigtable/internal/mutate_rows_limiter_test.cc
Labels: api: bigtable

#14272 docs(pubsub): add optimistic subscribe example
  google/cloud/pubsub/samples/samples.cc
Labels: api: pubsub

#14282 feat(securitycenter): re-enable on windows
  google/cloud/securitycenter/BUILD.bazel
  google/cloud/securitycenter/CMakeLists.txt
Labels: api: securitycenter, gha:full-build

#14179 feat(storage): Respect custom endpoint for SignedUrl
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_sign_policy_document_test.cc
  google/cloud/storage/client_sign_url_test.cc
  google/cloud/storage/internal/policy_document_request.cc
  google/cloud/storage/internal/policy_document_request.h
  google/cloud/storage/internal/policy_document_request_test.cc
  google/cloud/storage/internal/signed_url_requests.cc
  google/cloud/storage/internal/signed_url_requests.h
  google/cloud/storage/internal/signed_url_requests_test.cc
  google/cloud/storage/tests/signed_url_conformance_test.cc
Labels: api: storage

#14280 cleanup(pubsub): use client originated error in samples
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/subscriber_connection_impl.cc
  google/cloud/pubsub/internal/subscriber_connection_impl_test.cc
Labels: api: pubsub, samples

#14284 impl(bigquery): Modified row data processing for Query apis
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.cc
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources.h
  google/cloud/bigquery/v2/minimal/internal/common_v2_resources_test.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response.h
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/testing/common_v2_test_utils.cc
  google/cloud/bigquery/v2/minimal/testing/common_v2_test_utils.h
  google/cloud/bigquery/v2/minimal/testing/job_query_test_utils.cc
Labels: api: bigquery
