Repository googleapis/google-cloud-cpp, pull requests merged in 2025-08, with the labels that each got.

#15359 refactor(spanner): add helper function and rename some vars
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
Labels: api: spanner

#15152 feat(storage): Handle large read ranges in bidi read.
  google/cloud/storage/async/object_descriptor.cc
  google/cloud/storage/async/object_descriptor_connection.h
  google/cloud/storage/async/object_descriptor_test.cc
  google/cloud/storage/async/options.h
  google/cloud/storage/async/resume_policy.cc
  google/cloud/storage/async/resume_policy.h
  google/cloud/storage/internal/async/object_descriptor_connection_tracing.cc
  google/cloud/storage/internal/async/object_descriptor_impl.cc
  google/cloud/storage/internal/async/object_descriptor_impl.h
  google/cloud/storage/internal/async/object_descriptor_impl_test.cc
  google/cloud/storage/internal/async/object_descriptor_reader_tracing.cc
  google/cloud/storage/internal/async/object_descriptor_reader_tracing_test.cc
  google/cloud/storage/mocks/mock_async_object_descriptor_connection.h
  google/cloud/storage/testing/mock_resume_policy.h
  google/cloud/storage/tests/async_client_integration_test.cc
Labels: api: storage

#15361 impl(spanner): support multiplexed session transaction priority
  google/cloud/spanner/internal/transaction_impl.cc
  google/cloud/spanner/internal/transaction_impl.h
  google/cloud/spanner/transaction.cc
  google/cloud/spanner/transaction_test.cc
Labels: api: spanner

#15368 refactor(spanner): do not expose PrecommitToken in public interface
  google/cloud/spanner/connection.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/internal/partial_result_set_resume_test.cc
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/partial_result_set_source.h
  google/cloud/spanner/internal/partial_result_set_source_test.cc
  google/cloud/spanner/results.h
Labels: api: spanner

#15366 impl(spanner): promote from experimental and document multiplexed session support
  CHANGELOG.md
  google/cloud/spanner/integration_tests/client_integration_test.cc
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/options.h
Labels: api: spanner

#15283 feat(storage): Create OTel tracing decorator for `Client::DownloadToFile()`
  google/cloud/storage/client.cc
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/storage_connection_test.cc
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#15373 impl(bigtable): implement application blocking latencies metrics
  google/cloud/bigtable/internal/metrics.cc
  google/cloud/bigtable/internal/metrics.h
  google/cloud/bigtable/internal/metrics_test.cc
  google/cloud/bigtable/internal/operation_context_factory.cc
Labels: api: bigtable

#15365 feat(storage): Add samples for AppendableObject and OpenObject
  google/cloud/storage/examples/storage_async_samples.cc
Labels: api: storage, samples
