Repository googleapis/google-cloud-cpp, pull requests merged in 2025-07, with the labels that each got.

#15138 chore(storage): Remove `storage::internal::CommonMetadata` and `storage::internal::AccessControlCommon`
  google/cloud/storage/google_cloud_cpp_storage.bzl
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/access_control_common.h
  google/cloud/storage/internal/access_control_common_parser.cc
  google/cloud/storage/internal/access_control_common_parser.h
  google/cloud/storage/internal/access_control_common_parser_test.cc
  google/cloud/storage/internal/access_control_common_test.cc
  google/cloud/storage/internal/bucket_access_control_parser.cc
  google/cloud/storage/internal/common_metadata.h
  google/cloud/storage/internal/common_metadata_parser.h
  google/cloud/storage/internal/object_access_control_parser.cc
  google/cloud/storage/storage_client_unit_tests.bzl
Labels: api: storage, next major: breaking change

#15261 impl(spanner): add transaction to channel affinity for multiplexed sesssions
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl.h
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/transaction_impl.h
  google/cloud/spanner/internal/transaction_impl_test.cc
Labels: api: spanner

#15249 feat(spanner): add support for lock_hint enum
  google/cloud/spanner/CMakeLists.txt
  google/cloud/spanner/client.cc
  google/cloud/spanner/client_test.cc
  google/cloud/spanner/connection.h
  google/cloud/spanner/google_cloud_cpp_spanner.bzl
  google/cloud/spanner/internal/connection_impl.cc
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/lock_hint.h
  google/cloud/spanner/options.h
  google/cloud/spanner/read_partition.h
  google/cloud/spanner/read_partition_test.cc
Labels: api: spanner

#15245 feat(storage): Create OTel tracing decorator for `Client::UploadFile()`
  google/cloud/storage/client.cc
  google/cloud/storage/client.h
  google/cloud/storage/client_object_test.cc
  google/cloud/storage/google_cloud_cpp_storage.cmake
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/connection_impl_file_upload_test.cc
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/storage_connection_test.cc
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/storage_client_unit_tests.bzl
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#15273 impl(bigtable): add Metrics interface
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/internal/metrics.cc
  google/cloud/bigtable/internal/metrics.h
  google/cloud/bigtable/internal/operation_context.h
Labels: api: bigtable

#15288 fix: explicitly register macOS toolchain
  .bazelrc
  MODULE.bazel
Labels: gha:full-build

#15280 impl(bigtable): update OperationContext to support metrics
  google/cloud/bigtable/BUILD.bazel
  google/cloud/bigtable/internal/async_bulk_apply.cc
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/bulk_mutator.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/operation_context.cc
  google/cloud/bigtable/internal/operation_context.h
  google/cloud/bigtable/internal/operation_context_test.cc
Labels: api: bigtable

#15299 impl(bigtable): add and test some metric utility functions
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/metrics.cc
  google/cloud/bigtable/internal/metrics.h
  google/cloud/bigtable/internal/metrics_test.cc
Labels: api: bigtable

#15304 impl(bigtable): update AsyncRowSampler to support new OperationContext
  google/cloud/bigtable/internal/async_row_sampler.cc
  google/cloud/bigtable/internal/async_row_sampler.h
  google/cloud/bigtable/internal/async_row_sampler_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#15274 feat(storage): Fix the bucket name not found error
  google/cloud/storage/internal/async/connection_impl.cc
Labels: api: storage

#15302 impl(bigtable): update AsyncRowReader to support new OperationContext
  google/cloud/bigtable/internal/async_row_reader.cc
  google/cloud/bigtable/internal/async_row_reader.h
  google/cloud/bigtable/internal/async_row_reader_test.cc
  google/cloud/bigtable/internal/data_connection_impl.cc
Labels: api: bigtable

#15308 impl(bigtable): update DefaultRowReader to support new OperationContext
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/default_row_reader.cc
  google/cloud/bigtable/internal/default_row_reader.h
  google/cloud/bigtable/internal/default_row_reader_test.cc
Labels: api: bigtable

#15320 impl(bigtable): update DataConnectionImpl to create and call OperationContext hooks
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/bigtable_client_unit_tests.bzl
  google/cloud/bigtable/internal/data_connection_impl.cc
  google/cloud/bigtable/internal/data_connection_impl.h
  google/cloud/bigtable/internal/data_connection_impl_test.cc
  google/cloud/bigtable/internal/operation_context_factory.cc
  google/cloud/bigtable/internal/operation_context_factory.h
  google/cloud/bigtable/internal/operation_context_factory_test.cc
Labels: api: bigtable

#15284 feat(bigquery): add support for datapolicies v2
  CHANGELOG.md
  ci/abi-dumps/google_cloud_cpp_bigquery.expected.abi.dump.gz
  ci/etc/expected_install_directories
  external/googleapis/protolists/bigquery.list
  external/googleapis/update_libraries.sh
  generator/generator_config.textproto
  google/cloud/bigquery/BUILD.bazel
  google/cloud/bigquery/bigquery_grpc.cmake
  google/cloud/bigquery/datapolicies/v2/.repo-metadata.json
  google/cloud/bigquery/datapolicies/v2/data_policy_client.cc
  google/cloud/bigquery/datapolicies/v2/data_policy_client.h
  google/cloud/bigquery/datapolicies/v2/data_policy_connection.cc
  google/cloud/bigquery/datapolicies/v2/data_policy_connection.h
  google/cloud/bigquery/datapolicies/v2/data_policy_connection_idempotency_policy.cc
  google/cloud/bigquery/datapolicies/v2/data_policy_connection_idempotency_policy.h
  google/cloud/bigquery/datapolicies/v2/data_policy_options.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_auth_decorator.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_auth_decorator.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_connection_impl.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_connection_impl.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_logging_decorator.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_logging_decorator.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_metadata_decorator.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_metadata_decorator.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_option_defaults.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_option_defaults.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_retry_traits.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_sources.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_stub.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_stub.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_stub_factory.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_stub_factory.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_tracing_connection.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_tracing_connection.h
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_tracing_stub.cc
  google/cloud/bigquery/datapolicies/v2/internal/data_policy_tracing_stub.h
  google/cloud/bigquery/datapolicies/v2/mocks/mock_data_policy_connection.h
  google/cloud/bigquery/datapolicies/v2/samples/data_policy_client_samples.cc
  google/cloud/bigquery/doc/main.dox
  google/cloud/bigquery/doc/override-authentication.dox
  google/cloud/bigquery/doc/override-endpoint.dox
  google/cloud/bigquery/doc/override-retry-policies.dox
Labels: api: bigquery

#15289 feat(storage): Create OTel tracing decorator for `storage:: ParallelUploadFile()`
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/storage_connection.cc
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/storage_connection_test.cc
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/parallel_upload.h
  google/cloud/storage/testing/mock_client.h
Labels: api: storage

#15349 chore(spanner): omit rpc InternalUpdateGraphOperation
  generator/generator_config.textproto
  google/cloud/spanner/admin/database_admin_client.cc
  google/cloud/spanner/admin/database_admin_client.h
  google/cloud/spanner/admin/database_admin_connection.cc
  google/cloud/spanner/admin/database_admin_connection.h
  google/cloud/spanner/admin/database_admin_connection_idempotency_policy.cc
  google/cloud/spanner/admin/database_admin_connection_idempotency_policy.h
  google/cloud/spanner/admin/internal/database_admin_auth_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_auth_decorator.h
  google/cloud/spanner/admin/internal/database_admin_connection_impl.cc
  google/cloud/spanner/admin/internal/database_admin_connection_impl.h
  google/cloud/spanner/admin/internal/database_admin_logging_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_logging_decorator.h
  google/cloud/spanner/admin/internal/database_admin_metadata_decorator.cc
  google/cloud/spanner/admin/internal/database_admin_metadata_decorator.h
  google/cloud/spanner/admin/internal/database_admin_stub.cc
  google/cloud/spanner/admin/internal/database_admin_stub.h
  google/cloud/spanner/admin/internal/database_admin_tracing_connection.cc
  google/cloud/spanner/admin/internal/database_admin_tracing_connection.h
  google/cloud/spanner/admin/internal/database_admin_tracing_stub.cc
  google/cloud/spanner/admin/internal/database_admin_tracing_stub.h
  google/cloud/spanner/admin/mocks/mock_database_admin_connection.h
Labels: api: spanner
