Repository googleapis/google-cloud-cpp, pull requests merged in 2025-05, with the labels that each got.

#15128 impl(storage): qualify grpc status codes for portability
  google/cloud/storage/internal/async/connection_impl_open_test.cc
  google/cloud/storage/internal/async/object_descriptor_impl_test.cc
Labels: api: storage

#15095 samples(storage batch): Add batch operations samples
  google/cloud/storagebatchoperations/v1/samples/storage_batch_operations_job_samples.cc
Labels: samples

#15134 samples(storagecontrol): add samples for anywhere cache
  ci/cloudbuild/builds/integration-production.sh
  google/cloud/storagecontrol/v2/samples/storage_control_anywhere_cache_samples.cc
Labels: samples

#15133 samples(storage): add samples for soft delete objects
  google/cloud/storage/examples/CMakeLists.txt
  google/cloud/storage/examples/storage_examples.bzl
  google/cloud/storage/examples/storage_object_soft_delete_samples.cc
Labels: api: storage, samples

#15154 samples(storage): add the bucket soft delete related tags
  google/cloud/storage/examples/storage_bucket_soft_delete_samples.cc
Labels: api: storage, samples

#15144 feat(storage): add diagnostic about deprecated storage gRPC option.
  cmake/GoogleCloudCppFeatures.cmake
Labels: api: storage

#15183 fix: update model version in aiplatform samples
  google/cloud/aiplatform/samples/samples.cc
Labels: samples
