Repository googleapis/google-cloud-cpp, pull requests merged in 2025-04, with the labels that each got.

#15057 impl(spanner): do Uuid to/from string conversions using absl::uint128
  google/cloud/spanner/uuid.cc
  google/cloud/spanner/uuid.h
  google/cloud/spanner/uuid_test.cc
Labels: api: spanner

#15065 docs(storage): region tags for otel quickstart
  google/cloud/opentelemetry/quickstart/quickstart.cc
Labels: api: storage

#15077 feat(spanner): add ISO8601 duration support to spanner::Interval
  google/cloud/spanner/interval.cc
  google/cloud/spanner/interval.h
  google/cloud/spanner/interval_test.cc
Labels: api: spanner

#15059 samples(storage): use istreambuf_iterator instead of istream_iterator in storage_object_samples
  google/cloud/storage/examples/storage_object_samples.cc
Labels: api: storage, samples

#15094 feat(spanner): add spanner::Value support for TypeCode::INTERVAL
  google/cloud/spanner/value.cc
  google/cloud/spanner/value.h
  google/cloud/spanner/value_test.cc
Labels: api: spanner

#15118 impl(spanner): add interval integration tests
  google/cloud/spanner/integration_tests/data_types_integration_test.cc
Labels: api: spanner

#15119 impl(storage): explicitly cast span data to supported common::AttributeValue type
  google/cloud/storage/internal/async/object_descriptor_reader_tracing.cc
  google/cloud/storage/internal/async/object_descriptor_reader_tracing_test.cc
Labels: api: storage
