Repository googleapis/google-cloud-cpp, pull requests merged in 2025-01, with the labels that each got.

#14918 impl(bigquery): Json parsing changes for custom BigQuery library
  google/cloud/bigquery/v2/minimal/internal/json_utils.h
  google/cloud/bigquery/v2/minimal/internal/json_utils_test.cc
Labels: api: bigquery

#14936 feat(storage): add MoveObject functionality to JSON and gRPC
  ci/cloudbuild/builds/lib/integration.sh
  ci/lib/run_gcs_httpbin_emulator_utils.sh
  google/cloud/storage/client.h
  google/cloud/storage/idempotency_policy.cc
  google/cloud/storage/idempotency_policy.h
  google/cloud/storage/idempotency_policy_test.cc
  google/cloud/storage/internal/connection_impl.cc
  google/cloud/storage/internal/connection_impl.h
  google/cloud/storage/internal/connection_impl_object_copy_test.cc
  google/cloud/storage/internal/generic_stub.h
  google/cloud/storage/internal/generic_stub_adapter.cc
  google/cloud/storage/internal/grpc/object_request_parser.cc
  google/cloud/storage/internal/grpc/object_request_parser.h
  google/cloud/storage/internal/grpc/object_request_parser_test.cc
  google/cloud/storage/internal/grpc/stub.cc
  google/cloud/storage/internal/grpc/stub.h
  google/cloud/storage/internal/grpc/stub_test.cc
  google/cloud/storage/internal/logging_stub.cc
  google/cloud/storage/internal/logging_stub.h
  google/cloud/storage/internal/object_requests.cc
  google/cloud/storage/internal/object_requests.h
  google/cloud/storage/internal/object_requests_test.cc
  google/cloud/storage/internal/rest/stub.cc
  google/cloud/storage/internal/rest/stub.h
  google/cloud/storage/internal/rest/stub_test.cc
  google/cloud/storage/internal/storage_connection.h
  google/cloud/storage/internal/tracing_connection.cc
  google/cloud/storage/internal/tracing_connection.h
  google/cloud/storage/internal/tracing_connection_test.cc
  google/cloud/storage/testing/mock_client.h
  google/cloud/storage/testing/mock_generic_stub.h
  google/cloud/storage/testing/object_integration_test.cc
  google/cloud/storage/testing/object_integration_test.h
  google/cloud/storage/tests/object_integration_test.cc
Labels: api: storage

#14938 impl(bigquery): Fixed jobs and tables response for empty use case
  google/cloud/bigquery/v2/minimal/internal/job_response.cc
  google/cloud/bigquery/v2/minimal/internal/job_response_test.cc
  google/cloud/bigquery/v2/minimal/internal/table_response.cc
  google/cloud/bigquery/v2/minimal/internal/table_response_test.cc
Labels: api: bigquery

#14949 ci(spanner): use enterprise edition in instance autoscaler sample
  google/cloud/spanner/samples/samples.cc
Labels: api: spanner, samples

#14955 ci(optimization): pass quickstart if service is unavailable
  google/cloud/optimization/CMakeLists.txt
Labels: api: cloudoptimization

#14954 docs(pubsub): Add Pub/Sub ingestion from Kafka samples
  google/cloud/pubsub/samples/topic_admin_samples.cc
Labels: api: pubsub, samples
