Repository googleapis/google-cloud-cpp, pull requests merged in 2025-06, with the labels that each got.

#15160 fix(storage): make sure to send append_object_spec when retrying
  google/cloud/storage/internal/async/connection_impl.cc
  google/cloud/storage/internal/async/connection_impl.h
Labels: api: storage

#15189 feat(resourcemanager): add Connection factory function for regional endpoints
  ci/generate-markdown/update-library-landing-dox.sh
  generator/generator_config.textproto
  generator/integration_tests/golden/v1/internal/golden_rest_only_option_defaults.cc
  generator/internal/option_defaults_generator.cc
  google/cloud/resourcemanager/v3/folders_connection.cc
  google/cloud/resourcemanager/v3/folders_connection.h
  google/cloud/resourcemanager/v3/internal/folders_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/folders_option_defaults.h
  google/cloud/resourcemanager/v3/internal/organizations_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/organizations_option_defaults.h
  google/cloud/resourcemanager/v3/internal/projects_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/projects_option_defaults.h
  google/cloud/resourcemanager/v3/internal/tag_bindings_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/tag_bindings_option_defaults.h
  google/cloud/resourcemanager/v3/internal/tag_holds_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/tag_holds_option_defaults.h
  google/cloud/resourcemanager/v3/internal/tag_keys_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/tag_keys_option_defaults.h
  google/cloud/resourcemanager/v3/internal/tag_values_option_defaults.cc
  google/cloud/resourcemanager/v3/internal/tag_values_option_defaults.h
  google/cloud/resourcemanager/v3/organizations_connection.cc
  google/cloud/resourcemanager/v3/organizations_connection.h
  google/cloud/resourcemanager/v3/projects_connection.cc
  google/cloud/resourcemanager/v3/projects_connection.h
  google/cloud/resourcemanager/v3/samples/folders_client_samples.cc
  google/cloud/resourcemanager/v3/samples/organizations_client_samples.cc
  google/cloud/resourcemanager/v3/samples/projects_client_samples.cc
  google/cloud/resourcemanager/v3/samples/tag_bindings_client_samples.cc
  google/cloud/resourcemanager/v3/samples/tag_holds_client_samples.cc
  google/cloud/resourcemanager/v3/samples/tag_keys_client_samples.cc
  google/cloud/resourcemanager/v3/samples/tag_values_client_samples.cc
  google/cloud/resourcemanager/v3/tag_bindings_connection.cc
  google/cloud/resourcemanager/v3/tag_bindings_connection.h
  google/cloud/resourcemanager/v3/tag_holds_connection.cc
  google/cloud/resourcemanager/v3/tag_holds_connection.h
  google/cloud/resourcemanager/v3/tag_keys_connection.cc
  google/cloud/resourcemanager/v3/tag_keys_connection.h
  google/cloud/resourcemanager/v3/tag_values_connection.cc
  google/cloud/resourcemanager/v3/tag_values_connection.h
Labels: api: cloudresourcemanager

#15190 feat(pubsub): add MakeConnection overloads to support regional and locational endpoints
  generator/generator_config.textproto
  google/cloud/pubsub/admin/internal/subscription_admin_option_defaults.cc
  google/cloud/pubsub/admin/internal/subscription_admin_option_defaults.h
  google/cloud/pubsub/admin/internal/topic_admin_option_defaults.cc
  google/cloud/pubsub/admin/internal/topic_admin_option_defaults.h
  google/cloud/pubsub/admin/samples/subscription_admin_client_samples.cc
  google/cloud/pubsub/admin/samples/topic_admin_client_samples.cc
  google/cloud/pubsub/admin/subscription_admin_connection.cc
  google/cloud/pubsub/admin/subscription_admin_connection.h
  google/cloud/pubsub/admin/topic_admin_connection.cc
  google/cloud/pubsub/admin/topic_admin_connection.h
  google/cloud/pubsub/blocking_publisher_connection.cc
  google/cloud/pubsub/blocking_publisher_connection.h
  google/cloud/pubsub/doc/pubsub-main.dox
  google/cloud/pubsub/integration_tests/CMakeLists.txt
  google/cloud/pubsub/integration_tests/generated_subscription_admin_integration_test.cc
  google/cloud/pubsub/integration_tests/pubsub_client_integration_tests.bzl
  google/cloud/pubsub/integration_tests/subscriber_integration_test.cc
  google/cloud/pubsub/internal/defaults.cc
  google/cloud/pubsub/internal/defaults.h
  google/cloud/pubsub/internal/schema_option_defaults.cc
  google/cloud/pubsub/internal/schema_option_defaults.h
  google/cloud/pubsub/publisher_connection.cc
  google/cloud/pubsub/publisher_connection.h
  google/cloud/pubsub/samples/client_samples.cc
  google/cloud/pubsub/samples/schema_client_samples.cc
  google/cloud/pubsub/schema_connection.cc
  google/cloud/pubsub/schema_connection.h
  google/cloud/pubsub/subscriber_connection.cc
  google/cloud/pubsub/subscriber_connection.h
Labels: api: pubsub

#15200 feat(storage): Add unit test for AppendableUploadConnectionImpl
  google/cloud/storage/google_cloud_cpp_storage_grpc.cmake
  google/cloud/storage/internal/async/connection_impl_appendable_upload_test.cc
  google/cloud/storage/storage_client_grpc_unit_tests.bzl
Labels: api: storage

#15226 impl(spanner): add support for Multiplexed Session maintenance
  google/cloud/spanner/internal/connection_impl_test.cc
  google/cloud/spanner/internal/session.cc
  google/cloud/spanner/internal/session.h
  google/cloud/spanner/internal/session_pool.cc
  google/cloud/spanner/internal/session_pool.h
  google/cloud/spanner/internal/session_pool_test.cc
  google/cloud/spanner/options.h
Labels: api: spanner

#15224 feat(storage): Add check for writeHandle before reansforming write_object_spec to append_object_spec
  google/cloud/storage/internal/async/connection_impl.cc
  google/cloud/storage/internal/async/handle_redirect_error.cc
  google/cloud/storage/internal/async/handle_redirect_error.h
  google/cloud/storage/internal/async/handle_redirect_error_test.cc
  google/cloud/storage/internal/async/writer_connection_impl.cc
Labels: api: storage

#15236 feat(storage): Link traces between Open and ReadRange traces.
  google/cloud/storage/internal/async/object_descriptor_connection_tracing.cc
  google/cloud/storage/internal/async/object_descriptor_connection_tracing_test.cc
Labels: api: storage
