Repository googleapis/google-cloud-cpp, pull requests merged in 2025-10, with the labels that each got.

#15575 feat(bigtable): implement bigtable::ResultSourceInterface
  google/cloud/bigtable/CMakeLists.txt
  google/cloud/bigtable/google_cloud_cpp_bigtable.bzl
  google/cloud/bigtable/results.h
Labels: api: bigtable

#15576 refactor(spanner): Replace callers of RepeatedPtrField(Arena*) with Arena::Create
  google/cloud/spanner/internal/partial_result_set_source.cc
  google/cloud/spanner/internal/partial_result_set_source.h
Labels: api: spanner

#15581 ci(bigtable): handle additional Cord cases
  google/cloud/bigtable/value_test.cc
Labels: api: bigtable

#15587 feat(bigtable): add support for RowStream
  google/cloud/bigtable/query_row.cc
  google/cloud/bigtable/query_row.h
  google/cloud/bigtable/query_row_test.cc
  google/cloud/bigtable/results.h
Labels: api: bigtable

#15589 fix(storage): Fix the compilation error of samples code
  google/cloud/storage/examples/storage_async_samples.cc
Labels: api: storage, samples
